<andeys-trip-pic class="right" data-trip-pic="bungalows"></andeys-trip-pic>

<p>We woke up to a gorgeous view of a tropical beach. While Alexander explored the shore, he found a big seashell. When everybody was ready, we headed into town, where I picked up an underwater camera. This time, I planned to take pictures of the coral reefs I saw while snorkeling the day before.</p>

<andeys-trip-pic class="left" data-trip-pic="ko-tao-market"></andeys-trip-pic>

<p>We then rented snorkeling equipment from a European guy who told us that a bunch of people who had come to the island never left, because they loved it so much. Unlike yesterday, Alexander decided to join us for the snorkeling experience. Unfortunately, I found that the tide was low and was quite concerned about scratching myself on the sharp reefs. Despite that, we still did manage to get in some underwater pictures, including ones of fish and a boat anchor.</p>

<p>After snorkeling, we returned to the town centre, where we boarded a boat heading back to Chumpon. On the boat, Alexander pointed out a woman he thought was gorgeous, so I went over to talk to her, practicing my Thai. Once we got into Chumpon, we found we had some time left before our scheduled train came. We walked around town, visiting the markets, then boarded the sleeper train to Bangkok once it arrived.</p>
