<andeys-trip-pic class="right" data-trip-pic="ratburana"></andeys-trip-pic>

<p>Morgan began feeling a little sick from his malaria medication and wanted to rest for the day, so just Imelda, Alexander, and I went out. Pathom took us to the Hualamphong Railway Station, where we caught a third class train to Ayutthaya, one of the old capitals of Siam.</p>

<andeys-trip-pic class="left" data-trip-pic="buddha-tree"></andeys-trip-pic>

<p>After getting something to drink in a plastic bag with a straw, we walked to the ruins of Wat Ratburana. We were more impressed with the solemn ruins than the glittering temples we saw the day before. Wandering the grounds were some adorable puppies, probably stray.</p>

<p>While climbing around the temple ruins, I entered one of the open doorways and discovered steps leading deep inside. Alexander and I went right in, but Imelda was more hesitant and did not continue, especially after we made some erie sounds echo against the solid walls. Far down the steps, we found a small chamber with artwork on the walls.</p>

<p>Next, we went to Wat Phra Mahathat to see more grand ruins. I realized that many of the buddha heads in these temples were cut off, taken mostly by souvenir hunters. I still found intact ones here and there, including one stuck in a banyan tree that had grown around it. The sweltering heat was getting to us, so after visiting a museum, we headed back to the railway station, which we took back to Bangkok.</p>
