<p>In the morning, we went on a jetboat excursion to Hellgate Canyon on the Rogue River, enjoying the wild river and spotting wildlife, including a bald eagle. We stopped for champagne brunch outdoors under the shade, watching the deer approach the fence of the picnic area.</p>

<p>On our return trip, the jetboat operator gave us thrills making the boat spin around in the water, splashing us. We already knew to expect this. One woman in the middle of the boat playfully kept insisting she did not get wet. The operator ended up hosing her, to everyone's amusement.</p>

<andeys-trip-pic data-trip-pic="jetboat"></andeys-trip-pic>

<p>Our final stop was in Jacksonville, which has a great number of buildings listed as historic. We walked around, then jumped in the car to return to California, passing by a great view of Mt. Shasta on our way back to Berkeley.</p>
