<p>Imelda wanted to explore more of Bangkok, along with Morgan, so just Alexander and I took the bus that led us to Kanchanaburi. We noticed that the weather was more comfortable, cooler, and quite a relief for us. We bought some tasty corn from a street vender than headed for the JEATH War Museum.</p>

<andeys-trip-pic class="right" data-trip-pic="jeath"></andeys-trip-pic>

<p>JEATH stands for Japan, England, America, Australia, Thailand, and Holland, which were the countries involved in building the &ldquo;Death Railway&rdquo; to Myanmar in World War II. Through photographs and artifacts, the museum chronicled the suffering that allied prisoners endured during the building of the railway. The building itself resembled a thatched detention hut. Near the war museum, we found monuments honoring those dead, including one built by the Japanese.</p>

<andeys-trip-pic class="left" data-trip-pic="kwai-bridge"></andeys-trip-pic>

<p>Continuing on, we encountered another interesting war museum that was also an art gallery, but didn't go inside. We ended up at the rail bridge over the River Kwai. It was still in use, but we didn't see any trains anywhere, so we walked on the bridge to take pictures.</p>

<p>We hired a samlor bicycle to take us back to the bus station, passing a cemetary along the way. The bus then took us back to Bangkok.</p>
