<andeys-trip-pic class="right" data-trip-pic="hill-cross"></andeys-trip-pic>

<p>We took the metro to Sha Tin, where we met with Allison and her parents at a big shopping centre. Then, we sat down around a big table for a leisurely meal of dim sum. There was so much variety from which to pick.</p>

<andeys-trip-pic class="left" data-trip-pic="hk-fireworks"></andeys-trip-pic>

<p>Alexander and I parted with Allison and her family, then found a trail just outside the shopping centre that led up the hill. At the top, we found a temple and a great view of the many high rises in Sha Tin. Over the view stood a big cross, with people nearby having a picnic.</p>

<p>Returning to the shopping centre, we met up with Allison and her parents again, and we took the bus to Sai Kung. By the waterfront we saw water tanks crammed with sea life, around which people picked out what they wanted. We went into a resaurant were we had a big meal of fresh seafood. On the way to the bus leaving town, Alexander pointed out a sign of a street named &ldquo;Fuk Man.&rdquo;</p>

<andeys-trip-pic class="right" data-trip-pic="paint-man"></andeys-trip-pic>

<p>Alexander and I transferred to a Metro to return to our hotel room. Later, Allison and her mom met up with us again to see the fireworks at Tsim Sha Tsui, celebrating the end of British rule. We all crowded in with other people by the waterfront and had a great, long show, undettered by a brief, heavy spell of rain at one point.</p>

<andeys-trip-pic class="left" data-trip-pic="banner"></andeys-trip-pic>

<p>Alexander and I then took the Metro to Central Plaza, interested in seeing how many people were at the democracy rally. Along the way there, we noted a passive police presence and many protest signs. At Central Plaza, there were many people, but a significant number appeared to be foreigners or journalists. Some people wore souvenir hats or shirts.</p>

<p>As part of the protest, some people started placing a wide yellow banner around the LegCo building as cameras recorded away and police stood by. Finally, while watching people holding up torches on a stage, the count down commenced to reunifcation.</p>
