<andeys-trip-pic class="right" data-trip-pic="grandparents"></andeys-trip-pic>

<p>In the morning, we all packed and prepared to leave for the airport. Imelda and Morgan left earlier to catch a flight to San Francisco. Alexander and I, though, stopped to take pictures with my grandparents, a servant, and the driver Pathom with his cat Jop-Jaeng, then went to the airport.</p>

<p>Once there, I finally had a chance to meet with my friend Ka-Tai, who was in her school uniform from Kasetsart University. Earlier on my trip, she had tried to arrange a boat tour to Ayutthaya, but didn't find out until too late that I would be delayed a day going into Bangkok. Her only other chance to see me on my visit was at the airport. Unfortunately, we had then just discovered my plane ticket missing, so Ka-Tai helped me get a replacement ticket, which I purchased with my credit card. (We found the ticket on a later day.)</p>

<andeys-trip-pic class="left" data-trip-pic="pathom"></andeys-trip-pic>

<p>Finally, we were on our way to Hong Kong. Alexander became nervous, though, especially when we encountered turbulence. He drank some alcohol to relax and talked to me on subjects unrelated to flying. I was unfazed by the rough flight, and even managed to sleep during it.</p>

<p>We landed safely at the Hong Kong Kai Tak International Airport, then found ourselves in a long, organized queue for the taxis, which constantly came and went. Alexander commented that it was the most crowded he had ever seen Hong Kong, which was really saying something.</p>

<andeys-trip-pic class="right" data-trip-pic="katai"></andeys-trip-pic>

<p>Once we got a taxi, we headed to the flat of Alexander's friends Ken and Kitty. The size of the place proved to me why we could not stay there. Fortunately, Ken had arranged a hotel room for us already in the Yau Ma Tei area of Kowloon, mentioning that the rooms for reunification really did not fill up as much as was expected.</p>

<p>The hotel we got turned out to be on the seventh floor of a high rise. We checked in, while Alexander remarked that people seemed to be practicing their Mandarin, perhaps because of the impending reunification with China. Our room, even with two beds, was quite small, but comfortable enough.</p>

<p>In the bathroom, it looked like you could use the sink, toilet, and shower at the same time, because it was so compact. We could barely see anything outside through the small windows. The room cost us 500 Hong Kong dollars a night, or about 70 U.S. dollars.</p>
