<andeys-trip-pic class="right" data-trip-pic="performers"></andeys-trip-pic>

<p>We left in the morning heading north and quickly made it into Oregon to the quaint town of Ashland. The first thing we did there was see what was playing at the Oregon Shakespeare Festival. Ideally I wanted to see a Shakespeare play in the open air Elizabethan Theatre, but with the time we had we decided to see the play <em>Death Of A Salesman</em> inside the Angus Bowmer Theatre. I'm sure it was a good play, but I couldn't stay awake the entire time. After driving all day, I didn't have the energy to concentrate on everything going on.</p>

<p>After the play, we explored the town a bit, then drove a few miles north to Phoenix, stopping at a shopping outlet where we discovered Oregon had no sales tax. I looked at a few shops, but I only ended up buying one shirt. As daylight waned, we headed north to Medford to relax and stay for the night.</p>
