<andeys-trip-pic class="right" data-trip-pic="ko-tao-shore"></andeys-trip-pic>

<p>We exited the station at Chumpon in the wee hours in the morning, where there were trucks offering to take us to the dock. We agreed to go with one and the guy woke up someone in the back of the truck to make room for us. The driver took us down a long dark road to his house where he yelled and woke up his wife, then showed us his power boat. Suspicious, we refused to go in his own boat and wanted to go to the real dock.</p>

<p>He took us to a place we didn't believe was the dock, so we demanded to go back to town. He offered a high price to return us, so we told him we would walk instead and started taking our stuff. Fortunately, he agreed to a cheap price and drove us back.</p>

<andeys-trip-pic class="left" data-trip-pic="rama-mark"></andeys-trip-pic>

<p>Until daylight, we hung out at a restaurant, where we noticed at least one drag queen hanging out at five in the morning. We then found the ferry service office to buy tickets to Ko Tao. A bus took us to the dock, which turned out to be the one the driver had taken us earlier.</p>

<p>Once on the boat, we relaxed and watched as we passed many little islands along the way. When we arrived we were accosted by people offering lodging. Some offered their own place.</p>

<p>We chose an inexpensive place, costing only 150 Baht a night, or about six U.S. dollars. However, it was a bit far from the small downtown, so we hired a truck to take us there. We found that the place was quite pleasant, with bungalows right by the beach.</p>

<andeys-trip-pic class="right" data-trip-pic="on-kayak"></andeys-trip-pic>

<p>All checked in, we walked back to town, enjoying the beautiful shoreline. At one point we saw a shrine with a mark on it of King Rama IV. As is normal, people left food offerings on the shrine. Once in town, we did some shopping in town for shorts, slippers and other items plus got some currency exchanged. We enjoyed the island enough that we tried to find out if we could change our return ferry tickets for a later date, but found we did not give enough advanced notice.</p>

<p>Morgan, Imelda, and I rented kayaks to paddle in the wonderfully warm waters, while Alex waded around taking pictures. All of us except Alexander also tried snorkeling around the coral reef, which I quite enjoyed. We, Morgan especially, were interested in trying scuba diving as well, but didn't have time.</p>

<p>For dinner, we ate at the small outdoor restaurant run by the family who owned the bungalows where we stayed. We returned to the bungalows afterwards to relax and sleep in the warm night.</p>
