<p>Alexander had previously flown from Los Angeles to go to my place in Berkeley. In the morning, we got picked up by Imelda and Morgan. We then drove to San Francisco International Airport in time for our flight, only to find it had been delayed by a few hours, so we hung out at the airport, getting something to eat. By mid-afternoon, we left on our China Airlines flight to Taipei, Taiwan.</p>

<p>During the flight, I started noticing pain in a section of my teeth. The change in the air pressure seemed to make it worse, but unfortunately, there was not much I could do at the time.</p>
