<andeys-trip-pic class="right" data-trip-pic="butchart-color"></andeys-trip-pic>

<p>We woke up just in time to take the auto ferry to Victoria, BC, Canada. I have never tried this type of ferry and I found it quite a novel experience to drive my car onto a boat. We had a chance to leave the car and relax in the cafeteria. At one point, we saw a submarine pass by.</p>

<p>Once we disembarked and passed Canadian customs, we parked and toured downtown, admiring the architecture of the Parliamentary building as well as the Empress Hotel. We also examined the Kwakwaka'wakw totem poles at Thunderbird Park and walked around the oldest Chinatown in Canada. We became a bit disappointed that it started to rain, but we had expected this.</p>

<p>Just north of the city is the well-kept Butchart Gardens. Not that many flowers were in bloom, but the autumn colors of the trees made for a spectacular show, especially in the Japanese Garden.</p>

<p>The weather started to clear up as we took the auto ferry to Vancouver. Once we arrived in the city, it was dark out, but we decided to check out Stanley Park anyway. The park was not lighted, as we somewhat expected, but the view of the downtown skyline from it was incredible. We also drove through the city and realized how huge it was. We spent the night there.</p>

<andeys-trip-pic data-trip-pic="vancouver"></andeys-trip-pic>
