<andeys-trip-pic class="right" data-trip-pic="draped-tree"></andeys-trip-pic>

<p>Before sunrise, we left for Olympic National Park via the Tacoma-Narrows bridge and Puget Sound to get to Olympic National Park. After stopping by the main visitors center, we headed up to Hurricane Ridge to see what view we could get of the Olympic Mountains and the surrounding valleys and meadows.</p>

<p>Along the way, we saw a magnificent Roosevelt Elk on the side of the road. Oh! How I regret not taking a photo of it, because it was so close to my car and behind it lay the beautiful backdrop of the valley. What a picture that would have been.</p>

<p>We reached the top at Hurricane Ridge and had a good view of the area with its magnificent snow capped mountains, but it could have been better if the weather had not been so overcast. Despite the weather, we hiked a part of the Hurricane Hill Trail then headed back.</p>

<andeys-trip-pic class="left" data-trip-pic="olympic-mtns"></andeys-trip-pic>

<p>On our way to the Hoh Rain Forest, we stopped at the Lake Crescent Lodge to eat lunch and enjoy the views of the lake and the autumn colors. Arriving in the rain forest was a strange experience. Intense green permeates the forest, much of it due to the competition of the forest floor by trees, mosses, and ferns. Ferns and mosses covered many trees as well, sometimes making them appear creepy as they drooped from the branches.</p>

<p>Near sunset, we visited the beach on the Pacific Ocean and found interesting rock formations as well as a pile of dead, bleached timber that had been swept out into the ocean by the rivers then returned to shore. That night, we slept in Port Angeles, just north of the park.</p>
