<andeys-trip-pic class="right" data-trip-pic="multnomah-falls"></andeys-trip-pic>

<p>We started before sunrise on Friday, heading north. I traded the driving with Nhang every time we stopped for fuel. This way, none of us became dangerously tired while controlling the car and the drive became quite manageable.</p>

<p>Our first destination was a full nine hours drive north of Berkeley. We stopped at the Columbia River Gorge just east of Portland, Oregon. Right when I stepped out of the car I saw there, immediately across the highway, a beautiful, 620 foot waterfall, named Multnomah Falls. The water falls high from a cliff, hitting rock some 500 feet down before falling some more.</p>

<p>After that we drove over to the Bonneville Dam, where we were allowed to see fish navigating the fish ladder. The fish ladder allows salmon and other fish to swim the Columbia River upstream without worrying about the dam. We also stopped at the hatchery, where we saw salmon jumping out of the water, trying to escape the tank with futility.</p>

<p>We headed back westward, this time taking the historic section of the Columbia River Highway, and were awed by several waterfalls we saw along the way. So many so close together!</p>

<p>To our delight, we saw the best sight last &mdash; a sweeping vista of the gorge area, so beautiful and awe-inspiring that I could not help trying to glimpse it while driving to the high vista point. The sun started setting at this point, and we spent the rest of our time driving to Fife, Washington to spend the night.</p>

<andeys-trip-pic data-trip-pic="crown-pt"></andeys-trip-pic>
