<andeys-trip-pic class="right" data-trip-pic="lamma-island"></andeys-trip-pic>

<p>Alexander and I managed to meet up with my friend Allison, who also was visiting Hong Kong, staying with her parents. We then took the scenic ferry to the town of Yung Shue Wan on Lamma Island. I noticed that there were hovercraft rides available as well, but their schedules were not practical for us.</p>

<andeys-trip-pic class="left" data-trip-pic="dragon-light"></andeys-trip-pic>

<p>I was surprised to see just how different Lamma Island was in character from neighbouring Hong Kong Island. We found peaceful, small towns and an open countryside. After stopping to look at a Tin Hau Temple, we passed through Hung Shing Yeh Beach then went up into the central hills, enjoying a decent day with no more than light showers.</p>

<p>Once over the hills, we reached the town of Sok Kwu Wan, which had many people sitting around eating seafood at open air restaurants. We explored the area until it was time for us to take another ferry back to the mainland. I got a great view of the urban shore of Hong Kong Island as we passed it.</p>

<p>Once darkness set in, we headed to Tsim Sha Tsui to enjoy the beautiful night skyline of Hong Kong. Some of the buildings showed lighted window displays celebrating the reunification. Many other people were there also to enjoy the celebratory atmosphere. After that, Allison parted with us and we returned to our hotel room in Yau Ma Tei.</p>
