<andeys-trip-pic class="right" data-trip-pic="protests"></andeys-trip-pic>

<p>Midnight struck for reunification with a roar of the crowd around the LegCo building. Up on the balcony of the building, Martin Lee, former legislator and popular democracy advocate, spoke out in Cantonese to the people below. Soon, people were marching on with banners and torches. For our own souvenirs, we grabbed the newspapers for the day at the Metro station. We slept afterwards.</p>

<andeys-trip-pic class="left" data-trip-pic="peak-tram"></andeys-trip-pic>

<p>Back in the light of day under a Hong Kong ruled by China, we went back to Hong Kong Island. We found a long queue for the Peak Tram that took people on a scenic ride to the Peak Galleria near Victoria Peak. Knowing better, we took the bus instead.</p>

<p>Once at the top, we enjoyed a great view of the skyscrapers below, despite the mist. We then checked out the Peak Galleria, ignoring the Ripley's Believe It or Not exhibits and stopping for noodles. After looking around the peak area some more, we got in the short queue for a ride down the Peak Tram.</p>

<andeys-trip-pic class="right" data-trip-pic="hk-park"></andeys-trip-pic>

<p>Our next stop was Hong Kong Park, where we enjoyed the landscaped gardens surrounded by skyscapers. In the park was an aviary, where there was a parrot who held onto anybody who wanted it to do so. Also, there was a conservatory, where we saw many varieties of plants in a controlled environment. Later on our walk, we passed a government building, where we noticed the Hong Kong Special Administrative Region flags already flying. It was a red flag with a white bauhinia flower on it.</p>

<p>This night there was to be an even more impressive show at Victoria Harbour to celebrate the return of Chinese rule to Hong Kong. Alexander and I made our way towards the waterfront, but could not get close enough to see the flotilla of lighted boats parading through the harbour. However, we did see the impressive fireworks show, which lasted longer than the one the night before. I tried to gauge the size of the crowd, but all I saw were a sea of heads going off into the horizon.</p>

<andeys-trip-pic class="left" data-trip-pic="cn-fireworks"></andeys-trip-pic>

<p>After the fireworks show, we slowly made our way through the massive crowd and back to our hotel room. Along the way, Alexander pointed out the Chungking Mansions, where he told me vendors were particularly agressive to the point of getting your shirt ripped while vying for your attention. Once back in our little room, we relaxed and watched our little television screen mounted above us on the wall, which showed scenes of reunification events around Hong Kong.</p>

<p>We then headed to the Kowloon Hyatt Regency, where we met with four of Alexander's friends, Ken with his girlfriend Kitty and Ivan with his girlfriend from Malaysia. We all hung out, then Alexander and I went back to our hotel room to sleep.</p>
