<andeys-trip-pic class="right" data-trip-pic="grandma"></andeys-trip-pic>

<p>Imelda and Morgan went shopping, while Alexander and I took the last full day in Thailand to visit my paternal grandmother and see more of Bangkok. Pathom took me to her house, where she was quite happy to see me and talk to me. I also saw some other relatives that were there.</p>

<andeys-trip-pic class="left" data-trip-pic="lacquer"></andeys-trip-pic>

<p>Our next stop was Jim Thompson's House, now a museum. Jim Thompson was a silk trader with connections to the U.S. Central Intelligence Agency who mysteriously disappeared in the Cameron Highlands in Malaysia in 1967. He left a treasure of Thai artifacts, so his house turned into a museum. At the gift shop, I bought a replica of a seventeenth century French map of Thailand that was displayed in the house.</p>

<p>Next, we went to Wang Suan Pakkard Palace, a collection of traditional Thai houses around a peaceful garden. Inside each house, there were many displays of antiques and art, including pottery, musical instruments, and religious items. In one display, we found a wrist bracelet still around the bones of the wrist wearing it. At one point, we took a break to relax outside on the deck of one of the houses, with a relaxing view of the gardens.</p>

<andeys-trip-pic class="right" data-trip-pic="tum-nak-thai"></andeys-trip-pic>

<p>We walked a long way through Bangkok until we reached Tum Nak Thai, a restaurant so large it was listed in the Guiness Book of World Records in 1988. In front, some people were playing with string puppets. We sat down at a table, then waited for Imelda and Morgan to show up, but they didn't, so we went ahead and ordered some food while watching the Thai dancers perform.</p>

<p>Once we got back to my grandparents' house, we found Imelda and Morgan already there. Apparently, a taxi driver didn't take them to the right place and dropped them off at a restaurant he probably got a commission from. They were intimidated into paying more money for a ride to get back out. Fortunately, everybody ended up safe for our last night in Thailand, and we went to sleep.</p>
