<andeys-trip-pic class="right" data-trip-pic="seattle"></andeys-trip-pic>

<p>It was early morning again and we headed south for Seattle. It was mid-morning by the time we arrived, so we decided to have breakfast in the Space Needle, a tower built for the 1962 World's Fair. We ate breakfast while watching a view of the city rotate by.</p>

<p>After that, we headed for our true highlight of the day, Mount St. Helens National Volcanic Monument. We found far less direct evidence of the volcano's destruction seventeen years after its major eruption. Much of the devestated land has disappeared under new forests.</p>

<p>In one of the visitor centers, we found ourselves compelled by a storyteller who described his personal experience at the time the major eruption occured. Afterwards, we drove as far as we could, ending up at the new, high-tech Johnston Ridge Observatory with an incredible view of the crater inside the volcano, covered with snow. Around this area, the land and trees had not yet recovered from the eruptions.</p>

<andeys-trip-pic data-trip-pic="johnston-ridge"></andeys-trip-pic>

<p>Evening fell all too soon and we headed to Portland, where we visited one of the biggest bookstores, known as Powells Books. It takes up an entire city block. Before retiring for the night, we looked for a good view point of the city, but failed to find one.</p>
