<andeys-trip-pic class="right" data-trip-pic="snowbank"></andeys-trip-pic>

<p>We drove up to Crater Lake National Park and were surprised to find that snow still closed most of the park road. I had never seen so much deep snow, especially in June! We headed for the overlook at Rim Village to look at the lake. I was impressed not only with the beauty of the lake, but its setting in a high walled crater, formed when Mount Mazama blew up thousands of years ago. Driving as far clockwise around the lake as we could, we stopped at the overlook next to Watchman Peak for a closer view of Wizard Island.</p>

<andeys-trip-pic class="left" data-trip-pic="parachute"></andeys-trip-pic>

<p>After walking around admiring serene view, we drove to the Crater Lake Lodge to relax on the deck then eat breakfast inside by the lake view. On the way out, I went to the little Post Office to get stamps and found out the worker there was Thai. I don't see many Thai people on my travels outside Thailand, and to see one in such a remote place in Oregon got my attention.</p>

<p>With plenty of time to spare, we drove down to Oregon Caves National Monument and signed up for a tour. The passages were sometimes narrow or low and we had to walk single file. As hazards approached, the ranger called out a note of caution and we passed the news down the line. My favorite room in this limestone cave was one called &ldquo;Paradise Lost&rdquo; with parachute like flowstone decorating the walls.</p>

<p>Our group exited to a tremendous view of the heavily forested Illinois Valley. My friends and I then headed for Grants Pass to stay in a room which had a great view of the scenic Rogue River and historic Caveman Bridge.</p>
