<andeys-trip-pic class="right" data-trip-pic="democracy"></andeys-trip-pic>

<p>In the morning, Pathom, the driver, took us to the grand temples, passing by the Democracy Monument. We then made a quick stop at the City Pillar, Lak Muang, before entering the impressive Wat Phra Kaew temple. With my Thai, I managed to convince or at least cast doubt that I was not a farang, or foreigner, and got in free. We explored the grounds, admiring the fancy, detailed statues everywhere, many of them golden. Also, we passed by the ceremonial Grand Palace, which had been the residence of past kings.</p>

<andeys-trip-pic class="left" data-trip-pic="gold-statue"></andeys-trip-pic>

<p>Outside the grounds, a tuk-tuk driver told us he had a good deal on gems, but I knew to avoid that scam. We walked to nearby Wat Pho to admire the magnificent gold plated statue of a reclining buddha, 46 metres long and 15 metres high. Even the feet were huge!</p>

<p>Alexander and I explored the grounds a bit more while Imelda and Morgan went to the Thai Traditional Massage Center for hour long massages with herbs. Soon, we joined them for shorter, thirty minute massages, which only cost us 100 Baht each, or about four U.S. dollars. I quite enjoyed the experience, and managed to practice more Thai with the masseuse.</p>

<andeys-trip-pic class="right" data-trip-pic="reclining-statue"></andeys-trip-pic>

<p>We then went to the dock on the Chao Phraya River to wait for the ferry, making sure not to get splashed by the polluted waters. When the ferry came, we jumped on, paid, then got off in Sampeng to explore Chinatown and the Indian district. After wandering around looking for an Indian restuarant mentioned in our guidebook, we gave up and ate at a noodle shop.</p>

<p>Our last stop for the day was the Patpong district, otherwise known as the red light district. There were Thai men trying to get us interested in going into the bars, but we declined. They seemed especially interesting in luring Morgan, who may have looked Japanese to them.</p>

<p>We spent most of our time in Patpong looking at the items for sale in the market. My friends were able to bargain down to some reasonably good prices, considering it was a tourist area. After we were done, we went back to my grandparents' place to sleep.</p>
