<andeys-trip-pic class="right" data-trip-pic="hk-skyline"></andeys-trip-pic>

<p>In the morning, we headed to Tsim Sha Tsui, where we saw the impressive Hong Kong skyline across from the harbour, including the new building that was to be used for official reunification ceremonies. We then took the Metro to Hong Kong Island, where we took a doubler decker bus to Stanley Beach. There, we found a lovely beach and a market. On our return by bus, we also saw Repulse Bay.</p>

<andeys-trip-pic class="left" data-trip-pic="mid-escalator"></andeys-trip-pic>

<p>Next, we explored downtown Hong Kong. I saw many places to shop, though I did not find any place I thought was inexpensive. Eventually, we reached the Midlevels Escalator. It ran 800 meters long, making it the longest covered outdoor escalator system in the world. We watched street scenes around us as we went all the way to the top.</p>

<p>With a pretty good view in front us, we then started walking back down. We stopped at the free Hong Kong Zoo along the way. Particularly interesting was the orangutan cage. The big adult male was being disgusting by throwing up then eating what came out.</p>

<andeys-trip-pic class="right" data-trip-pic="flag-bearers"></andeys-trip-pic>

<p>Also on our way down, we stopped at the gate of the governor's residence, where we took a picture of the British symbol on the gate, figuring it probably would go down with the reunification. Finally we made it to Central Plaza.</p>

<p>It turned out that a large crowd had gathered around a World War I and II memorial, so we took a closer look to find out we stumbled upon a British flag removal ceremony. Three men in kilts slowly and somberly lowered the flags from the monument, folded them, then left.</p>

<p>For dinner, we ate at a vegetarian restaurant with Ken and Kitty. Then, at night, Ken, Alexander I went pub hopping. At one of them, I could see some rowdy Hong Kong locals playing some sort of game involving hands and shouting. Afterwards, Alexander and I returned to our hotel room.</p>
