<p>We checked out of our hotel, then got a taxi to the airport, catching our China Airlines flight on time. I was a bit concerned that we might be delayed by the heavy rain, but it made no difference to our schedule. In a short time, we reached Taipei, Taiwan then continued on to Los Angeles.</p>

<p>We both got off the plane and had no problems with customs and immigration, then I parted with Alexander. I then took a domestic flight to Las Vegas McCarran International Airport and rode a shuttle to Luxor to meet up with my family. The intense dry desert air of Las Vegas felt markedly different from Hong Kong's humidity.</p>

<p>The international travel was now over and I relaxed and did laundry. In the next few days, I would meet with friends and explore Las Vegas, finally going home via Oakland Aiport on July 6.</p>
