<p>We arrived in Taipei, Taiwan by evening. Because of our flight delay, our connecting flight to Bangkok, Thailand was not until the next day. My friend Pau was supposed to meet us at our final destination, so I called her number to leave a message about our new schedule and only hoped she got it.</p>

<p>A bus took us to a secured airport hotel, where we had to stay overnight. Alexander and I had to go to one room while Imelda and Morgan got another. While there I tried to figure out what was showing on the television, all in a language I did not understand.</p>
