<p>Morning came, and we got a free breakfast before a bus took us back to the airport. Finally, we left for our flight to Bangkok, Thailand. We then transferred to Thai Airways for a flight to Hat Yai.</p>

<andeys-trip-pic class="left" data-trip-pic="airport-hotel"></andeys-trip-pic>

<p>Apparently, Pau got my message that I would be late, because she showed up at the airport. First, we went to her place, where we hung out and saw adorable little geckos on the wall. She gave us some ideas on where we should go in Thailand as well as where to go to take care of my tooth ache. We then left her place to peruse the market, buying some fresh, cheap tropical fruits, such as lychee.</p>

<p>In the evening, she took us to an outdoor cafeteria by the campus of Prince of Songkla University, where she worked. When ordering food, this was Alexander's first chance to attempt the phrase &ldquo;I am vegetarian&rdquo; in Thai.</p>

<p>Afterwards, we parted with Pau for the day and found a tuk-tuk driver to take us to a local motel. He ended up taking us to a place where I suspect he got a kickback for anyone he brought in. I felt we could have found a better, cheaper place to stay, but we were too tired to try. We leaned a chair against the door for added security before sleeping.</p>
