<andeys-trip-pic class="right" data-trip-pic="phantom"></andeys-trip-pic>

<p>We woke up early to take a quick morning trip to Crater Lake National Park. It turned out to be a perfect day for a visit. The blue, sunny sky gave the lake a chance to show just how deep blue it could be. It was almost unbelievably picturesque! We admired it from many vantages as we drove the Rim Drive and stopped at scenic overlooks. At one point, we found some snow. I didn't think there would be any left this late in summer.</p>

<andeys-trip-pic class="left" data-trip-pic="wed-cake"></andeys-trip-pic>

<p>We returned to Klamath Falls for the wedding of Linda's friend Jennifer. The wedding went well and afterwards, the couple left for reception in a horse and carriage.</p>

<p>With time to spare after the reception, Linda and I decided to make a run to Ashland to see if we could catch a play at the Oregon Shakespeare Festival. Unfortunately, we had just missed the last performance of the day, so we wandered around a little and headed back to Klamath Falls.</p>

<p>I started feeling tired driving back, but a dance station on the radio helped keep me awake. It felt unusual to have such a station in what felt like the middle of a deep, dark forest, but logically I knew we weren't too far from the city of Medford. Watching the news on returning to our room, we found out Princess Diana had died in Paris, France. Linda was sad and I was bummed, but relieved that I had driven us back to the motel safely.</p>
