<andeys-trip-pic class="right" data-trip-pic="spirit-house"></andeys-trip-pic>

<p>In the morning, we went to the medical center at Prince of Songkla University to get my teeth examined. First, though, I ate something, knowing I may noy be able to do so later. The center turned out to be beautiful, surrounded by gardens. Inside it was clean, light, and airy.</p>

<p>I was surprised that the first floor was open to the outside air, but it seemed clean. I had to leave my shoes behind for slippers once I entered. X-rays revealed that my lower left wisdom tooth was putting pressure on the rest of my teeth. They set me down in a chair, applied local anesthetic, then simply pulled out the offending tooth.</p>

<andeys-trip-pic class="left" data-trip-pic="sleep-train"></andeys-trip-pic>

<p>After the quick pull, I was given pain medication and something to absorb the blood. I felt fine, for the most part, and was really happy to see the bill. It cost me only about 200 Baht, which was about eight U.S. dollars.</p>

<p>My friends had waited for me and met me on my way out, asking if I was okay. I was fine, so off we went to explore the town a little bit. Hat Yai didn't turn out to be all that interesting compared to other Thai towns I had visited in past trips. However, it was new to my friends. Particularly interesting to see were the spirit houses commonly found in front of dwellings.</p>

<p>We made our way to the railway station, taking a songthaew, which was a modified pickup truck with two facing seats on the truck bed. We bought tickets for a sleeper train to Chumpon, then boarded for our trip north.</p>
