<andeys-trip-pic class="right" data-trip-pic="blind-arch"></andeys-trip-pic>

<p>The weather threatened to turn worse, so we only did more scenic driving than hiking in Zion this day. We first drove the Zion-Mt. Carmel Highway, going through the narrow tunnel, then stopping on the other side to hike to an overlook of Zion Canyon. On the way there, we passed a blind arch. The overlook itself was great, but the dark clouds made for less than ideal photographs.</p>

<p>After going down the highway a little more, we left the park and re-entered on the northwest side, making our way to a great view of the Kolob Finger Canyons. We noticed the winter storm was getting closer, though, so we soon left for home. Heavy rain fell on part of our drive and I could see some cars pass by with snow on their roofs.</p>

<p>Entering St. George, we noticed factory outlets. Joy and John wanted to check them out, so I stopped for them. Personally, I wasn't excited about that.</p>

<p>Back in Nevada, we made it to Primm when they wanted to stop at one more factory outlet, so we did, but not for as long as before. I was already getting tired as we made our way through California. John helped keep me awake and so did the radio, turned up loud. We made it back to Whittier to drop Joy off.</p>
