<andeys-trip-pic class="right" data-trip-pic="bison"></andeys-trip-pic>

<p>We finally left Yellowstone this day, but made one last stop, turning our car onto Firehole Canyon Drive. To our delight, we spotted a bison walking by, fairly close. Here, I got a great shot of the animal without leaving the safety of my car!</p>

<p>After leaving Yellowstone, we stopped at Earthquake Lake in the Gallatin National Forest. It was created by a landslide in the earthquake of 1959, stopping the flow of the Madison River and drowning the forest around it. Some of the dead trees still stick out of the lake.</p>

<andeys-trip-pic class="left" data-trip-pic="earthquake-lake"></andeys-trip-pic>

<p>The drive to Glacier National Park went quite smoothly. I could see why Montana was called the Big Sky Country. We always seemed to be in a big open valley with distant mountain ranges, giving a sense of great space. I enjoyed the many views as well as the lack of a specified speed limit. I could drive comfortably without ever paying attention to my speedometer.</p>

<p>We arrived at the park in the evening and I took my brother to a family evening program, where we learned how to identify traces of animals in the park. My brother enjoyed the program and we went back to our new campsite at the Apgar Campground.</p>
