<andeys-trip-pic class="right" data-trip-pic="mtn-farm"></andeys-trip-pic>

<p>In the morning, we crossed Newfound Gap into North Carolina and took more pictures of the beautiful hazy mountain range. We also took time to visit the Mountain Farm Museum to look at the historic structures. Then we went on our way to Georgia.</p>

<p>We took a brief break in our drive to see Tallulah Gorge, then continued to Atlanta. It was mid-afternoon by the time we got there, and we decided to visit the Atlanta Historical Society, where we spent our time viewing the extensive Civil War exhibit. Unfortunately, we didn't have time for the other exhibits before closing and went on our way to meet with my friend Shui-Ming Cheer.</p>

<p>After a little confusion trying to find our way through the streets of Atlanta, we got to my friend Shiu-Ming's house. She was staying there only for the summer while working at an internship.</p>

<p>I spent the rest of the evening talking with her while we ate dinner and toured a trendy neighborhood called Virginia Highlands. It was great seeing her again. We weren't really close friends, but I enjoyed hearing from her once in a while. We stayed at her place for the night.</p>
