<p>We set our sights south to the park adjacent to Yellowstone, called Grand Teton. First thing we did after stopping by the visitor center was drive up to the lookout on Signal Mountain for a great view of the towering and rugged peaks of the Teton Range and, on the other side, a look down into Jackson Hole.</p>

<andeys-trip-pic data-trip-pic="tetons"></andeys-trip-pic>

<p>We came back down to drive the Jenny Lake Scenic Drive. At the Cathedral Turnout, I realized just how dramatically the mountians rose from the valley. A ferry took us across the lake for a hike near the mountains that went to Hidden Falls and Inspiration Point, where we saw a great view of the park.</p>

<andeys-trip-pic class="left" data-trip-pic="menors-ferry"></andeys-trip-pic>

<p>The rest of our time in the park, we visited some historic sites. The Chapel of Transfiguration had a perfectly framed view at the altar of the highest mountains.</p>

<p>At Menor's Ferry we visited Menor's cabin and country store, where we talked to a friendly attendant. We also saw the replica of the ferry, but it said it was closed until summer. Funny, I though mid-July would qualify as summer.</p>

<p>On our way out, we made a quick stop to see what was left of Cunningham Cabin then returned back to our camp in Yellowstone early enough to do our laundry.</p>
