<andeys-trip-pic class="right" data-trip-pic="cave-passage"></andeys-trip-pic>

<p>We woke up earlier than planned before our tour, so we stopped at Sloan's Crossing Pond to look for wildlife. We only saw a couple frogs and swallowtail butterflies, but we heard many more animals from the pond and surrounding trees and found the place to be quite peaceful.</p>

<p>We then drove over to Sand Cave, where we read the story of a guy named Floyd Collins who got trapped there and died trying to find an alternative entrance to Mammoth Cave. Undaunted by the story, we returned to the visitor center to wait for our tour, known as the Grand Avenue tour. The rangers took our group of 120 to the cave entrance via bus, and then we descended into the depths of Mammoth Cave.</p>

<p>The ranger talked about how Mammoth Cave was formed and a little about its history as we walked through large electrically-lit cave passages on a fairly smooth pathway. We stopped in the Snowball Room, named for the gypsum on the ceilings that look like dirty snowballs. Here we could buy lunch, eat at the tables, and go to the restrooms &mdash; all 267 feet below the surface. Some people spotted a bat resting in a corner of the ceiling, but I didn't see it.</p>

<andeys-trip-pic class="left" data-trip-pic="cave-cricket"></andeys-trip-pic>

<p>After eating our the lunches we brought along, the tour continued, climbing 100 feet up a hill called Mount McKinley, named after the highest mountain in the states. After going down and starting up another hill, the ranger stopped us and turned off the lights to show how much one lighter could brighten up the cave. She told us an interesting story of a former cave owner who would offer tram rides next to the ceiling, scaring customers by turning off the lights, dropping the tram 10 feet, then shaking the cable.</p>

<andeys-trip-pic class="right" data-trip-pic="mammoth-dome"></andeys-trip-pic>

<p>Continuing on the tour, we finally ended up in a room filled with beautiful stalactite and stalagmite formations, uncommon to the rest of the cave, because water does not drip down through the protective sandstone caprock to erode the limestone. At the end, we also saw some blind cave crickets crawling on the walls.</p>

<p>When we got back to the visitor center, we decided that we were not tired yet and immediately signed up for the Historic Cave Tour, which goes to another section of the long cave system. There, we learned of the evidence of Native Americans in the cave and saw artifacts from past saltpeter mining operations. We also had to squeeze through a narrow section known as &ldquo;Fat Man's Misery&rdquo; as well as do some ducking. In the end we climbed a tower built inside the Mammoth Dome room, which had particularly high ceilings.</p>

<p>With daylight still strong, we took a drive around the park to the unpaved Little Jordan Road in the north then hiked the Turnhole Bend Trail in the west. At one point, we had to cross the Snake River by auto ferry. We then went back to camp to relax, eat, and sleep.</p>
