<andeys-trip-pic class="right" data-trip-pic="coca-cola"></andeys-trip-pic>

<p>As soon as I had the chance, I told my brother happy fourteenth birthday. After breakfast, we went downtown. Shiu-Ming went to work and my brother and I went to the CNN Center.</p>

<p>We went on the CNN Studio Tour, which my brother enjoyed, especially the part where the tour guide showed us how they do the weather report using the blue screen. We also saw the newsroom for CNN Headline News in action and the regular CNN newsroom under remodelling.</p>

<andeys-trip-pic class="left" data-trip-pic="stone-mtn"></andeys-trip-pic>

<p>We ate lunch at the Cajun Cafe and saved part of our big portions for dinner, then headed out for the World of Coca-Cola exhibit. We read about the history of the company and saw how they bottled their drinks. What was most interesting to me was that our chance to sample all the drinks that the company makes for the world.</p>

<p>After filling up on free drinks at Coca-Cola, we headed a little out of the city for Stone Mountain Park, which features a big granite mountain rising up out of the rolling countryside. First, we toured an Antebellum Plantation, seeing how some people in the South lived before the civil war. We then hiked up Stone Mountain, eating dinner at the top and watching a beautiful sunset over the Atlanta skyline.</p>

<andeys-trip-pic class="right" data-trip-pic="confederates"></andeys-trip-pic>

<p>After going back down, we watched a laser show on the mountain's steep flat side, where there is an enourmous engraving of three Confederate heroes &mdash; Robert E. Lee, Jefferson Davis, and Stonewall Jackson. The carving measures 90 by 190 feet. The show definitely showed local flavor, with some segments drumming up pride for Atlantans or southern folk in general. It was fun to watch. We returned back to Shiu-Ming's place to sleep, getting in using keys she gave us.</p>
