<andeys-trip-pic class="right" data-trip-pic="cave-ice"></andeys-trip-pic>

<p>After waking up from a much needed sleep, we went to the visitor center to figure out what we wanted to do at Craters of the Moon. We found we could explore most of the park in a day.</p>

<andeys-trip-pic class="left" data-trip-pic="witches-broom"></andeys-trip-pic>

<p>First we explored the North Crater Lava Flow, then visited the Spatter Cones and Big Crater. To see the overall view of park we went up Inferno Cone. Actually, we ran up the cone, just for fun.</p>

<p>During the hottest part of the day, we went down into the cool lava tube caves, where we squeezed through very tight spaces and were sometimes rewarded by beautiful ice formations. The caves we visited were Dewdrop, Indian Tunnel, Surprise, Boy Scout, and Beauty Cave, in that order.</p>

<p>We also visited Devils Orchard to see limber pines that were massively afflicted with witch's broom. Witch's broom is abnormally thick and gnarled growth on trees, in this case caused by the parasitic dwarf mistletoe.</p>

<p>In the evening, a ranger guided a group of us on a stroll of the lava flows, talking about history and culture related to the park. We slept that night in the park's campsite, as we did the night before.</p>
