<andeys-trip-pic class="right" data-trip-pic="mtn-goat"></andeys-trip-pic>

<p>We woke up early and started our drive on the most scenic drive in the park, known as the Going-to-the-Sun Road. It seemed so-so when we started through the forest, but got dramatically more scenic as we started climbing. I loved looking way up at the towering mountains on all sides of us.</p>

<p>We stopped by the road a few times, a significant one being near Logan Pass. There, we encountered a mountain goat walking right next to us, on the other side of a fence. The visitor center at Logan Pass had displays about alpine life that we stopped to see. Later we stopped to look at Sunrift Gorge, then hiked alongside beautiful St. Mary Lake to Baring Falls.</p>

<andeys-trip-pic class="left" data-trip-pic="iceberg"></andeys-trip-pic>

<p>After making it to the other side of the park, we drove up to the Many Glacier area for a hike. One and a half miles into our hike we stopped at Red Rock Lake and Falls and found out by talking to someone that we had been going on a diferent hike than we intended! No wonder the going was so easy! We went back to the trailhead and started our planned hike up to Iceberg Lake.</p>

<p>On the way to our first goal, Ptarmigan Falls, we encountered a black bear on our trail. That was certainly exciting! Following park suggestions, I slowly backed away from the bear. It stopped as it approached the trail and looked both ways, possibly at me, but fortunately it crossed the path and went on its way up the hill.</p>

<p>We soon replaced our excitement with exhaustion as we continued to hike our way up to the lake. Every once in a while we would ask how far we would have to go. I was quite tired by the time we reached it, but I sure was rewarded.</p>

<p>Iceberg Lake is a dramatic alpine lake surrounded by high cliff walls. Its name comes from the icebergs floating in it, broken off from the surrounding glaciers. We relaxed there, watching a couple mountain goats grazing in the cliff area as well as the people diving into the icy water, seeking relief from the heat.</p>

<andeys-trip-pic class="right" data-trip-pic="chief-mtn"></andeys-trip-pic>

<p>Returning to the car we found that we still had some daylight left and were close to the international border, so I decided to drive the Chief Mountain International Highway to Alberta, Canada. We saw some great views of the mountains, including Chief Mountain, with one side of it looking like a sheer cliff.</p>

<p>I thought about taking us quickly to Waterton Lakes National Park, but their radio station told us fees were separate from Glacier. It wasn't worth going with the little daylight we had left, so we did a little loop drive through the countryside, then returned to the Going-to-the-Sun Road, facing a sunset on our way back to camp.</p>
