<andeys-trip-pic class="left" data-trip-pic="big-tree"></andeys-trip-pic>

<p>We woke up close to noon to find a banana slug attached to my car. I decided to leave it alone, figuring that it would eventually come off. We soon left the campsite and headed for the visitor center at Redwood National Park.</p>

<p>After some orientation, we stopped at scenic Crescent Beach to see the Pacific Ocean, then took a look at Footsteps Rocks by the shore in Del Norte Redwoods State Park. We also paid homage to the Big Tree, one of the largest redwoods in the area, located in Prairie Creek Redwoods State Park. Our final hike of the trip was a stroll through the Lady Bird Johnson Grove of redwoods in the national park.</p>

<p>We started our final drive home, which included the entire stretch of the Avenue of the Giants in Humboldt Redwoods State Park. By sunset, we arrived in Berkeley. I was exhausted but happy to get home safely.</p>
