<andeys-trip-pic class="right" data-trip-pic="multnomah-view"></andeys-trip-pic>

<p>I re-checked my trip plans for the fastest way back home and found I should go through Washington and Oregon, passing Portland. It was a relief not having to go through Nevada again. We first had to go through northern Idaho, though, and stopped for lunch in Post Falls. I found out while I was there that they had an Aryan march in nearby Couer d'Alene the same day! Fortunately, I didn't see it myself and didn't run into any Aryans.</p>

<p>After an uneventful drive through Spokane and other parts of eastern Washington, I started approaching the Columbia River Gorge in Oregon. I have been here before, but never drove the full length of it until now. The land started as flat and arid but became much more interesting as cliffs started rising high above the river.</p>

<p>Near the end of the scenic area, I took my car off onto the historic Columbia Highway and stopped to show my brother the most impressive waterfall of the area &mdash; 720 foot Multnomah Falls. He enjoyed it immensely and we even got to go on the bridge between the upper and lower falls, something I hadn't had a chance to do before. After that we stopped at a breathtaking panoramic view of the gorge area.</p>

<andeys-trip-pic data-trip-pic="womens-forum"></andeys-trip-pic>

<p>Knowing the long drive still ahead of us, we quickly got on our way again. In California, we decided to take the U.S. Highway 101 instead of Interstate 5 so that we could camp at Redwood National Park. However, once we arrived there we had a difficult time finding an available campsite. Fortunately, a gas station attendant in Crescent City told us where we might find one and we finally went to sleep at Florence Keller County Park, just before sunrise.</p>
