<andeys-trip-pic class="right" data-trip-pic="grotto-falls"></andeys-trip-pic>

<p>We decided to spend our day making it to three waterfalls in the park. The first one was Grotto Falls, off of the Roaring Fork Motor Nature Trail. The falls were not that high, but we enjoyed walking behind it &mdash; at no other fall in the park can you do that. We also stopped at a small defunct mill.</p>

<p>We then headed to Cades Cove, a scenic area of meadows with a backdrop of the mountains. Along the one-way scenic road, we stopped to hike to Abrams Falls, where we found people swimming and sunbathing in the warm sun. After relaxing there ourselves, we took a fast walk back to the car, covering 2.5 miles in 45 minutes.</p>

<andeys-trip-pic class="left" data-trip-pic="mill"></andeys-trip-pic>

<p>At the Cades Cove Visitor Center, we met with a ranger, who gave us a tour of an historic mountain village, showing us how people lived there in the nineteenth century. The tour included an original working mill, still making flour for sale.</p>

<p>It took time to get out of Cades Cove, because of slow traffic, but we made it to Laural Falls, another popular waterfall that was near our campsite. After completing that hike, we ate dinner at camp and attended another evening program, where a ranger talked about his first experience with a black bear and how the Civilian Conservation Core built the park in the 1930s.</p>
