<andeys-trip-pic class="right" data-trip-pic="brotherton"></andeys-trip-pic>

<p>My last day in Atlanta for this trip was also Shiu-Ming's, so I drove her to the Hartsfield Atlanta International Airport so she could catch her flight and my brother and I headed north. One thing I enjoyed in Georgia was the price of gasoline, at the time going for as low as 76.9 cents per gallon for regular unleaded.</p>

<p>We stopped at the Chickamauga Battlefield, part of the Chattanooga and Chickamauga National Military Park, where a park volunteer showed a group of us what a typical Confederate soldier wore during the Civil War.</p>

<p>We also drove through the battlefield area, filled with markers showing where battles were fought, then went north to Tennessee, where we stopped at Lookout Mountain. There, we saw a good view of the city of Chattanooga and viewed a famous Civil War painting, titled "Battle Above the Clouds," which depicts the battle that occured there on the mountain.</p>

<p>We hit a traffic jam by the time we reached Nashville, so we went off of the freeway to stop at the Parthenon, a greek style building modelled after the building in Greece and one of the reasons why Nashville is sometimes called the &ldquo;Athens of the South.&rdquo; (It's also known as the &ldquo;Country Music Capital&rdquo; and the &ldquo;Buckle of the Bible Belt.&rdquo;) We made no more stops after Nashville, finally making it back home in Illinois just in time for dinner.</p>

<andeys-trip-pic data-trip-pic="parthenon"></andeys-trip-pic>
