<andeys-trip-pic class="right" data-trip-pic="beauty-pool"></andeys-trip-pic>

<p>On our drive towards WY, USA, we stopped in Arco, Idaho and discovered numbers written high up on the hillside. High school classes had put their year numbers on the side over the years. I also found out this town was the first to have nuclear power.</p>

<p>I was relieved that it took us only three hours to drive to Yellowstone. It took us a while longer to get to our campsite, though, because of a traffic jam unique to the area. Apparently, some bison had walked onto the road and decided to walk along it, causing the traffic to move at their speed. It was more interesting than frustrating, and I got my brother to view the wild animals through his binoculars.</p>

<p>We checked into our reserved campsite in Grant Village, then headed out to see the geysers, stopping to take a picture of ourselves on the continental divide. I set up a tripod and camera, then ran to the divide sign for the timed shot and slipped. You could say I slipped over the continental divide. I made the shot, though.</p>

<andeys-trip-pic class="left" data-trip-pic="river-geyser"></andeys-trip-pic>

<p>At the Upper Geyser Basin, we waited for and saw the most famous geyser, Old Faithful. The crowd was quite large. As soon as the geyser finished its periodic show, we walked up the boardwalk to see the rest of the geyser basin, something that most of the crowd apparently didn't care to visit.</p>

<p>I found the other geysers and hot springs to be equally fascinating and witnessed the eruption of a few other geysers, notably Lion Geyser and Riverside Geyser. Lion erupts once a day and was spraying its water all over the boardwalk and its viewers. I got hit and was surprised at how cold the water was, despite the fact geysers are powered by heat and pressure. Riverside was the most picturesque, because not only did it gracefully arch into the river, but a rainbow appeared on it. We almost didn't see that one, because we were indecisive on whether to wait for it to erupt or see other sights before dark. We went back to camp as daylight ended.</p>
