<andeys-trip-pic class="left" data-trip-pic="fishing-cone"></andeys-trip-pic>

<andeys-trip-pic class="right" data-trip-pic="tower-fall"></andeys-trip-pic>

<p>In the morning, we visited the West Thumb Geyser Basin. This area had some geysers under the waters of Yellowstone Lake, notably Fishing Cone Geyser. The story goes that early explorers fishing in the lake would just swing their line over to the geyser to cook the fish they caught.</p>

<p>On our way north, we stopped at the Mud Volcano and smelly sulphur spring known as Dragon's Breath. We then took a hike down to see Tower Falls, named not for the waterfall but the towering spires above it. One more quick stop brought us to an ancient petrified redwood tree. Redwood forests blanketed this area when the climate was wetter.</p>

<p>The main focus of our day lay outside the park, past the northeast entrance, on a road known as the Beartooth Highway. The view around us just kept getting better and better as we drove to higher and higher elevations.</p>

<p>We viewed the snow-capped mountains at all the scenic turnouts, including a fire lookout tower. Also, we spotted two waterfalls, a moose, and a coyote on the way. Our trip up ended at Beartooth Pass, almost 11,000 feet in elevation, surrounded by alpine meadows, views of small lakes, and a noticeably cooler climate. The drive took up much of our time and we went back to camp afterwards.</p>

<andeys-trip-pic data-trip-pic="beartooth-hwy"></andeys-trip-pic>
