<andeys-trip-pic class="right" data-trip-pic="superman"></andeys-trip-pic>

<p>My brother and I started on our road trip mid-morning, after a good breakfast. I couldn't help but comment to my brother how flat the land was as we drove through rural roads on our way to Interstate 57. Living on the west coast, I don't normally see such flat land. Another thing I noticed was just how lush and green the entire landscape was.</p>

<p>Near the border of Illinois and Kentucky, we stopped in Metropolis &mdash; a town that declares itself the home of Superman. We drove into town to take a picture of the Superman statue and then continued on our way.</p>

<andeys-trip-pic class="left" data-trip-pic="green-river-view"></andeys-trip-pic>

<p>After driving a long way through green hilly country and toll booth after toll booth, we arrived at Mammoth Cave National Park, where we immediately secured a campsite. We stopped at the visitor center for maps and orientation. Tomorrow was our day to tour the cave, so we explored the area above ground.</p>

<p>First, we hiked a trail leading to a scenic overlook of the Snake River, then headed to the spring that feeds the River Styx, which goes underground into the cave. We continued on to Sunset Point for the view and then headed down to Mammoth Dome Sink, a place were water flows to a depression in the ground, then sinks into the cave. Finally, we took a look at the historic entrance to Mammoth Cave. It was refreshingly cool to be there.</p>

<p>We retired to camp to eat and sleep. The night was quite warm and humid, making our sleeping bags feel damp. Also, the sound of insects was quite loud, but we managed to sleep well enough.</p>
