<andeys-trip-pic class="right" data-trip-pic="ut-sunrise"></andeys-trip-pic>

<p>Soon after midnight, we picked up Joy and headed for Nevada. John and I took turns driving and sleeping. As we approached Las Vegas I could see its lights brightening the low clouds.</p>

<p>Dawn was breaking as I entered Arizona. I started making out features of the Virgin River Gorge in the dim light. It was a beautiful hint of things to come.</p>

<p>Approaching St. George, I was delighted by a gorgeous fiery sunrise. We then entered Zion National Park and set up camp in the South Campground. Already we were impressed by the huge walls of Zion Canyon on our way to the visitor center.</p>

<andeys-trip-pic class="left" data-trip-pic="zion-color"></andeys-trip-pic>

<p>Our first hike was to the Emerald Pools. The pools were scenic, especially the upper one, bordered by sheer cliffs. What really grabbed my attention, though, were the myriad of gorgeous autumn colored trees spread throughout the canyon.</p>

<p>Next we hiked up to Angels Landing. The trail led us through narrow Refrigerator Canyon, then up the switchbacks known as Walters Wiggles. The fun part came on the ridge that leads to the top. There was about a 1500 foot drop on both sides of the trail, though there was a chain to steady yourself on.</p>

<andeys-trip-pic class="right" data-trip-pic="zion-cyn"></andeys-trip-pic>

<p>We carefully made our way up. I had heard, though, that two European guys had done handstands at the top. I had no problem with the hike, but I wouldn't try that.</p>

<p>The view of the canyon from the top was tremendous and we stuck around a bit before going down. John was having the most trouble with the descent, because it was tough not to look down the cliff while looking for the trail.</p>

<p>We got back down safely, and drove down to the Zion Canyon Scenic Drive, then hiked to the beginning of the Zion Narrows, continuing until impeded by the river. John and I were so exhausted at this point, but we got back to camp okay and Joy took care of making dinner. We slept soundly.</p>
