<p>In the morning we left Mammoth Cave National Park and headed for Great Smoky Mountains National Park, driving long country roads through Kentucky and then interstate roads through Tennessee, passing through Knoxville.</p>

<p>It was interesting to enter the park from the town of Gatlinburg, because the town is packed with buildings. When you go into the park, suddenly it feels like your out in the forest, far from any city. Our first stop was the Sugarlands Visitor Center and the Elkmont Campground, where we reserved a campsite.</p>

<andeys-trip-pic class="right" data-trip-pic="blue-haze"></andeys-trip-pic>

<p>At the center, we noticed the air quality report stated above normal conditions, so we decided to go to the highest point in Tennessee, known as Clingmans Dome. After a short half-mile strenuous climb, we reached a tower that showed a 360 view of the Great Smokies. It had a wonderful view of mountain ridges and the blue haze for which these mountains are named.</p>

<p>We went back to camp, stopping along the way at the mountain pass called Newfound Gap, which is halfway in Tennessee and North Carolina. After dinner, we attended an evening program, where a ranger spoke about the park and its designation as an International Biosphere Reserve. We slept once again in humid weather, but at least it was cooler than our camp at Mammoth Cave.</p>
