<andeys-trip-pic class="right" data-trip-pic="lower-brink"></andeys-trip-pic>

<p>We started early for our second day in Yellowstone. On the way up to our first destination, we saw a bison run quite close by us, on its way somewhere with a calf. We also witnessed some bison wallowing on the ground in their attempt to get bugs off them.</p>

<p>We spent most of the first part of our day at the Grand Canyon of the Yellowstone, going around the rims of the canyon and getting different views of the Upper and Lower Falls as well as of the colorful canyon. My brother particularly enjoyed being at the brink of the waterfalls, watching them as they fell far below into the canyon.</p>

<andeys-trip-pic class="left" data-trip-pic="minerva"></andeys-trip-pic>

<p>After that we visited the Mammoth Hot Springs, where we saw beautiful terraces formed by the combination of heat, water, limestone, and rock fractures. The landscape here changes so quickly that the park made the boardwalks moveable. At one point some deer walked into Opal Terrace. Of course, wildlife go wherever they please around here.</p>

<p>Returning south, we visited the Back Basin of the Norris Geyser Basin, where I enjoyed seeing the colorful mats of bacteria and algae on the ground. In the Lower Geyser Basin, we watched as bubbles burst out of the mud of Fountain Paint Pot. The low sun lit up nearby Spasm Geyser quite dramatically.</p>

<andeys-trip-pic class="right" data-trip-pic="great-fountain"></andeys-trip-pic>

<p>We watched sunset at the Midway Geyser Basin, reflected beautifully in Grand Prismatic Pool. A distant thundercloud also gave its reflection, but in nearby Turquoise Pool.</p>

<p>As the daylight waned, we tried for one more area of geysers. We drove Firehole Lake Drive when we noticed a big crowd gathering around some terraces. They were awaiting the eruption of Great Fountain Geyser. After some spurts, a violent burst of water soon emerged, shooting 212 feet into the air! I found out this was rare, as the geyser usually reaches only half that height. All this time, the horizon glowed like fire as the sunset ended. What a way to end the day!</p>
