<andeys-trip-pic class="right" data-trip-pic="cerro-castellan"></andeys-trip-pic>

<p>We packed up camp, not wanting to stay there again because of the bugs, then headed as far east as we could to Boquillas Canyon. Stopping at an overlook, we could see across the river into the small town of Boquillas del Carmen in the M&eacute;xican state of Coahuila. I heard that the town of 25 families had no electricity.</p>

<p>We hiked to a good view of the Rio Grande River, then descended to its sandy banks. I liked the feeling that, standing by the river, we were just a few feet from M&eacute;xico. The trail stopped by the water when the massive canyon walls narrowed down only to allow the river through. I spotted a group of other people nearby, going up to what appeared to be a cave on the side of the canyon.</p>

<p>Joy and I returned to the car and drove off, stopping at one more place in the area, the Rio Grande Overlook, before going to the visitor center at Panther Junction. We got more information about the park and walked around the little desert garden outside before hitting the Ross Maxwell Scenic Drive.</p>

<andeys-trip-pic class="left" data-trip-pic="border-cross"></andeys-trip-pic>

<p>The scenery of desert and Chisos Mountains was lovely and we made many stops. The most notable landmarks were the big, pointy Mule Ears Peaks and the colorful peak of Cerro Castellan. I also enjoyed looking down into Tuff Canyon, watching a couple of people walking the trail below.</p>

<p>We took a short break in the Castolon Historic District, then parked by the river, where a man offered to take us round-trip across the Rio Grand for two dollars. We agreed and soon we were in the dusty border town of Santa Elena, in the M&eacute;xican state of Chihuahua. Checking out three of the four restaurants there, we decided to stop for lunch in Maria Elena for ranch style Mexican food.</p>

<p>After eating, we explored the town, passing by the primary school, Catholic Church, ruins of buildings, a small ranch, and then a burro in the road on our way back to the river. The man rowed us back into Texas and we paid him the money we owed.</p>

<andeys-trip-pic class="right" data-trip-pic="santa-elena"></andeys-trip-pic>

<p>From a distance, Santa Elena Canyon looked like a big notch in the mountains. Getting closer, we could see it was impressive and we hiked down into it. While enjoying the view of the calm river between the massive walls, some rafters passed by and we waved at each other.</p>

<p>Leaving the area, we took the unpaved Old Maverick Drive. The main point of interest on this road was the jacal (dugout house) of Gilberto Luna, a legend in these parts.</p>

<p>We hit the main park road then went up into the Chisos Mountains to camp in the Chisos Basin. It was tough to find a campsite available in the campground, but we eventually found a little spot, set up our tent, and stored the food in the bear lockers. The sunset colors falling on the surrounding mountains were gorgeous. We watched the end of the sunset from a spot known as the Window View, which faced a gap in the mountains.</p>

<p>With some energy left, we visited the gift shop, where I got Joy a plush toy of a javelina. We then returned to camp to eat and sleep.</p>
