<andeys-trip-pic class="right" data-trip-pic="organ-pipe"></andeys-trip-pic>

<p>We started our day with a scenic drive on the unpaved Ajo Mountain Drive, seeing good examples of cacti along the way. At one point we noticed a natural arch high above a canyon.</p>

<p>At one of the parking areas, we started on a hike of the Bull Pasture Trail, named for the place where ranchers once wintered cattle. We passed many interesting views of rocks and cacti. Trying to take a picture of one them I backed into a cholla. Yikes! The fuzzy looking plant had extremely sharp needles that stuck on my leg then on my finger as I tried to pull them out. I still felt sore for a long time after I got the needles out.</p>

<andeys-trip-pic class="left" data-trip-pic="tall-saguaro"></andeys-trip-pic>

<p>Joy had problems too. Something broke on one of her hiking shoes, making it tougher to tighten her laces. Despite these minor setbacks, we made it up to the plateau where the trail ended. The view was grand of the dirt road curving around the Diablo Mountains.</p>

<p>We returned using the Estes Canyon Trail, descending into the canyon and passing by two interestingly disfigured Saguaro cacti. At the end we ate our lunch under a shady ramada before continuing our scenic drive.</p>

<p>Getting back on the paved roads, we left the park, passing through the Tohono O'odham Indian Reservation and Tucson Mountain County Park before reaching Saguaro National Park. At the visitor center, we looked out back for a great view of a dense Saguaro forest.</p>

<p>We set off to drive the mostly dirt Bajada Loop Drive to get a closer look at the forest. I wanted to hike the Valley View Overlook Trail, but noticed we didn't have enough time, so we instead we looked at some O'odahm rock art at Signal Hill, which also had a great view of the forest.</p>

<p>Some of the Saguaro cacti got incredibly tall around there, so I looked for the tallest I could find and took pictures by it. Also I got a picture of the beautiful sunset that occured while we were on the scenic road.</p>

<p>We spent the rest of our time going to New Mexico and looking for a campsite. I had wanted to camp at Rock Hound State Park, but found its gates had closed for the night, so I drove to Aguirre Springs National Recreation Area only to find it closed also and the camp host unresponsive. Tired, I gave up and set up camp in an RV Park in Las Cruces. There was a patch of grass for tents, so we slept there for the night.</p>
