<andeys-trip-pic class="right" data-trip-pic="pikes-peak"></andeys-trip-pic>

<p>As we were driving south along the Top O' The Rockies Scenic Highway, I started noticing signs along the road, identifying peaks that were named after colleges. Names included Mt. Yale, Mt. Harvard, and Mt. Princeton. We also passed by Mt. Elbert, the highest peak in Colorado, rising to 14,433 feet.</p>

<p>Our first stop was quick one at Florrissant Fossil Beds National Monument. We looked at the collection of small shale fossils at the visitor center then I snapped a photo of the historic Hornbek Homestead on the way out.</p>

<p>Soon we made it to the toll road that goes up Pikes Peak. As we made the slow climb, we watched the vegetation change, eventually becoming alpine. Steep dropoffs with no guard rail made everybody careful near the top. Traffic crawled most of the time, but I wasn't complaining.</p>

<andeys-trip-pic class="left" data-trip-pic="pulpit-rock"></andeys-trip-pic>

<p>Once we made it to the top at 14,110 feet we found out it was thirty-three degrees Farenheit and cloudy. After a stop in the gift shop, my brother and I ran around a bit to see if we could sense the relative lack of oxygen and stopped by a plaque that had the song &ldquo;America The Beautiful&rdquo; on it. The author, Katherine Lee Bates, was said to have been inspired to write the song after visiting the peak in 1893.</p>

<p>On our way down, we stopped for the great view once we left the clouds surrounding the peak. One of our stops was at the boulders in Devil's Play Ground, where we climbed around the rocks a bit. The last stop was at the Crystal Springs Reservoir, where took a lovely walk by the lake.</p>

<p>We reached Colorado Springs and immediately drove into an area known as Garden of the Gods. This was the most impressive city park I had ever seen, filled with many big rocks of imaginative shapes. We went to the visitor center, then parked by the rocks to take a scenic stroll among the giants, with names such as &ldquo;Kissing Camels,&rdquo; &ldquo;Pulpit Rock,&rdquo; &ldquo;Three Graces,&rdquo; and &ldquo;Montezuma Tower.&rdquo; When we were done, we returned to our condo in Avon.</p>
