<andeys-trip-pic class="right" data-trip-pic="fossils"></andeys-trip-pic>

<p>We drove our way northwest into Dinosaur National Monument, crossing just over the state line into Utah. Once we got there, we took a free shuttle bus from the visitor center to the quarry building to see a wall of dinosaur fossils that the building enclosed. They preserved the exposed wall to show how the fossils were buried and we were allowed to touch them. It has been the single largest collection known of bones from the Jurassic period. We also could look into a room where paleontologists were carefully cleaning fossils.</p>

<p>After looking at the small museum and visitor center, we took the shuttle bus back to the car and hit the scenic Cub Creek Road. At our first stop, we found petroglyphs on the wall, done by the Fremont people over a millenia ago. We saw more later and also enjoyed the scenery of the Green River. At the end we walked into a box canyon next to a cabin that used to belong to female homesteader Josie Morris.</p>

<andeys-trip-pic class="left" data-trip-pic="petroglyph-wall"></andeys-trip-pic>

<p>We exited the park to re-enter it in the Colorado side, touring Harpers Corner Drive. At one overlook, we noticed hundreds of crickets swarming the ground. I decided not to get out of the car there.</p>

<p>We hit the end of the road at Harpers Corner and got out. My brother and I wanted to hike the trail down to see the confluence of the Green and Yampa Rivers, but noticed a nearby thunderstorm and decided against going. With our visit done, we made our way back to our condo in Avon, only stopping quickly at a lovely reservoir along the way.</p>
