<andeys-trip-pic class="right" data-trip-pic="wagon"></andeys-trip-pic>

<p>Our first stop was Scotts Bluff National Monument. Below impressive bluffs stood replicas of covered wagons, the kind of vehicle used by many who headed west on the Oregon Trail in the nineteenth century. After visiting those, we took the road that led to the top of the bluffs for great views of the area from both South and North Overlook.</p>

<p>We then continued on to an historical landmark known as Chimney Rock, which signaled the end of the prairies for western bound travelers. I took a quick picture and then we left for Fort Laramie in Wyoming.</p>

<andeys-trip-pic class="left" data-trip-pic="fort-family"></andeys-trip-pic>

<p>My mom wasn't interested in exploring the fort, so just me and my brother began a walk around the grounds to see the buildings. We found a few historically dressed people around, including a family that had two children. The man was there to talk about the history of the Captain's Quarters. He was relaxing on the porch with his wife and daughter while the son was playing inside with nineteenth century wooden toys.</p>

<p>Also, I found the Post Trader's Store, stocked with containers of items you might find in the mid-nineteenth century. The last building we entered was the bar, which was actually selling drinks. It looked like the scene from an old western movie when I entered and saw three people with bottle drinks at the table, except for one incongruity. One of those three was a young kid, probably drinking root beer. We sat down too, and I ordered a sasparilla.</p>

<p>Soon we had to leave and go to our condominium in Avon, Colorado. Along the way we stopped at a solar powered rest stop and dealt with a heavy but brief isolated thunderstorm. The condo turned out to be in a lovely resort. We checked in then went to eat at a French restaurant there before retiring to our condo.</p>
