<andeys-trip-pic class="right" data-trip-pic="towering-rocks"></andeys-trip-pic>

<p>As we made our way west to Utah, I watched as the landscape turned from lush mountain to arid desert. Leaving the interstate, we took Utah Scenic Route 128 to Moab, while constantly admiring the landscape of mesas and buttes towering over the Colorado River.</p>

<p>We stopped to eat, then entered nearby Arches National Park. The formations I saw starting up the park road were interesting, then I turned a corner and became truly impressed by the huge size of the towering rocks in an area called Park Avenue. We stopped at a few pullouts to stare at these massive formations. I also walked around Balanced Rock, pondering the precariousness of its perch.</p>

<andeys-trip-pic data-trip-pic="rock-plateau"></andeys-trip-pic>

<p>My longest hike was in the Windows Section, where I looked up the huge openings of South Window, North Window, and Double Arch. We also checked out Turret Arch. After that, we made another quick hike to a viewpoint of Delicate Arch. I wanted to hike right up to it, but we didn't have time to do that. Instead, I completed the drive of the park road, ending at the Devils Garden Trailhead, then headed back out of the park.</p>

<andeys-trip-pic class="left" data-trip-pic="coke-ovens"></andeys-trip-pic>

<p>Back in Colorado, we detoured off the interstate and onto Rim Rock Drive in Colorado National Monument. My brother and I did a short one way hike along the rim, with my mom dropping us off at Book Cliff View and picking us up at the Visitor Center.</p>

<p>After getting information from the ranger, we continued on the road, stopping at scenic turnoffs. I particularly liked the freestanding buttes named &ldquo;Independence Monument&rdquo; and &ldquo;Kissing Couple.&rdquo; Also of note were the &ldquo;Coke Ovens,&rdquo; resembling the ovens that made coke from coal for smelting iron ore. We ended up in Grand Junction and headed back to our condo in Avon.</p>
