<andeys-trip-pic class="right" data-trip-pic="rushmore"></andeys-trip-pic>

<p>We returned to South Dakota to take a scenic drive through the Black Hills National Forest. I was immediately impressed by the beauty as I entered Spearfish Canyon, driving between towering cliff walls. We saw Bridal Veil Falls right from the highway. We also made a small detour to see Roughlock Falls.</p>

<andeys-trip-pic class="left" data-trip-pic="car-needles"></andeys-trip-pic>

<p>Eventually, we arrived at Mount Rushmore National Memorial to see the famous carvings of four American presidents on the mountain, done by Gutzon Borglum. As we left and saw the monument from the side, I was surprised to see two people standing on top of the sculptured head of George Washington. I wondered what they did to get there.</p>

<p>Heading south, we entered Custer State Park and drove around interesting tall rock formations on the Needles Scenic Highway, which included narrow tunnels through the rock. We ended up at Wind Cave National Park, where we signed up for a tour of the complicated cave system. First we were taken to the small entrance, measuring about a square foot. We could feel the wind blowing out of it. Sometimes it sucks air in, depending on the outside air pressure.</p>

<andeys-trip-pic class="right" data-trip-pic="boxwork"></andeys-trip-pic>

<p>We entered the cave using the larger man-made entrance. Most noticeable was the intricate boxwork formations, made of calcite that resisted erosion better than the surrouding bedrock. Its plentifulness has made this cave unique, as it is rare elsewhere.</p>

<p>Our last stop in the Black Hills was Jewel Cave National Monument. The next tour there was too late for us, so we were content to watch a ranger demonstrate the use of a carbide lamp. He also showed how he could repair the lamp blindfolded, akin to fixing it in the dark.</p>

<p>After taking a short walk around the park grounds, we finally headed out to Scottsbluff, Nebraska. My mom was tired of eating American food, so we tried out a Chinese restaurant. I wasn't sure there would be a good one there, but we went anyway and it was not bad at all. We stayed the night in town.</p>
