<andeys-trip-pic class="right" data-trip-pic="group-camp"></andeys-trip-pic>

<p>John, Philip, and I left after midnight on our way to Arizona. Joy, Laura, and Kevin caravaned with us in Kevin's car. By mid-morning, we arrived at the Charley Tank group site at the Ten-X Campground in the Kaibab National Forest.</p>

<p>We met up with Dara, Jenevieve, and Ray, who had arrived the day before. Dara and Jenevieve came from San Diego, while Ray drove from Colorado Springs, Colorado.</p>

<andeys-trip-pic class="left" data-trip-pic="hopi-pt"></andeys-trip-pic>

<p>We set up our tents then drove north into Grand Canyon National Park. Already our group was impressed with the immense scale of the canyon, while waiting for the shuttle. We rode the Rim Shuttle west all the way its last stop at Hermits Rest. After enjoying the view, we started hiking eastward. Soon enough, our group broke apart between fast and slow movers.</p>

<p>The fast group hiked all the way to Hopi Point while the slow group took the shuttle there. We then all took the shuttle to our cars then drove to Yavapai Point to take in the sunset. It was crowded there with other people who had the same idea. Our group returned to camp for a barbecue dinner and sleep.</p>
