<andeys-trip-pic class="right" data-trip-pic="red-pass"></andeys-trip-pic>

<p>Going south after packing up our camp, we saw a dirt road leading east, so I took it. It led us to the head of the Titus Canyon Narrows, but past the canyon entrance, it was one-way the other way. We decided to go around the other side to drive it.</p>

<p>Driving the park road over Daylight Pass, we entered Nevada and stopped in Beatty to take a break and fuel up the car. Going back towards California, we then detoured onto the dirt road leading to Titus Canyon. It was a fun road to drive on and we loved the scenery of the colorful mountains, especially at Red Pass.</p>

<andeys-trip-pic class="left" data-trip-pic="bighorn"></andeys-trip-pic>

<p>Descending from the pass we reached the meager remains of the ghost town of Leadfield and parked to look around. A sign mentioned that the town, created from false mining claims, lasted from August of 1926 to Febraury 1927. We only saw a couple delapidated buildings made from corrugated metal.</p>

<andeys-trip-pic class="right" data-trip-pic="titus-canyon"></andeys-trip-pic>

<p>Continuing on the scenic road, we found petroglyphs on a big rock. Then our biggest excitement occured when we sighted four elusive desert bighorn sheep. We came upon people staring and pointing at the cliff, got out of the car, and then saw them far up the cliff, blending well with the landscape.</p>

<andeys-trip-pic class="left" data-trip-pic="mosaic-cyn"></andeys-trip-pic>

<p>The walls of the canyon narrowed near the end, and I delighted in navigating my way through the corridor. After exiting, we had more time to spare, and took the dirt road to the trailhead for Mosaic Canyon.</p>

<p>Mosaic Canyon turned out to be an even narrower canyon than Titus Canyon, and we had fun walking and climbing up the rock, slickened and streamlined from many past flash floods. We reached an open area, walked up a steep little hill for the view, then returned the way we came, having more fun with the narrow, winding trail.</p>

<p>We left the park and made it back to the Los Angeles area, where we celebrated our successful trip with a good dinner at a Japanese restaurant in Monterey Park. After that, I dropped off Terry in Compton and Jim and I stayed at Joy's place in Whittier.</p>
