<andeys-trip-pic class="right" data-trip-pic="corn-palace"></andeys-trip-pic>

<p>We started early, ready for a long drive to South Dakota. The only thing of note along the way was useful up-to-date weather reports available at a rest stop in Iowa. We finally stopped for the day in Mitchell, where we checked in to a motel.</p>

<p>With some time to spare, we took a free tour of the magnificent Corn Palace, whose murals were decorated entirely in crops native to the state. It was first built in the late nineteenth century to showcase the fertility of South Dakota's soil. Its design has changed almost every year and proof lies in the photographs of it that line the walls inside. After the tour ended, we went to eat at The Depot, Mitchell's historic train depot turned restaurant.</p>
