<andeys-trip-pic class="right" data-trip-pic="cactus-bloom"></andeys-trip-pic>

<p>Joy, Laura, Kevin, Ray, and I decided to try our big planned hike into the canyon, while Dara, Jenevieve, and John would do less strenuous sightseeing. Still morning, we already noticed a small crowd of people at Grandview Point, but as we descended the amount of people we saw quickly dwindled until we felt, at times, that we were the only ones around.</p>

<p>We found the trail quite rocky and steep at times. Ray decided to turn back, because his tennis shoes could not handle the terrain.</p>

<p>The temperature rose as we descended and we passed a sign warning that heat kills. We got some relief when we found a small cave to rest inside.</p>

<andeys-trip-pic class="left" data-trip-pic="miners-cabin"></andeys-trip-pic>

<p>Reaching the Horseshoe Mesa, we found the remains of a miner's cabin, then continued across the arid landscape to find the Cave of the Domes. I noticed some of the cacti were blooming.</p>

<p>Arriving at the cool cave, we ate lunch, then explored a bit until we felt we could not safely continue. I at least had the chance to sign the registry.</p>

<p>Now was the most dreaded part of the hike - returning uphill. We made sure to take a slow and steady pace. After a while, Kevin was starting to have trouble and was running out of water, but a kind downhill hiker gave him more.</p>

<andeys-trip-pic class="right" data-trip-pic="rock-throne"></andeys-trip-pic>

<p>It was soon my turn to have trouble. My legs began having trouble walking up as they stiffened. Fortunately, we weren't too far from the end at the point that I could only take one slow step at a time.</p>

<p>Kevin kissed the ground at Grandview Point, happy to have made it all the way, then we headed off to Grand Canyon Village for cool drinks. We found the rest of our group there also. At the gift shop, we saw a t-shirt that said something about &ldquo;I barely made it out of the canyon,&rdquo; so a couple of us bought our own to wear.</p>

<p>Our group returned to camp to eat dinner. Afterwards, we decided to return back to the Grand Canyon, just to see what it looked like in the moonlight. It was a peaceful sight, and I tried unsuccessfully to spot faraway campfires through my binoculars. We came back to camp to sleep.</p>
