<andeys-trip-pic class="right" data-trip-pic="ducklings"></andeys-trip-pic>

<p>My brother and I left for Rocky Mountain National Park, entering via Estes Park and the Fall River Entrance Station with little traffic in the way. However, I wanted to stop by the visitor center for hike information and postcards, so we took the park road to the Beaver Meadows Visitor Center. Exiting via the Beaver Meadows Entrance, we noticed a long line of cars waiting to enter that I didn't see at the other entrance.</p>

<p>Once I left the visitor center, I re-entered the park at the Fall River Entrance and asked the ranger why there was very little traffic there compared to the other entrance. He said that most people just automatically go to the Beaver Meadows Entrance without thinking.</p>

<andeys-trip-pic class="left" data-trip-pic="alpine-zone"></andeys-trip-pic>

<p>Back in the park again, we made our way to the Trail Ridge Road, first stopping at the Beaver Ponds, where we spotted a duck quickly being followed by seven adorable little ducklings. When we reached the Forest Canyon turnoff, I noticed a beautiful field of flowers. After taking a picture, a marmot showed up scurrying around the boulders.</p>

<p>The road kept climbing, and at the Rock Cut turnoff we stopped to walk on a summer snowfield. The road peaked at 12,183 feet, then went down to Milner Pass, where we hiked a trail to The Crater, which went above the tree line. I heard it was a good place to see Bighorn Sheep, but we didn't spot anything but a little squirrel.</p>

<p>We left the park via the Grand Lake Entrance, then got stuck in traffic on the mountain roads, trying to get back to Interstate 70. Eventually, we made it back to the condo for a home cooked meal.</p>
