<andeys-trip-pic class="right" data-trip-pic="beach-scene"></andeys-trip-pic>

<p>We packed up to leave and went southeast of Chicago. The biggest surprise to me driving on Interstate 90 was that we found a McDonalds restaurant in the middle of the highway, near the toll booths for the Illinois Skyway. I had never seen a restaurant stop in the middle of an interstate. We ate breakfast there and headed for Indiana Dunes National Lakeshore.</p>

<p>After a stop at the visitor's center, we headed for the beach to cool off. It looked like to get to the beach, we first had to climb a 123 foot sand dune known as Mount Baldy. It was fun, but my parents had enough and relaxed under the shady trees at the top, while my brother and I went to the beach to stick our feet into chilly Lake Michigan. The only strange sight to me on the beach, though, was that of the nearby cooling towers of the NIPSCO coal power plant. It was not a normal beach scene for me.</p>

<andeys-trip-pic class="left" data-trip-pic="chellberg"></andeys-trip-pic>

<p>After some fun in the sand, we came back up the dune and then down back to the car. We drove to another area, where I took a really short hike on the Cowles Bog Trail with my brother to see a bog, which I found to be an incredibly lush green.</p>

<p>Our last stop there was the historic Chellberg Farm, which had live animals raised with methods used in the nineteenth century. We left back for Illinois and stopped to pick up lunch at Taco Bell, then headed to Kankakee River State Park to eat it by the scenic river. Afterwards, we walked around Rock Creek and its steep bluffs. We made no more significant stops after that and got home by 8:30 PM.</p>
