<andeys-trip-pic class="right" data-trip-pic="cloud-drift"></andeys-trip-pic>

<p>I woke up to an inspiring view of clouds drifting around a peak known as Casa Grande. The first thing I did getting out of my tent was set up my camera and tripod to take a picture of it. Joy woke soon after and we packed up to go north.</p>

<andeys-trip-pic class="left" data-trip-pic="dagger-yucca"></andeys-trip-pic>

<p>Before leaving the park, we sidetracked to the unpaved Dagger Flat Auto Trail to see just how big the dagger yuccas got. They were pretty tall for yuccas, twice our height. On our way back to pavement we saw a javelina by the road. Excited, Joy's instinct was to speed up the car to see it closer, frightening the little creature away. Poor guy.</p>

<p>The drive to El Paso felt long, but along the way I did spot a curious rest area off of U.S. Highway 90 near Marfa. A sign stated that at night at this location, mysterious lights have been spotted in the distance. The story is that these lights, known about in the area for a long time, have no clear scientific explanation for their existence, despite numerous attempts to pinpoint their source. It being full daylight, I didn't have much reason to stick around long and continued on.</p>

<p>Our first stop in El Paso was Chamizal National Memorial, which celebrates Mexican-American friendship. We walked to the visitor center where we saw a gorgeous mural on the wall, done by Carlos Flores. After spending a little time inside looking at the art gallery, we drove downtown to park near the bridge over the Rio Grande.</p>

<andeys-trip-pic class="right" data-trip-pic="chamizal"></andeys-trip-pic>

<p>The border area didn't look like such a good neighborhood to park in, but we risked it, paid the bridge toll, and walked across into Juárez. We explored the streets only for a short time and stopped at one store. The guy there was so persistent in trying to have us buy something that we didn't buy anything. Crossing back over the border into Texas took longer, having to wait in line, but we had no problems.</p>

<p>On leaving El Paso, I got a good look at the border area and saw that the Juárez looked much dirtier and crowded than El Paso. Night fell as we passed through New Mexico and into Arizona. When we reached Willcox, I drove to Chiricahua National Monument and discovered there were no available campsites, so we had to return to Willcox to camp at an RV Park.</p>
