<andeys-trip-pic class="right" data-trip-pic="watchtower"></andeys-trip-pic>

<p>Our group separated and I was left with John and Philip. We knew we had to return home this day, but were feeling ambitious, so we returned to the Grand Canyon, driving east along the rim stopping at every named point. The clear, sunny day accentuated the colors of the canyon. We were glad we came back to see this.</p>

<p>Upon reaching Desert View, we payed the small fee to climb to the top of the watchtower. I could see people rafting on the Colorado River, using my binoculars.</p>

<p>We continued on the road until we reached the Navajo Indian Reservation. The view of the Grand Canyon was gone, but soon we saw another big crack in the ground, so I pulled over for a picture. It turned out that road I pulled off onto was giving my car trouble with traction. John and Philip had to push the car while I steered the car back onto the pavement.</p>

<andeys-trip-pic class="left" data-trip-pic="wupatki-ruin"></andeys-trip-pic>

<p>Soon after that, we found an even better view of the crack, which turned out to be the Little Colorado River Gorge. The rocks had less color here than at the Grand Canyon, and the river was muddier. Several Navajo people were displaying their wares for sale, but we didn't seriously look at any of the items.</p>

<p>Turning off U.S. Highway 89, we arrived at Wupatki National Monument, where we had the chance to walk around impressive ruins left by the Anasazi and Sinaguan peoples of long ago. I was particurly impressed with the size of the Wupatki and Wukoki Ruins.</p>

<p>We continued on the park loop road to Sunset Crater National Monument, where we stopped to look at the lava flows and cinder cones. A good view of the San Francisco Peaks emerged as we returned to the highway. We grabbed lunch in Flagstaff, then headed west on Interstate 40.</p>

<andeys-trip-pic class="right" data-trip-pic="london-bridge"></andeys-trip-pic>

<p>John was interested in doing one last quick stop near the border, so we turned south on state route 95 to Lake Havasu City. It was searing hot outside and we could see many people relaxing in boats on the water. We came to see London Bridge, though. London, England sold their failing bridge to a guy who wanted to attract people to Lake Havasu City.</p>

<p>Back in California, holiday traffic from Las Vegas slowed us down in Barstow, where we ate a quick dinner. Congestion on State Route 58 and an accident on Interstate 5 slowed us down even more. With all three of us switching driving, though, we made it back safely to Berkeley. John and Philip then left for their homes.</p>
