<andeys-trip-pic class="right" data-trip-pic="ks-capitol"></andeys-trip-pic>

<p>After leaving Salina, the landscape changed from flat to rolling hills. We made a quick stop in Topeka. The Capitol building was closed for Sunday, but I decided to stop by just to take a quick picture.</p>

<p>Once we passed Kansas City, Missouri, we completed our huge loop of the middle of America. We got back to our place in Illinois and I relaxed after the long drive. I was happy that I pulled off such a big trip and even got to see more than I had originally planned to see.</p>
