<andeys-trip-pic class="right" data-trip-pic="badlands"></andeys-trip-pic>

<p>Driving Interstate-90 in South Dakota was monotonous for the most part, and I ended up reading many of the road signs for Wall Drug that lined the highway. At one point, though, I started noticing Corvettes passing by - many Corvettes. More and more just kept passing and I soon realized there was some sort of caravan event going on. I lost count after a while.</p>

<andeys-trip-pic class="left" data-trip-pic="prairie-dog"></andeys-trip-pic>

<p>A break came in the plains as we neared Badlands National Park. We parked just in time for a ranger guided hike of the Door Trail. The ranger mentioned that the colors of the badlands were so vibrant this day because it had just rained the night before. It was an interesting talk, but for part of it I was distracted by a cute little girl aimlessly climbing up and down the formations.</p>

<p>Afterwards, I went for another hike, this time on the Notch Trail, which included an area where we had to climb a ladder. At the end we saw a great view of more badlands in the White River Valley.</p>

<andeys-trip-pic class="right" data-trip-pic="devils-tower"></andeys-trip-pic>

<p>We made a stop at the visitor center before going on the short Fossil Exhibit Trail to see examples of fossils found in the area. They were safely enclosed in viewing domes that we looked down upon. The rest of the time we just made quick stops at pullouts until we reached the west end of the park. There, we visited Roberts Prairie Dog Town to see the adorable prairie dogs feeding on grass.</p>

<p>Leaving the park, we stopped at Wall Drug in Wall for ice cream and free ice water, then continued on to Wyoming. After checking in our motel in Sundance, we drove to Devils Tower National Monument, which became more and more impressive as we got closer. I went as close as the base of the steep talus slope, then we left as it started to rain. We headed back to Sundance to eat and sleep.</p>
