<p>Jim and I headed for the train station in Los Angeles to pick up Yvonne, Tracy, and Alexander. Soon we were driving north on Interstate 5, and stopped at Tule Elk State Reserve in the Central Valley. I had been curious how they could have a wildlife reserve so close to the highway and vast farmlands. We found a immense fenced in area and spotted the tule elk grazing in the distance, beyond a big pond.</p>

<andeys-trip-pic data-trip-pic="tule-elk"></andeys-trip-pic>

<p>With no more time to look for other points of interest, we continued drriving until we reached the peninsula in the Bay Area. After having dinner at a good Chinese restaurant, we dropped Jim off in Belmont, then returned to my place in Berkeley.</p>
