<andeys-trip-pic class="right" data-trip-pic="alpine-aster"></andeys-trip-pic>

<p>My family set out southwest, exiting the interstate near Carbondale. It was a bit slow going, but we eventually made it to the southern entrance of Black Canyon of the Gunnison National Monument. We stopped first at Tomichi Point for a view of the gorge. It was impressively steep, deep, and narrow. The dark gray walls and lack of sunlight penetrating into the canyon made it tough to take good pictures, though.</p>

<p>We stopped at the visitor center, where my mom waited while my brother and I took the Oak Flat Trail out back. It goes down one quarter of the way into the canyon and gave me my first view of the Gunnison River far below. Also a delight were the blooming alpine asters that we found throughout the trail.</p>

<andeys-trip-pic class="left" data-trip-pic="painted-wall"></andeys-trip-pic>

<p>By car, we continued onto other viewpoints with impressive looks into the canyon. From Rock Point, I spotted a vehicle on the North Rim looking tiny against the landscape. My favorite view was the one of the Painted Wall, where a lighter color of rock criss-crossed the dark rock, caused when molten material was forced into cracks under great pressure.</p>

<p>Finally, we reached High Point, at the end of the road, where my brother and I went on another hike, this time to Warner Point. It had a great view of the lower canyon as well as farm lands beyond the park.</p>

<p>We exited the park and headed to the Curecanti National Recreation Area, stopping to look at one of the dams holding back the Gunnison River. I also stopped at the visitor center just to find out more about the place. Crossing the dam, we continued back to the condo in Avon, noticing the crack of thunder from a nearby afternoon thunderstorm.</p>
