<andeys-trip-pic class="right" data-trip-pic="quapaw"></andeys-trip-pic>

<p>Getting to my first destination was quick, because I could take the interstate most of the way. My brother and I arrived at Hot Springs, Arkansas by mid-afternoon. A sign pointed out that Hot Springs was President Bill Clinton's boyhood home. I didn't know that before.</p>

<andeys-trip-pic class="left" data-trip-pic="mtn-tower"></andeys-trip-pic>

<p>We stopped at the visitor center for Hot Springs National Park inside the Fordyce Bathhouse and then toured the rest of the historic building. Closing time came and we left the building to walk by other fancy bathhouses on Bathhouse Row. Another treat there was drinking the free spring water, which was delicious. There were taps where people could fill up on it as much as they wanted.</p>

<p>Interested in checking out the view, we took quick scenic drives in the mountains above town, including a stop at the Hot Springs Mountain Tower. I didn't think it was worth the price to take the ride up, though. Next, we set up camp at the Gulpha Gorge Campground and ate a quick meal.</p>

<p>With a little daylight remaining, we took a short hike up to Goat Rock for a view of the Ouachita Mountains. Returning to camp in the dark, we made another meal. I then started noticing lights flickering in the air and then realized they were fireflies! It was a delight to watch them. We slept afterwards in the warm and humid night.</p>
