<andeys-trip-pic class="right" data-trip-pic="boulders"></andeys-trip-pic>

<p>In the morning, we packed up and drove a little further south to a turnoff of the Pacific Coast Highway, where we started hiking. With some climbing, then some scrambling, we reached a great view of Salmon Creek Falls, where we relaxed by the water. Then we explored around the boulders for a little while before getting back to the car.</p>

<p>Some more driving brought us to San Simeon, where we picked up our tickets for tour one of Hearst Castle. I was glad that we had the foresight to buy the tickets in advance. We spent time in the gift shop before it was time for our tour.</p>

<p>The shuttle bus took us up to the complex and then we got out and entered the grounds. First thing we saw were the guest houses. One of them, named Casa del Mar, could well have been its own mansion, with its eighteen rooms.</p>

<andeys-trip-pic class="left" data-trip-pic="hearst-pool"></andeys-trip-pic>

<p>A true visual treat came when we got to the Neptune Pool. It was a beautiful blue-green swimming pool surrounding by statuary and Roman style structures. Unfortunately, you are no longer allowed to swim in this pool.</p>

<p>After passing the front entrance of the main building, we entered the side door. Inside we saw opulance to match the grand exterior. There were grand tapestries and many antiques. Also, the dining room had the finest silver available.</p>

<p>After seeing the main building's lower floor, we entered Hearst's private theater, where we saw film footage from its heydey in the 1930s. Before hopping back on the shuttle bus, we got to see another beautiful swimming pool, the indoor Roman Plunge Pool.</p>

<p>Back at the visitor center, we took a look around the museum, where we found out more about the detail that went into building the estate. Then, we left the park and headed south to Ventura. I dropped off Yvonne, Tracy, and Alexander at the apartment of Alexander's brother Jeremiah, hung out with them for a while, then went on my own to my sister's place in Riverside to spend the night.</p>
