<andeys-trip-pic class="right" data-trip-pic="shut-in-folk"></andeys-trip-pic>

<p>In the morning, we checked out the Current River and then drove north for a while to reach Johnson's Shut-ins State Park. The shut-ins turned out to be a scenic part of the Black River filled with big rocks in which hundreds of people were playing. We hiked a short loop trail for views of the shut-ins, then left for Taum Sauk Mountain Park.</p>

<p>I wanted to hike a loop trail to see Mina Sauk Falls, but people who had just taken the trail told me it was dry. Instead, my brother and I went along a short paved route until we reached, to my surprise, the spot that was marked as the highest point in Missouri, at only a little over 1700 feet in elevation. Having come from California, I wasn't impressed.</p>

<andeys-trip-pic class="left" data-trip-pic="covered-bridge"></andeys-trip-pic>

<p>Knowing we were on the highest mountain around, we climbed up a rickety old observation tower to see the expansive view of the green Ozark Mountains.</p>

<p>On our way home, we made one more stop in Chester, Illinois, to eat our last canned soup by an historic covered bridge.</p>
