<andeys-trip-pic class="right" data-trip-pic="lincoln-home"></andeys-trip-pic>

<p>We left about 8 AM and first headed north to the state capital, Springfield, where we stopped to go on a guided tour of Lincoln Home National Historic Site. Abraham Lincoln lived there until he became president of the United States in 1860. It was somewhat interesting.</p>

<andeys-trip-pic class="left" data-trip-pic="st-louis-canyon"></andeys-trip-pic>

<p>Soon we drove further north, to Starved Rock State Park, where we walked up to a good overview of the Illinois River from a high bluff. Next, I got my parents and brother to hike with me on a short trail into St. Louis Canyon. Sometimes there is a waterfall on the high, vertical canyon walls, but I was content with the peaceful dripping of water into a small pool.</p>

<p>Our final stop of the day was Chicago, where we checked into the Best Western Inn of Chicago and walked out towards Grant Park for the Taste of Chicago Festival. It was so incredibly crowded that we had to wait at least a few minutes to taste anything and had a hard time moving around. The food was good, though, and we tried several booths, including cheesecake, chocolate covered bananas, some Thai food, and crab cakes from the gourmet booth.</p>

<p>Just in time after we finished, we got out by the fountain and watched a great fireworks show above. After making our way through the crowded streets back to the hotel, we slept.</p>
