<andeys-trip-pic class="right" data-trip-pic="lovely-cove"></andeys-trip-pic>

<p>I left Berkeley with Yvonne, and Tracy and Alexander. Our first scenic stop was a quick one at Carmel River State Beach, just to enjoy the beach. After that, we headed into Point Lobos State Reserve, parking in the north to hike the Cypress Grove Trail. It was a beautiful day, and we had great views of the rocky shore and cypress trees as we hiked the loop.</p>

<p>Driving further south in the park, we made a stop along the road to look for life in the tidepools. We were quite productive and found starfish, limpets, hermit crabs, and sea urchins. Continuing south, we then got out of the car for a short hike to admire the beautiful aquamarine color of the water in China Cove.</p>

<andeys-trip-pic class="left" data-trip-pic="mcway-falls"></andeys-trip-pic>

<p>Leaving the park, we headed for the Big Sur coast, admiring the ocean view as we drove the winding Pacific Coast Highway. To show Yvonne one of Big Sur's beautiful canyons, we entered Pfeiffer-Big Sur State Park, then hiked through the redwood forest on our way to Pfeiffer Falls.</p>

<p>Next we headed to Julia Pfeiffer Burns State Park to show one of the major highlights of Big Sur - McWay Falls. We parked and hiked the short trail until we reached a great view of the ocean and the waterfall gracefully pouring onto the beach. The sunset was also spectacular here and at one point, the sky appeared to be purple.</p>

<p>With darkness set in, we headed to the Kirk Creek Campground in the Los Padres National Forest. On the way, I spotted the lights of a distant boat near the shore, bright against the vast darkness. We reached camp, bundled up for the cold night, then cooked and ate dinner. I could hear the occasional automobile passing by on the highway, but that didn't stop me from sleeping okay.</p>
