<andeys-trip-pic class="right" data-trip-pic="scottys-castle"></andeys-trip-pic>

<p>Concerned that tours may fill up fast, we first headed to Scotty's Castle. It turned out to be easy to get the next living history tour, so we got tickets. We met at the gate with our tour, who was in 1930s costume.</p>

<p>First we entered the courtyard, where the guide introduced us to the story of the banker Albert Johnson, who built the Spanish villa to improve his health with the desert climate, and Death Valley Scotty, the shameless self-promoter, swindler and unusual friend of Johnson. He promoted the place as his own, with Johnson not protesting.</p>

<p>We toured the inside and saw the comfort that guests had been given at their stay in the castle. Occasionally, another costumed person would go by and, with the guide, would have a short conversation as if it was 1939. For example, the costumed person would ask the question &ldquo;Did you see that new film, Mr. Smith Goes to Washington?&rdquo; The tour ended with an automated performance by a big organ.</p>

<andeys-trip-pic class="left" data-trip-pic="tea-kettle-jct"></andeys-trip-pic>

<p>Back outside the castle, we wandered around the grounds and took the stairs up to the clock tower, admiring the view of the villa below. Then we hiked a trail uphill to the grave of Death Valley Scotty, which had a great view of the villa and the surrounding Grapevine Canyon.</p>

<p>After filling up on expensive gas at the castle, we drove to the overlook of the big volcanic Ubehebe Crater. I heard it really wasn't fulfilling to go down into the crater and suffer the climb back out, so instead we hiked the rim until we reached Little Hebe Crater.</p>

<p>Like the day before, we then entered a rough dirt road, leading to an area known as the Racetrack. This road was about half as long as the one to the Eureka Dunes, but it was rougher and at one point I found myself off the route, but quickly found it again. On the way there, we stopped at Teakettle Junction, where a road sign that gave distances had teakettles hanging from it.</p>

<p>We soon reached the Racetrack, a flat playa known for rocks that make tracks when it is wet and windy. The tracks dry in place afterwards, making it look like a race occured.</p>

<andeys-trip-pic class="right" data-trip-pic="check-rock"></andeys-trip-pic>

<p>First we walked to the mass of rock known as the Grandstand, in the middle of the dry lake. I then headed at my own pace to the south where I could find the sliding rocks. Joy and Terry took their own time while I had my fun running forwards, backwards, and with eyes closed on the incredible flat surface. Jim also went his own way.</p>

<p>The distances were deceptive, with everything farther than they appeared. I soon realized I had to walk quite a long way to get to the sliding rocks, but when I did, I was fascinated by what I saw. The tracks looked like some sort of haphazard race went on. Some rocks went straight, some curved, some U-turned, and some paths crossed.</p>

<p>Realizing that the sun was setting, I went to the southern parking lot and asked someone else for a ride back one mile to where I parked my car, then I drove back to where I ended my walk. Just in time, Joy and Terry had just made their way to the south end and I picked them up. I figured Jim would be at the first parking lot and was right when we drove there to find him. I didn't have that much trouble getting back to camp and when we returned we relaxed, ate, and slept.</p>
