<andeys-trip-pic class="right" data-trip-pic="sand-posts"></andeys-trip-pic>

<p>Morning was lovely in Las Cruces, so I took a short walk in the RV Park to see the mountain view, talking to a couple dog walkers along the way. When we were ready, we left town on U.S. Route 70, passing by a warning sign from the White Sands Missle Range. Fortunately, it was not flashing, so we could continue on to White Sands National Monument.</p>

<p>We visited the visitor center first to find out hiking and ranger program information, then took the Dunes Drive. It was interesting to be driving on a road surrounding by sand dunes. We went all the way to the end to start hiking the Alkali Flat Trail.</p>

<p>The white gypsum sand was beautiful, but most of it near the road had footprints. That changed when we walked the trail. Soon enough we saw nothing around but pristine sand and the occasional trail marker. We carefully tracked those markers, always scanning for the next one, which could be mostly buried. We probably would get lost without direction from them.</p>

<p>Occasionally we stopped and would play with the sand, which was soft and cool to the touch. I loved the flowing patterns, which were present in both the dune and interdune areas. When we reached the Alkali Flat the ground was indeed flat, and we could see a cluster of buildings in the distance, probably belonging to the military.</p>

<andeys-trip-pic class="left" data-trip-pic="pedestal"></andeys-trip-pic>

<p>The walk back felt longer, because the only thing we could see in front of us was an unending horizon of white sand. However, we did spot two other people ahead of us, the only others we saw on this trail. It was a relief to finally see the parking lot and our car. We drove over to an interesting picnic site that had tables shaded by curved metal roofs, looking quite futuristic.</p>

<p>After eating, we met with a ranger for a guided sunset hike of a different area of dunes than those we walked earlier. It had more plants here, especially soaptree yuccas, the state flower of New Mexico. We saw how they survived by clinging on the sand as it shifted, creating pedestals. In the end we watched the double sunset event, meaning that the first one was when the sun dropped below the mountains and the second and prettier one, was when the low light lit up the clouds.</p>

<p>With darkness here, we left the park and drove east, making our way through the Sacramento Mountains. It was a bit tough to navigate the unfamiliar mountain roads in the dark, but we made it safely to Whites City to camp.</p>
