<andeys-trip-pic class="right" data-trip-pic="tumaca-church"></andeys-trip-pic>

<p>Our first destination for the day was Tumacacori National Historic Park. We got there just as it opened and spent time looking at museum artifacts and the ruins. Tumacacori was originally a Jesuit Mission of New Spain, attempting to convert the natives.</p>

<p>After exploring the old mission, we headed for Nogales and parked the car near the border. We then crossed into the city of Nogales in the M&eacute;xican state of Sonora. It was better looking than Ju&acute;rez and we felt better walking around. This time, Joy bought Mexican blankets at one of the stores. We waited in line again upon re-entering Arizona, but had no problems.</p>

<andeys-trip-pic class="left" data-trip-pic="casa-grande"></andeys-trip-pic>

<p>Back in the car, we drove north past Tucson and ended up at Casa Grande Ruins National Monument. Casa Grande was an impressive ancient building, built before 1350 by the now gone Hohokam people. A metal roof was erected to protect the structure from the elements. Surrounding the Great House, we saw other, more highly eroded ruins of the village, including a ballcourt.</p>

<p>We ate lunch at the picnic site, shaded from the hot sun, then left for Phoenix. Once there, we made a quick stop to look at the Capitol building then continued on to California. We ate our dinner at a rest stop then stopped in Riverside to visit my sister briefly. I thought my long drive was over when we reached Whittier, but Joy found out she left her keys at my sister's place, so we went back to Riverside to pick them up. Back in Whittier and quite tired, I slept at Joy's place.</p>
