<andeys-trip-pic class="right" data-trip-pic="grotto-shade"></andeys-trip-pic>

<p>We woke up early and drove through the Ouachita Mountains, reaching Petit Jean State Park by mid-morning. After going to the visitor center, we hiked the four and a half mile Seven Hollows Trail, which goes through four hollows, passing by a large, natural stone bridge and a lovely grotto. It was so humid that we seemed to sweat more if we rested, because we at least brushed past air as we moved.</p>

<andeys-trip-pic class="left" data-trip-pic="cedar-falls"></andeys-trip-pic>

<p>After a quick walk to an overlook of Cedar Falls, we decided to recover from the hot weather by eating lunch in an air conditioned lodge. Back outside again, we hiked down into the canyon for a closer look at Cedar Falls. It felt cool sitting by the pool at the base of the waterfall, but we were annoyed when some inconsiderate people hurled rocks from overlooks above, which could have hit us.</p>

<p>We drove off in the car just as a thunderstorm hit and made our way to Springfield, Missouri. It took longer than I anticipated and we ended up at our destination, Fantastic Caverns, just before dusk. The caverns were still open for tours so we took one, which ended up having only two other tourists. What is unique about these caverns is that they are the only ones in the United States where you can tour the cave by tram.</p>

<p>After leaving the caves, we encountered another storm while driving, which worried me because we were going to camp again. Forunately, when we arrived late at night at the campsite in Ozark National Scenic Riverways, it was quite pleasant. We set up tent and ate quickly so we could sleep soon after midnight.</p>
