<andeys-trip-pic class="right" data-trip-pic="couch-kids"></andeys-trip-pic>

<p>I hung out and played with my niece and nephew for the day, then ate Thanksgiving dinner with the family. It was a traditional dinner, except that we had stuffed cornish hens rather than turkey. We also took time to call my parents in Illinois to wish them a happy Thanksgiving.</p>

<p>After dinner, I went to Whittier to stay at Joy's place for the night. I had to be ready to get up early the next morning for our trip to Death Valley.</p>
