<andeys-trip-pic class="right" data-trip-pic="red-tree"></andeys-trip-pic>

<p>It was lovely to watch the morning sun light up the Guadalupe Mountains. We stopped at the headquarters for hiking information, then left for McKittrick Canyon, making a stop at the visitor center for more detailed information before hiking.</p>

<p>Starting down the trail, we saw only a dry Chihuahuan Desert. Soon, though, we encountered McKittrick Creek and as the canyon walls closed in, the route became more shady. We even saw some mule deer feeding nearby.</p>

<andeys-trip-pic class="left" data-trip-pic="deer-head"></andeys-trip-pic>

<p>The ranger told us the peak of the autumn foliage was the week before, but what we saw still impressed us. What I found most visually appealing was the bright red color of the bigtooth maple. Towering canyon walls and clear blue sky added even more to the wonderful experience.</p>

<p>Along the trail, we stopped at the historic Pratt Cabin, where we talked to a volunteer staying there. He showed us around, pointing up to a old mounted head of a local species of deer now extinct. We said goodbye then kept going until we reached the unoccupied Hunter Line Shack with a great view of South McKittrick Canyon and more autumn foliage. We ate at picnic tables next to the Grotto, which looked like a dried out cave with rough looking stalactites and stalagmites.</p>

<andeys-trip-pic class="right" data-trip-pic="dry-grotto"></andeys-trip-pic>

<p>There was a long way to go to our next campsite, so we headed back on the trail to our car. Driving out, we made a quick stop to see the ruins of the Pine Spring Stage Stand, then headed south. Our route took us through the mountains, where we spotted the W.J. McDonald Observatory and stopped to look at Fort Davis National Historic Site through a closed gate. Daylight waned after we passed Alpine and was completely gone by the time we entered Big Bend National Park from the west.</p>

<p>We made our way to Rio Grande Village to set up camp. On the way, my car headlights surprised an adorable family of javelinas, which are pig-like but not related to pigs. At camp, we were going to cook, but were so disgusted with the amount of bugs flying around that we ate inside the tent.</p>

<p>Not ready to sleep yet, we decided to check out the historic Hot Springs area nearby. The dirt road there was interesting to drive but not that difficult. We got out of the car to look around with flashlights, finding old building ruins. Walking a little further, we discovered that we were right next to the Rio Grande River. It was a bit erie to be there at night, so we returned to camp and slept.</p>
