<andeys-trip-pic class="right" data-trip-pic="rock-towers"></andeys-trip-pic>

<p>In the morning, we returned to Chiricahua National Monument to see the place known as the &ldquo;Land of the Standing-Up Rocks.&rdquo; Right inside the entrance was the Erickson Cemetary, holding the people who lived in historic Faraway Ranch in the park.</p>

<p>After getting sightseeing recommendations and trail information from the visitor center, we took scenic Bonita Canyon Drive further into the park. We passed by and stopped at neck straining views of towering rocks, which became more and more numerous as we went uphill. At Massai Point, the hillsides were just packed with these rock towers, like trees in a dense forest. We took the nature trail to enjoy some of these vistas. We also drove off to the trailhead for Sugarloaf Mountain to see more views.</p>

<andeys-trip-pic class="left" data-trip-pic="tall-rock"></andeys-trip-pic>

<p>Returning down the road, we parked at the Echo Canyon Trailhead for our loop hike. We had so much fun among the rocks, going under, on, and between these towering formations. Even though it was a big land of rocks, the view was never quite the same anywhere along the trail.</p>

<p>After enjoying our hike, we decided to check out Faraway Ranch, and got free tickets for the next tour. The house had a combination of items from the nineteenth century all the way up to the 1960s. A particular item of interest were the bricks in the fireplace. When in the area, some buffalo solders engraved their names and dates into stones. Decades later, one of the owners of the ranch then placed the stones around the fireplace to preserve them.</p>

<andeys-trip-pic class="right" data-trip-pic="brick"></andeys-trip-pic>

<p>After the tour, we left the park and headed to Tucson for dinner. First, we looked around for a place called Triple C Chuckwagon Suppers, curious about the western entertainment, but found out it was closed. We ended up at Cafe Terra Cotta in St. Philips Plaza, where we tried their Southwest cuisine. It was delicious.</p>

<p>Satisfied with dinner, we drove south on Interstate 19 to camp at the Upper White Rock Campground in the Pena Blanca Recreation Area of the Coronado National Forest. The toilets were gross, but we dealt with them for just this night.</p>
