<andeys-trip-pic class="right" data-trip-pic="roadrunner"></andeys-trip-pic>

<p>Early in the morning, Jim arrived at Joy's place. We then all took off to Compton to pick up Terry. With everybody ready, we made the long drive to Death Valley National Park.</p>

<p>After stopping by the visitor center for road and camping information, we made our way to to the Mesquite Springs Campground at the northern end of the park. While we were setting up camp and eating lunch, a roadrunner paid us a quick visit.</p>

<p>We left camp soon after, going north. On the road that leads to Ubehebe Crater, we turned right onto a dirt road. A sign across it said &ldquo;Road Closed to Thru Traffic,&rdquo; but that didn't concern me. The ranger I met earlier had said it was passable for high clearance vehicles, so I drove around the sign. I knew, though, that no auto agency would help me if I got stuck on this road.</p>

<andeys-trip-pic class="left" data-trip-pic="dune-walk"></andeys-trip-pic>

<p>It was a bumpy trip, mostly in the first stretches, but I was careful to watch for all the big rocks in the road. Other than the ruins of the Crater Mine, we didn't see any notable landmarks until we entered Eureka Valley. Looming bigger and bigger were the Eureka Dunes. The light color of the sand beautifully contrasted with the dark surroundings.</p>

<p>We parked at the base of the dunes and started climbing them. I wanted to go to the highest point, but the rest of the group seemed satisfied to make it to a high ridge with a great view of the valley.</p>

<p>I had heard that these dunes &ldquo;sang&rdquo; in the wind, so I figured they might make noise sliding down them. I made the Kelso Dunes do that in Mojave National Preserve. Here, though, I was unsuccessful, but Terry managed to make the sand groan a little bit.</p>

<andeys-trip-pic class="right" data-trip-pic="eureka-dunes"></andeys-trip-pic>

<p>After making it down the dunes fast, we returned to the car to drive the forty-four mile rough road back the way we came. Night fell soon afterwards, and that made the road much harder to navigate. At times, I wasn't even sure where the road was, because of washouts, but my intuition told me just go straight until we found more evidence of road.</p>

<p>We were surprised to find anybody else out on this remote road at night, but there were two other cars going in the opposite direction, including a regular passenger car. They had stopped to ask us about the road conditions and I told them about our experience with the road.</p>

<p>Once we got on the pavement again, we drove to Furnace Creek to check it out and get supplies. I noticed it was comfortably warm out there below sea level. Then we returned to camp, and I noticed how cold it was at 1,800 feet in elevation. We ate dinner then slept.</p>
