<p>Joy and I left early in the morning, headed south towards San Diego. We then turned east onto Interstate 8, passing by a factory outlet with beautiful, simple architecture. The landscape changed from rocky hills to the fertile Imperial Valley to the sandy expanse of the Algodones Dunes before crossing the Colorado River and into Arizona.</p>

<andeys-trip-pic class="right" data-trip-pic="teddy-cholla"></andeys-trip-pic>

<p>In Arizona, we knew from the map that we were driving near a restricted bombing area, especially on route 85, but we didn't see any activity. We made it to Organ Pipe Cactus National Monument, stopping at the visitor center to register for a campsite. It was a flat campsite, interspersed with cacti. We noticed around us that we were the only tent around, with everybody else in an RV.</p>

<p>We had some daylight left after setting up the tent, so we started hiking the Desert View Nature Trail. After a false start towards the water tank, we found the trail and read the interpretive signs along the way. I was delighted to find such a variety of desert plants. The view was also good. I knew when I was looking south, that I was peering into M&eacute;xico.</p>

<p>After sunset, we returned to camp to eat. Just out of curiousity, we drove further south to Lukeville to see what the international border crossing looked at that point. There was a convenience store there, where we we bought some more supplies. Back at camp, we went to sleep.</p>
