<andeys-trip-pic class="right" data-trip-pic="co-capitol"></andeys-trip-pic>

<p>We finally left the condo this day and headed east to Denver, stopping downtown at the Denver Mint. I was interested in seeing the mint, but found out it was closed on Saturdays. With the security surrounding it, I figured this would be a safe place to park and we walked over to the Capitol Building.</p>

<p>We signed up for the free tour of the Capitol and looked at the impressive entryway. I noticed some quilts hanging on display. Apparently, there was some sort of quilt show going on.</p>

<p>The tour itself talked about the history of the Capitol, describing the details of the paintings, decorations, and materials used to make the building. I thought the Colorado Rose Onyx was particularly beautiful marble. I was told that it was so rare that the only known source of it was used up to beautify the Capitol.</p>

<p>On the steps outside, the tour guide showed us the inscription that marked the elevation at one mile, hence the city's nickname &ldquo;Mile High City.&rdquo; She also showed us the later corrected mile high marker, on a slightly higher step.</p>

<p>At the end of the tour, we had the option of going up the narrow stairs to the dome, so my brother and I did while my mom waited. The view was great of the downtown area, with many lovely buildings surrounding the Capitol.</p>

<p>Going back down we headed outside to the garden and plaza with fountain to enjoy the beautiful day. We then left for Kansas. The drive east of Denver became monotonous and I let my mom drive while I took a rest, watching big clouds build up in the sky across the plains. We arrived in Salina to stay the night and eat dinner.</p>
