<andeys-trip-pic class="right" data-trip-pic="chicago-skyline"></andeys-trip-pic>

<p>We woke up early enough that I had time to write some postcards before we headed out to our planned boat tour of the Chicago River. Offered by the Chicago Architecture Foundation, the tour described the architecture of selected buildings as we floated by them. I was impressed with the design of many of the buildings we passed. It was also good to be on the cooling river on this hot and humid day. At one point, we exited into Lake Michigan for a great view of the skyline.</p>

<andeys-trip-pic class="left" data-trip-pic="sears-tower"></andeys-trip-pic>

<p>My mom felt tired afterwards and went back to the hotel. The rest of us ate lunch at a cafe next to the Chicago River. We walked downtown for several blocks, admiring more interesting buildings, until we arrived at the Sears Tower.</p>

<p>We decided to brave the crowds at the Sears Tower and started waiting in line. At least the wait to go up the tallest building in the United States was all indoors. It was a long wait, though, taking more than an hour. The view was spectacular once we got up to the 103rd floor.</p>

<p>After going back to street level, we headed towards the elevated train and took it south. However, by the time we got to the station near the Museum of Science and Industry, I realized the museum wasn't going to be open long, so we rode the train back and transferred to the subway briefly to get back to the hotel. My parents were tired, so for dinner we stayed in and had Chicago deep-dish pizza delivered from Gino's East &mdash; pretty good. Then we watched the movie <em>Shakespeare in Love</em> on the pay-per-view channel.</p>
