<andeys-trip-pic class="right" data-trip-pic="medano"></andeys-trip-pic>

<p>My mom wanted to relax in the condo, so just my brother and I set out south for Great Sand Dunes National Monument, taking the Top O' The Rockies Scenic Highway. As we approached we started seeing the sand dunes, backed spectacularly by the Sangre De Cristo Mountains. It seemed odd to have sand dunes here, but we found that, over time, sand from the riverbed of the Rio Grande blew away until blocked by the mountains, creating the dunes.</p>

<andeys-trip-pic class="left" data-trip-pic="cumulous"></andeys-trip-pic>

<p>We parked ready to head out to the dunes, the tallest ones in North America. However, when we made our way through the line of trees we found ourselves having to cross a creek &mdash; Medano Creek. I was surprised to see water here on the dunes. It looked like a beach scene, with people wading and even playing volleyball. The first thing I wanted to do, though, was hike the dunes, so I went back to the car to put on my waterproof shoes.</p>

<p>After crossing the creek, we just made our way up and up the sand dunes until we could get to the highest point. In the meantime, the cumulous clouds put on a impressive display of size and shape. Once we reached the top, I could see a spectacular view of the dune field. Written on the sand nearby, I found the words &ldquo;Wow, you made it. What now?&rdquo;</p>

<p>Also at the top, I could see distant rain and lightning. Not wanting to get struck, my brother and I ran back down the slopes. It was fun and we got plenty of sand in our shoes. Once we got off the slopes, we were not done yet, because we had to cross a flat sand sheet.</p>

<andeys-trip-pic class="right" data-trip-pic="high-dune"></andeys-trip-pic>

<p>When we reached the creek, I realized the danger of a thunderstorm was not so imminent and we were close to safety, so we put on our sandals and waded in Medano Creek. I purposely disoriented myself by walking with or against the flow of the creek while using only the flowing water as a visual point of reference. Another great thing to watch was how the flow slowed and quickened as water pushed the sand into little dams then broke them.</p>

<p>After drying our feet, we went inside into the visitor center to see the exhibits, then took a short walk outside it to read the interpretive signs about the ecosystem near the dunes. As it became cold and stormy, we left for our condo in Avon.</p>
