<andeys-trip-pic class="right" data-trip-pic="mammoth"></andeys-trip-pic>

<p>It was 7 AM and we got up and ready for a full day. First, we took a minor tour of the statues on the grounds of the Capitol and the surrounding beautiful houses, including the Governor's Mansion. Then we finished off our exploration of the Nevada State Museum, which included seeing a complete skeleton of the whooly mammoth.</p>

<p>Next stop was the historic town of Virginia City. As I expected, it was a little bit too touristy for my taste, offering many shops selling food and trinkets, but among the tourist traps, there was some interesting history. We first toured a house known as The Castle which contained many imported European artifacts and demonstrated just how opulent some residents of the city were in its boom days.</p>

<p>While we walked around the stores, people in costumed western wear were telling tourists about a gunfight show scheduled to happen just down the hill. We started going out of curiosity, but soon discovered they charged admission. It looked too cheesy to spend money on, so we went back up to the main street.</p>

<andeys-trip-pic class="left" data-trip-pic="steam-train"></andeys-trip-pic>

<p>Alex expressed interest in the link between this town and the famous writer Mark Twain (a.k.a. Samuel Clemens). Apparently, Mark Twain wrote for the <em>Territorial Enterprise,</em> the town's newspaper and the first one published in Nevada. We went underneath a store to see a museum showing the desk the writer used as well as other antiques associated with the paper.</p>

<p>We got back into the car to take the trip to the cemetery on the hill overlooking the town. We looked around for particularly interesting epitaphs but found only the standard inscriptions. However, we did have a good view of the small town.</p>

<p>We took the car and drove back into town to see the Chollar Mine. The mine was described as historically the richest gold and silver mine in the town, so we signed up for the tour. After ducking under low ceilings we came to a room where the guide told us about the history and geology of the area. Some of it was interesting, but much of it seemed too technical for the little kids who were on the tour.</p>

<andeys-trip-pic class="right" data-trip-pic="sand-tracks"></andeys-trip-pic>

<p>We left the mine just in time for the next scheduled run of the Virginia &amp; Truckee Short Line Railroad, so we bought tickets and boarded the steam train. The ride turned out to be the most fun attraction in the town, because we passed by and through tunnels and saw the ruins of other mining claims on our way to the town of Gold Hill. We watched the train engine detach, turn around, then re-attach to the passenger cars to take us back to Virginia City.</p>

<p>For lunch, we stopped in a saloon for hot dogs and drinks, then left town for the Sand Mountain Recreation Area, much farther east. The landscape soon became desolate as we left the historic area After passing the town of Fallon, I only saw miles of empty looking desert land until we came upon some huge 600 foot tall sand dunes.</p>

<p>The dunes were impressive, but more interesting were the hundreds of tents and RVs scattered haphazardly at the base of the sand dunes like a big temporary city. As we approached, we also saw that many dirt bikes and dune buggies were speeding up and down the slopes of the dune. This was an off-highway vehicle heaven. We stopped our car by the dunes and Alex and I hiked partway up to watch the action close up. This was definitely not the place for quiet solitude.</p>

<andeys-trip-pic class="left" data-trip-pic="petroglyphs"></andeys-trip-pic>

<p>We headed back down to get away from the noise and sand then arrived at the nearby historic Pony Express Station, a mail service that used horses to quickly take letters from Missouri to California in 10-15 days. It got discontinued when the railroad was completed. We explored the ruins and walked around the desert.</p>

<p>To my surprise, I found myself bitten twice by mosquitoes. I did not expect any at all out there in the desert. Susie got more bites than me, but Alex remained unscathed.</p>

<p>By the road, which had been deemed the &ldquo;Loneliest Highway in America,&rdquo; I found a phone labeled the &ldquo;America's Loneliest Telephone.&rdquo; I used the wireless microwave phone to make a calling card call (no coins accepted) to my friend Joy and told her sister to give Joy a birthday greeting on my behalf.</p>

<p>We left the area and headed back to Fallon, our last stop being at Grimes Point, where we walked around, looking at petroglyphs created over 7,000 years ago. After observing a beautiful sunset, we made our way back to Carson City, where we ate at Denny's and then showered and slept at the motel.</p>
