<p>I woke up at Howard and Suk-King's house, having arrived the night before from Berkeley. Li-Li soon arrived and we loaded up the car and got an early start towards Oregon.</p>

<andeys-trip-pic class="right" data-trip-pic="annie-creek"></andeys-trip-pic>

<p>Our first significant stop was in the town of Ashland, Oregon, where we found a picnic spot in beautiful Lithia Park, with a lovely stream nearby. My friends brought out delicious food which we all eagerly ate. Li-Li tried out the swings on the playground, then we all headed off to Crater Lake National Park.</p>

<p>The first thing we did in the park was register for a campsite in Mazama Village then set up our tents in the campground. We then drove to the Rim Village to get our first glimpse of the gorgeous lake while walking down to the Sinnot Memorial Overlook. Displays about the lake lined the top of the low wall of the overlook. One particularly interesting fact I read about was that the lake originally had no fish until it was stocked with them in 1888, so fishing was free and did not require a license.</p>

<p>Two friends in the group were architects, so I thought it would be in their interest to visit the Crater Lake Lodge, an historic building remodeled in the early 1990s to look like it did in the 1920s. We relaxed on chairs inside the Great Hall and then outside on the deck for a spectacular lake view.</p>

<p>I consulted the park's newsletter for things to do late in the day and found the short hike through Annie Creek Canyon doable. We returned to our campsite near the trailhead, then started down the trail. The canyon turned out to be a beautiful, lush canyon. Part of the trail followed the scenic creek, passing by some interesting cliffs and pinnacles. After making the somewhat steep climb back out, we returned to our camp to eat good food and sleep.</p>
