<p>We took the scenic road known as The Trace, which ran the length of Land Between The Lakes National Recreation Area. However, we didn't really see anything of note except for the Great Western Furnace, which produced iron in the nineteenth century. At one point, we stopped to look for elk and bison, but didn't see any. After making it to Interstate 24, we quickly made our way through Kentucky and into Illinois, getting home in time for dinner.</p>

<andeys-trip-pic data-trip-pic="furnace"></andeys-trip-pic>
