<andeys-trip-pic class="right" data-trip-pic="glass-floor"></andeys-trip-pic>

<p>I had heard that parking in downtown Toronto was difficult, so we parked our car at one of the GO Train stations west of there, then took the train to Union Station in downtown. We walked the pedestrian skyway until we reached the &ldquo;World's Tallest Building&rdquo; &mdash; the CN Tower. There was little waiting to get in and soon we were up the elevator and onto the observation deck. The view was great, though obscured a bit by the clouds.</p>

<p>My main reason for an interest in the CN Tower was not for the surrounding view, but for the glass floor one level down from the observation deck. To the delight of onlookers, they watched me and my brother walk on the glass, even while looking straight down to the ground far, far below. I found the experience a little disorienting but not frightening. We also went to the outside (but enclosed) observation area, where my brother and I had fun trying to walk in the strong winds.</p>

<andeys-trip-pic class="left" data-trip-pic="casa-loma"></andeys-trip-pic>

<p>Back on the ground floor of the tower, we looked for something to eat from the food vendors, but decided instead to go for an inexpensive breakfast place along the skyway, which turned out to be good. We then took the GO Train north to Casa Loma, a medieval style castle built in the 1910s, the dream house of a guy named Sir Henry Mill Pellatt. Entering the castle, my brother ran into a friend of his! We don't often run into friends on our trips.</p>

<p>The ticket included an audio tour. Even though we enjoyed looking at the magnificent furnishings, we weren't patient enough to stay in each room long enough to hear the story of that room. The best part for me was climbing up both the Scottish Tower and the Norman Tower for views of the city. We also took time to walk the beautiful gardens and the long tunnel underneath that led to the stables, carriage room, and potting shed.</p>

<andeys-trip-pic class="right" data-trip-pic="on-parliament"></andeys-trip-pic>

<p>After finishing the tour, we took a GO Train back to downtown Toronto, then walked to Queen's Park. We entered the Ontario Legislative Building and found out we could see a live session, so we got passes to go up to the viewing gallery. I didn't really pay much attention to what was going on, instead noticing the arrangement and decorations, including The Mace that symbolizes the authority of the speaker.</p>

<p>Getting out of town was tough, because we timed it along with the peak evening traffic. By late evening, we reached Kingston and checked into a motel. With some light left, we took a walk along the shore in a city park, then went to eat at a good restaurant that had the name Chez Piggy. Afterwards, we returned to the motel to sleep.</p>
