<p>We finally left our condo in Beaupr&eacute; and headed southward, passing Qu&eacute;bec City and many small towns south of it. Once we reached Maine, in the United States, we exchanged our currency into U.S. Dollars and continued on. Pretty soon, all the radio stations were English only and the towns became sparse. Further into Maine, the road ran alongside the lovely Kennebec River.</p>

<andeys-trip-pic class="right" data-trip-pic="gull-islands"></andeys-trip-pic>

<p>Eventually, we reached Ellsworth, where we checked into a motel, then left for Mount Desert Island in Acadia National Park. Our first stop was the visitor center, where a ranger gave us good suggestions for enjoying the park. After that, we drove up to Cadillac Mountain, the highest point in the park. It was quite windy and skies were overcast, but the view was still good, with views of the rugged coast and the islands beyond.</p>

<andeys-trip-pic class="left" data-trip-pic="thunder-hole"></andeys-trip-pic>

<p>After struggling with the car door in the wind, we drove back down and started going clockwise on the scenic Park Loop Road. We passed some gorgeous lupines in bloom, then reached Sand Beach to get our first contact with the Atlantic Ocean on this trip. I also found out sandy ocean beaches were uncommon in the park.</p>

<p>Our next stop was Thunder Hole. Descending from the parking lot, we soon could hear a loud boom. We discovered that there was a narrow hole in the rock into which waves were crashing. Air trapped in the hole by the waves would boom once it got free, which we could feel as we watched from the railing.</p>

<p>Back in the car again, we drove by more scenic coast, including the steep Otter Cliffs. Across a small inlet, I could see a lone house on private land, overlooking the sea. It must be expensive, I thought.</p>

<p>Soon, the road turned and headed into the interior of the island, where we entered the forest. Our first sight here was Jordan Pond, a big pond from which across I could see a pair of rounded mountains known as the Bubbles. I planned to hike one of them soon.</p>

<andeys-trip-pic class="right" data-trip-pic="erratic"></andeys-trip-pic>

<p>Continuing on the road, we then came to an overlook to see a big boulder sitting on the edge of the cliff on South Bubble. It was a glacial erratic, left stranded there when the glaciers retreated thousands of years ago. I was interested in seeing it close up, so off we hiked to South Bubble.</p>

<p>We made a false start, going in the wrong direction, but soon found our way to the top to the elevation sign, reading 768 feet. The glacial erratic near there was even bigger than I expected. It looked like you could just push it over, but it seemed well anchored when I tried to nudge it.</p>

<andeys-trip-pic class="left" data-trip-pic="north-bubble"></andeys-trip-pic>

<p>Realizing the hike to South Bubble didn't take that long, we felt ambitious enough to also go up North Bubble. At the top, not only did we have a great view overlooking Jordon Pond, but the feeling of clouds sailing by us was exhilarating. It was getting colder and cloudier, though, so we went back down to the car where my mom was waiting, then we all drove back to Ellsworth.</p>

<p>All along our drive, we saw many signs for lobster meals. We decided to stop at a place in Ellsworth where we all had lobster dinner. It was definitely a better value than at home in California. I do wish, though, that I had gotten the full lobster that my mom did, instead of just lobster with oyster crackers. After the meal, we returned to our motel room for the night.</p>
