<andeys-trip-pic class="right" data-trip-pic="old-guard"></andeys-trip-pic>

<p>I saw sunrise as I was leaving Horsham, taking the train to Charing Cross Station in London. From there, I took a leisurely stroll down The Mall, passing Nelson's Column, Duke of York Column, and a statue of James Cook. Then, I entered St. James Park, where I read a sign warning not to buy from hot dog vendors. Good thing I hadn't done that before.</p>

<p>Soon, I reached Buckingham Palace, where people started gathering for the Changing of the Guard. Being a bit early, I went right up to the gates to wait, reading my guide book to pass the time. While there, I also met and talked to a woman tourist from Virginia, there with her parents from Kentucky. Before the ceremony, a truck drove by and dropped off the music stands for the band.</p>

<andeys-trip-pic class="left" data-trip-pic="big-ben"></andeys-trip-pic>

<p>First, the Old Guard, along with its band, entered, dressed in gray winter coats and bearskin hats. Some hats were so low that I wondered if the guards with them could see properly. After some shouting and marching, the New Guard and band entered. I was surprised that they had different, more modern looking hats.</p>

<p>After the Old and New Guards met, the New Guard band picked up their music stands and instruments, then started playing songs. Meanwhile, two flag bearers marched back and forth by the building. Finally, the Old Guard exited the palace gates, followed by the New Guard.</p>

<andeys-trip-pic class="right" data-trip-pic="abbey-exit"></andeys-trip-pic>

<p>On this gorgeous day, I next headed to the Houses of Parliament to see the beautiful Gothic Revival building. Parliament was not in session, so I went next door to Westminster Abbey. Inside was impressive, though crowded with people all trying to see the memorials to kings, queens, and other royals. One corner memorialised and honoured many writers, actors, and musicians, notably William Shakespeare, Geoffrey Chaucer, and George Frederick Handel.</p>

<p>I noticed that the Coronation Chair had graffiti on it. There was another one with graffiti in the Undercroft Museum and I discovered that the graffiti was done by Westminster Choir Boys in the nineteenth century. Also in that museum were the funeral effigies of some kings and queens. Before that I saw the Pyx Chamber, which contained some of the Abbey's treasures, and the Chapter House with its big stained glass windows.</p>

<p>After enjoying the weather, walking in Westminster Abbey's College Garden, I left to take the Tube to the South Bank. There, I tried to find my way to the British Airways London Eye, but gave up and found a a small eatery, where I took away some fish and chips. Next, I headed to the British Museum, but realised I did not have much time to see much, so I returned to Westminster.</p>

<andeys-trip-pic class="left" data-trip-pic="war-cabinet"></andeys-trip-pic>

<p>In what looked like an underground bunker stood the Cabinet War Rooms, where the British War Cabinet operated under the command of Winston Churchill during the second World War. From the displays and the audio guide, I got an idea of what life was like for them during the German bombing of London campaign. People at the time were nervously expecting an invasion, which never happened, fortunately for them.</p>

<p>I left the musem just as it closed, in time to hear Big Ben sound the six o'clock chimes. With all the museums closed, I went over to Harrods of Knightsbridge to peruse the luxury items. The food available in the food court was also impressive. I spent only 99 pence, buying an Orangina to drink and getting a receipt and small bag, which I kept as souvenirs. After that, I returned to Horsham.</p>
