<andeys-trip-pic class="right" data-trip-pic="pointe-noire"></andeys-trip-pic>

<p>We drove east on Route 138, then detoured to Route 362, where we made a stop in Baie-Ste-Paul for a view of the bay and a look around the visitor centre. Back on our way, we reached Baie-Ste-Catherine, where we signed up for a whale watching tour. The next one wasn't for a while, so we drove to Pointe Noire.</p>

<p>Walking down to the point, I encountered a park naturalist who didn't speak English well. However, she didn't need to do that to show me that there were beluga whales surfacing at the mouth of the Saguenay Fjord. With my binoculars, I could see two of them, their white backs barely breaking the surface.</p>

<andeys-trip-pic class="left" data-trip-pic="auto-ferry"></andeys-trip-pic>

<p>Continuing on down, we passed through the visitor centre and took more steps down. I realized around then that all the park employees appeared to be female, and quite lovely ones too. I wonder how this came to be? After we explored the buildings at the tip of Pointe Noire, we headed back to our car.</p>

<p>Still with some time to spare, we drove onto the ferry that crossed the Saguenay Fjord. We had enough time in transit to get out of the car and enjoy the sea air from the deck. When the ferry docked, we drove off it into the town of Tadoussac briefly, then turned back and waited for then drove onto a return ferry.</p>

<p>Soon we were back at the dock for the whale watching cruises, waiting for our ship to stop by. When it docked, we boarded and I braved the cold breeze looking for whales. It took a while, but they started showing up more and more. First came the fin whales with their fins jutting out of the water, then came the minke whales, with their spouts ejecting water.</p>

<andeys-trip-pic class="right" data-trip-pic="whale-boat"></andeys-trip-pic>

<p>I took many pictures of the whales. The best opportunity came, though, when I had to reload my film. Closer to the whales was a smaller craft of whale watchers. I noticed they got incredibly close views of the whales surfacing.</p>

<p>While returning to dock, I watched a naturalist giving a description of whale mating with the help of killer whale puppets. I also had something to eat while on deck and was surprised I didn't get seasick at all. After leaving the boat, it was late afternoon, and we returned to our condo for the day.</p>
