<andeys-trip-pic class="right" data-trip-pic="kanawha"></andeys-trip-pic>

<p>We woke up to a lovely view of the Kanawha River, just outside our motel room. It felt like we weren't in a city at all, let alone the capital. We left soon, though, and made our way west into Kentucky.</p>

<p>Our first stop on our return trip home was the Capitol in Frankort. We got out of the car just to enjoy the view of the magnificent building and walk around the beautiful, landscaped gardens.</p>

<andeys-trip-pic class="left" data-trip-pic="ky-capitol"></andeys-trip-pic>

<p>Continuing our drive, we discovered the radio station at 96.1 FM playing the song &ldquo;Louie, Louie&rdquo; without end. It would keep playing any version of the song, only interrupting to identify the station and say things like &ldquo;even the boss likes Louie!&rdquo; I would change the station to listen to other music, but then come back to the Louie station just to see if they were still playing the song &mdash; and indeed they were!</p>

<p>The station faded before we entered Louisville, after which we crossed into the state of Indiana. I wanted to check out the Wyandotte Caves not far from the interstate, so took the exit to go there, passing by a view of the Ohio River. It turned out that the next tour was not convenient to us and my mom really wanted to get home, so we had to leave, continuing on to Illinois. Finally, we got home in time to have a home made dinner and relax.</p>
