<p>This day was a long one of driving. Most of the land along the highway was flat until we reached Ohio, where I started noticing hills. We passed by some lovely forest going through the Cuyahoga Valley National Recreation Area, then got our first glimpses of Lake Ontario in Pennsylvania. All the while, I would trade off driving with my brother. But I didn't get any rest, because I had to watch him. He had hardly any experience before behind the wheel.</p>

<andeys-trip-pic class="right" data-trip-pic="niagara-lights"></andeys-trip-pic>

<p>We passed Buffalo, New York and finally arrived at a motel on Grand Island. I remembered a friend telling me not to miss the display of Niagara Falls at night, so my brother and I took off to see it while my mom relaxed in our room.</p>

<p>After crossing the toll bridge, we followed the signs until we found a big parking lot. I could hear the falls and grabbed my camera and tripod. I was not disappointed. A colorful light show was in progress, making for a dazzling visual display on the already immense waterfall. I took pictures by the railing, then we tried to go to the Prospect Point Tower, but found out it had just closed. We were happy enough with what we saw and returned to our motel room to eat and sleep.</p>
