<andeys-trip-pic class="right" data-trip-pic="chimney-rock"></andeys-trip-pic>

<p>In the morning, we decided to go on the short hike by our campsite leading to Crabtree Falls. Seeing flowers and the 60 foot waterfall made for a good start to the day. We then left the campground, drove briefly on the Blue Ridge Parkway, then took long, winding mountain roads to Chimney Rock.</p>

<p>In Chimney Rock, we headed up to Chimney Rock Park. The namesake of the park and town was a towering monolith surrounded by other dramatic rock cliffs. After parking below the rock, we took an elevator to the top, ending up at a gift shop. Then it was an easy walk to Chimney Rock, with great views of the valley and Lake Lure.</p>

<andeys-trip-pic class="left" data-trip-pic="cliff-trail"></andeys-trip-pic>

<p>Not satisifed with a short walk, we continued on to the Opera Box, a seating area under a rock overhang with great views of Chimney Rock, Hickory Nut Gorge, and a curious rock formation known as Devil's Head. Climbing a set of stairs, we then hiked the Skyline Trail to Exclamation Point, which had even better views of the gorge.</p>

<p>Later on, we started getting a glimpse of Hickory Nut Falls before we actually got to the brink of the 404 foot waterfall. On this beautiful day, there were people enjoying the pools above the falls, protected from the edge by fencing. Descending from there on the Cliff Trail was quite interesting, because it closely hugged the steep cliffsides.</p>

<p>After a detour to climb the spiral staircase to Rock Pile, we tried out a low passage known as the Subway, then took stairs down through the narrow Needle's Eye. A couple in front us were fascinated by the experience, but I had seen similar places before.</p>

<andeys-trip-pic class="right" data-trip-pic="sunburst"></andeys-trip-pic>

At the bottom of the trail were picnic tables and concessions as well as somebody playing music for tips. Nearby we found Moonshiner's Cave, which was quite cool. Barely lighted in the dark below was an authentic moonshine still.

Back in the car, we drove out of Chimney Rock and re-entered the Blue Ridge Parkway near Asheville. We enjoyed the mountain views, stopped at the highest point in the road at 6053 feet, then left for the Balsam Mountain Camping Area in Great Smoky Mountains National Park.

With daylight left after setting up camp, we wanted to hike, but heard distant thunder, so instead just took the drive to the Heintooga Overlook. It was quite an inspiring view, because sun beams were bursting out of the clouds over the mountains. We returned to our campsite after that to eat and sleep.
