<andeys-trip-pic class="right" data-trip-pic="chunnel"></andeys-trip-pic>

<p>Jiranan and signed up herself, me, and her mom on a Waterhouse coach tour to Brugge, Belgium. In the morning, we went to the railway station to wait for the coach, which soon arrived. I noticed everybody on board was English except for us. I started talking to one man who was sitting next to me about America and Europe. He said he felt America was a place that had &ldquo;nutters with guns.&rdquo;</p>

<p>After stopping for a break at the McDonalds in Dover, we boarded the coach, which subsequently boarded the train that would take us into the Channel Tunnel. When the coach parked, we were allowed to go outside into the carriage, where it was more comfortable. I could look outside the windows until we entered the tunnel.</p>

<andeys-trip-pic class="left" data-trip-pic="brugge-canal"></andeys-trip-pic>

<p>There was no problem with customs or immigration upon entering France, though we did have to show our passports. Soon we reached Calais, where some passengers were dropped off. Then the coach continued onto Belgium, passing flat countryside along the way.</p>

<p>When we reached Brugge, we were let off at 't Zand, a large traffic-free square with a central sculpture under renovation. We started walking down Steenstraat, then made a right to the canal cruise boats, where we boarded a small boat in time for the next tour. I was delighted by the beautiful Flemish architecture lining the canals and stood up to take many pictures while watching out for bridges.</p>

<andeys-trip-pic class="right" data-trip-pic="belfry"></andeys-trip-pic>

<p>After the cruise, we went to the Markt, where we separated. Jiranan and her mom went shopping while I went to the Belfry to climb the steps of the tower. First I stopped at the toilet, which charged a fee. The steps of the tower were quite narrow, so I had to squeeze by other tourists going the other direction.</p>

<p>Once I reached the top, I was impressed with the view. The spire of Onze-Lieve-Vrauwekerk rose high above the buildings as did Kathedral St. Salvator to a lesser extent. Below me, I could see the colorful umbrellas of the outdoor restaurants in the Markt. Above me, I saw the many bells and gears used to make music and chimes.</p>

<p>Back down on the ground, I then bought some &ldquo;frites&rdquo; to eat with mayonnaise, which is the way locals ate their chips. I returned to 't Zand to wait for the coach. Jiranan and her mom soon joined me. We all then boarded and left the beautiful city.</p>

<andeys-trip-pic class="left" data-trip-pic="boozers"></andeys-trip-pic>

<p>Before leaving Belgium, the coach stopped at a chocolate shop, where some of us bought chocolate while others went for tobacco. I sampled some of the delicious chocolate and bought some to give to my co-workers later. Back in France, we stopped at a wine warehouse in Calais named Boozers. People stocked up on alcohol much cheaper than found in the United Kingdom.</p>

<p>Next, we stopped at a shopping centre, where I read a display about the Channel Tunnel and bought a croissant. Unlike our entry into France, our entry into the United Kingdom was more stringent. We had to exit the coach for it to be searched, while some of our bags were inspected. Once back on, the customs official complained of the amount of alcohol on board and threatened to confiscate the coach next time.</p>

<p>Finally, we boarded the Channel Tunnel train on our way to Dover, England. The coach then drove off the train and headed for Eastbourne, where it ended up having to transfer us to another coach. The delay caused us to get back to Horsham late.</p>
