<andeys-trip-pic class="right" data-trip-pic="hershey"></andeys-trip-pic>

<p>Morning came, and after a quick breakfast in Binghamton, we headed south into Pennsylvania. Looking at a map, I realized Hershey was an easy stop on the way to Harrisburg, so we detoured there. In town, I saw an amusement park, but was looking for the company. I almost entered the employee parking lot, then found the visitor's parking area.</p>

<p>There was a big sign, saying &ldquo;Hershey's Chocolate World.&rdquo; Inside the building there were all kinds of Hershey's Chocolate for sale. We entered a corridor where audio and visual displays talked about chocolate's start in the harvesting of cocoa beans in the tropics.</p>

<p>Continuing past the displays, we found a amusement park style ride on a moving floor, which we sat in for a cartoonish tour of a Hershey chocolate factory. We got a free sample of chocolate upon leaving. During the ride a digital picture was taken of us, which they offered for sale afterwards. I didnt' care for it, but my mom bought it anyway. She also bought some chocolate from the massive store.</p>

<andeys-trip-pic class="left" data-trip-pic="grand-stairs"></andeys-trip-pic>

<p>We soon left the town of Hershey and made it to Harrisburg, the capital of Pennsylvania. I had heard the Capitol here was one of the more impressive ones in the nation, so we went inside. I was already impressed with the grand staircase I saw while waiting for a tour to begin. In the corners of the room, there were little displays about what made the state great.</p>

<p>The tour started with an explanation of the Capitol Rotunda where we were standing already. Plenty of symbols lay in the decoratios in the dome above. The tour guide also explained the decorations in the State Assembly and State Senate rooms, which we visited. However, the State Supreme Court was in session, so we couldn't go there. After the tour was done, we went to the cafeteria downstairs to eat.</p>

<p>Our last stop in Pennsylvania was Gettysburg National Military Park. At the visitor center, the ranger encouraged us to see the Electric Map Program, so we did. I regretted that, because I found it quite slow and dull, as did many others who watched the dots change on the floor below. After that, we looked at all the great Civil War artifacts in the museum and headed out as it neared closing time.</p>

<andeys-trip-pic class="right" data-trip-pic="soldiers-mon"></andeys-trip-pic>

<p>The grounds would close later, though, so we first looked at the graves and monuments in the National Cemetery. I found graves marked much more recent than the Civil War, so I guessed it was a cemetery for soldiers in general. The grounds included the site where Abraham Lincoln gave his Gettysburg Address speech.</p>

<p>We then returned to the car to take the historic auto tour of the battlefield. There were many monuments and impressive statuary, notably the Eternal Light Peace Memorial and the tower on Little Round Top, which was a stragetically important hill in the battle. Also we walked around Devil's Den, a collection of boulders and rocks that were used as hiding places in the battle. At the end of the drive, we climbed up a tower for a hazy view of the area of rolling hills.</p>

<p>Having had enough of Civil War history, we entered Maryland, where we stopped at a restaurant for dinner. The state is famous for its crab cakes, so we tried some, but these ones weren't all that tasty. Continuing on, we entered some beautiful forested area at the tip of West Virginia. Finally, we ended up in Front Royal, Virginia, where we checked into a motel.</p>
