<andeys-trip-pic class="right" data-trip-pic="san-francisco"></andeys-trip-pic>

<p>At dawn, I finally left Jiranan's place in Horsham, taking the train to Gatwick Airport. After checking in, I boarded the Virgin Atlantic Airways flight bound for San Francisco, California. I tracked the flight, and had particularly interesting views outside my window when the plane flew over Manitoba, Canada and Montana in the United States.</p>

<p>Before landing, I got a great view of San Francisco, California. I breezed through customs and immigration, then took the bus and train back to my place in Berkeley, unpacked, and relaxed.</p>
