<p>With a late morning start, I drove to El Sobrante to pick up Li-Li from her place, then Howard and Karen from their place. Once we packed the car, we quickly went on our way south. By nightfall, we reached the Ricardo Campground of Red Rock Canyon State Park.</p>

<p>We set up camp after registering at the office. Li-Li panicked a little when we couldn't find her sleeping bag. Had she forgotten it? No, it was tucked in the small area for feet in the front passenger seat.</p>

<p>After setting camp, we went to the picnic area to cook and eat dinner. I realized I was not dressed warmly enough for the chilly weather. Fortunately, I had a warm sleeping bag to use once we went to sleep.</p>
