<andeys-trip-pic class="right" data-trip-pic="jeep"></andeys-trip-pic>

<p>We awoke to a foggy morning in Ellsworth and soon made our way to Bangor. Driving around a bit, I spotted a tall Paul Bunyan statue in town. Soon, we reached the Cole Land Transportation Museum.</p>

<p>The museum was not quite open yet, but there were things on its grounds to see, including some blooming lupines, a covered bridge from the 1840s, and a Maine World War II Memorial. The memorial consisted of a bronze statue of a soldier in a Jeep atop a short stone block.</p>

<p>Entering the museum, we found it was a giant warehouse with an incredible collection of all kinds of land transportation vehicles. Anyway to get around in Maine seemed to be here, from bicycles, sleds, and horse drawn carts to fire trucks, snow removal equipment, farm equipment, big rigs, and even trains. There also was a separate small room with war memorabilia.</p>

<p>After walking around the entire museum, we returned to the car and drove off to Augusta, the capital of Maine. We parked in a parking structure next to the Capitol, then walked past it to the Maine State Museum. I thought the museum was well put together, and had great displays about the history of the state, including big re-creations of its nineteenth century industries.</p>

<andeys-trip-pic class="left" data-trip-pic="cole-museum"></andeys-trip-pic>

<p>There were also displays showing what the state's wildlife look like in their native habitats. Upstairs was a temporary exhibit about Maine's sister state Aomori in Japan. One set of displays chronicled the story of the shipwreck of The Chesebrough in 1889 off the coast of Aomori. The villagers there rescued the American sailors and a friendly connection between the states has persisted ever since.</p>

<p>After leaving the museum, we ate at an inexpensive Chinese food buffet. The chefs were Chinese, but the rest of the workers were not and had noticeable New England accents. Then it was time to leave for northern New Hampshire. We dealt with some slow traffic north of Portland, Maine but managed to get to the condo in Bartlett by late afternoon. Once there, we checked in, got groceries, and relaxed in our three level condo.</p>
