<andeys-trip-pic class="right" data-trip-pic="factory"></andeys-trip-pic>

<p>We left the condo early, for we had a long drive ahead of us. Leaving the White Mountains behind, we headed into Vermont, where I took a quick stop to look at the Capitol building in Montpelier. Driving on, our first significant stop was at Ben and Jerry's ice cream factory in Waterbury.</p>

<p>We parked at the lower parking lot below the ice cream factory and eventually found the entrance. It wasn't too crowded and we got tickets for the next tour. Normally they cost two dollars, but we got them free because they did not yet have their new company history movie ready for the Cow Over The Moon Theater.</p>

<p>In the beginning, our guide, doing the tour for the first time, told us a bit about the company's mission statement. Then we were led into the theater, where they showed us clips of the company being mentioned in the media, such as on the Rosie O'Donnel Show. Soon after that we were in a corrider with windows overlooking the factory floor. The guide told us the process they go through to make their ice cream. Colorful signs also helped, naming the machines seen in the factory and describing what they did.</p>

<andeys-trip-pic class="right" data-trip-pic="flavor-grave"></andeys-trip-pic>

<p>After seeing the factory overlook, we went into a room where we got to taste two free samples of ice cream. They also showed us the container for a flavor sold in Japan but not there - Green Tea Ice Cream. We congratulated our guide on her good first tour, then exited to the gift shop.</p>

<andeys-trip-pic class="left" data-trip-pic="bennington"></andeys-trip-pic>

<p>Outside was a storefront selling many varieties of their ice cream. My mom, brother, and I lined up to each have some. While eating, we looked at various fun, interactive displays outside. One display had a cartoonish company history and the other was a &ldquo;Wheel O' Flavors&rdquo; about each flavor the company made.</p>

<p>We then followed the signs to the Flavor Graveyard, which turned out to be a plot of land with epitaphs lyrically describing discontinued flavors such as &ldquo;Ethan Almond&rdquo; and &ldquo;Tennessee Mud.&rdquo; I also got a good overlook of the factory, which had a big Planet Earth picture on the front and four huge cylindrical containers, two labeled &ldquo;Milk&rdquo; and two labeled &ldquo;Cream.&rdquo;</p>

<p>It was time to go, so we headed south, taking the slow scenic Vermont Route 100. I was curious to try it after hearing about the scenery through which the road passed, though I knew most of that acclaim was for the drive in autumn. The drive was pleasant, though I got tired of seeing so much forest and small towns. However, I did enjoy a stop to see Moss Glen Falls in the Green Mountain National Forest.</p>

<p>We left Route 100 to go on Route 9, ending up in Bennington, where we stopped to go up the Bennington Battle Monument. I discovered that the view up the tall obelisk wasn't all that great, because the windows were narrow slits in the wall. We could see into the states of New York and Massachusetts, but the land looked the same as in Vermont. Going back down, we headed to a restaurant to eat an early dinner.</p>

<p>Done with our meal, we drove into the state of New York, passing Albany as the daylight waned. The clouds in the sky made for a beautiful evening sky as we drove on Interstate 88. We arrived in Binghampton, checking into a motel. The room we got was unkempt though, so we demanded one that was clean and promptly got it. After that, we slept.</p>
