<andeys-trip-pic class="right" data-trip-pic="maid-mist"></andeys-trip-pic>

<p>Morning arrived and we returned to the city of Niagara Falls. The first scenic stop for us was the Three Sisters Islands off of Goat Island. A foot bridge sequentially connected all four islands, which we walked until we reached the farthest point. We could get a good sense of the power of the Niagara River out there. Just wading in the water off the island could get you swept away by the rapids into the waterfall.</p>

<p>We had a quick, bland breakfast at Burger King in the nearby shopping mall, then checked out the view at Prospect Point right at the edge of the American Falls. It was still so early that the only other people there were workers doing some cleaning. We were glad we made it early, though, because we were on hand to witness a great rainbow originating from the waterfall.</p>

<andeys-trip-pic class="left" data-trip-pic="american-falls"></andeys-trip-pic>

<p>Returning to Goat Island, we walked to an observation platform between the American Falls and the much smaller Bridal Veil Falls. Looking down from there, I could see the &ldquo;Cave of the Winds&rdquo; tourist attraction. Tourists walk out onto the platforms there just to get blasted by the spray of the falls.</p>

<p>We returned to Prospect Point, taking the elevator down and buying tickets for the &ldquo;Maid of the Mist&rdquo; boat ride. With time until the next tour, we walked around, enjoying the lower river view of the falls. The mist so obscured the area around the falls, that it looked like the waterfall began in mid-air. It was wonderful to watch.</p>

<p>Once on the boat, we donned our ponchos, ready to get wet. The boat passed the American Falls and Bridal Veil Falls before heading into the Horseshoe Basin. It was then that we started feeling the power of the waterfall as the boat struggled against the current. The spray made it tough to take any worthwhile pictures.</p>

<andeys-trip-pic class="right" data-trip-pic="pothole"></andeys-trip-pic>

<p>Back at Prospect Point again, we took the elevator to the top of the tower for a look down at the falls. We then headed back to our car to drive north to Whirlpool State Park. From there, I could see the giant whirlpool created by the sharp turn in the Niagara River. Across the river hung the Spanish Aero Car, taking tourists directly above the swirling waters.</p>

<p>Our next stop was the Niagara Power Project Visitor Center, where we looked at exhibits about the building of the hydroelectric plant. A couple displays gave an interactive tour of the power facilities. After that short stop, we crossed a bridge into the Canadian province of Ontario, first stopping at a booth to change our currency into Canadian Dollars.</p>

<p>I wanted to experience some of the natural beauty of the Niagara River Gorge, so we entered the Niagara Glen Nature Reserve. My brother and I then took a hike to the river, starting with a ladder descent down the Wintergreen Cliff. Using an informational map and guide, we found interesting looking rocks, including ones with potholes, created over hundreds of years by turbulent waters using pebbles to scour the rock. We also enjoyed the gorgeous river views.</p>

<andeys-trip-pic class="left" data-trip-pic="journey"></andeys-trip-pic>

<p>Back from the hike, we drove to Niagara Falls, Ontario to the Table Rock Complex. Here, we got a direct side view of the Canadian Horseshoe Falls. I couldn't help being mesmerized, watching the massive, wide river suddenly plunge into the mist. We ate a restaurant by the same view, just in time as heavy, isolated showers moved through.</p>

<p>One last thing I did along with my brother was take the Journey Behind The Falls self-guided tour. After buying the ticket, we took the elevator down to some tunnels. One led to an area behind the waterfall. You really couldn't see anything past the curtain of water, but you could get a sense of its force. Then we got to a platform outside, right near the edge of the waterfall, where we got our protective ponchos wet.</p>

<p>Having had enough different views of Niagara Falls, we headed north and out. We were thinking of stopping at the Botanical Gardens, but my mom felt too tired to walk around, so we just stopped by a big floral clock. Finally, driving Queen Elizabeth Way, we reached Mississauga where we stayed the night in a motel.</p>
