<andeys-trip-pic class="left" data-trip-pic="heli-boat"></andeys-trip-pic>

<p>We woke up to a beautiful day in the park. After packing up our camp, we headed to the Crater Lake Lodge for a big breakfast. Satisfied with our own luxury meal of the trip, we headed off to the trailhead for Watchman Peak.</p>

<andeys-trip-pic class="right" data-trip-pic="mill-creek-falls"></andeys-trip-pic>

<p>A steady quick climb got us to the top for a tremendous view of Crater Lake and the surrounding area. Below us, I could see forests beyond the park, distant peaks, and patches of reddish volcanic soil. At the top was an historic lookout tower, closed for rennovation.</p>

<p>Once we got back down, we heard a helicopter and ran to the lake view to see what was going on. It turned out that this was the last day of boat tours for the season, so the park service was getting the boats out of the water the only way they could, by helicopter.</p>

<p>We made a quick stop at the visitor center and post office on our way out of the park. Continuing into the Rogue River National Forest, I found a sign for the Rogue River Gorge, so turned off the road to park in a lot. There was a lovely little trail to see the river go through the gorge. Next, we stopped for a hike to scenic Mill Creek Falls, on a trail system created by Boise Cascade Lumber for public use.</p>

<p>My friends were pressing me to get us all back home afterwards, so the only stop of note the rest of the way was at a rest stop in California for a great view of Mount Shasta. Once we got back to El Sobrante, I stayed for a home cooked dinner with everybody, then headed back to my place in Berkeley.</p>
