<andeys-trip-pic class="right" data-trip-pic="pope-estate"></andeys-trip-pic>

<p>We got up at 8 AM and got ready quickly. After checking out, we drove back west to Lake Tahoe, stopping at a couple vistas to take in the view of the beautiful mountain lake. It was a gorgeous day and we had a clear view of the snowy peaks surrounding the blue lake.</p>

<p>Our first major stop was at the Tallac Historic Site, where we checked out three historic estates that used to belong to wealthy families in the early twentieth century. We didn't have access to the interiors of any buildings, so we did our best to satisfy our curiousity by looking into the windows of these historic structures. One of the more interesting sights was behind the boat house of the Baldwin Estate. There was a boat ramp there, which had rails leading into the crystalline waters.</p>

<andeys-trip-pic class="left" data-trip-pic="lake-ramp"></andeys-trip-pic>

<p>I wanted to get in a hike, so we next stopped at D.L. Bliss State Park. After stopping at the visitor center and a model of a native Washoe Village, we parked near the lake and started hiking the Rubicon Trail.</p>

<p>The trail afforded gorgeous lake views as we walked along the cliffs. We tried to find the Lighthouse Trail to make a loop, but failed. At least we had the delight to see a woodpecker knocking away at a tree. We returned the way we came and found the Lighthouse Trail while driving the park road.</p>

<andeys-trip-pic class="right" data-trip-pic="rock-smile"></andeys-trip-pic>

<p>Another quick stop in the park brought us to a curious balancing rock in the park. Susie wasn't up for the walk, so just Alex and I took a look. To me the rock seemed to have a friendly facial expression.</p>

<p>We drove on to the west side of the lake, where we stopped at a cafe to eat. It was having power problems due to high winds, so we had a limited menu. We enjoy ourselves nonetheless.</p>

<p>After our meal, we drove to the north side of the lake where we walked up to the Stateline Lookout. It had the most expansive view yet of the trip. We could see the entire lake.</p>

<p>It was soon time to leave, so we had to leave our high perch, go back to the car, then drive west back to Berkeley. We encountered no significant traffic problems and arrived back in good time. I dropped off Alex and Susie at the BART station and went home to relax.</p>
