<andeys-trip-pic class="right" data-trip-pic="rock-city-falls"></andeys-trip-pic>

<p>My brother and I left early from Pinckneyville, quickly passing through Kentucky. In Tennessee, we took a break at a lovely rest stop along the Tennessee River. Finally, we reached Lookout Mountain on the border between Tennessee and Georgia, where we entered Rock City Gardens.</p>

<p>The gardens turned out to be a cheesy tourist trap, but we made the most of our visit. We squeezed through some rock passages, ducked under others, and had a great view of the Chattanooga Valley. One point claimed to have a view of seven different states, but I couldn't tell one from another. I particularly enjoyed the waterfall with the bridge over it.</p>

<p>At the end of the trail we entered Fairyland Caverns, which had black lighted displays of popular classic fairy tales. An easy passage led us past several tacky looking scenes, culminating at Mother Goose Village, a grand display combining many stories. We left questioning our judgement for going there, and headed to nearby Lookout Mountain Caverns.</p>

<andeys-trip-pic class="left" data-trip-pic="ruby-falls"></andeys-trip-pic>

<p>I signed up for a tour of the caverns, mainly curious to see what the underground Ruby Falls looked like. We saw standard limestone cave formations, many of them with their names labeled. An amusing episode happened when a mouse was running around while the guide tried his best to catch it, which he did successfully.</p>

<p>Often on our tour, we had to lay flat against the wall and wait as another group went by us through the narrow passage. They sure packed in the visitors to this cave!</p>

<p>At the end we were directed into a dark room by flashlight, where we could hear the waterfall. Then, a display of dramatic music and colorful lights revealed Ruby Falls. We all lined up to take a walk around the railing surrounding the waterfall.</p>

<p>Done with our sightseeing for the day, we drove south through Georgia, bypassing Atlanta as night fell. We finally found our destination campsite at High Falls State Park, checking in just ten minutes before the office closed.</p>
