<andeys-trip-pic class="right" data-trip-pic="beach-front"></andeys-trip-pic>

<p>We started our day by going to the beach in Fort Lauderdale to see why it had been so popular for spring break. The sand was okay, but I didn't care for the view of towering beachfront buildings lining the shore. Only a few people were there besides us.</p>

<p>After that, we took the Florida Turnpike then Interstate 95 to quickly make our way to the Space Coast. Our first stop was Jetty Park, where we secured a campsite. Basically, we just had to choose a spot on a big lawn not too close to other tents.</p>

<p>We felt we had enough time left to visit the big Kennedy Space Center, so off we went. My brother had been particularly excited to visit this place. After paying for and getting the admission badge, we headed for the buses that toured the restricted areas.</p>

<andeys-trip-pic class="left" data-trip-pic="launch-pad"></andeys-trip-pic>

<p>On the bus, video screens started above the seats, telling us about the space center, the places we passed by, and the place we were headed. A particularly impressive sight was the huge Vehicle Assembly Building, one of the largest buildings in the world. From our perspective, the flag painted on the side did not look that big, but actually it measured 209 x 110 feet. I tried to take a picture, but it was too hard to get it while the bus was in motion.</p>

<p>Our first stop was at the LC-39 Observation Gantry, where we were directed into a theater to see a film about how the space shuttle was prepared for launch. The crowd started shuffling to the shuttle exhibit, but I skipped out to the exit. Out of curiousity, my brother and I got some space dots ice cream, which turned out to be in the form of pellets that eventually melted into ordinary looking ice cream. We returned to the exhibit with our snack and without the big crowd.</p>

<andeys-trip-pic class="right" data-trip-pic="saturn-v"></andeys-trip-pic>

<p>Next, we went to the observation platform. On the way up, we saw a real engine that a Space Shuttle had used. At the top, we could see the two launch pads used by the shuttle, the crawlerway that transports the shuttle to the pads from the Vehicle Assembly Building, and other, historic pads.</p>

<p>Boarding another bus, we made our way to the Apollo/Saturn V Center, where we were directed into a dimly lit room with a dramatically lighted painting of a Saturn V Rocket on the launch pad. Entering the Firing Room Theater, three screens began to show the Apollo 8 launch footage. Below and around the screens, the authentic equipment used by the ground crew lit up according to what happened on screen.</p>

<andeys-trip-pic class="left" data-trip-pic="space-station"></andeys-trip-pic>

<p>The next room was the highlight of the visit, where we looked up at the enormous Saturn V Rocket, 363 feet long. There were many exhibits about the rocket and Apollo missions, including many authentic artifacts. At the end of the hall, we entered the Lunar Surface Theater to get a feel of how nerve wracking the Apollo 11 landing was for the ground crew. The presentation ended with a model lunar module landing in front of us, on a re-creation of the moon surface.</p>

<p>We hopped on another bus, which took us to the International Space Station Center. We first saw a film about the space station, then entered a room with replicas of station modules that we could walk through. I could see how they compactly designed the living quarters and the laboratory. Moving on, we looked down into the actual facility where modules were being prepared.</p>

<p>Boarding the bus for the last time, we returned to the Visitor Complex to watch the IMAX movie <em>L5: First City in Space</em> because my brother wanted to see the 3-D effects. We then walked around, going to the Shuttle Plaza to see a full-size shuttle replica, then reading the names on the Astronaut Memorial, which had a pond around it with turtles and alligators swimming together.</p>

<andeys-trip-pic class="right" data-trip-pic="shuttle-bay"></andeys-trip-pic>

<p>Inside the Robot Scouts exhibit, they had displays about NASA's interplanetary space probes. A worker there congratulated my brother to be the first one that day to look up at craft hanging above. He recommended we go see the IMAX Movie <em>The Dream is Alive,</em> so we went there afterwards. We enjoyed the movie, which was filmed on a space shuttle mission and had great views of the earth below the craft.</p>

<p>With a little time to spare, we quicky made it through an exhibit below the theater about the recovery of the Liberty Bell 7 thirty eight years after it launched. It included the actual command module. As the sun set, we walked around the Rocket Garden, which contained various spacecraft and quickly stopped at an exhibit about the Merritt Island National Wildlife Refuge. We left after stopping at the gift shop, then returned to camp. We slept okay after a noisy camp nearby quieted down.</p>
