<andeys-trip-pic class="right" data-trip-pic="chinese-garden"></andeys-trip-pic>

<p>Morning came and we left the condo for a day trip to Montr&eacute;al. While driving, I scanned the radio and could find no English stations! At most the French stations would occasionally play an English song. Our first and main destination was the Botanical Gardens (Jardin Botanique). After parking there, I looked up to see a a tall, slanted building towering above with cables radiating from the top. It turns out that this was the nearby Montr&eacute;al Tower in Olympic Park.</p>

<p>It was a bit cold and overcast outside, so we went inside to see the greenhouses. My mom was quite pleased to be there, because there were so many beautiful flowers. Each greenhouse had a different climate and thus different sets of plants &mdash; a great variety. One of the rooms had a big ark &mdash; a Noah's Ark theme was going on here.</p>

<andeys-trip-pic class="left" data-trip-pic="zen-garden"></andeys-trip-pic>

<p>Leaving the warmth of the greenhouses, we hopped onto the sightseeing tram with its French and English commentary. We got off at the Chinese Garden, which was quite beautiful and peaceful. All of us enjoyed walking around, seeing the pavilion and a big pond. I found out that water was a major element in Chinese gardens.</p>

<p>We then walked over to the Japanese garden and another pond, where we found fish. Inside a building was an exhibit about the garden as well as a Zen garden, visible through some windows. Its combed gravel and rocks symbolized heaven, earth and humanity depending on the particular arrangement. Back outside again, I sat in a roofed sitting area and realized I was looking at at a perfectly framed view of the garden, done purposefully with the square opening in the wall.</p>

<p>We returned to the tram afterwards then stopped at the Tree House. It was not a house in a tree, but rather a place about trees. I particularly enjoyed the room about the musical intstruments made with wood, because I could hear and play with examples. In the back was a display of miniature trees representing small versions of trees found in North America.</p>

<andeys-trip-pic class="right" data-trip-pic="basilique"></andeys-trip-pic>

<p>Back on the tram, we made one final stop at the gorgeous Azalea garden. The multiple colors made a wonderful visual treat. Walking back to the visitor centre, I noticed my mom and brother watching something with delight. It turned out that two adorable chipmunks were popping in and out of the hole in a metal lid on the ground.</p>

<p>We soon left the gardens and headed to Old Montr&eacute;al, where I had to be careful to avoid the horse pulled carriages. After finding a pay parking lot, we walked to the Basilique de Notre Dame to admire the impressive building. Then we just relaxed in the open square, while I wrote a couple postcards.</p>

<p>One final thing I wanted to do, considering our time, was to drive up to the mountain after which the city was named - Mont Royale. Up there, we had a great view of the city and my brother and I spent a little time seeing if we could find the exact top. We never did, but enjoyed the walk. We all left the city with my brother helping to drive us back to our condo in Beaupr&eacute;.</p>
