<p>Our first stop of the day was the Death Valley Visitor Center, where I garnered hiking information. We also looked briefly in the theater for a slide show presentation about the park. Mainly, though, I got the information I wanted for our hike, which we soon left to do.</p>

<andeys-trip-pic class="right" data-trip-pic="manly"></andeys-trip-pic>

<p>Parking at the trailhead for Golden Canyon, we started our hike following a gravel wash in the canyon. With many dry falls by the trail, we knew this was not the place to be in a flash flood. Towering in the distance was the Red Cathedral rock, standing in great contrast to the surrounding light rock.</p>

<p>Turning right, we began a steep uphill ascent, following brown trail markers until we reached the base of Manly Beacon, named after an early settler. From there, the view of the multicolored badlands was inspiring. Then the trail continued down then up again, taking us into a wash and junction. Along the way, we could see abandoned mines dotting the badlands as well as ravens flying about.</p>

<andeys-trip-pic class="left" data-trip-pic="zabriskie"></andeys-trip-pic>

<p>We continued uphill to the top, where we found the parking lot for Zabriskie Point. After a short walk up pavement to the point itself, we took a break for snacks by the scenic view of the badlands we just had hiked through.</p>

<p>With some of our energy recharged, we headed back to the trail junction at the wash then took the Gower Gulch Trail. Most of the hike was just making it through the rocky wash, but we did pass close to some mines, which we knew not to enter.</p>

<p>Near the end, we then had to easily climb down two sets of dry falls, which I had expected to encounter. Finally, we reached a dry fall we couldn't safely go down. Fortunately, the trail veered to the right and we easily made the rest of the way to the car.</p>

<andeys-trip-pic class="right" data-trip-pic="gower-gulch"></andeys-trip-pic>

<p>We were hungry by then, but I decided that we would eat at Artists Palette, where I ate lunch in my 1998 visit. Driving south, I then turned onto the scenic Artists Drive until reaching the best viewpoint for the hills colored by various minerals. With no tables around, we prepared the food in the back of the car, then ate standing, while enjoying the view.</p>

<p>Leaving camp each day, we had spotted the Mesquite Flat Sand Dunes just off the road, but I did not want to visit until the sun was low, for the best photography. We finally had that chance as evening approached, so we parked off the road near them, then started walking. At one point, Howard and Karen didn't feel like going further, while Li-Li and I were set on continuing.</p>

<p>Li-Li took her shoes off to walk in the sand and said it felt good, so I did too. Looking ahead, I was determined to go up the highest dune and was glad I made it, because as we approached the top, the shadows really lengthened, creating a great contrast of light on the ridges. At the top, we went the fun way down by sliding.</p>

<andeys-trip-pic class="left" data-trip-pic="dune-field"></andeys-trip-pic>

<p>We also hurried once at the bottom, trying to make it to the car before it was too dark to see. We found Howard and Karen waiting at the same place we left them. Karen had used the time to make sand angels. Safely back in the car, we made the short drive back to Stovepipe Wells.</p>

<p>Feeling quite dirty, we decided to try the pool in the village, taking advantage of the showers also available there. I had hoped the pool would be heated like the one I swam in Furnace Creek back in 1998, but it was not, so I didn't stay long. Feeling clean again, we returned to camp to eat and sleep.</p>
