<andeys-trip-pic class="right" data-trip-pic="at-stonehenge"></andeys-trip-pic>

<p>At dawn, I took the Connex train to Three Bridges, then transferred to another train heading for Salisbury. Unfortunately, I fell asleep and found out too late that I was on a section of the train that stopped in Basingstoke. I waited a while until I got another train, which finally took me to Salisbury. When I got there, I found my best option for visiting Stonehenge with the time I had was to take the Guide Friday tour there.</p>

<p>The tour began with a quick bus tour of Salisbury, with its market, clock, and the cathedral. We then drove north to Amesbury, where we passed by one of the shooting locations of The Beatles' film <em>Help!</em> After that, we headed toward Stonehenge, while our guide talked about its history.</p>

<andeys-trip-pic class="left" data-trip-pic="stone-gate"></andeys-trip-pic>

<p>One of the first things I noticed were ancient burial mounds surrounding the monument. When we entered inside the protective fence, our guide brought out dowsing rods to demonstrate using them, in the spirit of the mysticism surrounding Stonehenge. She also had other people in the group try the rods.</p>

<p>Soon we were given free time to wander around, and I walked counter-clockwise around the monument, taking pictures of the various stones. Separated from the other rocks was the Heel Stone, near the fence. Once our group all gathered at the bus, we then left back for Salisbury.</p>

<andeys-trip-pic class="right" data-trip-pic="avebury"></andeys-trip-pic>

<p>I got dropped off in the centre of the city, where I visited the clock tower, one of the medieval gates, and then the outside of Salisbury Cathedral. The spire on the cathedral was the highest in Britain, 123 metres tall. Back at the railway station, I took a train to Trowbridge. From Trowbridge, I waited for then got onto a Wilts and Dorset bus headed for Avebury.</p>

<p>I was intrigued by the stones at Avebury as soon as I saw them. It was not only because the circle covered a much larger area than Stonehenge, but because adorable sheep stood around the stones. I got off the bus, then started exploring the circle from the southwest quadrant, which had the largest concentration of sheep and stones. In the northeast quadrant, there were two stones fenced off due to instability.</p>

<andeys-trip-pic class="left" data-trip-pic="st-martin"></andeys-trip-pic>

<p>After completing the circle counter-clockwise, I went to the bus stop, talking to a local man taking care of his adorable little baby. I then boarded the bus to Swindon, where I took the train back to London. From there, I made my way to the National Gallery, which I knew would be open late Wednesday night.</p>

<p>To get a good sample of what the National Gallery contained, I took a guided tour that introduced the different periods of art in the museum. I was impressed with the incredible and famous works of art, created by masters such as Michaelangelo, Vincent Van Gogh, Claude Monet, and Leonardo da Vinci.</p>

<p>After the tour, I found an exhibit that studied how people looked at paintings. Inside the exhibit room, there was a screen showing a live view of people looking at a painting from the perspective of the painting. Someone made comments on those people while they studied the painting &ldquo;Sunflowers&rdquo; by Vincent Van Gogh. Later I went to that painting to wave at the camera placed by the plaque describing the artwork.</p>

<p>After getting a bland bite to eat at the museum cafe, I went outside, where I saw the beautifully lit St. Martin in the Fields Church. I took a picture using a tripod, then headed back to the railway station to end up in Horsham.</p>
