<andeys-trip-pic class="right" data-trip-pic="waterloo"></andeys-trip-pic>

<p>From Jiranan's house in Horsham, I walked to the railway station. I got my BritRail pass validated, then took a slow train to Victoria Station in London. Once there, I bought a handy pocket map of London, then boarded a double decker bus to Tower Hill, seeing whatever sights I could along the way.</p>

<p>Using the ticket I bought the day before at Hampton Court Palace, I took the group entrance into the Tower of London, infamous for its history of executions and murders. With the weather being beautiful, I decided to first do the Wall Walk, passing towers and entering an exhibit in the Martin Tower about the making of the Crown Jewels.</p>

<p>Next, I went to see the actual Crown Jewels. The exhibit was designed for long lines, but there were not that many people there, so it was just smooth flowing. On big screens, a video showed the gorgeous details of the decadent jewellery. In the room containing the jewels, we got onto a moving walkway which took us quickly past the displays.</p>

<andeys-trip-pic class="left" data-trip-pic="tower-bridge"></andeys-trip-pic>

<p>In the White Tower, I saw displays about the history of the Tower of London. Exhibits included the suit of armor worn by King Henry VIII and a chopping block used to execute people. Exiting the White Tower, I walked around the Tower Green, watching the Yeoman Warders, guards, crowds, and the ravens with clipped wings. The story goes that the monarchy would fall if the ravens ever left the Tower of London.</p>

<p>One more area I entered was known as the Medieval Palace, where I got an idea of how the Tower was like during the reign of Edward I in the thirteenth century. Finally, I exited by the main entrance, where I noticed a huge crowd starting to enter. I was glad I left when I did. On the outside of the complex, I passed the Traitor's Gate, where people that were to be executed passed through.</p>

<p>In sight of the Tower of London was the Tower Bridge, which I walked on to see the view. Looking around, I started to notice that closed circuit television cameras were quite prevalent. I then walked back towards the Tower of London, bypassing it for the Tower Millenium Pier, where I bought a ticket for the river ferry tour.</p>

<andeys-trip-pic class="right" data-trip-pic="painted-hall"></andeys-trip-pic>

<p>After waiting by a view of the Tower Bridge and HMS Belfast, I boarded the boat for a narrated tour of the Thames. It included views of the oldest pub in London and the tallest building in the United Kingdom, standing at 259 metres. I also saw what appeared to be a small parade along the shore, with people walking on stilts.</p>

<p>The boat docked in Greenwich. After passing by the Cutty Sark, a tea clipper ship, I stopped at the visitor centre. I found out that the Royal Naval College was free to enter that day, so I went inside the campus to see the gorgeous Painted Hall and an exhibit showing replicas of crown jewels from around the world.</p>

<andeys-trip-pic class="left" data-trip-pic="busker"></andeys-trip-pic>

<p>From there, I climbed a hill to the Old Royal Observatory, where I got a great view of the area, seeing the Millenium Dome in the distance. There, I made it a point to straddle the Prime Meridian, which was defined in 1884 to originate from the observatory.</p>

<p>To get back to London, I walked the foot tunnel that ran under the River Thames, descending by stairs, then ascending by lift at the other end. I had never walked under a river before. Now back in London at Island Gardens, I went to the Docklands Light Rail station, only to find that construction prevented me from going to my destination, so I took a double decker bus to Canary Wharf.</p>

<p>My first impression of the Underground, otherwise known as the Tube, was riding the Jubilee Line, the newest line. It looked so high tech, with doors on the walls sliding open when the train doors opened. I got off at Westminster, where I could see the Houses of Parliament and the rotating sightseeing wheel known as the British Airways London Eye.</p>

<p>I bought some postcards, then took a more ordinary looking Tube line to Picadilly Circus. I continued walking into Chinatown where I got some inexpensive noodles, then headed to Covent Garden to see a busker impressing a crowd by performing tricks such as juggling knives whilst on a tall unicycle. When I was done for the day, I went to Victoria Station, where I took a train back to Horsham.</p>
