<andeys-trip-pic class="right" data-trip-pic="moon-walk"></andeys-trip-pic>

<p>In the morning, we took advantage of the beautiful scenery to walk the pier in Jetty Park. I could see the grounds of the Kennedy Space Center and knew why this park was good for viewing shuttle launches. Satisfied with our walk, we left the park.</p>

<p>We arrived at the United States Astronaut Hall of Fame just when it barely opened, being the first visitors. After an introductory film, we entered an exhibit hall with hundreds of artifacts in a timeline of events. They even had authentic, used Mercury, Gemini, and Apollo command modules. Further down, there was a Hall of Honor, with displays about 44 astronauts along with their personal memorabilia.</p>

<p>While looking at the displays, we were asked if we wanted to go to the Shuttle of Tomorrow, which was a multimedia display inside a full-size shuttle replica. It was an okay presentation, more geared to kids. After that, we passed by a training room for Space Camp, not in use at the time.</p>

<andeys-trip-pic class="left" data-trip-pic="beach-rock"></andeys-trip-pic>

<p>We next took an elevator ride up to see the view, then went back down to enter a room full of simulations. Particularly interesting were the simulated moon walk using straps and springs and a pong-like game where we jumped to move the paddle on the screen. We also took a G-force ride that made us motion sick and ready to leave.</p>

<p>We recovered while driving north and took the Interstate exit for Palm Coast. After paying a toll, we got onto Route A1A along the coast, then parked when we got to Washington Oaks State Gardens. There was a beautiful garden, which we strolled around, admiring many flowers.</p>

<p>We then hiked the Jungle Road Trail, where I almost ran into the web of a big spider. Although we were liberally using the bug repellant, we still got bitten in whatever tiny spots we may have missed. Concerned, we cut our loop hike short and returned to the car on the straight Old A1A Trail.</p>

<andeys-trip-pic class="right" data-trip-pic="matanzas"></andeys-trip-pic>

<p>Having enough of the heat and humidity, we headed for the part of the park on the Atlantic Coast. We saw a big bird, a crab, and a shrimp all on the sand. Somebody hit the crab, though, then bagged it.</p>

<p>Just away from the waves were a row of rocky outcrops which we had fun playing around in. Past that, the ground became a mass of beautiful shells. It was hard to believe this was all natural.</p>

<p>Back onto Route A1A, we saw a sign for Fort Matanzas National Monument and parked to check it out. At the visitor center, we found out the ferry to the fort was free, so we took it. The group was big, so they had to ferry all of us across in two trips.</p>

<andeys-trip-pic class="left" data-trip-pic="spanish-church"></andeys-trip-pic>

<p>The fort turned out to be small, and I found out how it was used by the Spanish as defense for the Southern approach to St. Augustine, supplementing another fort. Inside were displays of artifacts that would have been seen there in the Spanish era. We also climbed to the top for a view of the fort and the island it stood on.</p>

<p>After getting ferried back, my brother and I drove to Anastasia State Recreation Area to set up camp, getting the code to get back in after the gates closed. We then entered the historic part of St. Augustine, a city founded in 1565 by the Spanish. Starting with the old city gates, we passed many old Spanish style houses. One building claimed it was the Oldest Wood Schoolhouse in the U.S.A. I particularly liked the look of the cathedral, Flagler College, and the Alcazar Hotel.</p>

<p>As darkness descended, we returned to our campsite. I found out we didn't have a picnic table, so had to cook in the picnic area. Despite the sea breeze trying to blow the flame out, we managed to cook our meal on our stove. After that, we went to sleep.</p>
