<andeys-trip-pic class="right" data-trip-pic="forest-walk"></andeys-trip-pic>

<p>It was a lovely day outside, so my brother and I left our condo to go to the nearby Cap Tourmente National Wildlife Area. After getting information from the visitor centre, we walked the Le Bois-sent-bon Trail along the coastal marsh until we found a shelter with viewing optics to look out onto the tidal marsh. There wasn't much wildlife out there, but we did spot birds, some digging into the marsh, others on alert for danger.</p>

<p>Returning the way we came, we then took the La Falaise Trail, passing through flowering plains into the forest and up the hill. We stopped at a viewpoint 150 meters above sea level to enjoy a view of the reserve and the St. Lawrence River. Far in the haze, we could also spot Qu&eacute;bec City. A kind old man was also up here enjoying the view and we chatted with him briefly.</p>

<p>On our way back down, we turned right to take the Le Pierrier Trail. At one point, I looked down to notice a well camouflaged frog on the forest floor, betrayed only by its motions. Soon after, we briefly spotted a black bear moving away, up the trail from us. Not wanting an encounter, we made loud noises as we continued towards the area we saw the animal. We didn't see it anymore.</p>

<andeys-trip-pic class="left" data-trip-pic="laurentians"></andeys-trip-pic>

<p>On the trail, we emerged from the forest at some railway tracks. Crossing them, we soon came upon ponds and heard intermittent bird calls. Searching for the source, we realized that they were generated electronically to attract wildlife. Also near them were some ruins, covered with metal for protection from the elements.</p>

<p>After the hike, we drove northwest to see the Laurentian Mountains north of Qu&eacute;bec City. We ended up stopping in Jacques Cartier Park, where we entered the visitor centre. There were displays about the geology of the park, and I translated them from French to English for my brother to understand them.</p>

<p>Back outside again, we noticed people with kayaks. We continued on the road, admiring the scenery of the river and glacially carved valley, but decided to turn back after not too long. We left the park and returned to the condo for our final night there.</p>
