<p>After paying for the use of our campsite the night before, we followed the hurricane evacuation route signs to Interstate 75. On our drive south, I started noticing that the vegetation had changed from what I had seen just the day before as we approached the great swamps. Eventually, we arrived in Everglades City and at the dock for the Everglades National Park Boat Tours. We signed up for the next tour of the Ten Thousand Islands in a gift shop, then had some time to look around the small park visitor center on the second floor of the shop.</p>

<andeys-trip-pic class="right" data-trip-pic="heron"></andeys-trip-pic>

<p>Back on the dock I spotted one of the mangrove islands which looked like trees growing right out of the water. Boarding the boat, we went to the upper deck, though I didn't sit down because the seat was so hot. As the boat started moving, the breeze helped cool us. Already we saw some wildlife as dolphins swam alongside our boat.</p>

<p>The guide told us the murky water was quite shallow and we had to proceed slowly so we would not hit endangered manatees, who do not have a quick detection system, often getting killed by fast boats. A sign in the water read &ldquo;Manatee Zone,&rdquo; setting the speed limit to 30 mph.</p>

<p>Being summer, most of the wildlife was gone, but we still saw some comorants, great white herons, and brown pelicans. We also saw osprey nests, of which one was on a waterway marker. We found out one tactic the birds used to fish was to wait on the edge of the mangrove islands as the tide lowered, then catch the fish as they were forced out by the lowering water.</p>

<andeys-trip-pic class="left" data-trip-pic="locust"></andeys-trip-pic>

<p>On our return trip, more dolphins came by to swim alongside the boat. The guide also briefly spotted a manatee, which I failed to find. Unfortunately, it was scared away by another boat illegally speeding by, whose occupants seemed ignorant of the rules and wondered why our tour group was looking at them with disdain.</p>

<p>After exiting the boat and going back to the car, we drove onto the Tamiami Trail, which follows a canal in Big Cypress National Preserve. Parking at a rest stop, we saw two people picnicking in the hot weather, looking at something which I found to be a racoon, probably hungry for food. We ignored the animal and walked a little on a short path, which led us to a beautiful grove of cypress trees, with roots immersed in the swampy water. Back on the road again, a heavy downpour came upon us, so we stopped at the visitor center for the park to look at exhibits and watch a film about the place.</p>

<p>With the rain diminished, we continued on the Tamiami Trail. At one point I had to swerve to avoid a baby alligator walking on the road. Soon after that, we turned right and parked by the Shark Valley Visitor Center back in Everglades National Park.</p>

<andeys-trip-pic class="right" data-trip-pic="baby-gator"></andeys-trip-pic>

<p>We had just missed the last tram, so after talking to the ranger about our options, we walked along the tram road. The canal by the road had plenty of wildlife, including many frogs we could hear but not see. However, we did spot three baby alligators. Also, on the pathway were big, colorful locusts.</p>

<p>We turned onto the Otter Cave Hammock Trail to do some off-road hiking, watching for wildlife and avoiding holes in the ground caused by naturally occuring acid dissolving the limestone. Returning to the pavement, we walked towards the visitor center then detoured onto the Bobcat Boardwalk, where we saw a little lizard and trees with swamp apples hanging from them.</p>

<p>The amount of biting insects there was far less than I had expected, perhaps because I was using strong repellent. However, I did make sure in my planning to avoid the worst of the swarms by not going anywhere near Flamingo, located deep inside the park. I had heard the lodge there gave guests mosquito survival gear in summer when they registered.</p>

<p>Having had enough of the hot and humid weather, we took off in our car for Key Largo. Once there, we checked in and set up camp in John Pennekamp Coral Reef State Park. We spent time swimming in the warm waters at Far Beach, admiring its clarity, then returned to our campsite to sleep.</p>
