<p>My flight arrived at Gatwick Airport and I breezed through customs and immigration. I then took the train to Horsham, giving Jiranan a ring to pick me up from the station. Watching the traffic, I noticed adorable sub mini cars drive around the roundabout, not a sight seen in the U.S.</p>

<andeys-trip-pic class="right" data-trip-pic="astro-clock"></andeys-trip-pic>

<p>Soon enough, Jiranan arrived along with her mom to pick me up. It was an interesting feeling to be on the left side of the road, though not a new experience. We stopped at her place, where I found out I had just a little time to put my luggage away, because she was planning to visit Hampton Court Palace in Surrey.</p>

<p>My first day ever here and I was already helping Jiranan navigate the motorways. In good time, we got to the Tudor and Baroque style palace, where I bought a combination ticket that included the Tower of London for a later date. First I went to the garden maze where I found out it was indeed easy to get lost, even with landmarks looming above. Not wanting to make Jiranan wait too long, I traced my path back to the beginning, instead of finding the end.</p>

<andeys-trip-pic class="left" data-trip-pic="fountain"></andeys-trip-pic>

<p>After a stop for a snack at the Tiltyard Tea Room, we took a guided tour of the opulent state apartments of King William III. I was impressed, but I did find myself getting tired during the talk, party due to jet lag and partly because I did not have a great interest in English royal history.</p>

<p>After the tour, we saw more of the palace, including the Tudor Kitchens. I liked the beautiful design of the Astronomical Clock in the Clock Court and the fountain in the Fountain Court. We also enjoyed the formal gardens, with every plant trimmed and equally spaced.</p>

<andeys-trip-pic class="right" data-trip-pic="privy-garden"></andeys-trip-pic>

<p>Out of curiousity, we also went to the Royal Tennis Court, where we saw two people playing tennis on a court set up differently than in modern tennis. I stopped at the gift shop for postcards, then we headed back to Horsham, getting a little lost along the way.</p>

<p>For dinner, we took away food from an Indian restaurant in Horsham that Jiranan liked. I had heard that Indian food in England was often quite good, so we all ordered something and ate at her place. Afterwards, I relaxed and planned for my next days of sightseeing.</p>
