<andeys-trip-pic class="right" data-trip-pic="bear-crawl"></andeys-trip-pic>

<p>My mom stayed in the condo while my brother and I drove back to the Kancamagus Highway. At one stop, we got out and had a pleasant morning hike to Sabbaday Falls. Soon after, we were on our way back to Kinsman Notch to visit the Lost River Gorge while it was open.</p>

<andeys-trip-pic class="left" data-trip-pic="profile"></andeys-trip-pic>

<p>This place was similar to the Polar Caves we visited the day before, so I wasn't expecting much, but then found it to be more appealing. A scenic river ran throughout the boulder strewn gorge and there were more challenging and interesting paths though the caves. Despite the wooden walkway, there was a more natural feeling to this park than at the other one.</p>

<p>Some of the caves had ladders and several had tight squeezes, the toughest being the &ldquo;Lemon Squeezer,&rdquo; which required a body width test before you entered, for safety's sake. Paradise Fall added to the scenery as well as the tall granite walls. After making our way out of the gorge, we got to enjoy a little nature garden.</p>

<andeys-trip-pic class="right" data-trip-pic="crawford-notch"></andeys-trip-pic>

<p>We then went back to the parking lot where we found a trail going up. A sign warned that it was for experienced hikers only, which piqued my interest, so off we went, climbing from boulder to boulder on the steep hillside. Once at the top, I found we were close to the Appalachian Trail, but didn't go that way. Instead we stopped at a great overlook of the notch, seeing the parking lot way down below.</p>

<p>After the equally challenging climb back down to the parking lot, we left the area to return to the &ldquo;Old Man of the Mountain&rdquo; profile. Unlike last time, it was good viewing weather, and we clearly saw the state symbol of New Hampshire high up on the rock face. After that, we took a break for lunch at Fabyan's Station Restaurant, which had interesting historical pictures of the area on the wall.</p>

<p>When we finished our meal, we headed to the visitor center at Crawford Notch State Park, where I inquired about good trails to try. Soon we were hiking again, going for the top of Mount Willard. The trail felt long, but we were awarded with a tremendous view of the U-shaped Crawford Notch. Returning back to the car, we then drove back to the condo to spend our final night there.</p>
