<andeys-trip-pic class="right" data-trip-pic="islands"></andeys-trip-pic>

<p>Our first stop after leaving Kingston was Hill Island. There, we paid a small fee to go up to the top of a tower that had a great view of the Thousand Islands area, which runs along the New York and Ontario border. I could see both the United States and Canadian Customs stations.</p>

<p>After going back down, we continued our drive to Ottawa, the capital of Canada. It was here that I started noticing that road signs were both in English and French. We managed to park downtown and walked up to Parliament Hill, signing up for the next tour in English.</p>

<andeys-trip-pic class="left" data-trip-pic="lib-parliament"></andeys-trip-pic>

<p>With time left before our scheduled tour of the Centre Block, my mom relaxed while my brother and I explored the grounds. There were statues of several people important to the history of Canada. What I enjoyed most, though, was the view of the Ottawa River and the stray cat sanctuary, which had some adorable cats sitting around.</p>

<p>Finally it was time for our tour and our group entered the Centre Block. We were shown the details and symbolism of the architecture of the building and given some information about its history. The tour included going into the active Library of Parliament, the oldest part of the building and the only surviving piece of the old building that burned down in 1916. We also saw the Senate Chamber, with its throne for the Queen, for whenever she decided to visit. At the end we took the elevator up to the top of the Peace Tower for a gorgeous view all around of Ottawa and Hull, which was across the river in the province of Qu&eacute;bec.</p>

<andeys-trip-pic class="right" data-trip-pic="peace-tower"></andeys-trip-pic>

<p>Our next stop was the nearby Currency Museum. Looking around for it, I asked a man where it was and he showed me in. Turns out, he was the owner of the museum! At the entrance stood a huge coin, bigger than me, that came from the island of Yap. We then looked at the exhibits, which chronicled the history of coinage for Canada and the world in general. In the back was a huge collection of coins from all over the world over time &mdash; a coin lover's paradise!</p>

<p>When we were hungry, we stopped at one of the malls to eat. While there, I tried poutine, a well known Canadian fast food dish made of french fries, cheese, and gravy. It was too greasy for me.</p>

<p>Leaving the capital, we made our way into the province of Qu&eacute;bec. I noticed suddenly that all the road signs were in French &mdash; no English at all! Fortunately, I knew enough French to understand them. We got significantly bogged down in traffic while passing through Montr&eacute;al.</p>

<p>Finally, we reached Qu&eacute;bec City, and I looked for a way to get to our condominium. Getting a bit lost, I found myself near the old part of the city, where I discovered a wonderous sight. Up on the hill, the Château Frontenac was lighted up, looking like a magnificent castle floating in the sky! I was getting tired, but we finally found our way to Beaupr&eacute; and checked into our condo to sleep.</p>
