<andeys-trip-pic class="right" data-trip-pic="pumice"></andeys-trip-pic>

<p>We started our morning with a scenic drive along the west rim of Crater Lake. On our left, a beautiful blanket of fog covered the valleys below. On our right, the lake shimmered in the morning sun. We stopped to look at a close view of Wizard Island, then checked out the view from Marriam Point, before reaching the boat tour office.</p>

<p>Our relaxing morning, it turns out, caused us to miss the first tour, because all the tickets had been sold, so we signed up for the second tour at noon. With time to spare, we drove north to the Pumice Desert, out of curiousity. There, we found a vast open, barren area, bordered on the edges by a dense forest.</p>

<p>We soon returned to the parking area for the boat tours and started walking down the mile long Cleetwood Cove Trail to the dock. Along the way down, we encountered people who had caught small fish in the lake.</p>

<andeys-trip-pic class="left" data-trip-pic="backbone"></andeys-trip-pic>

<p>After only a little bit of waiting, we boarded the boat, which started a trip counter-clockwise around the lake. The tour guide talked about the lake and the impressive cliff formations surrounding it. I was particularly intrigued by the Devil's Backbone, a dike standing out of the cliff like the dorsal fin of a fish.</p>

<p>As we passed Skell Channel, we were told we could see the bottom of the lake, a shallow part of the deepest lake in North America. The boat then docked at Wizard Island to pick up hikers who left the previous tour for the island. We had wanted to exit and hike to the top, but a distant thunderstorm worried the guide, so he didn't allow anybody off.</p>

<p>Our next stop was Phantom Ship, a jagged rock formation jutting from the lake surface. It looked like a little ship from the rim, but here we saw massive towers. I was surprised to see trees growing on this rugged island.</p>

<p>Continuing on the tour, the boat took us close to many high cliffs, some with small waterfalls running down them from snow melt. There seemed to be snow year round in this park. Later, we passed the wandering, floating remains of a tree, known as &ldquo;Old Man Of The Lake,&rdquo; whose top was poking out of the surface. Near there, the guide pointed out the Pumice Castle, a bright orange bunch of spires sitting high above on the cliff.</p>

<andeys-trip-pic class="right" data-trip-pic="phantom-rock"></andeys-trip-pic>

<p>After passing by the sheer cliffs of Palisade Point, the boat docked and we stayed at the cove, eating lunch by the shore. Once done, we returned up the steep trail, taking our time to enjoy the incredible lake scenery. The threat of thunderstorms cancelled any more serious hiking for the day, so we went sightseeing after returning to the car.</p>

<p>Our first stop on the east rim was Cloudcap Overlook, just to enjoy the view. At Kerr Notch, I could see Phantom Ship as a small, distant silhouette of rock in the shimmering water. Leaving the lake view, we then headed south to the Pinnacles Overlook.</p>

<p>Stepping out of the car, I was immediately impressed with the view of the Pinnacles. Rows of pointy rocks lined the cliffs far down the canyon. We found more and more of these fascinating formations as we walked the path along the edge. When the sun came out from the clouds, the deepening shadows made the landscape even more dramatic.</p>

<andeys-trip-pic class="left" data-trip-pic="pinnacle-pts"></andeys-trip-pic>

<p>We returned to the lake on the unpaved Grayback Drive, which took us more intimately through the forest than the paved roads did. After a quick visit to Vidae Falls, we hiked the short Sun Notch Trail to an incredible overlook of Phantom Ship. I had taken a great picture there in 1997 and wanted to show my friends the view.</p>

<p>As evening arrived, we returned to camp to eat. While, there we walked over to the outdoor amphitheater to watch an interesting evening ranger program. She talked about Crater Lake while giving us a slide show of great pictures.</p>

<p>After the presentation ended, we walked back towards our campsite, but then looked up to see an incredible sky full of stars. Instead of returning to our camp, we turned off our flashlights and walked arm in arm for safety while admiring the sky. Eventually, we made it back to camp, where we retired for the night.</p>
