<andeys-trip-pic class="right" data-trip-pic="wave-girl"></andeys-trip-pic>

<p>We began our morning with a visit to Savannah, Georgia, paying a quick visit to River Street on the historic waterfront. It was tough to find parking, but once we did we walked the cobblestone streets to look around. There were plenty of little shops there, but few were open so early. The most notable sight I saw was a statue of Florence Martus, known as Savannah's Waving Girl, who supposedly waved at every ship passing by for 44 years.</p>

<p>We contined east until we reached Fort Pulaski National Monument, starting our visit by seeing the film. The most interesting story was that of the Civil War debut of the rifled cannon, which the Union Army used to successfully breach the fort. The surprised Confederates did not know about this technology and had believed they were invincible. When they realized they were in trouble, the Confederate Colonel surrendered only thirty hours into the attack.</p>

<p>After looking at a few exhibits of fort memorabilia, we walked outside, crossed the moat, then checked out the tunnels running under the earthen mounds, built after the Civil War to house powder magazines. Then we crossed the drawbridge to enter the walls of the fort, which we explored clockwise, starting from a room that showed the drawbridge counterweight. The next rooms were furnished to show how life was like in the fort.</p>

<andeys-trip-pic class="left" data-trip-pic="shell-wall"></andeys-trip-pic>

<p>At the Northwest Magazine I narrowly avoided an encounter with a yellowjacket before entering a room with replicas of gunpowder barrels, showing how they were stored there. After that, we walked through open rooms that just had cannon pointing outside, then entered a section showing how the fort was used as a military prison to hold Confederate officers.</p>

<p>The Southwest Bastion was left unrestored so we could see some of the fort's understructure. Around here, we found we could climb up to a section of the top terreplein, where we admired the view of the area.</p>

<andeys-trip-pic class="right" data-trip-pic="ft-sumter"></andeys-trip-pic>

<p>We made sure we visited all of the inside, then took a walk around outside the moat. In the wall, we could see the damage to the fort during the Civil War. Some holes still had the shells left in there by Union forces.</p>

<p>Done with exploring the fort grounds, we returned to the car and drove back through Savannah to eventually end up in Charleston, South Carolina, where we managed to quickly sign up and board a boat headed for Fort Sumter. On the approach, we saw six flags flying high above the fort, representing all the flags historically flown there. The biggest one was the modern U.S. flag.</p>

<p>Once inside the fort, the ranger gave us an introduction about the fort, then let us explore on our own. The Civil War started here at the once impressive three story fort. What we saw were just the ruins, partially restored. I found a shell embedded in the wall, left over from the Civil War.</p>

<andeys-trip-pic class="left" data-trip-pic="huguenot"></andeys-trip-pic>

<p>In the middle of the fort, stood a massive concrete structure known as Battery Isaac Huger, built for use in the Spanish-American War. Inside the structure, there was a small museum about the history of the fort, which we went through quickly, concerned about the time remaining until our boat left. We also stopped at the gift shop.</p>

<p>After the boat returned us to Charleston, we drove off to the historic section and started exploring the streets. I found many beautiful buildings with interesting and varied architecture. Of particular interest on our walking tour were the gorgeous waterfront mansions, the site where the Ordinance of Sucession was signed and ratified, and a statue honoring the Confederate defenders of Fort Sumter. I was also impressed with the churches, particularly the Huguenot Church.</p>

<p>Too tired to watch any independence day celebrations, we headed for nearby Summerville, where we set up camp at the Charleston KOA. Our tent had a meager spot on the lawn with many RVs around us. Despite many fireworks set off there late into the night, we somehow managed to sleep.</p>
