<andeys-trip-pic class="right" data-trip-pic="st-pauls"></andeys-trip-pic>

<p>In the morning, I took the train to London. My first stop there was St. Paul's Cathedral, which I already admired from the outside, with its huge dome. I then entered the opulent Protestant cathedral and found some interesting memorials, including one for American servicemen, one for South Pole explorer Captain Robert Falcon Scott, and another for Admiral Horatio Viscount Nelson. Nearby, I found historic pictures of the damage the cathedral suffered around the high altar during bombing in World War II.</p>

<p>Next, I climbed the steps into the Whispering Gallery, which circled the interior of the dome. I strained to hear the conversation of people on the other side, but could not understand it. After that, I climbed further to the Stone Gallery, where I went outside to a view of London obscured by scaffolding.</p>

<andeys-trip-pic class="left" data-trip-pic="nereid"></andeys-trip-pic>

<p>Finally, I climbed the rest of the steps to the Golden Gallery. The steps were indoors and, unlike other parts of the cathedral, looked quite utilitarian. However, at the top the view was incredible, even on this overcast day. I saw the Financial District, the River Thames, Tower Bridge, the Globe Theatre, and the wobbly Millenium Bridge.</p>

<p>After making it all the way back down to the ground, I entered the Crypt below ground, which contained an impressive number of tombs and memorials. There was also a lovely display of artifacts in the Treasury, showing valuables from London churches. I grabbed a bite to eat at the Crypt Cafe before taking the Tube to the British Museum.</p>

<andeys-trip-pic class="right" data-trip-pic="euro-clock"></andeys-trip-pic>

<p>I was immediately amazed when I entered the exhibit area of the museum on the ground floor. There were huge ancient artifacts all over the place from places such as Egypt, Assyria, Greece, and Rome. Notable pieces were the Rosetta Stone, the Nimrud Palace Reliefs, and the sculptures from the Parthenon and the Mausoleum of Halikarnassos. The Neired Monument was basically an entire section of an ancient building in one room.</p>

<p>Upstairs, I found a great display of Egyptian mummies. I quite enjoyed the section showing interesting European clocks. Also, I saw the treasures of Sutton Hoo, discovered when a burial ship was unearthed in Suffolk, England. In another area, I saw some wonderful Asian artifacts.</p>

<p>With some time left, I decided to take the train to Windsor. Walking around town, I found that the walls of Windsor Castle were quite imposing. Upon entering this official residence of the Queen, I headed for St. George's Chapel, which was going to close first. I got really crowded in with other people, but enjoyed the opulent surroundings as best I could. The self guiding tour ended at the Albert Memorial Chapel.</p>

<andeys-trip-pic class="left" data-trip-pic="windsor-castle"></andeys-trip-pic>

<p>My next stop was Queen Mary's Dolls' House, an incredible, decadent little house, complete with running water and beautiful miniature artwork. I moved as slow as the crowd, then got more breathing room upon entering the State Apartments, where I saw more displays flaunting tremendous wealth. I liked the tapestries.</p>

<p>After leaving the castle, I returned to the railway station, waited a while for a train, then got one going to London. Evening set by the time I reached Camden Town and I stopped to eat at a small eatery serving Greek food. As a treat to end the day, I ate ice cream from the Italian restaurant Marine Ices, then returned to Horsham.</p>
