<andeys-trip-pic class="right" data-trip-pic="sacred-spring"></andeys-trip-pic>

<p>I started early, transfering from train to train until I got to Bath. Once there, I headed to the Roman Baths Museum, site of hot springs sacred to the Romans of the Roman Empire. After paying for entering, I picked up my audio tour equipment and started walking around.</p>

<p>One of the first things I saw was the main bath, nowadays open to the sky, but enclosed in Roman times. There were statues lining the terrace overlooking the bath. Though they were statues of Roman emperors and governors, they were erected in Victorian times.</p>

<andeys-trip-pic class="left" data-trip-pic="bath-abbey"></andeys-trip-pic>

<p>Going inside, I saw many archaeological artifacts and displays explaining the history of the baths. These included tiles, stone artwork, ruins of a temple for the goddess Sulis Minerva, tombstones, and the original drain, still functioning.</p>

<p>I could also see the still flowing sacred spring, where Romans made offerings to the goddess, but did not bathe there. One display nearby showed the blessings and curses people would present. Another area showed the ruins of a sauna and tepid pool. On the way out, I passed the elegant Pump Room, which was just a place to have tea.</p>

<p>After making a donation, I then stepped into Bath Abbey and was quite impressed by the huge, airy hall. Particularly delightful were the large stained glass windows. Lining the walls and the floor were memorials to many people. I also heard noises from the massive pipe organ, which was being tuned.</p>

<andeys-trip-pic class="right" data-trip-pic="royal-crescent"></andeys-trip-pic>

<p>It was such a gorgeous day outside, that I decided to walk around the city of Bath to see the architecture. Particularly impressive were the areas known as The Circus and The Royal Crescent, which had beautiful Georgian terraces, which were connected houses. The look was prevalent all over the city.</p>

<p>After looking around, I stopped at Woods Restaurant for a two course meal, diverging from my usual money saving trip to the local Sainsburys for grocery store food. Quite stuffed, I continued down to the Pultney Bridge, which spanned the River Avon. Its front side was far more scenic than its back.</p>

<andeys-trip-pic class="left" data-trip-pic="picadilly"></andeys-trip-pic>

<p>Soon I reached the railway station again, where I took a train to Swindon to find out information about the coach going to Avebury. It turns out I had just missed one and the next one wasn't for a while, so I got back onto the train, ending in London.</p>

<p>Evening approached, but I still had some time to sightsee, from outside, the Houses of Parliament, Whitehall and Trafalgar Square. I saw the neon lights of Picadilly Circus after dark, then took a long walk to Victoria Station, with a quick stop at the gates of Buckingham Palace, where I saw some guys trying to scale a nearby gate for fun. A policeman stopped them from continuing. I found out the Changing of the Guard schedule, then took the train back to Horsham.</p>
