<andeys-trip-pic class="right" data-trip-pic="suspen-bridge"></andeys-trip-pic>

<p>This day was the day to enjoy the outdoors, because it was so beautiful outside. We left the condo early and drove country roads to a waterfall area known as Seven Falls, but found it not open yet. I checked the information I had and decided to return past our condo to Canyon Ste-Anne, which was already open.</p>

<p>After paying the entrance fee, we took a shuttle bus to a bridge above Ste-Anne Falls and got off. We crossed the bridge and descended along the canyon rim, where we started getting great views of the 60 meter high waterfall. Soon we reached a long bridge suspended high above the gorge. I bounced a bit as I walked across. This was fun!</p>

<andeys-trip-pic class="left" data-trip-pic="ste-anne"></andeys-trip-pic>

<p>At the end of the bridge were stairs going down aways that my brother and I took. Because no one was on the lower bridge, I bounced more on that one, for fun. There we saw a good view of the lower river and a mini cascade from a small side canyon. Feeling energetic, I ran back up the stairs, with cheering support from tourists walking down. Going the rest of the way up, we spotted a big natural pothole and a rainbow created by the mist.</p>

<p>Our next stop was the Basilique de Sainte-Anne in Sainte-Anne-de-Beaupr&eacute;. I was quite impressed with the sheer size of the church. The ornate inside was equally impressive and many people crowded by the statue of Ste-Anne. I found out some came hoping for healing, because here was a relic - the wrist bone of Ste-Anne, mother of Mary. Outside, I found a Scala Santa, a replica of the Holy Stairs. Life sized statues depicted scenes from a bible story as you went up the hill.</p>

<andeys-trip-pic class="right" data-trip-pic="montmorency-fall"></andeys-trip-pic>

<p>We left towards Qu&eacute;bec, when I saw the bridge to Île d'Orl&eacute;ans, so I took it and explored the island briefly, just out of curiousity. Soon, we realized that we were hungry, so we headed to Old Qu&eacute;bec to try some of the local cuisine at a place called Restaurant Aux Anciens Canadiens. My dish was Tourtière à la Qu&eacute;b&eacute;coise (Qu&eacute;bec Meat Pie), which I thought was quite good. Dessert was a bit too rich for me, though.</p>

<p>We next headed to the nearby city of Beauport to finally visit Montmorency Falls, which kept grabbing our attention everytime we passed by it on route 138. After paying for a ticket at the visitor centre, we rode the cable car to the top. I wanted us to take the scenic walk down, so we crossed the bridge over the top of the falls, stopping to look down the brink, then descended the long steps that afforded the best views of the falls.</p>

<p>At the bottom, my brother went to the closest viewing platform to get drenched. I stayed farther away to protect my camera. We then all walked back to our car and left the park, returning to our condo in Beaupr&eacute; to relax.</p>
