<p>I got an early start in Horsham, where I took a train to Victoria Station. From there, I took the Tube to Paddington Station. Just for fun, I ran up the long stairs, but felt pretty bad after that, having to rest to recover. Finally, I took the train to Warwick.</p>

<andeys-trip-pic class="right" data-trip-pic="armour"></andeys-trip-pic>

<p>Feeling hungry, I decided to stop in a small tea room, curious to try a meal called the ploughmans lunch with chedder cheese. It turned out to be rather bland and uninteresting, but I ate it anyway. Next, I headed to the castle and entered after paying the fee.</p>

<p>On the lawn in front of the castle, a man in period costume was recalling stories to a crowd about historic battles with archery displays. I then entered the gatehouse, where I first headed to the dungeon and torture chamber, which had various medieval torture devices. Nearby was a small museum featuring armoury in an exhibit titled &ldquo;Death or Glory.&rdquo;</p>

<andeys-trip-pic class="left" data-trip-pic="ramparts"></andeys-trip-pic>

<p>In the Kingmaker exhibit, wax figures showed castle life in medieval times, including the blacksmiths, woodworkers, and garment makers. In the room of garment makers, I realized there were some real people among the figures.</p>

<p>Continuing on, I also toured the elegant state rooms, used by royalty in the seventeenth and eighteenth centuries. I ended up at The Great Hall, which had an impressive display of armoury. In another part of the castle there was the Ghost Tower, which had an exhibit about the murder of Sir Fulke Greville by his manservent in 1628. Haunting sounds played all around the rooms.</p>

<andeys-trip-pic class="right" data-trip-pic="river-avon"></andeys-trip-pic>

<p>Back outside, I climbed The Mound, which was the oldest part of the castle, dating back to 1068. It had a great view of the castle and the lovely grounds. I went back down another side of The Mound, then up the steps leading to the Ramparts Walk. I was rewarded with the best view from Guy's Tower, which took many steps to reach.</p>

<p>When I reached the other side of the walk, I realised I missed one more exhibit, and went inside to see the &ldquo;Royal Weekend Party.&rdquo; It showed wax figures of a party that occured in the castle in 1898, displaying the Victorian decor of the times in great detail. The guest of honor had been the Prince of Wales.</p>

<andeys-trip-pic class="left" data-trip-pic="radcliffe"></andeys-trip-pic>

<p>Done with seeing the castle, I walked over to the grounds which looked like an idyllic English countryside with the River Avon running through it. I stopped at the Victorian Boat House, the Peacock Garden, complete with peacocks, and the Conservatory. On the way out, I stopped to listen one more time to the guy who was talking about weapons and medieval war, then made my way to the railway station.</p>

<p>With a transfer at Leamington Spa, I made it to Oxford, where I walked around the colleges, impressed by the architecture. I only entered one place, Magdalen College, where I looked around at the buildings. Other highlights included seeing the Radcliff Camera and the Bridge of Sighs.</p>

<p>On my way out, I grabbed a delicious Cornish pasty from the covered market. I then took the train to London, the Tube to Victoria Station, and another train to Horsham.</p>
