<p>The trip started with Alex and Susie having some minor problems catching the bus and train on time to get to my place. Finally, they arrived in Berkeley at 9 AM and we went on our way.</p>

<andeys-trip-pic class="right" data-trip-pic="log-cabin"></andeys-trip-pic>

<p>We first made a quick stop in Folsom, near Sacramento, so I could visit my former roommate Brian to pick up my keys and a check for money he owed. We continued past South Lake Tahoe and then turned onto a scenic drive to the historic town of Genoa, known as Nevada's first permanent settlement.</p>

<p>Our only stop turned out to be the Mormon Station State Historic Park, which was set up in the mid-nineteenth century as the only (and thus expensive) stop for supplies for westward travellers before they crossed the imposing Sierra Nevada Mountains of California. We read all the exhibits about the history, but left soon after because we didn't see anything else particularly interesting in the town.</p>

<p>On we went to Nevada's state capital &mdash; Carson City. We made it in time to visit the Nevada State Museum, which turned out to be quite interesting. The museum, a former mint, had a beautiful collection of coins, a cool replica of a ghost town, a gun collection of which Alex showed particular interest, and a fairly standard exhibit about the animals of Nevada. The museum closed before we finished visiting all sections of the museum, but we got to exit through the basement, which was created to resemble a mining operation. After checking into our motel, we went out for dinner.</p>

<andeys-trip-pic class="left" data-trip-pic="gatling-gun"></andeys-trip-pic>

<p>We parked the car in downtown Reno and started walking through the casinos looking for an inexpensive meal. Unfortunately, the choices appeared to be either buffets with long lines or somewhat pricy restaurants with short lines as we explored Circus Circus, Silver Legacy, and Harrahs. Finally we found a cafe at Cal-Neva Casino with inexpensive and acceptable food.</p>

<p>Susie's mood perked up after filling up and she showed interest in doing a little gambling, so we gave her a couple quarters and she tried the slots and video poker a bit until she ran out of money. We also watched people play the game of twenty-one at the tables, but didn't participate. After that jaunt, we drove back to the motel in Carson City to shower and sleep.</p>
