<andeys-trip-pic class="right" data-trip-pic="shambles"></andeys-trip-pic>

<p>With an early start, I made my way by train from Horsham to London's King Cross Station, then took a Great North Eastern Railway train. The emblem of the line was &ldquo;The Flying Scotsman,&rdquo; but I was not visiting Scotland, only going as far north as York. However, the trip was delayed because of speed restrictions imposed after the Hatfield crash three days prior, which had killed four people.</p>

<p>Once I reached York, I walked into its medieval streets, in particular a section known as The Shambles. Then I entered York Minster, admiring its huge, stained glass windows and impressive fan vaulting. After looking around, I paid a fee to climb the steps of the tower. It was a long, steep climb, but my reward was a great view of York. On the way down, I noticed graffiti under the steps.</p>

<andeys-trip-pic class="left" data-trip-pic="rose-window"></andeys-trip-pic>

<p>Next, I went underground to explore the Undercroft, Treasury, and Crypt. There, I found the excavated remains of the Norman Cathedral that existed there before and a Roman headquarters building that existed there even earlier. One area was the likely spot where Constantine the Great was proclaimed caesar and later emperor of the Roman Empire. After looking at the artifacts and treasures, I returned to the outside.</p>

<p>I went south through the city until I reached Clifford's Tower, site of a massacre of the Jewish community in 1190. Then I headed for the medieval walls and starting walking on them clockwise around the city centre. It was a great, relaxing way to see the city from above.</p>

<p>Expecting delays, I returned to the railway station by mid-afternoon, catching the train to London. I got there by dark, and then continued on to Horsham.</p>
