<p>We arrived at Monticello, Thomas Jefferson's plantation, soon after it opened. Already a line was forming for getting tickets and waiting for the shuttle bus to the house. Once at the top, we almost didn't make the cut for the next tour, then got added on because a big group was next.</p>

<andeys-trip-pic class="right" data-trip-pic="monticello"></andeys-trip-pic>

<p>Inside the house, we saw many impressive pieces of Jefferson's collection, including artifacts from the western expedition of Lewis and Clark. He also had scientific instruments and mechanical gadgets, some that he himself invented for practical use. The house also had collections of busts and paintings, usually of people Jefferson admired.</p>

<p>The tour guide pointed out how Jefferson made efficient use of time, light, and space, particularly noticeable in the bedroom. For example, he would place mirrors so that they would reflect light from windows into the room and created alcoves to maximize storage space. The tour ended outside at the north entrance to the house, opposite from where we entered. From here, we walked over to the west lawn for a view of Monticello shown on the five cent U.S. coin.</p>

<andeys-trip-pic class="left" data-trip-pic="michie"></andeys-trip-pic>

<p>Soon we encountered a guide starting a tour of the gardens, now maintained by the Garden Club of Virginia. The plants, some quite beautiful or unusual, were arranged and selected to match Jefferson's detailed notes as close as possible. Water was tough to transport to the top, so he put in plants that could sustain themselves just from the rain. We also walked into his tree farm. Jefferson admired trees just as much as flowers.</p>

<p>My mom, brother, and I took a break after the tour to have cool drinks under the hot sun. Soon after, though, we found another tour starting, this one being for Mulberry Row, the row of buildings that supported Monticello's industry using free and slave workers. We were starting to tire on this tour, after listening to guides talking all morning, but we stuck around and looked at the scenery.</p>

<andeys-trip-pic class="right" data-trip-pic="lost-world"></andeys-trip-pic>

<p>Finally done with our visit to the hill, we started walking down, making a stop at Jefferson's grave. At Jefferson's request, the epitaph mentioned what Jefferson thought were his three most important contributions, which did not include serving as the third president of the United States.</p>

<p>We left Monticello, then stopped at Michie Tavern for tour that gave a sense of life in the eighteenth century within the historic building. The guide dressed in colonial wear and showed us what guests would do in the tavern in colonial times. The tour included tasting one of the old drink recipes for punch and writing with a quill pen.</p>

<p>After the guided tour ended, we stepped outside to see the outbuildings, including &ldquo;the necessary&rdquo; and the well. Entering the building's basement we looked at displays of the small Virginia Wine Museum. Continuing on, we saw the separate Sowell House, with displays about the construction history of the building. Lastly, we stepped into the Meadow Run Grist Mill, an historic mill which still had its big wheel rotating.</p>

<p>We ended up in the General Store, then made it to &ldquo;The Ordinary,&rdquo; a restaurant serving colonial style food in a buffet style. I particularly enjoyed the Colonial Fried Chicken. After filling up on tasty food, we left Charlottesville and headed to West Virginia.</p>

<p>Once we arrived in Lewisburg, I exited the interstate and drove around some country roads trying to find Lost World Caverns. Eventually, we found it and my brother and I signed up for a self-guided tour. The entrance was a graded walkway into the dim cave, where we started looking around at formations detailed in the guide sheet we were given. It was quite cool, but I felt I could handle it without a jacket. So few other people were there that we felt like we were exploring this huge room by ourselves, giving us a great sense of adventure.</p>

<andeys-trip-pic class="left" data-trip-pic="wv-capitol"></andeys-trip-pic>

<p>The ceiling was quite high and some of the formations were tall and impressive. Particularly beautiful was the &ldquo;Bridal Veil&rdquo; column. The &ldquo;War Club&rdquo; was lighted dramatically in red. Someone sat on that formation once to break a world record for stalagmite sitting. At one point I noticed coins embedded in the wall, then looked up to see the natural cave entrance far above. Maybe this is what happened to coins tossed into the hole.</p>

<p>Returning from the depths, we got back into the car and continued down the interstate to Charleston, the capital of West Virginia. The city looked quite scenic from afar, nestled among the mountains. Once in town, we checked into a motel, then drove to downtown to see the Capitol building. In front were the statue of Abraham Lincoln, who helped create the state in 1861, and Stonewall Jackson, a confederate general born in this area.</p>

<p>With darkness descending, we decided to go out to eat some Asian food. It turned out that the restaurant we picked was Thai and the owner delighted in talking to my mom, introducing her son James to me. After dinner, we returned to our motel room to sleep.</p>
