<andeys-trip-pic class="right" data-trip-pic="red-flower"></andeys-trip-pic>

<p>After packing up camp, we took our little Ford Focus car on the unpaved Balsam Mountain Road. It was basically a drive on gravel through the forest, but we did see beautiful red flowers. At one point, we had to cross a small creek, but the car made it safely, hitting one bump that did not seem to cause any damage.</p>

<p>The road ended up in the Cherokee Indian Reservation, where we accidently turned onto a loop road before making our way out. Along the way, we saw a sign for Mingo Falls, so took the steps up to admire the 200 foot waterfall. After that, we re-entered Great Smoky Mountains National Park.</p>

<andeys-trip-pic class="left" data-trip-pic="chimney-tops-pk"></andeys-trip-pic>

<p>After making it over Newfound Gap into Tennessee, we squeezed our car into the only parking spot left at the Chimney Tops trailhead . I wanted to do this hike last time I visited the park and now had the chance. We walked an easy trail that turned into a steep climb, then the real challenge began when we had to climb up steep rocks. Scouting the base, we found a doable route, then got to the top for a great view of the mountains surrounded in clouds. Getting down was equally challenging, and we made our way carefully.</p>

<p>Back in the car, we continued on to Townsend to see Tuckaleechee Caverns with the underground Silver Falls. The caverns had typical limestone formations, but one difference was that the owners let visitors touch them. Most caves do not allow this to protect the formations from skin oil, which discolors the limestone and stops growth.</p>

<andeys-trip-pic class="right" data-trip-pic="tuckaleechee"></andeys-trip-pic>

In one big room, the guide stopped us, then went off the trail to show his height compared to one of the big stalagmites. I had never seen a guide go off trail like that before, carefully making his way around other stalagmites. Silver Falls was also an interesting sight. From there, we returned back to the entrance, passing it on the way to an area known as The Beach, where we could touch the cool, clean water.

Back above ground, we drove the car to the town of Oak Ridge, built by the federal government in World War II to research nuclear technology. With places closing for the evening, our only stop was the big model of an atom in front of the American Museum of Science and Energy.

After that, we just continued on to Land Between The Lakes National Recreation Area to set up camp. There, I saw I wonderful sight I had not seen since camping in the Ozarks &mdash; fire flies lighting up here and there, creating an almost shimmering effect. We managed to sleep okay, despite the heat.
