<andeys-trip-pic class="right" data-trip-pic="flight-deck"></andeys-trip-pic>

<p>We returned to the Charleston area to tour the USS Yorktown CV-10 and other vessels at Patriots Point. The aircraft carrier seemed even bigger inside than it was outside, as we found while following all eight tours outlined in the foldout map and guide we got.</p>

<p>Tour one went through the living and working spaces, showing places like the typical washroom, berthing space, mess, galley, dental spaces, bakery, and the butcher, machine, cobbler, and electric shops. Tour two took us way down to the engine room. Tour three took us up to the flight deck and bridge, where we saw aircraft on display. Tour five included officers' rooms, the print shop, brig, soda fountain, and ship's store. Tour six showed the rooms belonging to the captain and admiral.</p>

<andeys-trip-pic class="left" data-trip-pic="coding"></andeys-trip-pic>

<p>Tour four, seven, eight, and parts of the other tours also featured extensive exhibits related to the military. Many displays showed artifacts and information about other naval craft. There were also displays of mine and torpedo technology as well as model ships and aircraft.</p>

<p>After looking around almost the entire vessel, we were quite tired and eager to leave the warm, stuffy rooms behind. Back outside, we made it to the Submarine Clamagore for quick tour from one end to the other in the cramped quarters. We then made it through brief tours of the Coast Guard Cutter Ingham and the Destroyer Laffey. Our final tour went back to land for a true-to-scale exhibit of a Vietnam Naval Support Base, complete with an observation tower, helicopter, patrol boat, jeep, bunker, and surrounding barbed wire.</p>

<andeys-trip-pic class="right" data-trip-pic="mt-mitchell"></andeys-trip-pic>

<p>Exhausted, we left the area and headed inland into the mountains, eventually reaching Asheville, North Carolina. Going around the town for a while, we finally found the entrance to the Blue Ridge Parkway and took it to Mount Mitchell State Park. The weather changed significantly from Asheville, with fog and wind making it cold.</p>

<p>Despite the weather, we took the short trail to the top where a sign mentioned the mountain was the highest point east of the Mississippi River, at 6684 feet. We climbed the observation tower and saw just fog while feeling the 20-40 mile per hour gusts of wind. We returned down to look at the grave of Elisha Mitchell and chatted with a park employee before going back to the car.</p>

<p>We checked out the park's campsite and decided it was too cold to camp there. We returned to the Blue Ridge Parkway, until we found a campsite with no fog &mdash; the Crabtree Meadows Campground. We stayed there the night. The cool temperatures and peacefulness made for a far better experience than at our previous campsites.
</p>
