<andeys-trip-pic class="left" data-trip-pic="grapevine"></andeys-trip-pic>

<p>We woke up to a freezing morning, with temperatures starting to climb from around 20 degrees Farenheit. I braved the cold by leaving the tent, and was rewarded with a view of Red Rock Canyon gorgeously lit by the morning sun. Fortunately, the sun started quickly warming the air, helping us get up to pack and leave for Death Valley National Park.</p>

<p>A couple hours later we reached Stovepipe Wells in Death Valley to set up camp. At first, it looked like none of the good tent sites were available, but then we found out someone was leaving and got a spot. Once we set up the tents, we had an early lunch.</p>

<p>After eating, we headed north to Scotty's Castle just to walk the grounds around the mansion. I had already taken a tour on my previous trip there and didn't care to do it again. Karen wanted to see Scotty's Grave up on a hill, so we let her go up there while we waited at the bottom. We started to worry a bit when it took a while, but then she appeared at the top, waving. After returning down we fueled the car with some expensive gasoline, then headed off to Ubehebe Crater.</p>

<andeys-trip-pic class="right" data-trip-pic="race-track"></andeys-trip-pic>

<p>We only spent a brief time looking down the volcanic crater from the edge, then started driving down the unpaved road to Racetrack Valley. I discovered it was in far better condition than when I last drove it the year before and we quickly got to Teakettle Junction, which had a sign with many teakettles hanging off of it. There were more hanging there than the year before.</p>

<p>Continuing further down, we parked in the second dirt lot for an area known as The Racetrack, a flat lake playa with rocks that made tracks whenever the surface was wet. We had a great time walking around this incredibly flat area, looking out for the faint marks that resembled a mostly directionless race. The late afternoon shadows helped deepen the impressions. We then drove back on the unpaved road as the sun set, noticing beautiful red clouds as we passed the Grapevine Ranger Station.</p>

<andeys-trip-pic class="left" data-trip-pic="sunset"></andeys-trip-pic>

<p>It was Thanksgiving Day, so when we returned to Stovepipe Wells, we lined up for the special Thanksgiving dinner offered at the local restaurant. The food was quite good and we got too full to eat any dessert. Quite satiated, we returned to camp. Although Li-Li and Karen played around a bit in the tent, we eventually fell asleep.</p>
