<andeys-trip-pic class="right" data-trip-pic="drum-tower"></andeys-trip-pic>

<p>Our tour group had a western style breakfast in the hotel, then I walked outside briefly to take pictures of the Bell Tower and Drum Tower. We then got on our buses and headed out to the Da Ci'En Temple. The temple's most prominent structure was Da Yan (Big Wild Goose) Pagoda, standing 64 meters high. I did not feel that I had time to go up the seven level pagoda for the view, which would have cost extra anyway. So instead, I just explored the temples with the Buddha images, the lovely gardens and the small museum of religious artifacts.</p>

<andeys-trip-pic class="left" data-trip-pic="wild-goose-pagoda"></andeys-trip-pic>

<p>Our shopping stop for the day was at the Xi'an Rongshengzhai Tourist Arts and Handicrafts Center. Here, they showed us how they made replicas of the terra-cotta warrior statues for which the area is well known. Surprisingly, the tour guide suggested not to buy the replicas here, because we could get them cheaper later. I waited around the shopping area, saw a bit of a weaving demonstration, then hopped on to the bus as soon as it was open.</p>

<p>We drove to the nearby city of Lintong, where we had a rather bland meal, though at least I picked up a little Chinese flag on a toothpick taken from a pineapple slice. After that, we crossed the street and entered the Hua Qing Hot Spring to see the pools and gardens built by a Tang dynasty emperor for his favorite concubine. I could see distant cable cars going up and down Li Mountain, the backdrop for the gardens. I soon left the tour to explore the historic pools and found a place where the hot springs still flowed.</p>

<andeys-trip-pic class="right" data-trip-pic="hot-spring-fountain"></andeys-trip-pic>

<p>The bus next took us to the most awaited attraction for the tour group, which was the Museum of Qin Terra-Cotta Warriors and Horses. The tour leader first led us into a Circle Vision Theater, where you had to turn around 360 degrees to see the entire screen. It gave an interesting visual history about the site. I didn't really need to understand any of the audio, barely audible anyway.</p>

<p>Next came the huge archeological pit number one, which showcased below us hundreds of full-size infantry warrior statues lined up in formation. This impressive collection of statues was discovered by farmers in 1974, over 2200 years after they were buried along with Emperor Qin. Behind the pit was an area where statues were being restored.</p>

<andeys-trip-pic class="left" data-trip-pic="terra-cotta-chariot"></andeys-trip-pic>

<p>After leaving pit one, we went into a gift shop that featured one of the farmers who discovered the ruins. People crowded around him, hoping for his autograph. A photograph of him with President Bill Clinton hung above his head.</p>

<p>We moved onto pit number three, which had a great example of a chariot statue as well as an example of unrestored ruins. We then visited pit number two, which was also big. It's main point of interest were display cases showing restored statues of archers, an officer, a general and a man with a horse. </p>

<andeys-trip-pic class="right" data-trip-pic="qin-general"></andeys-trip-pic>

<p>Finally, we went into an exhibit building where I saw excavated artifacts in enclosed displays, including two half-sized bronze statues of Emperor Qin's chariots, one open and one covered. I also saw an exhibit about the creation of the museum itself.</p>

<p>I realized in time that I had to go back and meet my group to get on the bus. Exiting the museum gates, I had to brave a crush of touts trying to sell me tourist stuff. I ignored them, so they would have a clear idea that I had no interest in their wares. I had seen that showing any interest could get a person to follow and annoy you.</p>

<p>The bus drove us back to Xi'an, quickly passing the burial mound of Emperor Qin. I could see that steps led to the top for a view. We had a forgettable dinner in the city, then returned to the hotel.</p>

<p>With plenty of free time in the evening, I decided to check out downtown with my brother and his friend Arnond. Most places were closing and nothing else looked interesting, so we soon returned to the hotel. I decided to spend my time watching television and writing postcards, while my brother sparred with his friend. They had attracted a small audience for their practice fighting by the elevators. I watched briefly then returned to the room. Eventually, we all slept.</p>
