<andeys-trip-pic class="right" data-trip-pic="davis-dam"></andeys-trip-pic>

<p>We didn't set an alarm this morning, but I woke up early anyway, out of habit. Because I had some free time to myself, I did some reading as well as enjoying the room view of the Colorado River. I also did my packing.</p>

<p>We used the television and remote control to check out of the hotel just before 11 AM, then took the car and drove north. First, we made a quick stop at Davis Dam just to take a look at the earthen structure as well as take a picture of the hydroelectric plant. Then, we got back on the road, soon turning right onto a dirt road leading to Grapevine Canyon in the Lake Mead National Recreation Area.</p>

<andeys-trip-pic class="left" data-trip-pic="grapevine-art"></andeys-trip-pic>

<p>After a couple miles, we turned left to a parking area and started walking next to a wash. Soon, we could see an impressive display of petroglyphs on the rocks surrounding the canyon. We took some pictures then returned to the car as rain started falling. Because of the weather, we decided not to continue onto Christmas Tree Pass and went back to pavement.</p>

<p>Finally in California, we first stopped in Barstow to eat at Denny's using a two entrees for the price of one coupon Joy had. Then we arrived in the City of Industry to develop film at Costco One Hour Processing. We found the store had moved, so we had to look for the new location then submitted our film while doing some shopping. When we were done, we returned to Whittier to relax and eat at Joy's place.</p>
