<p>After going to breakfast at our hotel's Parkview Coffee Shop, my brother and I were ready to go on the half day tour scheduled for members of the Thai Physician's Association of America and their children. The tour started an hour later than I expected, so we had time to wait. Once on the bus, I found my friend Joy and sat with her.</p>

<andeys-trip-pic class="right" data-trip-pic="three-stupas"></andeys-trip-pic>

<p>The bus slowly made its way through the morning traffic congestion. Eventually, we made it to our first stop, the temple Wat Phra Keo and the Grand Palace. I had been here before, but figured maybe I would find something new or take better photographs.</p>

<p>Soon, Joy and I left the tour group to wander around on our own, looking at the gorgeous, intricately decorated buildings. We visited the crowded Temple of the Emerald Buddha to see the jade Buddha image, discovered in 1464. Another area had a small scale replica of Angkhor Wat. Then, we explored less crowded areas and found workers restoring a huge, long mural telling the story of Ramakien.</p>

<andeys-trip-pic class="left" data-trip-pic="thai-palace"></andeys-trip-pic>

<p>At one point, we found ourselves at a dead end in some gardens with a great view of the temple. We then wandered past the Chakri Maha Prasat Hall, with its mix of European and Thai architecture and found the meeting place for the tour group. I started not feeling well so bought some water for both me and Joy. She later gave me Tylenol for a headache I developed.</p>

<p>After some waiting around, we boarded the bus and took the traffic congested drive to Vimanmek Mansion. The building was built for King Chulalongkorn in 1900 and later restored as a museum in his memory. We took pictures in front of the beautiful golden teakwood mansion, then took off our shoes and checked in our belongings before entering the mansion.</p>

<p>Part of our group took the Thai language tour. We waited and then got the English language tour. As we went through the impressive mansion, we saw many luxurious artifacts, especially pottery and antiques, acquired from around Thailand and abroad.</p>

<andeys-trip-pic class="right" data-trip-pic="vimanmek"></andeys-trip-pic>

<p>We returned to the bus to face more traffic congestion on the way back to the hotel and ended up arriving too late for a lunch with the TPAA Youth Council. So, after stopping at my room, my brother, Joy and I headed for the nearby Emporium to eat at an inexpensive restaurant. Joy could not resist buying some CDs afterward.</p>

<p>Back at the hotel room, we rested and my dad gave me some medicine to help me out. Turns out I felt much better as the evening progressed. We left the hotel in buses again, this time for a dinner cruise on the Chao Phraya River.</p>

<andeys-trip-pic class="left" data-trip-pic="wat-arun"></andeys-trip-pic>

<p>I talked with people I knew as we waited for the boat &ldquo;Pearl of Siam&rdquo; on the dock. Confusingly, there were three boats with the same name, but we got led to the correct one for the youth group. Joy and I sat at a table with Piak, Ton, Rana and Isra. My brother sat upstairs outdoors.</p>

<p>After the buffet dinner, I decided to look around the boat on my own and went outside to take pictures of the temples along the river lit up for the night. I then hung out with Rana and Isra at the bow of the ship, enjoying the warm air and slight breeze. Later, I went upstairs to check out the music entertainment. A few people were having fun singing and dancing while others watched and chatted.</p>

<p>I noticed the boat went up and down the river a couple times. Eventually, it had to dock and we left the boat for the buses. Back at the hotel, my brother and I returned to our room and slept.</p>
