<andeys-trip-pic class="right" data-trip-pic="mule-train"></andeys-trip-pic>

<p>We woke up and made sure we were ready for our trip to Supai. I went outside to find my car iced over, but a little defrosting got it melted. We checked out and headed north to Hualapai Hilltop, passing snow patched forests, livestock pastures then finally arrived at the dramatic end at the canyon rim.</p>

<p>As we started descending the switchbacks, we started noticing a fairly constant stream of packs of mules and horses being led up and down the trail, carrying various supplies, including mail. Dogs also traveled the trail, hoping to be given food. Above, a helicopter kept making runs back and forth from Supai.</p>

<andeys-trip-pic class="left" data-trip-pic="hualapai-cyn"></andeys-trip-pic>

<p>Soon, we entered beautiful Hualapai Canyon with its massive colored rock formations and high cliffs. First the path was a typical desert wash with occasional desert plants such as prickly pear cactus. Then the canyon narrowed and we began to see more water loving trees such as cottonwoods, showing glorious yellow for autumn. We began to spot open water near the junction with Havasu Canyon.</p>

<p>About six miles into the hike, we found Havasu Creek and knew we were not far from the village. Around here, Joy got a blister on one of her feet, so I took out some moleskin from my first aid kit for her to use. Just as we began to tire from carrying our somewhat heavy backpacks, we entered town, seeing the towering Wigleeva rock formations above. The story goes that they guard the Havasupai and that their fall would mean the destruction of the village. After passing the rodeo ground, ranches with horses and cattle as well as roaming cats and dogs, we entered the village center.</p>

<andeys-trip-pic class="right" data-trip-pic="heli-wigleeva"></andeys-trip-pic>

<p>Next to the half cylinder roofed church was the modest Havasupai Lodge, where we checked in and were told that the hot water was not working properly with only one water heater available. Fortunately, we got a reduction in price for this inconvenience, with the nightly price dropping from $80 to $45. We found out later the water was at least lukewarm, which was fine. We found that our room, number 4, had a dresser with one missing and one broken drawer and no television or phone, but I expected the latter two lack of amenities.</p>

<p>After relaxing we decided to explore the village and ended up getting postcards at the lodge, buying a soda at the store and eating dinner at the cafe. Both Joy and I tried the Supai Taco and shared cheese fries, but found all the food greasy and lacking in taste. Joy could not finish her meal but I managed to finish mine, feeling quite stuffed. We both showered, did some reading then slept afterwards.</p>
