<andeys-trip-pic class="right" data-trip-pic="lama-temple"></andeys-trip-pic>

<p>We started our day with breakfast at the hotel then checked out. The buses took us first to the Yonghe Gong Lama Temple. It was interesting to see how the temple differed from Thai ones. For one thing, you could wear shorts and leave your shoes on inside, a behavior repugnant in Thai temples.</p>

<p>We walked through a succession of buildings, each holding a big Buddha image. Outside of each temple, worshippers burned incense, creating quite a bit of smoke. The first Buddha image we saw was the laughing Buddha. Another building had monks in it, chanting while beating on simple drums and blowing on horns. The last building had a huge Maitreya Buddha image carved out of a single sandalwood tree. A plaque outside claimed the carving had set a world record.</p>

<andeys-trip-pic class="left" data-trip-pic="pulse-taker"></andeys-trip-pic>

<p>We only had one shopping stop this day. It was at the Anzhen Health Care Consultation Center, where we heard a lecture about the wonders of Chinese Medicine. Afterwards, &ldquo;experts&rdquo; tried diagnosing problems simply by talking pulses and asking questions. I didn't go for it.</p>

<p>We went for a rather bland lunch before taking off for the aiport. I got a window seat on the short flight to Xi'an, where I had a great view of the landscape below. To me, it looked there was no wild open space. The rolling hills all seemed to have been developed, mostly for farming.</p>

<andeys-trip-pic class="right" data-trip-pic="gate-tower"></andeys-trip-pic>

<p>We arrived at the airport and found ourselves with a new Chinese tour guide on our bus. Our only scenic stop of the day was at the North Gate of the Xi'an City Wall. We walked around the top for a good view of the city, moat and the rest of the wall. The gate tower had shops inside, where I bought a pack of postcards, negotiating the price down until it was reasonable.</p>

<p>Once back on the bus, we headed south, past the South Gate to our dinner. After dinner, we headed back north past that gate to the Bell Tower Hotel to check in. My brother and I then had the chance to explore the city independently. We took off our tour identification buttons and hit the streets.</p>

<andeys-trip-pic class="left" data-trip-pic="xian-night-wall"></andeys-trip-pic>

<p>We decided to walk to the South Gate, camera and tripod in hand. However, we did have to cross the street a few times, getting a first hand experience of just how trecherous it was to be a pedestrian in China. No cars stopped for us or anyone else, even on crosswalks.</p>

<p>We reached the South Gate, but could not walk under it without paying a fee, so we walked around the outside. From the other side, I set up my tripod to take pictures of it beautifully lighted up for the night. After we finished, we headed back, stopping at Kentucky Fried Chicken just to get drinks. It turned we had to point to what we wanted, because no one spoke or understood English. After also admiring the Bell Tower building at night, we went to our hotel to sleep.</p>
