<p>Morning came and my brother and I woke up early enough to enjoy breakfast at the Parkview Coffee Shop in the hotel. My parents, though, had to rush to catch a tour bus leaving for Cha-Am for a golf tournament. After our meal, we took a taxi to the airport domestic terminal.</p>

<andeys-trip-pic class="right" data-trip-pic="novotel"></andeys-trip-pic>

<p>After checking in, we found ourselves directed to a travel agent who tried selling some tours of Phuket. I had some suspicions, but decided to buy three tours, two at a discount. I tried to ask about the itinerary of each tour and found out only later the guy was just saying yes to all my questions without understanding me. At least I did find out later that I indeed saved some money. One tour ended up being spectacular, one mediocre, and one pretty decent.</p>

<p>The flight to Phuket was fortunately without incident, except for some minor turbulence at one point. We arrived at the airport to find a minibus waiting to take us to the Novotel Phuket Resort in Patong Beach. The ride took a while because the driver made a quick stop in Phuket Town.</p>

<p>At the resort, I was impressed with the view of the Andaman Sea. Our room had the view too and was quite comfortable and clean. The sky was overcast and it was windy, but I expected at least that during monsoon season.</p>

<p>After checking in, my brother and I walked down the hillside resort to the street, then continued into the town of Patong Beach. First, we walked along the beach to enjoy the breeze, then went inland looking for a place to eat. Passing many western hangouts, we finally managed to find an inexpensive Thai restaurant.</p>

<andeys-trip-pic class="left" data-trip-pic="patong-beach"></andeys-trip-pic>

<p>We ate then left to see more of the town. The heart of downtown smelled of too many cars and motorcycles. It was not all that peaceful. After buying postcards, we decided to head back, but then I realized I left my room key at the restaurant, so we walked back there. The restaurant workers knew what I came back to get.</p>

<p>Finally back at the resort, we had plenty of time to spare, so decided to check out the three tiered pool, connected by waterfalls. We swam in each one for a while, tried the jacuzzi, then shot a ball through the pool basketball hoop. Afterwards, we relaxed in the room. Not feeling like going out again, we ordered room service, then slept early after eating.</p>
