<p>We arrived at the visitor center just before it opened, watching park employees raise the American flag. Once the doors opened, we got in and signed up for the first ninety minute tour of Lehman Caves, which would start about a half hour later. In the meantime, I checked out a restored log cabin nearby holding a small exhibit about the history of the cave tours.</p>

<andeys-trip-pic class="right" data-trip-pic="cave-shield"></andeys-trip-pic>

<p>After the ranger gave an introduction and orientation on the cave, she led us into the man-made entrance. The ranger mentioned that the Native Americans used to bury their dead at the entrance. As we entered the cave proper, she quietly led us past the natural opening above us, in respect of the natives.</p>

<p>We first stopped at the Gothic Palace, where the ranger gave a demonstration of the cave in the dark as well as in candlelight, to give an idea of how early explorers saw the cave. Then, she showed us the richly decorated passages as we started making our way further inside. Especially notable were the cave shields, two plates separated by a thin space where water comes out. It was common in this cave, but somewhat rare in others.</p>

<p>Soon we came upon a space known as the Inscription Room, which had writing all over the ceiling. In the early days of tours, visitors would leave their names here. Later attempts to remove the old graffiti by rubbing or paint, failed.</p>

<andeys-trip-pic class="left" data-trip-pic="swamp-room"></andeys-trip-pic>

<p>Moving on futher, we passed by places with names such as King's and Queen's Bathtub and a watery room I particularly liked called the Cypress Swamp. A couple months ago, according to the ranger, these rooms were as full of water as they had known ever to be. There were little waterfalls all over the place.</p>

<p>The farthest room on the tour was the Grand Palace, where we saw a stalagmite and stalactite close to becoming a column, bulbous stalactites, and what appeared to be a tunnel above us. The ranger talked about how much lint filled the cave over time and the attempts to clean it out. On our way back out, we stopped in the Lodge Room, where dances once occured. Then at the man-made exit tunnel, the ranger kicked the door to present to us the &ldquo;heartbeat of the cave&rdquo; in the oscillating echos that resulted.</p>

<andeys-trip-pic class="right" data-trip-pic="bulbous"></andeys-trip-pic>

<p>Leaving the visitor center, we headed south, passing Garrison, Utah, before turning off onto a rough road leading into the Humboldt-Toiyabe National Forest. We then parked at the trailhead for Lexington Arch and started hiking. Not long after crossing back into Great Basin National Park, we took steep switchbacks until we ended up under the magnificent limestone arch. Under the shade, we ate lunch and listened to the quiet sounds of nature.</p>

<p>From under the arch, we spotted a bench in the distance, so as we returned on the trail, we looked out for it. When we got to it, we noticed it had a great view of the six story arch that we ate lunch under. After admiring the view, we returned onto the trail then back to the car.</p>

<andeys-trip-pic class="left" data-trip-pic="lexington-arch"></andeys-trip-pic>

<p>Soon we were in Utah. As I drove, I looked out for changes in the landscape. There were some interesting landmarks along the way, but I wasn't truly impressed until I was on Interstate 70. The first scenic rest stop was the best we saw before darkness set in.</p>

<p>I left the interstate and headed south on Utah state route 24. A stranded motorist waved us over to the side. He said he had a flat tire and needed help, but I was too exhausted by then to do any good. I wished him well and continued on to Goblin Valley State Park.</p>

<p>It turns out we made it to the park soon before closing. The ranger helped us find our reserved campsite, then we parked and set up camp. We had dinner under the light of my lantern, then slept.</p>
