<p>Our tour group arrived in Beijing, China from Bangkok, Thailand. Many were sleepy, having had insufficient sleep on the five hour flight. I was surprised we had been served a meal considering the flight was so early in the morning.</p>

<andeys-trip-pic class="right" data-trip-pic="circle-door"></andeys-trip-pic>

<p>We passed easily through immigration and customs, welcomed in Chinese and English by big electronic displays above. Buses arrived to pick us up and we got introduced to our tour guide. As we left, I noticed large billboard ads showing Arnold Schwarzenegger promoting electronics. The only English I saw on any of them was &ldquo;DVD.&rdquo;</p>

<p>Our first stop was for breakfast. The food did not taste good to me, but I figured it was because I did not feel hungry. They did supply us with plenty of food, though. It was more than I would usually see at breakfast.</p>

<andeys-trip-pic class="left" data-trip-pic="jade-carver"></andeys-trip-pic>

<p>Not long after we finished eating, we took off in our buses as the tour guide began talking about our destination, one of the thirteen Ming Emperor Tombs. We arrived at the Dingling Tomb of Emperor Wan Li, built in the sixteenth century. Some parts of the complex were replicated after destruction by Red Guards during the Cultural Revolution in the 1960s.</p>

<p>Though the Dingling Tomb complex was huge, I was more impressed by its beautiful backdrop of mountains disappearing into the haze. We walked long pathways and up a hillside then down many steps until we reached the underground chamber. Inside were thrones of the emperor and, curiously, some small piles of low value Chinese money on the floor, away from the reach of the tourists. We walked outside up a shorter set of steps then visited a couple buildings exhibiting interesting artifacts excavated from the tomb. All this time, a videographer kept up with us, recording our day.</p>

<andeys-trip-pic class="right" data-trip-pic="great-wall"></andeys-trip-pic>

<p>I was a bit disappointed with our next stop. We visited the Beijing Jade Carving Factory. After just a fleeting presentation about jade and the carving of it, we were led into a shopping area. I just wandered around, but others did buy stuff.</p>

<p>We then stopped at the Friendship Store for lunch. Either I had lost my appetite or the food just was not good. Also, they gave each big table only one liter of Coca-Cola. Any more drink, including water, would cost more. After eating, we had plenty of time to shop downstairs for overpriced tourist trinkets. I realized this was probably how the tour made money.</p>

<p>The buses finally left the store and made it to a truly spectacular destination, the Great Wall of China. We parked at the Badaling section, reconstructed to look good and be safe for tourists to climb. Though we weren't on completely orginally built wall, I was still impressed by the scenery of the long barrier weaving through the mountains. The low overhanging clouds added to the mysticism.</p>

<andeys-trip-pic class="left" data-trip-pic="hand-burn"></andeys-trip-pic>

<p>After participating in a huge group picture of the tour group, my brother and I started the long climb up the steps. We decided only to go up to the second battlement because of concern for the time we had to return to the bus. A few people did get to the top of the section, though. At both the first and second battlement, we climbed narrow stairs to see the great view. We then returned to the bus and waited for the rest to get back down.</p>

<p>I wondered just how much of the trip would be wasted as we were taken to yet another shop. This one was selling burn creme among other medicinal products. The tour separated into two different rooms, one for a presentation in English and the other one in Thai. Once inside the room for the English one, we were given handouts about their products. An employee of the place demonstrated the burn creme infomercial style by burning his hand then putting on the creme, showing everybody the results.</p>

<andeys-trip-pic class="right" data-trip-pic="dai-dance"></andeys-trip-pic>

<p>Dinner time came, and the tour buses took us to a restaurant called Dai Village. To my delight, the food was delicious and not all that different from northern Thai food. Colorfully dressed performers danced for us as we ate. Later, a guy played a pan flute. In the end, the dancers invited the audience to join them in a fun dance.</p>

<p>We ended our day at the Asia Vision Hotel, finally having a chance to take care of much needed personal hygiene after having little chance the night before. Unfortunately, the shower felt like a garden hose. Relaxing afterward, I flipped through the television channels. Most of them were China Central Television and in Chinese, which I didn't understand but watched out of curiousity. We slept well after such a busy day.</p>
