<p>Today was a day to relax, at least in the daytime. My brother and I woke up to have a leisurely breakfast, then returned to the room. His friend Alisa came to visit but then fell asleep because she did not sleep the night before after attending a charity event. I took that time to quietly pack for my trip to China.</p>

<andeys-trip-pic class="right" data-trip-pic="pm-thaksin"></andeys-trip-pic>

<p>When she awoke, she left and we decided to eat lunch inexpensively at the nearby Emporium shopping center. From the fifth floor market, we bought food then brought it back to the hotel room. Finding no utensils with which to eat, we used the food container lids as plates and some stirring sticks in the wet bar as chopsticks.</p>

<p>After getting a complimentary &ldquo;welcome&rdquo; drink at the hotel using a coupon, we realized it was time to dress up for the Gala Dinner, which the Thai Physicians Association of America throws at the end of each convention. I got to see my brother in a suit and tie for the first time. I had to help him with his tie.</p>

<andeys-trip-pic class="left" data-trip-pic="dad-sings"></andeys-trip-pic>

<p>At the event, I greeted my well dressed friends and took a couple pictures here and there. After getting a soft drink, I entered the dining room to sit at a table with my parents, as assigned. My brother showed up soon after and we folded the napkins into different shapes while waiting for things to start.</p>

<p>The surprise of the evening came at the beginning, when Prime Minister Thaksin of Thailand arrived. He brought along the Minister of Health and made a speech. After that, he took pictures with people from table to table. My parents also took a picture with him. All this time there were Thai performances on stage. Later, my dad went up along with others to sing.</p>

<andeys-trip-pic class="right" data-trip-pic="thai-greeters"></andeys-trip-pic>

<p>After eating, I wandered around a bit. Joy took another picture of me with the lovely greeters that welcomed people at the door. I then found out a meeting of the TPAA Youth Council was taking place, so I went to see what was going on. The organization was trying to pick a new president, but nobody would volunteer, so the current one stayed on. At the end, we got our pictures taken for a directory then got a t-shirt designed by a member.</p>

<p>Being the last night of TPAA social activities, Joy wanted to do something after the dinner. The motivation just wasn't there for many of the youth to really go somewhere. Also there were some returning to the hotel after having trouble finding the club where they were supposed to meet. I was tired by then and, after chatting for a while with friends, went to my room to relax and sleep.</p>
