<p>We woke up well before sunrise from Li-Li's place in El Sobrante and quickly got on our way. Soon after passing Reno, we then turned onto a road popularly known as &ldquo;The Loneliest Road in America&rdquo; &mdash; US 50 through Nevada. Indeed, once I passed Fallon, I didn't see that many cars in either direction. I was bracing for a dull drive and instead found some points of interest along the way.</p>

<andeys-trip-pic class="right" data-trip-pic="lone-phone"></andeys-trip-pic>

<p>Our first stop was by a sign saying &ldquo;Loneliest Phone&rdquo; where I used my calling card to make a call to my dad for his birthday. My mom answered though, so I had her leave a message for him. In the distance, we could see the tall sand dunes of Sand Mountain Recreation Area, so we drove closer on the dirt road to watch some off highway vehicles race up and down the sandy slopes.</p>

<p>Austin, Nevada lay 110 miles from Fallon and 70 miles from Eureka, the nearest towns. So it was no surprise to find a road sign proclaiming it the &ldquo;Loneliest Town on the Loneliest Road in America.&rdquo; While there, I got gas for $2.219, far higher than the nearest towns. The pump was so old it only had space to show the price in cents. The number two was taped on the display.</p>

<andeys-trip-pic class="left" data-trip-pic="us-50"></andeys-trip-pic>

<p>For lunch, we had a picnic at the Hickison Petroglyph Recreation Area, then took a short loop hike to see the petroglyphs on the rocks. Unfortunately, we first encountered some modern graffiti, then found a particularly impressive ancient petroglyph done in the Great Basin curvilinear style. At the end of the loop trail we found another good display on a boulder.</p>

<p>The highway become increasingly scenic as we approached Great Basin National Park. Once we got there we secured the very last campsite in the Lower Lehman Creek Campground, then went over to the visitor center to find it had just closed. However, a man there told me that the road to the base of Wheeler Peak was open, but the trails were not passable without snow gear. So, with daylight left, we drove up until the road ended, climbing up to 10,000 feet at one point. At the end of the road, we took a short walk just to see the creek and the snow.</p>

<andeys-trip-pic class="right" data-trip-pic="curvilinear"></andeys-trip-pic>

<p>On the way back down the road, we stopped at the scenic viewpoints that included views of Wheeler Peak and the semi-arid valley below around the border of Nevada and Utah. One stop told us about Osceola Ditch, an eighteen mile ditch that was constructed in 1889 to bring water to gold mining operations nearby. It was a short lived success. I wasn't sure I found the historic water ditch while on the trail to it, but the hike was a pleasant stroll through the forest.</p>

<p>Back at camp, we encountered a few deer not far from our campsite and quietly approached them to take photographs. Later, though, we found that at least one of the deer was not at all shy and surprised us when we found it standing right next to Li-Li at our picnic table. I scared it away, then we ate as the sun set and slept afterwards.</p>
