<andeys-trip-pic class="right" data-trip-pic="lili-goblins"></andeys-trip-pic>

<p>We woke up not long after sunrise and made a warm breakfast. While sitting at the picnic table, I was surprised to see a young woman emerge from the rocks behind our site. Soon, more came one by one and I quickly realized there was a youth camp there and that the nearby white vans belonged to them.</p>

<p>After we ate and packed up our stuff, we headed to Goblin Valley to see the peculiar assemblage of rock sculptures carved by wind and water. We had some fun walking around the &ldquo;goblins&rdquo; and talking pictures, then headed back up to the car to leave the park. Most of the day was to be spent hiking in the San Rafael Reef just outside the park.</p>

<andeys-trip-pic class="left" data-trip-pic="canyon-groove"></andeys-trip-pic>

<p>Turning onto a dirt road, I drove around looking for the way to the trailhead for Little Wild Horse Canyon and discovered that the road in the best condition led us to the parking lot. Even though several other cars were parked there, we found few people around once we scrambled up our first dryfall.</p>

<p>When we turned right and headed into Little Wild Horse Canyon, we soon encountered narrows so tight that we had to squeeze through them sideways. Hiking through the canyon felt like navigating a fun obstacle course as we scrambled many dryfalls and boulders. At one point we hit a wall barrier, but with a little exploration found a narrow crack nearby that led to the upper canyon.</p>

<andeys-trip-pic class="right" data-trip-pic="bell-canyon"></andeys-trip-pic>

<p>The hike became somewhat less interesting as the canyon opened up, though the scenery remained good. After hitting a jeep road, we found a place to sit and eat lunch, then continued on to the entrance of Bell Canyon. I was not quite as impressed with this shorter canyon, but still enjoyed overcoming the obstacles as we made our way back to the car.</p>

<p>Having enough of an adventurous hike for the day, we drove off to Green River State Park, surrounded by the town of Green River. I had the chance to relax as we got gasoline, groceries, and took showers. I slept well after dinner.</p>
