<andeys-trip-pic class="right" data-trip-pic="cousin-group"></andeys-trip-pic>

<p>Morning came and my brother and I woke up with barely enough time to get ready. It turned out we had to leave to get to a family reunion. First, though, we had our final complimentary breakfast at the hotel's Parkview Coffee Shop. My Aunt Nuch arrived to pick us up soon afterwards and off we went along with my brother's and my luggage.</p>

<p>We first stopped at Nuch's place, though, where we waited and relaxed, reading the newspaper. Then, we headed for a restaurant where relatives, old and young came to greet us and each other. I was happy to see my cousins Mint and Mont. I had wondered what happened to them since we were kids. Also joining us was a delightful adorable three year old boy, son of another cousin.</p>

<andeys-trip-pic class="left" data-trip-pic="little-cousin"></andeys-trip-pic>

<p>We all had lunch and some relatives took a look at my big scenic picture book of my photography. After that, we all got together for photographs. My Great Uncle Khem, happy to see me, joyfully sang &ldquo;Happy Days Are Here Again&rdquo; for me and my brother.</p>

<p>For the afternoon, we went to visit my Great Uncle Khem at his place. He was happy to see us. My parents and him carried on a long conversation with him in Thai. We left soon after we took a picture of us together.</p>

<andeys-trip-pic class="right" data-trip-pic="great-uncle"></andeys-trip-pic>

<p>Our last stop for relatives was at my maternal grandmother's house. We had our dinner there then waited around the house until it was time to go to the airport. My brother and I were going to fly to China with a tour group early the next morning. A taxi took us to the international terminal and got us there quite early.</p>

<p>My brother and I had plenty of time to wander around the airport and got a drink at Burger King. Occasionally, we checked the tour group meeting place a couple of times for people. Finally, we saw people with our tour and waited there as the tour leaders handled the process of getting our tickets and departure tax. The plane was to leave not long after midnight.</p>
