<andeys-trip-pic class="right" data-trip-pic="tortoise"></andeys-trip-pic>

<p>We woke at sunrise and packed up camp for the last time on this trip. Soon we were driving the scenic park road, looking at the masses of red rocks. We soon found some white rocks too. On the dirt road to the view of Fire Canyon, I discovered a desert tortoise walking on the road. I was relieved that I did not run over it and watched it safely make its way across.</p>

<p>We then entered Lake Mead National Recreation Area as we took the scenic Northshore Drive with views of Lake Mead and its colorful rocks. Eventually, we reached Hoover Dam. First, I drove over the dam into Arizona to take a picture of the intake towers. Then, I parked at the parking garage and went to the visitor center, where we signed up for the traditional thirty minute tour.</p>

<andeys-trip-pic class="left" data-trip-pic="intake-towers"></andeys-trip-pic>

<p>The first stop on the tour was the generators, where the flow of water was converted to electricty. Then, we went outside below the dam to look at the swirling water that exited the generators. Our guide then led us through an underground tunnel to a room with huge pipes that had huge amounts of water flowing through them. There, he answered questions and gave interesting facts about the dam.</p>

<p>After the tour, we looked at the exhibits in the museum and watched the entire film about the dam's construction, which probably lasted thirty minutes. We then exited the building into the heat of the outdoors to take a few pictures from the top of the dam of the dam and the statues and plaques on it that memorialized the people who built the structure. A plaque near the escalators memorialized a dog that died during the building of the dam. It was the only body buried at the dam.</p>

<andeys-trip-pic class="right" data-trip-pic="generator-room"></andeys-trip-pic>

<p>We left the dam for nearby Boulder City, where we ate lunch at Burger King. Then came a long drive through a desert filled with Joshua Trees until we reached Barstow, California. There, Li-Li decided to shop at the outlet stores while I paid a visit to the California Welcome Center to see its little exhibits about the area. It was also a place to escape the heat outside.</p>

<p>We drove over Tehachapi Pass eventually to Interstate 5 and made it quickly back to the Bay Area, stopping for dinner at In and Out Burger in Kettleman City. When we got to Li-Li's house, I helped her unload her stuff, then wearily made it back to my place to sleep.</p>
