<p>When the airplane landed at the New Tokyo International Airport, I made my way to the gate of my next flight. Once there, I made a call to my friend Saeko just to say hello from the same country.</p>

<p>Soon, I found my parents and brother, who were sitting also waiting for the flight to Bangkok. I talked to them then used my brother's Japanese Yen to buy a jelly snack. Also there, I met the parents of my friend Joy.</p>

<p>I found that my seat was in the same row as my parents and brother, but not next to me. Fortunately, there was an empty one next to me that my brother later occupied to talk to me. Mostly, my family slept, though, as we made our way to Bangkok.</p>

<p>Due to a flight cancellation on my family's earlier flight from St. Louis to Chicago, their luggage had not arrived yet in Bangkok. Fortunately, they found it would arrive the next day and get delivered directly to our hotel. As we left the airport, a woman from the Imperial Queen's Park Hotel greeted us and took us to the hotel in a van. We then checked into our rooms and slept.</p>
