<p>After the complimentary breakfast, my brother and I made good time onto the tour bus for our trip to three of Bangkok's temples. Once again, I sat with my friend Joy as the bus crawled its way through the horrible traffic.</p>

<andeys-trip-pic class="right" data-trip-pic="gold-buddha"></andeys-trip-pic>

<p>Our first stop was a rather quick one at Wat Traimit. Once we got off the bus, we walked through an alley and up stairs to a relatively unimpressive looking temple. However, inside was a great big gold Buddha image, made from solid gold, 480 cm tall and over 700 years old. The gold was discovered in 1955 when the plaster on it fell off. A small display showed some of that plaster.</p>

<p>Our next stop was Wat Pho, a huge temple complex. I had visited Wat Pho before, but figured I could try to take better pictures than last time. It didn't take long before I lost the tour group, so I wandered around on my own to explore and look for them at the same time. It was peaceful to hear the chanting in the corridors of the monks, who were performing a prayer service.</p>

<p>Foreigners needed to pay an admission fee upon entry, but I didn't when I left and came back after checking the tour bus for my group. I guess I passed as Thai. After checking out the big Buddha image in the main temple and walking around some more, I returned to the bus just minutes before the tour did.</p>

<andeys-trip-pic class="left" data-trip-pic="reclining-buddha"></andeys-trip-pic>

<p>Our final stop was at Wat Benchamabophit, otherwise known as the Marble Temple. It was fashioned from Italian Carrara marble and was constructed early in the twentieth century. We entered the ordination hall to look at the Buddha image and stained glass window, then walked outside to the cloisters, which had replicas of Buddha images from all over Asia.</p>

<p>Once the bus got underway, we started heading back to the hotel. As an extra treat, though, we circled the outside of the modern residence of the king, Chitlada Palace. Buildings were somewhat obscured by trees and the complex was surrounded by a moat. Guards stood with guns at their posts.</p>

<andeys-trip-pic class="right" data-trip-pic="marble-temple"></andeys-trip-pic>

<p>Back at the hotel, I went up to my room and found a note from my mom that my Aunt Nuch and parents went to the Emporium to eat lunch. Joy stayed at my place, while my brother and I headed for the shopping center. On the ground floor we noticed some sort of fashion show going on. We ignored it and headed to the fifth floor to eat and chat at the food court with family. All of us except my dad returned to the hotel, where I showed my aunt family pictures I brought. I relaxed in my room afterwards.</p>

<p>For dinner, the Thai Physicians Association of America held an event they called &ldquo;Country Night.&rdquo; Men had to wear a particular Thai shirt and women a sash. After getting a shirt, I put it on and went in. There were Thai performers onstage, including some comedy apparently, but my limited understanding of Thai did not allow me to catch the jokes. There didn't appear to be free table space when I arrived, so I sat on a mat on the floor with my dad after grabbing food from the stands.</p>

<andeys-trip-pic class="left" data-trip-pic="jonas"></andeys-trip-pic>

<p>Done with dinner, I went outside to find a couple carnival games to play, including one where you could choose to dunk one of three girls. I didn't try any until someone gave me a ticket to try the dunk. I missed. It was tough for others too, but somebody finally did it. Also outside were some models that were there to greet people going into the dinner event. Joy insisted I take a picture with them, so I did.</p>

<p>The last thing I saw inside on stage was Jonas. He was a Swedish guy who grew up in Thailand and learned to sing Thai country music. Many of the audience seem to adore him, trying to take pictures with him and offering him garlands. His four dancers, two male and two female, were also caucasion. I left before it ended, though, and went back to my room to get ready for the next day's early start.</p>
