<andeys-trip-pic class="right" data-trip-pic="dead-horse-pt"></andeys-trip-pic>

<p>We woke at sunrise, ate breakfast, packed, then headed first to Dead Horse Point State Park. After a stop at the visitor center, we got our first impressive look at the Colorado River canyon at Dead Horse Point. A group of photographers were there, looking for angles to take pictures. I walked around myself to see what pictures I could take at the point.</p>

<p>Soon we were back on the road again, this time going nearby to Canyonlands National Park, Island in the Sky District. The ranger at the visitor center was incredibly busy handling the park film as well as other visitors, so we only bought postcards and quickly went our way.</p>

<andeys-trip-pic class="left" data-trip-pic="green-river"></andeys-trip-pic>

<p>On our first stop in the park, we took the short hike to Mesa Arch. The arch was big but not that photogenic. I became impressed, though, when I stood next to the opening and found a wonderful view of the canyon as a wind buffeted me from below the sheer cliff.</p>

<p>Continuing south on the road, we made a quick stop at the Orange Cliffs Overlook before reaching Grand View Point. From the overlook, we had an incredible look down into the convoluted Colorado River canyons and the white rim that surrounded them. I also spotted a sport utility vehicle near the white rim, looking like a speck down there. We continued past the overlook onto the short trail that followed the rim, leading to a view of Junction Butte, where we stopped to eat a snack, then returned.</p>

<andeys-trip-pic class="right" data-trip-pic="hole-n-the-rock"></andeys-trip-pic>

<p>Back in the car again, we drove north, stopping at a great overlook of the Green River. Soon enough, we got to the Upheaval Dome parking lot where we found shaded picnic tables to eat lunch in comfort. Li-Li relaxed afterwards while I opted to take a quick jaunt up to the rim of Upheaval Dome to admire the colorful tilted badlands in the middle of its crater. On the way out of the park, we stopped at the Shafer Canyon Overlook to watch four wheel drive vehicles climb up and down the Shafer Trail.</p>

<p>After passing Moab, going south, I stopped to take pictures of a house carved into the rock, named &ldquo;Hole N'' The Rock.&rdquo; In the cliff, the creater of the house also carved the head of Franklin D. Roosevelt as a memorial to that president. Further south I saw wonderful Wilson Arch towering above the side of the road. Another sign south of that pointed to Lopez Arch, but I could not find that one from the pullout.</p>

<andeys-trip-pic class="left" data-trip-pic="newspaper-rock"></andeys-trip-pic>

<p>Our next stop was Newspaper Rock Recreation Site. On the wall there was the most impressive display of petroglyphs I had ever seen. I particularly liked the drawing of a person on horseback shooting at a deer using a bow and arrow. Unfortunately, I also saw evidence of vandalism with attempts to rub it out.</p>

<p>We decided to continue down the road to the Needles District of Canyonlands National Park. Our first stop after the visitor center was a roadside pullout, where we spotted Wooden Shoe Arch in the distance. Its tiny hole distinguished the heel of the &ldquo;shoe.&rdquo;</p>

<p>I next took my car on a winding dirt road with blind curves so I could take a closer look at the Needles formations. I turned the car around once I reached the parking lot below Elephant Hill. Carefully, I drove back to the paved park road and continued up to the end of the scenic drive. On the way back, I stopped to hike the Pothole Point Trail to see more views of the Needles.</p>

<andeys-trip-pic data-trip-pic="needles"></andeys-trip-pic>

<p>The sun set as we headed out of Utah and into Colorado. To save time we made and ate dinner in transit so that the only thing we had to do when we got to Morefield Campground in Mesa Verde National Park was to set up camp and sleep.</p>
