<p>After spending Thanksgiving with my sister and her family in Riverside, I made it over to my friend Joy's place in Whittier to prepare as much as possible for our trip. Now it was early morning and time to head off. I was happy to find the weather decent after the heavy rain of the day before.</p>

<andeys-trip-pic class="right" data-trip-pic="mont-castle"></andeys-trip-pic>

<p>We made good time on the road, even with a few short breaks at rest stops. It was afternoon by the time we bypassed Phoenix to go north. Montezuma Castle National Monument was an easy stop off the interstate, so we visited there first.</p>

<p>As we exited the visitor center, the sight of the Sinaguan ruins on the cliff face struck out dramatically. Then, as we walked along the path, we noticed lovely autumn colors and the nearby Beaver Creek. We also stepped up to a diorama to see an illustration along with audio describing the lives of the natives who lived there.</p>

<andeys-trip-pic class="left" data-trip-pic="tuzigoot"></andeys-trip-pic>

<p>Back on the road again, we headed northwest, going through the old towns of Cottonwood and Clarkdale before reaching Tuzigoot National Monument. Once there, we saw more Sinaguan ruins, this time situated on the top of a hill. Walking around the ruins to the roof, we had a great view of the lush Verde Valley but also saw a nearby field of toxic heavy metals left over from past mining operations. We met a couple there with a parrot, who showed us the bird perching upside down, but could not make it talk for us.</p>

<p>We went back east until we reached Sedona. We were immediately impressed by the panoramic scene of brilliant red and white rocks, stopping at the Sedona Cultural Park to take in the view. Next, we stopped in Uptown Sedona to see more interesting views of rocks before heading through Oak Creek Canyon with its lush forests.</p>

<andeys-trip-pic class="right" data-trip-pic="sedona"></andeys-trip-pic>

<p>As we headed higher on the road, we started noticing snow on the ground, then light flakes began falling. Flagstaff was quite well covered in the white stuff. It disappeared from the landscape, though, as we headed west towards Seligman and Historic Route 66.</p>

<p>We checked into the Grand Canyon Caverns Inn and finally had a good chance to relax. I boiled some water outside by our room door for a dinner of instant noodles. We watched a bit of <em>Star Wars Episode I: The Phantom Menace</em> because it was the only show on television we could receive, and then only partially. After showering we went to sleep.</p>
