<andeys-trip-pic class="right" data-trip-pic="turtle-tablet"></andeys-trip-pic>

<p>We had breakfast at the hotel then checked out. The tour buses took our group to the Shaanxi Provincial Museum, home to art treasures and stone carvings of the Han and Tang dynasties. It was once a Confucian Temple.</p>

<p>Inside the first building the tour entered, we saw was an old carving copying the writing of Confucious. The guide showed us the beginning of the revered text. Soon after that, my brother and I decided to leave the group and see the other exhibits at our own pace. I noticed some of the carved stone tablets were supported by stone turtles, which I knew represented longevity. As we moved from building to building, we noticed fewer and fewer crowds, which was a relief. In one building I found two people doing rubbings of some Chinese characters.</p>

<andeys-trip-pic class="left" data-trip-pic="chair-balance"></andeys-trip-pic>

<p>We left the museum and had lunch, then headed for the airport for the short flight to Beijing. Back in the capital city, we boarded our buses to once again see our tour guide from our first days in China. Darkness set in as we made it to a theater to watch a performance of Chinese acrobats.</p>

<p>I had seen an acrobatic performance like this before, but this one by far had the largest variety of acts. They included plate spinners, bicycle balancing acts, people balancing on people balancing on rollers, a man balancing an increasing number of chairs as a woman climbed them, hoop jumpers and a man flipping bowls onto his head using a rolling board he stood on. I was surprised that the show allowed flash photography, so I happily took pictures of every act, using my tripod to keep the camera still.</p>

<p>The show appeared to be flawless until one of the hoop jumpers knocked down the top hoop of a set of hoops. One of the younger acrobats put it back, but an older one had to stabalize it. Hiding any embarrasement, they continued with the performance. This mistake clarified, for me, just how difficult the stunts could be.</p>

<andeys-trip-pic class="right" data-trip-pic="chinese-hoops"></andeys-trip-pic>

<p>The show ended in applause and then we left hungrily for the restaurant to eat our late dinner. We finally had a chance to try Beijing Duck, which was okay. I tried it with and without rolling it up in a small, thin pancake with other ingredients.</p>

<p>While eating, a television set showed video of our tour group on the first day of our trip to China. Being tired and hot that day, I don't think the videographer really captured us at our best. That observation plus the hokey music were reasons I did not buy a copy for myself.</p>

<p>We checked into the same hotel we stayed at the first night, the Asia Vision Hotel. This time, my brother and I got a top floor room. We pretty much just showered and slept once we got in.</p>
