<andeys-trip-pic class="right" data-trip-pic="lili-boat"></andeys-trip-pic>

<p>We quickly packed up camp then took the hour long drive to Halls Crossing Marina in the Glen Canyon National Recreation Area. After getting more ice for the cooler, we walked to the public dock and waited for the tour boat that would take us to Rainbow Bridge. It did not show up as scheduled on my reservation, so I inquired about it at the boat rental office and was told it already left. Apparently, central reservation gave me a later time for pickup than the actual one.</p>

<p>We had an offer to have our money refunded, but I did not want to accept that and Li-Li did not want us in a rental boat. So, the officials in the boat rental office decided to have one of their instructors take us in a speed boat to catch up with the tour boat. They tried to radio the tour boat to tell them to slow down so we could catch up, but could not reach them. The friendly instructor decided to take a chance and transport us anyway.</p>

<andeys-trip-pic class="left" data-trip-pic="rain-bridge"></andeys-trip-pic>

<p>Because we were trying to catch up to the tour boat, the ride was fast, rough and bumpy, but fun. I had a tough time trying to take any pictures except at one point when the instructor stopped to let us photograph a small arch. When we finally reached the tour boat, he still failed to contact the captain by radio, so he signaled a stop with his life jacket. Soon after, we boarded the boat for a more relaxed voyage.</p>

<p>The boat had two levels and I spent more time at the sunny upper level to enjoy the views of the red rocks rising above the blue lake. Eventually, we reached Rainbow Bridge National Monument and got off the boat at the courtesy dock. A short hike led us to the world's largest natural rock span. I did not walk underneath it, showing respect for the beliefs of the arch as sacred to the Navajo.</p>

<andeys-trip-pic class="right" data-trip-pic="halls-ferry"></andeys-trip-pic>

<p>Back at the dock, I noticed schools of hungry catfish greedy for some of the food people tossed into the water. I didn't feed them but boarded the boat to eat my own lunch, provided as part of the tour. As I ate the boat started on its way back the way it came.</p>

<p>First, though, the captain decided to take some short side trips. We went to a place known as Hole-in-the-Rock where we found a steep trail blasted out by Mormon pioneers trying to cross the Colorado River. Next, we floated into Iceberg Canyon, named because the rocks could be imagined as icebergs if they were white. Lastly, we entered Slickrock Canyon, looking for but not finding ruins mentioned on a map of the lake.</p>

<p>Once back at Halls Crossing Marina, we waited until a car ferry took us to Bullfrog Marina. From there, we then drove north to Starr Springs Campground and set up camp. We then relaxed, ate and slept.</p>
