<p>We packed up camp then headed to Cortez to replenish our supplies. As we left town going south, we entered the Ute Mountain Indian Reservation, passing by their casino. Finally, we made a stop when we reached New Mexico and the Four Corners Monument Navajo Tribal Park.</p>

<andeys-trip-pic class="right" data-trip-pic="four-corners"></andeys-trip-pic>

<p>Like a tourist, I had my picture taken with each of my limbs in a separate state. Li-Li didn't quite go for that and just had a picture of her with her hand simultaneously in Arizona, Utah, Colorado and New Mexico. After that, we took our time visiting the booths that sold Native American crafts. I bought jewelry with a dreamcatcher for my niece and a small sand painting for my nephew.</p>

<p>Continuing on our drive west into Arizona, we encountered a police checkpoint. They were just checking for seatbelt use and gave out safety information packets. I saw Arizona officers and tribal police as well as two people dressed as crash test dummies and one in a cartoonish animal suit. When we reached Kayenta, Li-Li wanted to use the restroom, so I chose to go to Burger King because I could see the display inside about the Navajo Code Talkers who helped encrypt messages for the Americans in World War II. It felt rather strange, however, to be looking at such exhibits in the setting of a fast food restaurant.</p>

<p>We soon headed north until we reached Gouldings, Utah, where we set up camp at a site with a view of Monument Valley. Next we entered the Navajo Tribal Park itself and stopped at the visitor center. There, we found a guide to take us on a open air jeep tour of the valley, including an area off limits to self-guided tours.</p>

<andeys-trip-pic data-trip-pic="mittens"></andeys-trip-pic>

<p>About fifteen minutes later, we met up with our guide and two Spanish newlyweds from Barcelona who also signed up. Our guide had initially thought the couple spoke French, which she knew, and discovered too late they knew only Spanish and almost no English, so had to struggle translating what she said in English. Soon we were going down the dirt road into the valley.</p>

<andeys-trip-pic class="left" data-trip-pic="in-hogan"></andeys-trip-pic>

<p>We first stopped at a view of The Mittens and Merrick Butte, monoliths with which Monument Valley is best associated. In English, then in Spanish, our guide explained that the Navajo saw The Mittens as the hands of god and the butte as the head. We then continued to a view of three sprires known as the Three Sisters.</p>

<p>Soon, we took a fifteen minute break at John Ford's Point, named after a movie director who liked filming in this valley. It was a longer break than I cared for here, near stands selling jewelry and frybread, but I knew our guide had to go here to process the credit card sale for the Spanish couple. I wondered why that transaction was not possible at the visitor center. At one point a Gouldings Tour group came and a Navajo woman with child rode out on a horse to have pictures taken for two dollars each. I did not go for it.</p>

<andeys-trip-pic class="right" data-trip-pic="suns-eye"></andeys-trip-pic>

<p>Once we got back into the jeep, we crossed into the restricted area and stopped at some hogans. I saw an angular male hogan and dome-like female hogan, then entered the female one with the guide. Inside was an elder Navajo woman and a collection of rugs she had weaved. Looking around, I could see this was her personal home with pictures of people on the side that I assumed were her family. The guide helped translate between English, Navajo and Spanish in attempt to all have us understand each other. I then took a picture of the Navajo woman and gave her a golden dollar, which she had never seen before.</p>

<p>Moving on to our next stop, we looked high up at an arch known as Sun's Eye. Nearby, underneath it, we found a fenced off wall containing some petroglyphs. Another stop brought us to an arch known as Ear of the Wind. We also saw ancient ruins of a granary.</p>

<p>The Big Hogan was a cave with a hole on top of it. Our guide told us to lie down and look up, imagining the formation as a whole being an eagle head. We then walked nearby to Moccasin Arch. As we returned to the jeep, we heard a drumming and singing performance in the cave by a Navajo guide from Navajoland Tours and applauded when it ended.</p>

<andeys-trip-pic class="left" data-trip-pic="rock-art"></andeys-trip-pic>

<p>The road became quite sandy and the jeep stalled twice in our guide's attempt to navigate. Fortunately we did not get stuck. We came upon a slender spire known as the Totem Pole. Below, I spotted a group of people riding horses along a stream. Soon we were back on the unrestricted area and then at the visitor center, where we parted with our guide. We took a last look at the view, saw a Navajo woman demonstrate rug weaving, then left the park.</p>

<p>We felt so dusty we took showers soon after reaching our campground. We relaxed after that, then went to the nearby restaurant, curious to try the Navajo Tacos. I went for the full dinner and got quite stuffed with the delicious meal. It was a good thing Li-Li only got the sampler.</p>

<p>After dinner, we went through a small museum about the history of Monument Valley, including the film history. In back of the museum was a small building used in the John Wayne movie <em>She Wore A Yellow Ribbon.</em> We then watched sunset over the valley.</p>

<andeys-trip-pic data-trip-pic="totem-pole"></andeys-trip-pic>

<p>After dark, we went to see a slide show film dedicated to the creation of Monument Valley, set to New Age music with a booming announcer voice. It was a pretty presentation, but not worth more than the two dollars I paid to see it. We slept at camp afterwards.</p>
