<andeys-trip-pic class="right" data-trip-pic="havasu-falls"></andeys-trip-pic>

<p>We woke up not long after sunrise and started our walk out of town, passing kids making their way to school. Not too long after passing the last residences, I noticed an arrow of rocks pointing off the path and came upon small Supai Falls. After a quick look, we continued until we reached Navajo Falls.</p>

<p>We had a glimpse of an impressive waterfall, but couldn't get closer at first because of a fence and warning to stay back from an unstable edge. However, as the trail went down we got in a good view and could see at least three branches of the falls flowing strongly.</p>

<p>The trail continued down and we soon heard the sound of another great waterfall, but were not quite prepared for the wonderful sight of Havasu Falls. I also noticed the awe in Joy's expression as she saw it. We hiked to the bottom to enjoy more of the beautiful waterfall and its surroundings.</p>

<andeys-trip-pic class="left" data-trip-pic="mooney-falls"></andeys-trip-pic>

<p>Soon after the inspiring visit, we continued through the campgrounds, noticing at least two hardy campers braving the cold weather. Two dogs appeared to be bothering one of them on the opposite side of the creek from us. Once the campgrounds ended we came upon the top of impressive Mooney Falls, quite taller and more slender than Havasu Falls.</p>

<p>We continued past a sign declaring the area off limits. The trail here seemed to end with the sheer cliffs. Some exploring, however, led me to a blasted out tunnel in the travertine with rough hewn steps descending into darkness. Joy thought it a little crazy to go, but followed along. I soon saw light again and came upon another great view of Mooney Falls as well as another, shorter tunnel.</p>

<p>The next part became quite nerve-racking as we carefully held onto chains trying to secure our feet in sometimes slick footholds. I felt better once I got to the two ladders near the bottom and finally relaxed when I planted my feet on firm ground and stood near the bottom of Mooney Falls. A guide book I bought at the beginning of the day told me we had to cross the cold creek right below the waterfall, so we did, replacing our hiking boots with sandals and rolling up our pants. Unfortunately our effort was in vain, as we only found a picnic table and no path, so we returned across and discovered that the trail continued without need to cross yet.</p>

<andeys-trip-pic class="right" data-trip-pic="trail-tunnel"></andeys-trip-pic>

<p>Finally, we came to a point where there was no mistaking a need to cross the creek, because a sheer cliff barred our way on our side. A direct route across would get us waist high in water and we were reluctant to do that. We discussed even trying to cross, then I tried a route where water only came up to my thighs and we continued on. Another crossing came and I got a little of my jacket wet trying to get back out the other side.</p>

<p>The next part of the hike lasted a while on land and made us brush against many plants in the lush canyon. Once in a while, we did a small bit of climbing up and down. We knew we were close to Beaver Falls by the third crossing, so we left our backpacks along the trail and just went with our cameras, swim gear we already were wearing and our jackets for the cold. The current at the crossing made it hazardous, though, trying to unbalance us, but we resisted successfully.</p>

<andeys-trip-pic class="left" data-trip-pic="creek-wade"></andeys-trip-pic>

<p>Another up and down climb and we made it to our final destination of Beaver Falls, which wasn't impressive compared to the last three waterfalls we had seen. We soon returned and braved the current again, then made our way back as quickly as possible. A few times we strayed off the path, but found it soon again, though I ran into a branch during one stray, which gave me a minor cut in the thigh.</p>

<p>After quickly making our way up the steep trail by Mooney Falls, we took a small break at the top, having made it to a trail we could easily do in the fading daylight. Fortunately, we had the light of a nearly full moon to help us get back to the lodge. Quite tired and sore, we were relieved to enter our room. We showered right away, ate spaghetti and ravioli that we brought with us, then wrote postcards before sleeping.</p>
