<andeys-trip-pic class="right" data-trip-pic="north-village"></andeys-trip-pic>

<p>The flight from Beijing, China arrived in Bangkok, Thailand. It felt quick because I had slept. As my brother and I exited the airport, we met with our Aunt Nuch and her husband Tod, who took us to their place in Nonthaburi to sleep. We settled in to sleep then woke up leisurely and had breakfast provided by our aunt.</p>

<p>Mint orignally had planned to pick us up late morning to go somewhere, but ended up being somewhere else, so Mont and Aunt Paew were going to take us somewhere early in the afternoon. In the meantime, we had lunch then relaxed in our air conditioned room, reading.</p>

<andeys-trip-pic class="left" data-trip-pic="parasols"></andeys-trip-pic>

<p>Mont arrived with his mom and they decided to take us to a place called the Bangsai Arts and Crafts Training Centre, which I had not heard about before. After looking at the Main Pavillion, we stopped at the big handicrafts store. I first thought the whole complex was just for buying crafts, but then I saw, on the second level, a museum display of crafts.</p>

<p>Just outside the shopping area, we came upon the Bangsai Arts and Crafts Village. In a beautiful setting stood houses in the variety of styles found throughout Thailand. Upstairs were examples of traditional Thai living arrangements. Downstairs, people were busy making crafts such as painted parasols and wood carvings.</p>

<andeys-trip-pic class="right" data-trip-pic="fish-watch"></andeys-trip-pic>

<p>I picked up a brochure to discover that the place also had an aquarium and an aviary. We went to the aquarium to see the kinds of fish that swam in Thailand's waterways. Some were quite big. Then, we went to the aviary only to find it had closed.</p>

<p>We headed back to the car and my aunt decided to take us to Bangkok to try a restaurant called Oishi. I found out it was a Japanese-Chinese Seafood Buffet. For a set price, we could have soup, sushi, cooked dishes, drinks and dessert. We only had to pay for any leftover food. It was a delicious way to end my last night in the city. After getting stuffed, my aunt took us back to Nuch's house so we could sleep.</p>
