<andeys-trip-pic class="right" data-trip-pic="ma-pa-grandma"></andeys-trip-pic>

<p>After waking up, my brother and I headed down to the Parkview Coffee Shop near the lobby to eat the complementary breakfast. Not long after eating, my parents met up with us to take a taxi to my maternal grandmother's house.</p>

<p>Walking into the familiar old house, we found grandmother in her room, looking more frail than ever. She was happy to see us, and talked to my parents in Thai. Then I showed her a sample of the pictures I have taken in the past few years, which she enjoyed.</p>

<andeys-trip-pic class="left" data-trip-pic="benjasiri-park"></andeys-trip-pic>

<p>We said goodbye to grandmother then took a taxi back to the hotel. We decided to go to the nearby Emporium Shopping Complex to eat lunch and because my mom needed a plug adapter. On the way, we walked through scenic little Benjasiri Park. Once we got to the mall, we went to the market on the fifth floor and got some food cheap from the market.</p>

<p>After looking around the shopping center, we returned to the hotel to relax. Once in my room again, I called up Professor Arong of Chulalongkorn University to arrange a meeting. My friend Pau wanted me to give him a book and video, which she gave me before my trip. After my second attempt to call his office, he called me to and we soon met in my room. I gave him the book and video and we chatted briefly before he left.</p>

<andeys-trip-pic class="right" data-trip-pic="aunt-uncle"></andeys-trip-pic>

<p>Now that my mom had some rest, we headed back to my grandmother's house, this time to meet with my aunt, uncle and cousin Tina. Tina, at 17 years of age, looked quite different from last time I had seen her five years earlier. She was surprised at how big my brother Steven had gotten. We had a bunch of news to catch up on, having not heard from each other for a long time.</p>

<p>Eventually, it was time for everyone to go and my parents, brother and I took another taxi back to the hotel. Still suffering from some jet lag, we ended up sleeping early.</p>
