<p>I woke up early and got my luggage ready, trying not to wake my brother. However, when I took my big bag down, he woke up. I ate a quick breakfast and said farewell to him, then my Aunt Nuch and her husband Tod took me to the airport.</p>

<p>Once at the counter for Japan Airlines, I found out I had to pay extra for a ticket reissue at a higher price because I had gotten a weekday rate ticket, but transferred to a costlier weekend flight. I obligingly paid to get my ticket, then went through the security procedures and into the gate for my flight.</p>

<p>During the flight, I met a beautiful Thai women sitting next to me. She turned out to be a flight attendant for Japan Airlines, flying to her next assignment in Nagoya, Japan. I talked to her briefly then tried to watch the movie <em>Down to Earth</em> on the screen. However, the English soundtrack was going in and out. I found out from a flight attendant that the tape was not good and she apologized. I tried watching anyway and the soundtrack improved.</p>

<p>Later, I ended up talking to the woman, Ae, some more and we got into a conversation. I was delighted that she decided to give me her email. She said to contact her if I ever returned to Bangkok.</p>

<p>After arriving in Tokyo, I got to the gate of my next flight in good time. I watched a little sumo wresting on the television until people started boarding the airplane. For the long flight, I did some reading, watching movies on the personal Magic-II screen in front of my seat, or listening to the available music. I managed to sit through the movie <em>You've Got Mail</em> and most of <em>The Wedding Planner</em> but didn't stick to the other ones.</p>

<p>The flight returned me to San Francisco, California. I was sure glad to be done with flying for a while. I took the Samtrans express bus to the BART station then took a BART train back to my place to relax.</p>
