<andeys-trip-pic class="right" data-trip-pic="supai-post"></andeys-trip-pic>

<p>I dreamed I was home, then awoke to realize my legs were sore and I still had eight miles of hiking to get out of the canyon to my car. Joy and I packed up all our stuff and checked out from the lodge at the front desk. We stopped at the post office to drop off postcards and also visited a souvenir shop on the edge of town before leaving.</p>

<p>As we left Havasu Canyon for Hualapai Canyon, we spotted Mount Sinyala above in the distance, which looked like a square block with a pyramid on top. It was a long, gradual climb through the rocky wash, but we made good progress. Halfway through the hike, more sun shined through to warm us up just a little.</p>

<andeys-trip-pic class="left" data-trip-pic="wash-view"></andeys-trip-pic>

<p>I had dreaded the relatively steep climb of the last 1.5 miles, but it didn't turn out to be so bad. My legs didn't stiffen up like they did on my last hike up the Grand Canyon. Slowly and steadily, we made it up the switchbacks. Along the way, Joy was asked by a curious Huvasupai man on horse going down where her pack mule was, as if it was something common to have.</p>

<p>We were quite relieved and happy to see my car again, parked at Hualapai Hilltop. Soon we drove away south to get back onto Historic Route 66. I felt a bit tired, but we made it to Kingman safely, where we bought snacks at Big Kmart to help keep me going. Soon we drove west until we reached Laughlin, Nevada and checked into the Edgewater Hotel and Casino. I got a room on the twenty-third floor of the Sedona Tower with a great view of the Colorado River.</p>

<andeys-trip-pic class="right" data-trip-pic="ramada-light"></andeys-trip-pic>

<p>After relaxing and watching some television, we decided to go eat Thai food in Bullhead City, Arizona, just across the river. We drove first to House of Siam, but didn't like the location, so instead settled for Darunees Thai-Chinese Cuisine. The seafood fried rice and orange soup tasted good, but the green curry was too spicy for me. Thai iced tea made for a refreshing drink.</p>

<p>Returning to Laughlin, we decided to drive around a bit to look at the casinos along Casino Drive. What most impressed Joy was the decked out display of holiday lights at the Ramada Express Hotel and Casino. We also liked the outside design of the Colorado Belle Hotel and Casino, which looked like a huge paddlewheel riverboat. Afterwards, Joy got us hot chocolate and a Krispy Kreme doughnut and we went to our room to relax, shower, then sleep.</p>
