<p>I woke up to find my brother not in our hotel room. I soon discovered he had hung out late with his friends and decided not to bother me by going to my parents' room. Joy arrived to greet me and then we went downstairs. I had just enough time to eat a bowl of cereal before our tour bus left at 6 AM.</p>

<andeys-trip-pic class="right" data-trip-pic="bkk-city-hall"></andeys-trip-pic>

<p>We left early to beat the traffic and arrived at the Oriental Hotel with plenty of time before our boat would leave. While waiting, I looked around the lobby of the hotel, examining pictures of royalty on the walls. Outside by the Chao Phraya River, more of the tour group hung out and I met some of Joy's friends. They included Lara, Tommy and sisters Aunyika, Chana and Tanya.</p>

<p>With the boat ready to go, we boarded and chatted as the boat made its way north. Lunch was served, then some of us went outside for the passing view of beautiful temples as well as other buildings. Most of the time, we relaxed at the bow of the boat.</p>

<andeys-trip-pic class="left" data-trip-pic="bang-pa-in"></andeys-trip-pic>

<p>When we finally docked in Ayutthaya, buses drove us to Bang Pa-In Palace. The air felt significantly hotter than previous days in Bangkok. As we entered the palace grounds, Joy was diverted to a clothing station to cover up her shoulders. Other people were also taken there because they were deemed not to be wearing appropriate attire.</p>

<p>I loosely followed the tour, not always listening and often looking for photos to take. After passing a Khmer style prasat, we encountered a large pond with a beautiful Thai style pavilion in the middle. Continuing on, I also saw a building modeled as a Swiss chalet. Our tour group then entered a beautiful Chinese style building meticulously decorated. For example, the foot tiles on the floor were raised so as to massage the foot as one walked on them.</p>

<andeys-trip-pic class="right" data-trip-pic="stupa-ruin"></andeys-trip-pic>

<p>I left the group to buy water to drink, then looked at surrounding buildings as I walked to the other side of the pond from the Chinese style building. On the way were graves of a queen and king's consort and her three children. Soon I ran into my friends Tanya, Chana, Tommy and Lara on a cart they rented and decided to hop on for the ride back towards the bus. After a couple more pictures, we all got back to the cool bus and headed north.</p>

<p>Our next stop was the ruins of Wat Yai Chai Mongkol, built in the fourteenth century and destroyed in the eighteenth. It had a huge, slightly leaning stupa, built to celebrate a victory against the Burmese in 1592. Inside a more modern looking part of the temple was a painting of the King of Thailand fighting a Burmese Prince on elephant back.</p>

<andeys-trip-pic class="left" data-trip-pic="red-roof-temple"></andeys-trip-pic>

<p>Joy and I walked up the steps of the ruin into a stone chamber and then left the room to climb up to a great view of the temple grounds. Surrounding the big stupa on all sides were a line of Buddha images facing the stupa, with one larger Buddha image on each of the four sides facing back at the lines. Every one of them had been draped by a saffron robe. Elsewhere on the grounds, we also saw a reclining Buddha image, also with a saffron robe. Upon leaving, I witnessed a savage dog fight just outside the temple.</p>

<p>At our final stop, Joy and some others decided to stay inside the cool buses to avoid the heat. I got out to see Viharn Phra Mongkolbophil, with its ornate red roof and big Buddha image inside. Next to it stood the ruins of Wat Phra Si Sanphet, with its three prominent stupas. One of the chambers inside a stupa smelled of bat guano. Ruins of other structures and Buddha images also stood on the grounds.</p>

<andeys-trip-pic class="right" data-trip-pic="old-stupas"></andeys-trip-pic>

<p>Feeling quite thirsty, I bought a bottle of water before returning to the bus. We then took the long drive back to Bangkok while the tour guide cracked a few dirty jokes. Back at the hotel, Joy and I decided to eat inexpensively at the nearby Emporium shopping complex.</p>

<p>Returning to the hotel, we had to take the long way around, because the gates to Benjasiri Park had closed. We discovered low priced massage places, so after making a stop in the hotel room, we decide to give the services a try. I had already tried a Thai massage four years earlier, so I opted for the one hour oil massage while Joy got a one hour foot massage. It was quite relaxing.</p>

<p>It was getting late and Joy wanted to go home to her condo, but was unwilling to take the taxi by herself, so I offered to go with her. We arrived and Joy proceeded to show me the place, starting with the pool then going through her condo. After taking pictures of the place at her request, I took a taxi back to the hotel to sleep.</p>
