<p>Most of our day would be spent on land, so we ate a full breakfast, then checked out of our hotel room. Soon after doing that, the jeep for our tour arrived earlier than expected. After the driver picked up more people, we arrived at the elephant camp.</p>

<andeys-trip-pic class="right" data-trip-pic="elephant-back"></andeys-trip-pic>

<p>The first of our multiple activities was a trek on elephant back. My brother and I got on the seat while the guide controlled the elephant sitting on its neck. We had a fun, short and bumpy trip up to a hillside and watched others enjoy their big rides. I was a little annoyed, though, that the guides were smoking cigarettes.</p>

<p>Back on solid footing, we then got led to bleachers where we watched three baby female elephants do tricks such as handstands on wooden beams. One of the young ones also showed her superior strength in a tug of rope against six grown men. We also saw gentleness when the elephants gave three people massages using their hoofs. At the end people had a chance to feed bananas to the docile giants.</p>

<p>Next came a show with macaque monkeys. Mainly, we saw a demonstration on how they were trained to retrieve coconuts from trees. A monkey also was used to retrieve a watch from a shallow pool. After that came a short ride in a water buffalo cart.</p>

<andeys-trip-pic class="left" data-trip-pic="elephant-massage"></andeys-trip-pic>

<p>Done with the animals, we next sat down for a demonstration of making som tum, a green papaya salad. We had a chance to taste it after the woman finished. It was pretty good. We also watched a Thai kickboxer warm up and practice on a bag. I had the sense the guy was retired, as he got tired afterward and smoked a cigarette.</p>

<p>A jeep ride then brought as to a rubber tree, where we got a demonstration of how latex was tapped from the tree. It was only marginally interesting. We also saw how the resulting product was squeezed dry.</p>

<andeys-trip-pic class="right" data-trip-pic="buffalo-cart"></andeys-trip-pic>

<p>Another ride in the jeep brought us to a small dock, where we took off our shoes and got on a long tailed boat. I noticed people in the river transporting blocks of stuff through the shallow water, but I could not tell what they carried. After taking us out towards the bay, we were given canoes so we could paddle our way back to the dock. The three people paddling out of sync in our canoe made for a slow ride and we only got back faster when someone else came aboard to help.</p>

<p>Our last stop was at a restaurant by Chalong Bay, where we ate okay food while watching crabs shuffle around the beach. A cat snuggled under the chair next to me, probably hoping for food. After eating what we could, we then got transported back to the hotel in a jeep. During the ride, the driver pointed out the beaches and resort hotels. We made a quick stop at Kata Beach for a photo.</p>

<andeys-trip-pic class="left" data-trip-pic="kata-beach"></andeys-trip-pic>

<p>There was still time to spare until our shuttle came to take us to the airport, so we looked at our options. First, we hung out at the bar by the pool, enjoying some fruit mocktails. Then, out of boredom, we decided to check out a napkin folding class. It turned out to be fun. My brother, already familiar with origami, did especially well at making the different shapes, including a hat, flower and banana.</p>

<p>Soon after the class finished, a shuttle came to take us to the airport and got us there early. While waiting for our flight, we took the time to eat quickly at the Dairy Queen and check our e-mail. Back in Bangkok, we took the taxi to the Imperial Queen's Park Hotel and checked into a room my parents reserved for us, which turned out to be next door to my parent's room. We then relaxed and went to sleep.</p>
