<p>This day I somewhat dreaded. I was pretty sure I would get seasick on my way to the Phi Phi Islands. Why go? Curiousity got the better of me. I decided to have breakfast anyway, though I kept from getting full.</p>

<andeys-trip-pic class="right" data-trip-pic="viking-cave"></andeys-trip-pic>

<p>The minibus came earlier than scheduled. Fortunately, the hotel staff phoned me to tell me it had arrived and soon after my brother and I left the resort. We arrived at a big, busy dock where we got onto a large capacity boat. Not too long after leaving the port, I realized just how rough the voyage would be as my stomach became unsettled. Despite my best efforts, I lost my breakfast, then felt relieved enough to sleep.</p>

<p>I got up wearily enough to find out that the boat had arrived near the shores of the island of Phi Phi Ley. It looked like a wonderful island. Unfortunately, we were not stopping there. From a distance, I could see the &ldquo;Viking Cave&rdquo; that the tour operator mentioned was &ldquo;impossible to visit.&rdquo; I never found out why.</p>

<andeys-trip-pic class="left" data-trip-pic="snorkelers"></andeys-trip-pic>

<p>We soon reached the shores of the bigger island neighbor Phi Phi Don and made it to a beach on the northeastern side. A smaller boat transferred us to land. We had time to relax a little after grabbing snorkeling gear, then got on long tail boats to the snorkeling area not far from shore. The water was not as clear as I had hoped, but I did enjoy my time, enough so that I barely made it back to the boat before it left for shore.</p>

<p>After we showered for a small fee, it was time for lunch at the Phi Phi Natural Resort. The food turned out to be mediocre, but I wasn't planning to each much anyway. I did enjoy the view of the swimming pool and its view of distant islands.</p>

<andeys-trip-pic class="right" data-trip-pic="beach-view"></andeys-trip-pic>

<p>I wandered around some more with my brother after eating, relaxed, then boarded the boat with the others on the tour. This time I decided to get on the top deck for fresh air. Not long after leaving the island, we started hitting large waves. It was fun especially when a big wave would crest over the boat and soak us. Eventually, though, I got tired of it and felt seasick, so went down to the dry cabin to rest.</p>

<p>Finally back on Phuket Island, I found the minibus that would transfer us to the resort in Patong Beach. We showered and relaxed in our room for a little while. Feeling too tired to go into town, we decided to go for a good but expensive Thai dinner in the resort. We ate leisurely while having a good conversation. Afterwards, we slept easily.</p>
