<p>My brother and I woke up in time to eat our complimentary breakfast outside with a view of the pool. While sitting at our table a bird with a black head and yellow beak paid a visit. I think it was going after nearby leftover food.</p>

<andeys-trip-pic data-trip-pic="phang-nga-bay"></andeys-trip-pic>

<p>We waited in the outdoor lobby for the tour minibus to arrive. Growing concern subsided when it arrived late to transfer us to the dock. Once at the dock, our tour group was put together from other minibuses and we transferred from the dock to the tour boat using a long tailed boat.</p>

<p>I was relieved to find the weather good, with a mix of clouds and blue sky. Our first tour stop was Naka Yai island for swimming and relaxing. We were to use the inflatable canoes to land on the beach, so I put my money in a waterproof wallet and my camera in a waterproof box.</p>

<andeys-trip-pic class="left" data-trip-pic="ko-tapu"></andeys-trip-pic>

<p>I found out that each canoe had a person to do the paddling for us and it was only a little wet getting to the beach. It was a lovely beach, with white sand and a great view of the towering islands of Phang-Nga Bay. Most of the time, I stood in the waves while chatting with a tourist from England.</p>

<p>My brother got soaked on our return trip to the tour boat. We then continued on our way, going in between the scenic islands. At the edge of some of them I saw karst and wondered how many sea caves existed in the area.</p>

<andeys-trip-pic class="right" data-trip-pic="hong-island"></andeys-trip-pic>

<p>After enjoying the fantastic scenery, we arrived at Ko Ping Kan, otherwise known as James Bond Island, because it was featured in the movie <em>The Man with the Golden Gun.</em> We transferred by long tail boat and immediately got accosted by people selling trinkets. The market stands were almost right next to the water and waves, making them tough to avoid without getting wet. I ignored them and made the brief walk to the opposite shore to see Ko Tapu, also known as Nail Island. It was a spectacular, tall island that appeared thinnest at its base.</p>

<p>Making my way past the narrow, crowded strip of sand, we then walked up into some cave-like passages to look at the formations. There was not much to explore, but we soon had to leave anyway and return to the boat.</p>

<p>Lunch was ready as we boarded and we heartily ate while the boat headed for its next destination, Ko Hong. Once at Ko Hong, we got onto the canoes again. We had a wonderful close look at the sheer cliffs of the islands as well as close looks at more karst. At one time, we stopped next to a local boat and was shown the shell of a horseshoe crab. Also interesting was going partly through a passageway, ducking under rock.</p>

<andeys-trip-pic class="left" data-trip-pic="cave-paddle"></andeys-trip-pic>

<p>Finally, the last stop was one the tour guide deemed as really exciting. Again, we took out the canoes and headed towards a cliff. Soon, I could see that we were heading into a barely visible sea cave and were told to lie down.</p>

<p>Once in the dark cave with our flashlights, we had to stop. The canoes ahead of us took their time to get through the trickiest part. When it was our turn, we found ourselves having to lie as flat as possible as the cave ceiling came almost down to our noses. I was wondering how the paddler was handing it.</p>

<andeys-trip-pic class="right" data-trip-pic="mangrove-roots"></andeys-trip-pic>

<p>Soon light showed again and we entered an open space, surrounded by the island walls. In the shallow water, trees grew with roots submerged as in a mangrove forest. It was a wonderful, calm place to experience. Unfortunately, we had to return before the tide rose or else our air passage through the cave would be blocked.</p>

<p>With happy thoughts of our day, we relaxed as the tour boat made its way back to the dock on Phuket Island. At the dock, we then got on our minibuses back to our different accomodations. In Patong Beach, my brother and I then went for an inexpensive meal in town at a local Thai restaurant. After that, we relaxed and slept early.</p>
