<andeys-trip-pic class="right" data-trip-pic="mini-cars"></andeys-trip-pic>

<p>Morning came and we ate breakfast and packed up camp. On our way out of the Starr Springs Campground, I was surprised to find a ruin I did not see before. We took quick pictures and then continued north and west towards Hanksville. Once in that town, I stopped to fuel my car at a gas station called Hollow Mountain. The store of the station was inside the rock.</p>

<p>We drove west, encountering another unnamed ruin along the road before entering Capitol Reef National Park. The Behunin Cabin was next to the road in the park. I read there that ten people once lived in the tiny dwelling with some children sleeping outside in the rocks at night. Another stop on the state route brought us to petroglyphs done long ago by the Fremont peoples. In the parking lot, a row of driveable miniature cars lined up against the curb, enough to wonder if there was a convention going on.</p>

<andeys-trip-pic class="left" data-trip-pic="cap-dome"></andeys-trip-pic>

<p>After stopping at the visitor center, we drove the scenic road south into the heart of the park. The western face of the huge rock barrier known as the Capitol Reef towered above us. We then turned onto the dirt road into Grand Wash to look at ruins and a barred uranium mine. The interpretive sign as well as the international symbol for radiation told us to stay away from the entrances.</p>

<p>We continued down Grand Wash, then parked and hiked the trail into the narrows. Sheer cliff walls rose on both sides of us, but they did not close in nearly as much as they did at Little Wild Horse Canyon in the San Rafael Reef further north. I hiked to the end just to see if any part got narrower, but it did not.</p>

<andeys-trip-pic class="right" data-trip-pic="calf-creek-cyn"></andeys-trip-pic>

<p>When done with the hike, we left Grand Wash and continued down the scenic drive. At the end of the pavement, we continued down Capitol Gorge just to see the sights along the road, such as the Golden Throne. Then, we returned to the end of the pavement to picnic at a shady table.</p>

<p>On our return trip north, we made a brief stop at the historic Gifford Homestead, with a barn and house built in 1908. Inside the house was a display of homemaking arts and crafts as well as a small store selling local goods. Exiting the park, we made a stop at Panorama Point, Chimney Rock, and Twin Rocks to take quick pictures.</p>

<andeys-trip-pic class="left" data-trip-pic="grosvenor-arch"></andeys-trip-pic>

<p>The road started climbing as we drove state route 12 and viewpoints east gave us a higher perspective of the landforms of Capitol Reef. Rather quickly it seemed we had passed from rocky terrain to dense wooded forest. Later, though, it changed back to a scenic rocky landscape as we drove through Grand Staircase-Escalante National Monument. I particularly liked seeing the large gash in the rock known as Calf Creek Canyon.</p>

<p>Once we reached Cannonville, we then took nine miles of paved road and ten miles of dirt road to get to Grosvenor Arch. It was an impressive, huge double arch high above on a cliff. After we finished looking at it, we returned to Cannonville to stay at the KOA campground there to relax, shower, eat and sleep.</p>
