<andeys-trip-pic class="right" data-trip-pic="revered-monk"></andeys-trip-pic>

<p>Today we took our time to get up. My mom had gotten me and my brother coupons for breakfast that we used when we all went down to eat. After that, we got ready to go, boarding the bus that would take us on a tour of Phuket Island.</p>

<p>At our first stop, the bus dropped us off at a rubber plantation, where a guide and workers there showed us how natural rubber got collected from trees and processed. Our group watched as some rubber tree sap dripped into a bucket, then walked to a small setup showing tools used to squeeze water out of the sap.</p>

<andeys-trip-pic class="left" data-trip-pic="promthep-view"></andeys-trip-pic>

<p>We next stopped at Wat Chalong. I had already seen this temple two days before, so I checked out a building I had not noticed before. Inside, I found three wax statues of revered monks surrounded by religious items, each having their own part of the room. The middle statue sat in a chair while the two other ones sat down in a lotus position.</p>

<p>We got back on our bus and headed to Promthep Cape, the southernmost tip of Phuket Island. There, we walked up to a spectacular view of the coast and nearby islands. Going higher for the view, I then noticed an interesting building which I entered. When I read an exhibit about Thai lighthouses, I realized I stood inside one. Its unique look had not clued me into that earlier.</p>

<andeys-trip-pic class="right" data-trip-pic="promthep"></andeys-trip-pic>

<p>Our group boarded our buses and headed to a restaurant. On the way there, we stopped briefly without disembarking to get a glimpse of a Sea Gypsy village. I saw only shoddy housing with metal roofs. We continued on to our lunch stop to eat a seafood meal by a view of serene Chalong Bay. I only had a little time to look around after finishing, because soon after we headed out.</p>

<p>For shopping, our tour stopped at a cashew nut production factory called the Sri Bhurapa Orchid Company. The place offered huge varieties of cashew nut packages as well as some other food. We saw workers methodically processing the cashew nuts. I wandered around with only minimal interest while my mom and others bought stuff. I also wandered listlessly around our final stop, Wang Talang, which sold jewelry and silks I had no interest in buying.</p>

<andeys-trip-pic class="left" data-trip-pic="cashew-nut"></andeys-trip-pic>

<p>When the buses got back to the hotel, we had enough time to shower and change for the evening's plans. Buses arrived again for us, this time heading for Kamala Beach, where we entered a Thai Cultural Theme Park called Phuket FantaSea. At the entrance, we saw large displays of Thai mythical creatures along with brightly colored cartoonish decorations. The Festival Village, decorated likewise, had plenty of expensive tourist shops and a noisy arcade.</p>

<p>First, our group went inside the huge Golden Kinnaree Restaurant to have our buffet dinner. We found our reserved section of the place and then got in line for a variety of foods, including sashimi prepared for us in person. After eating, I went over to see my friend Paula and her brother and sister. Then, Paula and I went out to explore the Festival Village. Mostly, we spent time in the arcade, where I did poorly at the carnival games. One of them allowed us to shoot from BB guns at a target. I missed the target entirely.</p>

<andeys-trip-pic class="right" data-trip-pic="fantasea"></andeys-trip-pic>

<p>Showtime came and we all headed for the enormous Sukothai styled Palace of the Elephants theater to see the highlight of the park. I found out my brother and I managed to get good seats. A large scrolling laser text display in the front of the misty stage greeted everyone, with a special mention to our TPAA group, then the show started with lasers and a parade of elephants.</p>

<p>The legendary story, told in English and Thai, talked about a Prince of Kamala and his journey to become a perfect Thai. Like Las Vegas style shows, they had pyrotechnics, acrobats and even a magic act with a &ldquo;reluctant&rdquo; audience participant. However, the show also managed to work in elements of Thai culture, such as dances from different regions and Thai songs. I particularly enjoyed the type of song where a male and female would exchange witty remarks.</p>

<p>After the show ended, we headed for the buses. First, I had to pick up my camera that got checked in because the theater disallowed cameras inside. Then we made one more stop to take a picture of my brother with a baby elephant. My brother and I had an early start the next morning, so we pretty much slept after we got back to our hotel room.</p>
