<andeys-trip-pic class="right" data-trip-pic="walnut-cyn"></andeys-trip-pic>

<p>Despite vibrations caused by trains passing nearby, we had a pretty decent sleep in our wigwam. We got ready for the day, left the key in the room, then drove west onto I-40. Our first stop was Winslow, where we found the Standin' on the Corner Park. It had a combination of sculpture and murals, inspired by the lyrics of the song "Take It Easy" by The Eagles, which mentioned the town.</p>

<p>After that whimsical stop, we continued west until we reached Walnut Canyon National Monument, near the Flagstaff city limits. We went through the visitor center to get to the Island Trail, which started with 240 stairs going down to the ruins. Right alongside the trail were dozens of cliff dwellings that the Sinaguan people occupied sometime before 1250. Across the canyon I could see even more ruins. After the climb up, we also stopped at pueblo ruins near the parking lot.</p>

<andeys-trip-pic class="left" data-trip-pic="oatman"></andeys-trip-pic>

<p>A long drive on the interstate eventually took us to Kingman. We stopped for gas there, then took the Historic Route 66 to Oatman. It turned out to be a tourist oriented town with an old west theme, and was crowded with visitors. Also visiting were wild burros from the surrounding hills, which were being fed carrots by some people. Signs made us aware that the animals could kick, but we didn't see that happen.</p>

<p>We walked around town and then entered the Oatman Hotel, where we could tour the historic rooms upstairs. One of the rooms was heralded as the honeymoon suite of Clark Gable and Carol Lombard when they went there in 1939. Downstairs in the bar were hundreds of dollar bills decorating the walls. Looking at this eatery and a couple others, Joy decided against eating in this town.</p>

<andeys-trip-pic class="right" data-trip-pic="roys-cafe"></andeys-trip-pic>

<p>We reached the south end of town, passing both the old jail and gold mine without entering, then turned back to go to the car. The drive from there to Topock was scenic and we soon caught sight of the Colorado River. Then, we entered California just after getting back on I-40.</p>

<p>Joy fell asleep during the long drive through the desert. Once I got on the National Trails Highway, I was getting tired too. Finally, I got some minor relief stopping in Amboy. We had hoped to eat there at Roy's Cafe and Motel, but found it closed. At least I got a picture of the interesting sign as well as of Amboy Crater west of there.</p>

<p>We headed south on Amboy Road, which was another long drive. Getting rather hungry by now, we stopped to eat soon after we reached the next town, which happened to be Twentynine Palms. We rested by sitting down to eat at a Mexican restaurant.</p>

<p>Once we got going again, we took the Route 62 to I-10. I then took Route 60 and stopped in Riverside to visit my sister's family. We relaxed, talked and watched a movie using the DVD player. Then, finally, we made it back to Joy's house, sleeping soon after arriving.</p>
