<andeys-trip-pic class="right" data-trip-pic="long-house"></andeys-trip-pic>

<p>We got up around sunrise and prepared for the day, packing up the tent. Before leaving, though, we examined the Gallo ruins right next to the cliff by the campground. Then, we took the unpaved road out of the park to US-550. A fast drive turned into a slow, winding one as I began going on Route 4 in the scenic Jemez Mountains.</p>

<p>Joy slept through most of the drive and woke just as we entered Bandelier National Monument. We claimed a campsite, set up our tent, then drove on to the visitor center, stopping at a scenic overlook on the way. I picked up a guide booklet and we started our hike in Frijoles Canyon.</p>

<p>The most interesting sight I first saw were the cliffs of volcanic rock riddled with caves like swiss cheese. At the bottom, some of those caves were enlarged to become back rooms for dwellings when Tyuonyi was an active village. The trail gave us a chance to check out some of the caves using ladders.</p>

<andeys-trip-pic class="left" data-trip-pic="cave-line"></andeys-trip-pic>

<p>On the canyon floor were the ruins of a pueblo that had about 400 rooms. Further on the trail, we encountered Long House, a ruin of a connected row of dwellings that ran 800 feet along the base of the cliff. One part had the remains of what must have been a lovely pictograph decorating the back of a room.</p>

<p>We left the cliffside for a pleasant walk along Frijoles Creek until we reached the series of ladders that would take us 140 feet up to Ceremonial Cave. Unfortuately, we got there just when a school group was going up and congesting the path. Also, the wind picked up and blew dust at us. With patience, we waited until we had our chance to pass the group, then explored the small kiva on top. Waiting on the school group again, we decided to stop to eat lunch in an alcove somewhat protected from wind.</p>

<p>Once we made it down the ladder, we walked the nature trail back to the car and got a guidebook for the Tsankawi Trail, our next hike. We had to go drive a little while on Route 4 to get to the trail, located in a detached section of the park. Parts of the it were fun as we walked through narrow grooves in the rock and climbed ladders, but our enjoyment was tempered by the strong wind buffeting us. I found out the grooves were also used by the people who onced lived in what was now mostly unexcavated ruins. The most interesting thing I found were the petroglyphs and steep stairways those people had carved into the rock.</p>

<andeys-trip-pic class="right" data-trip-pic="stone-stairs"></andeys-trip-pic>

<p>Having enough of dusty hikes for the day, we drove on until we reached Santa Fe, capital of New Mexico. Just as I had read, almost all of the buildings of the city had an adobe or faux adobe look, a design mandated long ago by the city. We parked at the Santa Fe Visitor's Center to get information, then started exploring the area on foot.</p>

<p>We entered San Miguel Mission Church, built in 1610, where we took the opportunity to ring a bell cast in Spain in 1356. Continuing north, we also stopped to admire the Loretto Chapel, the Inn at Loretto and the Cathedral of St. Francis of Assisi. After looking at the Palace of Governors at The Plaza, we turned back.</p>

<p>This evening we decided to eat out and try New Mexican food, so we went to a restaurant by the name of Tortilla Flats. Both of us had chicken flautas with green chilli. It was good and filling but not as spicy as we thought it would be.</p>

<andeys-trip-pic class="left" data-trip-pic="loretto-inn"></andeys-trip-pic>

<p>We had already gone four days without showers, so we were quite ready for a good cleaning. As a treat, I took us to Ten Thousand Waves Japanese Health Spa. For only $13 each person, we could use the public tub and sauna until closing as well as take showers. Joy was glad to know we came just in time for clothing to no longer be optional, but required.</p>

<p>After refreshing showers, we spent most of our time in the public tub, relaxing and having a conversation. Occasionally, I would chat with someone else too. Not surprisingly, most people were locals. At one point, we checked out the dry sauna, but found it too hot.</p>

<p>Time went by faster than we expected at the spa. After showering again, we left late to return to the Juniper Campground at Bandelier National Monument, ready to sleep.</p>
