<p>Joy and I set out on the road with a pretty good early start until we got stopped at a bottleneck on I-10 due to an accident. A flipped car had caused three lanes to be blocked. Fortunately traffic speed picked up significantly after leaving the scene.</p>

<andeys-trip-pic class="right" data-trip-pic="peggy-sues"></andeys-trip-pic>

<p>We reached Yermo by mid-morning, where we made a quick rest stop at Peggy Sue's '50s Diner. The front entrance was shaped like a big jukebox. We went inside for a brief look at the souvenir shop.</p>

<p>Continuing on, we entered Nevada, passing Las Vegas without stopping. After a brief drive through the corner of Arizona, we entered Utah, where I could see Zion National Park in the distance. We kept going, though, until we entered Arizona again.</p>

<p>By late afternoon, we reached Grand Canyon National Park and, after checking in, quickly set up our tent in the North Rim Campground. We then drove straight for Cape Royal, the farthest point of the paved scenic drive. A short walk led us to highly impressive views of the Grand Canyon, where we saw major landmarks with names such as Vishnu Temple, Freya Castle and Wotans Throne. Also, we saw a glimpse of the Colorado River through a hole in the rock known as Angels Window.</p>

<andeys-trip-pic class="left" data-trip-pic="vishnu-temple"></andeys-trip-pic>

<p>Driving back on the scenic drive, we quickly glimpsed the Walhalla Ruins, an excavated Ancestral Puebloan site, then made it to Point Imperial, the highest point on the North Rim, at an elevation of 8,803 feet. By then, most of the canyon was under shadow. Despite that, I decided to visit one more overlook.</p>

<p>Driving past the campground south to the Grand Canyon Lodge, I took the walk to Bright Angel Point while Joy relaxed in the car. Night was settling into the area, but I could still see features in the canyon. While there, I chatted with an older guy who frequents the park and was hiking down the next day. He told me how tough it was to reserve cabins there.</p>

<p>With sightseeing over for the day, Joy and I returned to our campsite to cook and eat a simple dinner. We went to sleep soon afterwards.</p>
