<andeys-trip-pic class="right" data-trip-pic="canal-gifts"></andeys-trip-pic>

<p>Taking advantage of jet lag, my brother and I woke up before sunrise and ate the hotel breakfast quickly before taking a taxi to the southern bus terminal of Pin Khlao. After finding which bus to take, we immediately left for Damnoen Saduak, a town known for its morning floating markets. In about two hours we arrived there.</p>

<p>On the bus I met three Australians and ended up hiring a boat guide along with them to save some money. We started out on a large waterway and then turned into a narrower one where we found a khlong (canal) filled with boats selling many different kinds of food, mainly fruits. Our long tailed boat frequently came in contact with others in the crowded khlong as we continued on.</p>

<p>Some boats had clearly marked prices while others called them out at the tourists. Some played with noisemakers to attract attention, which I found particularly annoying. Still, I saw some more quietly selling, usually it seemed, to other Thais. Occasionally, I would also see a boat cooking food on a stove.</p>

<andeys-trip-pic class="left" data-trip-pic="float-buy"></andeys-trip-pic>

<p>We made one stop to get off the boat. It looked like all the tourists got dumped on this landing, where vendors sold food and crafts. At least we got a sample of sweet coconut juice for free. In the corner, I saw an adorable baby in a simple crib and took a photograph with the mother's permission.</p>

<p>Back into the boat, our group left the markets behind and floated along a canalside community. Many of the landings had dogs protecting their turf, barking to keep us away. Once we returned to the bigger waterway, we had to contend a bit with the wakes of larger motorized boats that broke some of the tranquility of the ride.</p>

<andeys-trip-pic class="right" data-trip-pic="lewutai-plus"></andeys-trip-pic>

<p>Back to where we got off the bus, we found we had to take a songthaew (covered pickup truck with seats) to the bus terminal. Two hours later we arrived in Bangkok and my brother and I took a taxi back to the hotel. Once there, we ate dimsum at the Chinese restaurant, where I tried chicken feet, among other things.</p>

<p>We relaxed for the rest of the afternoon, playing with my brother's laptop computer, then went with my parents by taxi to a restaurant to meet other relatives. Not as many people showed up as did last year. I saw a couple aunts and uncles as well as three cousins and an adorable little toddler girl named Pie. A television nearby showed a World Cup match. After dinner, we headed back to the hotel.</p>
