<andeys-trip-pic class="right" data-trip-pic="toji"></andeys-trip-pic>

<p>We woke up and got ready for the day, finishing up packing. We checked out of our room, paid the bill in cash and left our luggage to pick up later. For breakfast, we stopped for pastries at a nearby coffee shop called Amazon.</p>

<p>Then, in a short walk, we arrived at Sanjusangendo Temple. The temple had a hall, about 120 meters long, that contained an incredible display of 1001 statues of the Buddhist deity Kannon. They crowded together several rows deep, facing the same way. Most had 42 arms, with two having hands cupped together in prayer while the other 40 had hands holding items that relieved suffering.</p>

<p>In the center of the hall stood a much bigger, sitting statue of Kannon. Somebody struck a drum and chanted in front of it, creating a more pious atmosphere. In the front row stood the 28 different Guardian Deities of Kannon. We read the descriptions of every one of them as we made our way down the hall. Each had a different power. On each side stood the statues of the Thunder and Wind Gods.</p>

<andeys-trip-pic class="left" data-trip-pic="kyoto-tower"></andeys-trip-pic>

<p>At the end of the hall, we headed to the back, where we found a small set of exhibits about the hall and its history. I found out the back had been once been used for archery competitions. One archer set the record when he landed 8000 arrows across the length of the hall within 24 hours. A display had a piece of wood showing damage from those competitions.</p>

<p>We left the long hall then the temple and returned to the ryokan to pick up our luggage and say farewell to our generous host. I gave him one of my best enlarged photographs, which he seemed to greatly appreciate. We then rolled our luggage through the streets to Kyoto Station, where we had them stored in a luggage storage office.</p>

<p>From the station, we headed southwest until we reached To Temple. There, we got to see the tallest five-storied pagoda in Japan, standing at 57 meters. The temple also had other important buildings, which we entered to see precious Buddhist statues.</p>

<andeys-trip-pic class="right" data-trip-pic="ao-matsuri"></andeys-trip-pic>

<p>We headed next to Kyoto Tower, across the street from Kyoto Station. We passed through a shopping center to the elevator, which took us to the place where we paid the entrance fee. I used a discount coupon I got from the ryokan. Then, we got into another elevator going to the top, where we saw great views of the city and the station. When we got back down, we found a series of displays showcasing celebrations in Kyoto in each month. For July, they had the little model of the Gion Festival parade we saw in person three days before.</p>

<p>We went back to Kyoto Station with some more time to spend, so we checked out the escalators on the east side of the building. They led to a skyway high over the main section. Getting hungry, we looked for a place to eat and finally settled for a place in the Kintetsu Mall on the ground floor, where we ate soba. After a quick stop at a book store for my brother to peruse, we bought unreserved tickets for the Haruka Airport Express train and boarded.</p>

<andeys-trip-pic class="left" data-trip-pic="kyoto-station"></andeys-trip-pic>

<p>On the train, a woman named Bea introduced herself and we talked a bit about each of our trips. When we arrived at the airport, my brother and I had a little bit of a problem proving we had connecting flights out of Los Angeles, but I think I showed enough papers to convince them. However, my brother encountered further delay when he tried to bring his wooden swords as carry on luggage. He had to go back and check them in while I waited at the terminal. Later, Bea encountered us again and told us she tried to get us into the business class lounge, but couldn't.</p>

<p>While waiting for our flight, we used an internet terminal and ate some takoyaki (fried octopus balls). We then boarded in time and left for the long flight to Los Angeles. I watched the movies <em>John Q,</em> <em>A Beautiful Mind</em> and part of a French movie called <em>Wasabi.</em> I also slept some.</p>

<p>My brother and I arrived at Los Angeles airport and found out we had to go to separate terminals for our connecting flights. So we parted, I exchanged my yen for dollars and then checked in for my domestic flight. While waiting, I talked to my friend Joy on the phone then ate Chicken Andouille at Jody Moroni's. The big screen there showed a baseball game. A batter just got hit in the face by a ball thrown by the pitcher. Finally, I left on my flight and arrived in San Francisco a short time later. I took the bus and the rail to make it home.</p>
