<andeys-trip-pic class="right" data-trip-pic="zoo-pond"></andeys-trip-pic>

<p>Knowing that we had to leave Bangkok by bus later in that night, we had a light day of sightseeing. I found out I would no longer stay with my Aunt the third time I would be in Bangkok, so I wanted to find out my options for exploration of the area. After breakfast at the hotel, my brother and I took a taxi to the headquarters of the Tourism Authority of Thailand, where I inquired about provinces nearby Bangkok and Phuket, my destination for the next day.</p>

<p>I gathered a couple useful brochures about Surat Thani, Sukothai and Kanchanaburi provinces. We then walked over to a bookstore to see if we could find more information, but didn't, so took a taxi to Dusit Zoo. I decided to go there simply because I didn't remember if I had been there before.</p>

<andeys-trip-pic class="left" data-trip-pic="water-snake"></andeys-trip-pic>

<p>Our slight wandering past the entrance first led us to the Nocturnal Animals Exhibit, where we saw mostly civets inside a dimly lit building. Outside of there, we visited the ostriches, a continually pacing hog badger, elephants, crocodiles, serows and various birds at the aviaries. Tired of going about in the heat, we stopped for drinks from a vending machine.</p>

<p>We found a place to rent covered paddleboats to explore the zoo's waterways while taking a break from walking. After circling around the main pond a couple times and relaxing at points, we discovered a route past the rental area, under a bridge. We spotted a snake in the water, but it did not bother us. Our route looped us around a small island back to the bridge, which we went under to get back to the rental area just as the hour we bought ended.</p>

<andeys-trip-pic class="right" data-trip-pic="tortoises"></andeys-trip-pic>

<p>Back on land, we tried to cover whatever we missed before. Heating up again, we then entered the Reptiles and Amphibians Exhibit Center for the relief of the air conditioning. After paying the extra fee, we found ourselves back outside, though, to see some of the animals, like big tortoises. Fortunately, we entered the cool building again to see the rest of the interesting creatures.</p>

<p>Soon after seeing the exhibit, we checked out the lions, who looked like they enjoyed the day relaxing and grooming. We then exited and took a taxi back to the hotel in time to meet with mom and dad for dinner at the hotel's Chinese restaurant. After that, we just made sure we packed right and waited around for the bus to arrive.</p>

<p>The bus arrived at around 22:00 as expected and we boarded. Being a fairly late hour, I settled down in my seat to try sleeping. The big lights of the city changed into the occasional street lights of the suburbs as we headed southward. I noticed that gas stations out there got attention by using animated, lighted arrow signs by the roadside pointing to their entrances. I fell asleep as the bus continued into the dark countryside.</p>
