<andeys-trip-pic class="right" data-trip-pic="gas-station"></andeys-trip-pic>

<p>I woke up to find myself still traveling south on the bus. Outside the window, I noticed great hills, some with sheer limestone cliffs and realized we already arrived in Phang-nga Province. Not much later, our caravan of two buses stopped at a gas station with a restaurant, where some people got out to eat breakfast. I went out to take pictures of the scenery.</p>

<p>We continued on and crossed the bridge that brought us onto Phuket Island. It soon stopped at an open air market where some people went shopping for food. After that, we continued on to Wat Chalong, then stopped again. I asked why we kept stopping instead of going to the resort and found that the bus had made such good time that we had time before we could check in.</p>

<andeys-trip-pic class="left" data-trip-pic="wat-chalong"></andeys-trip-pic>

<p>At Wat Chalong, one of the most important temples of Phuket, I admired the beautiful architecture and then followed my mom to burn some incense before visiting the Buddha image inside. Behind the Buddha image, I found three statues of revered monks. One person there applied a little bit of gold leaf to one of the statues.</p>

<p>We got back on the buses and then finally made it to the Phuket Arcadia Resort Hotel in Karon Beach. Having been to TPAA (Thai Physician's Association of America) events before, I already knew some of the people I saw in the lobby. To my surprise, though, Lillian, a friend from college, showed up and we chatted a bit. I also met new people who, like me, were children of the doctors attending the convention.</p>

<andeys-trip-pic class="right" data-trip-pic="phuket-arcadia"></andeys-trip-pic>

<p>Unlike earlier in the trip, my brother and I shared a room with my parents. My parents had the bed while I had a corner futon and my brother an inflatable mattress. After some relaxing, I went downstairs to the tour desk to book tours for two open days I had. I got one right away but had to wait a bit later until the second one got confirmed.</p>

<p>At the end of the afternoon, my brother and I went down to a meeting of the TPAAYC (TPAA Youth Council) to see what had been going on in that organization. Mainly, they had a presentation on a new organization they have tried to create out of the other young Thai associations. To my great surprise, I found my former engineering teacher's assistant there.</p>

<andeys-trip-pic class="left" data-trip-pic="fire-dance"></andeys-trip-pic>

<p>Once the meeting finished, my brother and I went back to our room and put on the Hawaiian shirts we received for the TPAA reception dinner. When dinner time came, we headed downstairs to the event. I received a welcome with a lei and got pineapple juice in a pineapple. Then, I got in the lines to try the various foods laid out on tables. A couple of the tables had workers preparing the food for each person as they watched.</p>

<p>I ran into more friends and spent much of the time talking to them. Mostly, I hung out with Paula. Later, a show on stage caught my attention as performers started doing Polynesian themed dances. The crowd seemed to especially enjoy the fire dances. Some friends then wanted to go out to Phuket Town for fun after that, but I went back to my room because I had to wake early the next day. I found my brother there, already sleeping.</p>
