<andeys-trip-pic class="right" data-trip-pic="arun-horse"></andeys-trip-pic>

<p>My family and I had breakfast at the hotel. After that, I inquired about the schedule for Thai boxing, but found that it would not work for me. Then, for lunch, we all took a taxi to a restaurant called See Faa, near the Mahboonkrong Shopping Centre.</p>

<p>After eating, my brother and I separated from my parents to look around the several floors of the shopping centre. We then boarded the Skytrain station attached to it, taking the train to Sathorn Pier. From there, we embarked on the Chao Phraya River Express ferry to the Thien Pier, then crossed the river by another boat to Wat Arun.</p>

<p>I had seen Wat Arun from the river before but never actually visited it, so I did this time to look at it in detail. I found the place quite pretty, with elaborately detailed towers. The main one, I noticed, had Chinese porcelain plates as part of its decoration.</p>

<andeys-trip-pic class="left" data-trip-pic="bophit-door"></andeys-trip-pic>

<p>We took the ferry back across the river and avoided the attention getting tuk-tuk drivers by Wat Pho, leaving them behind as we entered Saranrom Royal Garden, a lovely city park for relaxing by a pond. After crossing a quiet canal, we made our way into Wat Ratchabophit. Here, we found beautifully detailed buildings, no tourists in sight and the low drone of chanting monks. After relaxing a bit on a bench, we continued on.</p>

<p>We headed southeast towards Yaowarat, known as the Chinatown of Bangkok. First, though, we had a refreshing drink inside the air conditioned shopping center called The Old Siam Plaza. Not taking any particular road to continue, we went on until we encountered a crowded outside market on a narrow street. This turned out to be the Sampeng Market, which specializes in selling fabric. We walked the entire length along Wanit I Road until it ended.</p>

<andeys-trip-pic class="right" data-trip-pic="sampeng"></andeys-trip-pic>

<p>We stopped when we reached a place called River City, because I recognized going there the year before to board a dinner cruise boat. We entered and found an information desk where we asked about places to eat in Chinatown. After getting a walking tour map of Chinatown, we went back towards the area, following English signs of one of the self-guided tours.</p>

<p>We began to get hungry and found hardly any places still open where we walked. We ended up at a department store, which had a food court on the top floor. Looking around, we saw a mostly empty place with a few people sitting at tables and somebody singing karaoke on a small stage. Fortunately, the vendors stayed open to serve us food, though I had to read the Thai only menus for my brother so we could order. We had soup noodles for dinner, then took a taxi back to the hotel to rest.</p>
