<p>After waking up and getting ready for the day, we returned to Cafe du Monde in Kyoto Station to have breakfast. We also took time to visit the Japan Airlines check-in counter to find out how Steven could transport his swords, which did not fit in his luggage. They didn't have a definite answer. Also, we found out they could not check our luggage in anyway due to increased security. That didn't surprise me.</p>

<andeys-trip-pic class="right" data-trip-pic="himeji"></andeys-trip-pic>

<p>At the JR ticket office, my brother and I each got a JR-West Rail Pass for the Kansai Area, just for the day. We then caught the special rapid train going to Himeji. While passing through Kobe, I noticed outside a beautiful white suspension bridge that reminded me of the Golden Gate Bridge in San Francisco. Later, I found out it was the Akashi-Kaikyo Bridge, the longest suspension bridge in the world, with a span of 3910 meters.</p>

<p>We reached Himeji Station and headed north towards Himeji Castle. The streets along the way had decorations of colorful paper lanterns hung for the upcoming Oshiro Festival. We continued until we saw the moat of the castle, filled with colorful fish, then we entered the grounds to a great view of the main tower.</p>

<andeys-trip-pic class="left" data-trip-pic="princess-sen"></andeys-trip-pic>

<p>Following a tour route suggested in the brochure we received, we first headed for the West Bailey Building. Princess Sen and Lord Tadamasa Honda, part of the feudal Tokogawa government, spent their times in there. We walked through the building's long corridor, checking out the rooms and views of the city and the main tower. The only room not empty was in the Cosmetic Tower. It had life size dolls showing Princess Sen and her maidservant playing a matching game with seashells.</p>

<p>We exited the building and headed for the main tower, passing by some functional castle buildings like the place to store rice and salt. After stopping for a view directly in front of the main tower, we entered it's basement. Each area of interest had signs in English and Japanese telling us the features of the castle. The bottom floors had museum exhibits about the history of the castle and people who occupied it.</p>

<andeys-trip-pic class="right" data-trip-pic="koko-en"></andeys-trip-pic>

<p>The floors got smaller in area as we climbed each stairway. The sixth floor, the top of the tower, had a wonderful view of the city. In the center stood the Osakabe Shinto Shrine, returned there to ward off curses that seemed to occur when it had been removed from the hill to build the castle. We relaxed on benches there, then went back down.</p>

<p>After looking at other structures on castle grounds, we left for the former samurai quarters and gardens of Koko-en nearby. The place showcased nine beautiful Edo style gardens as well as a lovely tea house. Each garden had a different design reminding people of different beautiful natural places, such as the Seto Inland Seacoast. They shaped the water of the landscape or planted certain trees to elicit a certain aesthetic.</p>

<andeys-trip-pic class="left" data-trip-pic="umeda"></andeys-trip-pic>

<p>We had to leave Koko-en in time to make it for lunch at a restaurant called Fukutei. Both of us tried the mini-kaiseki course, a set of foods selected and prepared to go together. I did not really recognize more than the rice and sashimi, but felt that it all went together deliciously.</p>

<p>We went back to the station and took a train back in the direction of Kyoto. We had to make a quick stop at a Kobe station so that my brother could take care of a bloody nose. Our planned stop came at Osaka Station, where we got onto the street and walked to the Umeda Sky Building. It stood out as a pair of domino shaped buildings connected at the top by a square observation deck with a round hole where the escalators entered.</p>

<andeys-trip-pic class="right" data-trip-pic="kita-osaka"></andeys-trip-pic>

<p>We went inside and bought tickets, which allowed us to go up a see-through elevator then a see-through escalator. We arrived at a lounge with a great city view, a gift shop and a small dark section showing masks used in Japanese plays. Soon, we realized we could go up one more level, where we saw the view outdoors of the business heart of the city. My brother pointed out that one cylindrical building had an expressway off ramp going right through it.</p>

<p>When done enjoying the view, we went back to Osaka Station and ended up taking a slow local train to Kyoto. Fortunately, we did not have far to go. From Kyoto Station, we then took a train that led us to the entrance of the Fushimi-Inari Shrine. I got there just in time to see all the many lanterns hung on the big red torii gates for the Motomiya Festival. An audience gathered in one building to watch some solemn ritual, but I did get a good look, so we left.</p>

<andeys-trip-pic class="left" data-trip-pic="torii-walk"></andeys-trip-pic>

<p>The shrine is known for the hundreds of red torii gates that line about four kilometers of the path up Inari Mountain. We only went up as far as a candle lit shrine to foxes, messenger to Inari, god of cereals. As we headed down, we noticed inscriptions on the gates, some quite recent, according to what my brother could read. The ritual of lighting the lanterns began as we arrived back at the buildings at the bottom.</p>

<p>After a few more pictures, we hopped on another set of trains to get to the covered arcades. My brother wanted to get something at the anime store Animate, but it closed already, so he got a video from the store next to it. We then had dinner at Katsu Kura, a place set back through a quiet corridor. There, we tried tonkatsu (deep-fried breaded pork cutlet) served with a sauce that we added to sesame seeds we grinded. With it came shredded cabbage.</p>

<p>When done, we returned to our ryokan by train. We each took a bath then watched some Japanese television in our room while packing for our flight out the next day. I didn't understand the language, but watched parts of different shows anyway, out of curiousity. We slept after we did about as much packing as we could.</p>
