<p>We woke up just after sunrise, to a beautiful day. Quickly, we got ready for the day, packed up camp and went on our way. After stopping in Chinle for gas, we drove the North Rim of Canyon de Chelly National Monument.</p>

<andeys-trip-pic class="right" data-trip-pic="del-muerto"></andeys-trip-pic>

<p>At the parking lot for the Ledge Ruin Overlook, two Navajo were already setting up simple displays to sell their wares. One woman was offering jewelry while a man a little further down the overlook trail tried to get us interested in his assortment of petrified wood. We passed them and checked out the viewpoints that looked into Canyon del Muerto. The ruins there were visible, but in shadow.</p>

<p>The next stop was the Antelope House Overlook, which was an impressive ruin at the bottom of the cliff, but also in shadow. This time, we were accompanied by a lean dog who loyally followed us until we returned to the parking lot. A Navajo woman who was selling jewelry was telling two people about how stray dogs ended up in the campground, lost by visitors who let them free and thought they would return to their site.</p>

<andeys-trip-pic class="left" data-trip-pic="great-kiva"></andeys-trip-pic>

<p>At Mummy Cave Overlook, we saw another good ruin, still in shadow. An expedition in the 1880s found two mummies there. While there, we chatted with two people with two healthy dogs who were on a road trip to see many of the area ruins. Then, we stopped at Massacre Cave Overlook for our final views of the deep canyon and to read about a massacre there of Navajo people by Spanish troops in 1805.</p>

<p>We continued on until we eventually reached US-160 to go east. In Teec Nos Pos, we made a stop at the trading post, where Joy bought a wind chime. After enduring some slow stretches due to road construction, we entered New Mexico, where we noticed the huge basalt monolith to our right known as Shiprock.</p>

<andeys-trip-pic class="right" data-trip-pic="bonito-ruin"></andeys-trip-pic>

<p>By midday, we found ourselves at Aztec Ruins National Monument. With a guidebook borrowed from the visitor center, we took the trail around the great ruin that once had about 400 rooms. It was built between 1111 and 1121. The most interesting thing to see was the great kiva. Archeologists reconstructed this important ceremonial and community center in 1934. Inside, a recording of the music that may have played there added to its solemn atmosphere.</p>

<p>Back in the car, we headed south on US-550 until we reached the small turnout for Chaco Culture National Historical Park, taking an unpaved road part of the way. First, we set up our tent in the Gallo Campground, then made it to the visitor center. Taking the one way loop road from there, we made our first stop at the ruins of Hungo Pavi, a great house that had about 150 rooms and was built between 943 and 1047.</p>

<andeys-trip-pic class="left" data-trip-pic="una-vida-pics"></andeys-trip-pic>

<p>The most impressive ruin in the park was Pueblo Bonito, which we saw next. Built over a span of 300 years (850 to 1150), it had about 600 rooms and 40 kivas, though 30 rooms had been destroyed when Threatening Rock fell on the excavated ruins in 1941. We explored around and within the ruins, noting the corner and t-shaped doors. A trail from there to Chetro Ketl gave us a look at walls with many petroglyphs and pictographs.</p>

<p>After taking a walk around the great house of Chetro Ketl (which had about 500 rooms and 16 kivas), we stopped at Pueblo del Arroyo. Joy relaxed in the car while I examined the ruin of this great house of about 280 rooms and 20 kivas. Together, though, we did check out the remains of Casa Rinconada, where we found ruins of a small house as well as an impressive ruin of a great kiva.</p>

<p>There was still daylight left, so back at the visitor center we took the trail to the mostly unexecavated ruin of Una Vida. For me, the highlight of the trail turned out not to be the ruins, but the pictographs on the cliff that I had to climb a bit to see. While there, I had a wonderful view of the area, especially of Fajada Butte. When we got back to the campground, we cooked and ate a simple dinner and slept afterwards.</p>
