<andeys-trip-pic class="right" data-trip-pic="vic-lamp"></andeys-trip-pic>

<p>Our tour group all woke up, ate breafast and boarded the bus on schedule. We first stopped at the Victoria Parliament Building to take pictures of it from the outside. I particularly found the lamps elegant and beautiful. I also liked the design of the Princess Theatre across the street.</p>

<p>A short bus ride later, we stood in front of the magnificent St. Patrick's Cathedral. A lovely waterway there displayed quotes at the beginning and end of its length. I went inside to find an impressive pipe organ above to the side plus a huge stained glass window. I exited a different door to admire more of the building before returning to the bus.</p>

<p>Our bus next took us to Fitzroy Gardens, where we got off to explore the little two story cottage of Captain James Cook. The Cook family built the cottage in Great Ayton, England in 1755 and Sir Grimwade moved it to Melbourne in 1934 as a gift to Australia. Cook is considered one of the most important explorers in the island continent's history. Restorers decorated the place as it may have looked in the eighteenth century, including the little garden outside.</p>

<andeys-trip-pic class="left" data-trip-pic="st-patricks"></andeys-trip-pic>

<p>In the area, we last stopped at the Conservatory to look at the plants inside and just outside of the building. We then boarded the bus again and got commentary from our guide as we quickly passed by the tall spire of the Victorian Arts Centre and the Shrine of Remembrance, shaped like a Greek temple. We had Asian food again for lunch. For shopping, our group visited the Queen Victoria Market. I got postcards then wandered around with my brother, looking at the variety of goods until we had to go.</p>

<p>We left Melbourne and headed south for a while until we reached The Gurdies Winery in the town of Grantville. Some people tasted the wine. I checked out the vines, barren for winter. I also visited the friendly dog relaxing outside.</p>

<p>We then visited the Maru Fauna Park and spent some time looking at Australian mammals like koalas, kangaroos, dingos and wallabies. Here, we patted kangaroos just like at the park in Sydney. Our admission ticket got us discounts at the nearby coffee shop, where my brother and I had hot chocolate.</p>

<andeys-trip-pic class="right" data-trip-pic="cook-cottage"></andeys-trip-pic>

<p>By late afternoon, we reached Phillip Island and the Phillip Island Nature Park to watch the &ldquo;Penguin Parade.&rdquo; Every day soon after sunset, Little Penguins come ashore under the cover of darkness to their burrows. My brother and I found a seat right at the bottom of the concrete step seats, nearest to the beach. We did not see the rest of the tour group from where we sat.</p>

<p>As the sky darkened, we waited for signs of the wild penguins. High floodlights made sure we all could see the action. Not too long after the predicted showing, we began to perceive penguins venturing out of the water. Several times they would stop and jump back into the water, then return in bigger numbers. Finally, to our delight, they ran for their burrows, going somewhere in between the two seating areas.</p>

<andeys-trip-pic class="left" data-trip-pic="wallaby"></andeys-trip-pic>

<p>We stayed to see it happen once more, then decided to leave. Along the boardwalk to the visitor centre, we kept spotting more penguins as they made their way to their burrows. By the visitor centre, we found our tour guide. He had been looking for us. Apparently, we kept the tour there longer than scheduled.</p>

<p>We next went to dinner at a Chinese restaurant, where we each got lobster to eat. We left quickly after finishing, then relaxed for the ride back to Melbourne. Meanwhile, a Thai comedy show displayed on the bus television screen. We arrived at the airport on time to board our flight to Bangkok.</p>
