<andeys-trip-pic class="right" data-trip-pic="todai"></andeys-trip-pic>

<p>My brother and I got a good start of the day and made it early enough to Kyoto Station that we had to wait a little for Cafe du Monde to open for breakfast. In the meantime, we explored the station a little bit, taking the west side elevators to the fifteenth floor to look at the view of Kyoto. We then went back down to eat a simple meal before leaving for Nara on a Kintetsu express train.</p>

<p>When we arrived at the Kintetsu Nara Station, we went to a tourist information office for a map and information about touring by foot. Kofuku Temple made a convenient stop along our way, so we checked it out briefly to see the second tallest pagoda in Japan as well as the deer nearby. People in Nara consider their deer sacred and let them roam freely. Later, we would even see them seemingly perusing shop fronts.</p>

<andeys-trip-pic class="left" data-trip-pic="post-hole"></andeys-trip-pic>

<p>We continued walking until we reached the Great Southern Gate to Todai Temple. My brother stopped at a shop to look for a bamboo sword and got directions to a place that would sell them. After paying the entrance fee, we came upon the Hall of the Great Buddha, largest wooden building in the world. We admired it then entered to find a great Buddha image to fit the great hall.</p>

<p>We wandered clockwise around the Buddha image and viewed other statues inside the building. Then, we came upon a wooden piller with a hole through the bottom. Popular belief states that passing through the hole, which is the size of a nostril of the great Buddha image, means you are enlightened. I saw other people go through then I asked my brother if he would. He would if I did, so I did and he, who is quite bigger, went through too, but barely.</p>

<andeys-trip-pic class="right" data-trip-pic="nigasu-do"></andeys-trip-pic>

<p>We left the building and explored the grounds a bit, passing the Great Bell, until we got to Nigatsu Hall. There, we got a good view of Nara. Nearby, we found 1200 year old Sangatsu Hall and entered to take a look at a valuable collection of Buddhist statues, most from the eight century. After examining the statues, we headed south to Kasuga Shrine.</p>

<p>The approach to the shrine has hundreds of stone lanterns. When we reached the main buildings, we saw more lanterns of different design. We also saw miko (shrine maidens) selling omikuji for good fortune. Soon, we left along another long path lined both sides with stone lanterns.</p>

<p>After walking awhile, we got to Sarusawa Pond for another view of the tall pagoda of Kofuku Temple. The pond itself had turtles and two logs so crowded that birds and turtles stood on other turtles. We made it to a shopping center next to eat lunch at Za Don, which made delicious Donburi for us. We then walked a while to the JR Nara Station to catch a train to Ikaruga.</p>

<andeys-trip-pic class="left" data-trip-pic="stone-lanterns"></andeys-trip-pic>

<p>In a short time, we reached Ikaruga and took a bus to Horyu Temple. We first entered the Western Precinct and found ourselves looking at the oldest five-storied pagoda in Japan. Inside there and the main hall we could see statues dating as far back as the eighth century. We continued on to see the Great Lecture Hall, the Sutra Repository and the Bell House before leaving for other sections of the temple.</p>

<p>Through a revolving door of a more modern concrete building, we entered the Gallery of Temple Treasures. It exhibited highly precious and impressive centuries old Buddhist artifacts. We checked out each one and then left for the Eastern Precinct. In there, we saw a building known as the Hall of Visions, built in memory of Prince Shotoku, the one who helped build the temple.</p>

<andeys-trip-pic class="right" data-trip-pic="horyu-ji"></andeys-trip-pic>

<p>We almost entered Chugu Temple from the Eastern Precinct, but my brother and I, as well as a group that happened to be there too, decided not to pay and went back. My brother and I walked all the way past the Western Precinct to look at the West Round Hall before leaving. We then took a bus back to the train station to return to Nara.</p>

<p>From the JR Nara Station, we walked a while until we found the shop that sold bamboo swords that my brother wanted for a friend of his. He bought one, but we had to wait while the employee did some final work on it before giving it to us. In the meantime, we sat in the crowded little shop and my brother conversed with another employee, in Japanese.</p>

<p>When my brother got the sword, we returned to Kintetsu Nara Station and took the express train back to Kyoto. Just outside the station, we found a sushi restaurant where we could pick our dishes from a conveyor belt. My brother never experienced this way of eating until then. After eating our delicious fill of sushi, we walked back towards our ryokan, stopping quickly at a convenience store for yogurt. We ate the yogurt in our ryokan room, then took baths and slept.</p>
