<andeys-trip-pic class="right" data-trip-pic="canoe-view"></andeys-trip-pic>

<p>We started the day early. Our room got only complimentary breakfast coupons for two out of the four people in our room, so my brother and I ordered a small meal from room service. Once done, we went to one of the lobbies to wait for the tour company Siam Safari to pick us up. We found out we waited at the wrong lobby, but hotel staff informed us where to go once the tour minibus arrived.</p>

<p>It turned out we had been the only two to sign up for the day's tour. With us, we had the driver and our guide, Saa. We talked with the guide while we made the long journey to Khao Sok National Park. Occasionally, a rain storm would appear and then go away. I expected that, especially in a rainforest during the rainy season.</p>

<p>In the park, we first stopped for a quick look at the beautiful Mae Yai Falls by the road. Then, we drove a little more, parked and boarded a canoe on a river. We relaxed, letting the rower guide us as we enjoyed the spectacular scenery of jungle with dramatic limestone hills rising into the low clouds.</p>

<andeys-trip-pic class="left" data-trip-pic="eat-steps"></andeys-trip-pic>

<p>The vegetation appeared so lush that I could not always see the course of the river, but the rower knew where to go. It rained some on our float, but we had a chance to put on ponchos provided by the tour. I protected my camera with a waterproof case that would keep it dry even if it dropped in the water. A minibus waited for us where we landed and took us back to where we started our float. A small open air restaurant there then served us a delicious meal, with more food than we could handle.</p>

<p>After lunch, we took the minibus again, stopping at a scenic overlook before embarking on a moderately long drive. At the end of that, we stopped at some place to change to a more rugged truck. It took us through rough roads and streams to the place where we got onto elephants. My brother and I each had our own along with a mahout. My elephant apparently felt hungry enough to strip and eat pieces of the wood from the steps we climbed to mount the creatures.</p>

<p>The elephant began the trip wading in the stream, then started uphill. The mahout had to constantly dissuade my elephant from eating. The creature would oblige, but only with a low groan of protest that I could feel under me.</p>

<andeys-trip-pic class="right" data-trip-pic="mahout-steve"></andeys-trip-pic>

<p>I pretty much relaxed and enjoyed the ride except when we went downhill. I would have to hold on firmly during those times. It also made it difficult for me to put on my poncho during the one period of rain we had during the ride.</p>

<p>After arriving back where the ride started, we dismounted and I gave my elephant a couple bananas as a reward. Steven got a quick chance to sit in the mahout seat of his elephant before getting off. Then, the truck took us back to the minibus. We then slept most of the long ride back to the hotel. I was awake at least for a glimpse of the seashore as we drove through Khao Lak National Park.</p>

<p>We showered and then looked for a place to eat dinner in the resort. The rest of the TPAA people had already gone on a dinner cruise before we came back. I knew that the resort would only have places with tourist prices, so I figured we could get the most from our money at the buffet place. At least for the price we had excellent service. We went to our room after that to relax and sleep.</p>
