<p>Today, my family would leave Phuket for Bangkok by bus. We had enough time in the morning to pack and eat breakfast at one of the hotel restaurants. My brother and I ate with my friend Paula and her family. After that, we all checked out. Waiting in the lobby, I talked to a few people while porters loaded luggage onto the buses. We then boarded and headed north.</p>

<andeys-trip-pic class="right" data-trip-pic="trip-buses"></andeys-trip-pic>

<p>I mostly spent my time on the bus sleeping, talking with my brother or playing around with his laptop computer. Much of the time, the television in front stayed on, showing some Thai programs. For lunch, we stopped in Surat Thani, where we ate lunch and then had a little bit of time to look at the shop next door.</p>

<p>A long time later, night fell and I began getting hungry, wondering when we would stop for dinner. We finally did stop at a restaurant in Petchaburi at an outdoor place with plenty of bugs going about. I ate anyway.</p>

<p>Back onto the bus, we continued north. Eventually, I noticed the dark countryside give way to the bright lights of the big capital city. Billboards appeared all over the place. Once we reached the Radisson Hotel, we quickly checked in and went to the rooms to sleep.</p>
