<andeys-trip-pic class="right" data-trip-pic="kanga-pat"></andeys-trip-pic>

<p>Our group woke up, ate breakfast and left the hotel half an hour earlier than the day before. When I went outside, it felt like freezing temperatures. When we got on the bus, it initially blasted cold air before warming up. It also defrosted its windows before we left. We then headed out of Canberra under low clouds and fog.</p>

<p>The sky cleared and brightened as we made the long bus ride towards Sydney. Along the way, we made a stop at a McDonald's with Hungry Jack's also nearby. Some people got food, but I only looked at the menu to see what foods differed from home, like the Outback Burger. We did not stop again until we reached Sydney.</p>

<andeys-trip-pic class="left" data-trip-pic="wool"></andeys-trip-pic>

<p>We got off the bus at the Australian Wildlife Park, part of Wonderland Sydney, and had time to explore the zoo. I saw a cockatiel, koalas, wombats, wallabies, kangaroos, dingos, emus, a kookaburra, bats, fairy penguins, Tasmanian devils, crocodiles and some other birds. One kangaroo was albino and another two had joeys (babies) in their pouches. We also saw a few creatures in the small nocturnal house.</p>

<p>A couple areas allowed us to walk among the kangaroos and pat them. They seemed to ignore us, though, when we touched them. Emus also wandered around one of the enclosures, but we hesistated touching them because they pecked at everything with their beaks.</p>

<p>For lunch, we headed to the park's Outback Restaurant to have barbecued food. We could choose either lamb, chicken or beef. I chose lamb simply because I don't normally eat it plus I found out Australia has more sheep than humans. After eating, we walked across to the Outback Woolshed to watch stock men sheer sheep.</p>

<andeys-trip-pic class="right" data-trip-pic="three-sisters"></andeys-trip-pic>

<p>The show started with the two men riding into the shed on horse. Then they showed off a working dog herding a few sheep. Next, one guy sheered a modern sheep with a dense wool coat using electric sheers while the other competed with an unenhanced wool sheep with manual sheers, all while making attempts at humour. We got to touch the sheered off Merino wool at the end.</p>

<p>Our tour group soon got back onto the bus and we headed up to Katoomba and Blue Mountains National Park. We first got to a great view at Echo Point, where we could see three huge towers of rock known as the Three Sisters. Then, we quickly got over to the Katoomba Scenic Railway and had a fun, but short ride on the steepest railway in the world. I saw good reason why caging covered the roof and one side of the seats.</p>

<andeys-trip-pic class="left" data-trip-pic="katoom-rail"></andeys-trip-pic>

<p>At the bottom, we got onto a lovely raised walkway. I did not have time to read the interpretive signs, because we quickly walked to the our next ride. I only saw that we passed part of a waterfall and a historic coal mine. We then got on a short, steep tram ride called the Sceniscender. After getting back to the top, we took off in our bus.</p>

<p>For dinner, we ate at a restaurant not too far from the airport in Sydney. We then got to the airport and found our flight a bit delayed. I talked to a couple young tour group members while waiting. We then got on the flight to Melbourne and got to eat a small, but considerable meal for such a short flight. In Melbourne, a bus took us to our hotel, where we checked in rather tired and then slept.</p>
