<andeys-trip-pic class="right" data-trip-pic="bondi-beach"></andeys-trip-pic>

<p>Our plane arrived fairly early in the morning. Not being sure how fast our tour would move, I made sure one of the first things I did would be exchanging currency. I figured I would probably have to use cash for buying postcards.</p>

<p>Before going outside, I put on two layers of clothes to keep warm in the winter morning. We stepped out to see a beautiful, clear blue sky. The buses then came and we boarded to head for Bondi Beach. We stopped there to take a short walk on the sand and admire the scenery. A surfer ran by going to the waves and an older man ran into the cold water in his speedos.</p>

<andeys-trip-pic class="left" data-trip-pic="downtown-syd"></andeys-trip-pic>

<p>Our group then took the bus up and away to Dudley Page Reserve, where we got a great overall view of Sydney. Most of the group got together with a TPAA banner for a photo by the view. On we went again, this time to Gap Park, where we saw some lovely rocky coastline and another view of the city. I also saw a tall, narrow gap between some rocks. I guessed the park's name came from that.</p>

<p>For closer views of downtown, the Sydney Opera House and the Sydney Harbour Bridge, we next went to the Yurong Precint of the Royal Botanic Gardens. The park juts out a bit into the harbour. We spent a good amount of time there enjoying the views from slightly different vantage points.</p>

<andeys-trip-pic class="right" data-trip-pic="opera-house-view"></andeys-trip-pic>

<p>We then stopped at the Sydney Opera House to see it up close. I found out it had separate buildings, not just one big one. From there, I could spot the tour groups slowly making their way to the top of the Sydney Harbour Bridge. After buying postcards, my brother and I noticed our tour group had gone. We looked around for the bus, but did not find it. Fortunately, our guide found us and led us to the bus, parked farther away because of parking regulations.</p>

<p>As soon as I got on, the bus went off to the pier to make sure we caught our Asian Lunch Cruise with Captain Cook Cruises. We had no problems and set off to eat our buffet meal while enjoying the harbour. When I finished, I went outside to the top of the boat to look at the views of Sydney.</p>

<andeys-trip-pic class="left" data-trip-pic="footway-art"></andeys-trip-pic>

<p>The boat docked, we got back on the bus and then headed downtown for shopping at a duty free shop. I had no interest in that, so my brother I went to nearby Hyde Park, where we could see beautiful St. Mary's Cathedral. We also saw a sign for an express footway so went there out of curiousity. It went underground, where we found a moving walkway with colorful art on the wall with an Australian theme.</p>

<p>We then went back to the shop where I wrote postcards after getting stamps from a nearby postal store. After everbody finished, we headed to our hotel and checked in. For dinner, we all walked together to a Chinese restaurant. We had to go through a seedy part of town to get there, passing several strip clubs. On the way back, some of our group stopped to shop, but my brother and I returned to the hotel sooner to relax and then sleep.</p>
