<andeys-trip-pic class="right" data-trip-pic="royal-barge"></andeys-trip-pic>

<p>To get over jet lag, I got me and my brother up for a full day of activity in Bangkok. After the complimentary hotel breakfast, we had a taxi called to take us to a Skytrain station. From there, we took a train to the Sathorn Pier, where we hopped onto the Chao Phraya River Express ferry.</p>

<p>We got off the boat at the Phra Pin Klao Pier then followed the signs to the National Museum of the Royal Barges. Along the winding path, I noticed we seemed to be in a neighborhood criss-crossed with canals. I imagined that more of Bangkok used to be similar to that before canals were replaced by roads. Travelers once referred to the city as &ldquo;The Venice of the East.&rdquo;</p>

<p>With waterways of great importance in old times, the king got around in elaborately decorated royal barges. These days, royal barges have been created only for ceremonial reasons. The museum housed a limited collection for display, including some that bombs damaged in World War II. I walked around them, looking at the detail and taking pictures of the great boats. Then, we left the way we came and crossed the Chao Phraya River using one of the bridges.</p>

<andeys-trip-pic class="left" data-trip-pic="loha-prasat"></andeys-trip-pic>

<p>After visiting a tourist office for information, we walked north to Santichaiprakarn Park, which featured Phra Sumane Fort, an eighteenth century hexagonal building. Only this and one other fort remained of the original fourteen built to defend the city. We walked back south to visit the National Museum.</p>

<p>Some of the buildings of the National Museum had historical significance, with some being part of the former palace of the Prince Successor. Inside we found plenty of artifacts and treasures of different periods of Thailand, including ceramics, textiles, weapons, coins, stamps, carvings, musical instruments and sculptures. The royal funeral chariots impressed me the most, due to their elaborate detail on such large carriages.</p>

<andeys-trip-pic class="right" data-trip-pic="brahmin-swing"></andeys-trip-pic>

<p>We next visited the National Gallery and found some interesting contemporary art and sculpture, most of it Thai. It closed soon after we exited, heading east. I took a quick photo of the Democracy Monument as we walked past it. We then stopped to admire the spires of the Loha Prasat (Metal Pavillion), a section of Wat Ratchanatdaram. From there, we continued on to Wat Sraket.</p>

<p>Wat Sraket had an artificial hill called the Golden Mount. We climbed its steps up past small hillside graves with the sound of a Thai voice coming from speakers along the path, presumably from a monk. On top stood a large golden pagoda, around which we had a great view of the historic Rattanakosin area of the city.</p>

<p>We reorientated ourselves after making it down a different set of steps, then walked west to Sao Ching Cha (The Giant Swing), where stood the remains of a swing that people once used in Brahmin ceremonies. Next, we took a look at the cannons in front of the Ministry of Defence as well as the San Lak Muang (City Pillar Shrine) next door. Done for the day, we took a taxi back to the hotel where we joined our parents for dinner at the hotel's Sky Lounge.</p>
