<p>We woke up leisurely, because our tour of the day would start late. After getting ready for the day, we went down to one of the restaurants to eat breakfast. Wandering around with my brother later, we ran into my friend Joe, who suggested checking out the beach.</p>

<andeys-trip-pic class="right" data-trip-pic="thai-naan"></andeys-trip-pic>

<p>We just had to take a short walk to get to the beach. A red flag planted in the sand warned of dangerous surf, which we could clearly see. Under a shaded platform nearby sat a woman and a sign offering Thai massage. We did not go for it, though Joe told us the prices would be far lower than at the hotel.</p>

<p>We hurried back as rain began falling. Then, my brother and I went back to the room. When time came to go, we headed to the buses, though I had to run back to the room to get the tour tickets. We made it onto the bus just as it began to leave.</p>

<andeys-trip-pic class="left" data-trip-pic="spiny-oysters"></andeys-trip-pic>

<p>Our tour first stopped at the Thai Naan Restaurant for a buffet lunch. My brother's friend Dana had told me earlier this place had really good food. Indeed, I found that out to be true. It had quite some variety too, offering various Asian foods. We had a little time to look around the huge place before getting onto the bus.</p>

<p>We next headed to the Phuket Seashell Museum and Shop, our main stop of the day. Inside, I found an impressive collection of sea shells as well as fossil shells. The Patamakanthin brothers had collected specimens from all over the world for this place. I saw shells I never saw before and great displays of colors and shapes, complete with descriptions of each family.</p>

<andeys-trip-pic class="right" data-trip-pic="fossil-shell"></andeys-trip-pic>

<p>Back on the bus, we then rode around Phuket Town until we stopped at a shop that sold spices and dried fish. I stayed on the bus to just relax. Finally when everyone finished buying food, we headed back to the hotel in time to get ready for the TPAA Gala Dinner. We all had to dress up for the occasion.</p>

<p>Outside the grand ballroom I found beautiful decorations with an underwater theme. Also, ice sculptures of a dolphin and the words &ldquo;TPAA 2002&rdquo; dripped in the heat of the tropical night. I went inside and sat with other youth I knew. At the table, I spent most of my time talking to Piak and two different people named Ann. Also, I chatted with Peter at the next table over.</p>

<andeys-trip-pic class="left" data-trip-pic="lagoon-sing"></andeys-trip-pic>

<p>For dinner, we got plate after plate of seafood. I tried a bit of everything and got quite full. After finishing, I went to talk to my old engineering TA Melissa and then had a chance to talk to my old friend Lillian. On stage, TPAA had some speeches and then a comedic troupe all speaking in Thai.</p>

<p>I left the ballroom and met my friend Pebbles and her friends Marie and Donna, eventually ending up with them at nearby Lagoon Karaoke. I got there as the last two songs played before closing time. After that, I stopped at the ballroom area once more before returning to my room to sleep.</p>
