<andeys-trip-pic class="right" data-trip-pic="oz-parliament"></andeys-trip-pic>

<p>The tour guide told us to wake at 6 AM, eat breakfast at 7 AM and leave by 8 AM. We did just that. At breakfast, I tried the uniquely Australian food vegemite (a yeast extract) on my toast. I thought it tasted disgusting, like medicine, and did not bother to finish the toast.</p>

<p>We settled in for the long bus ride to Canberra, the capital of Australia. I watched a landscape of hills and valleys pass by with many crossings on bridges over rivers and streams. We stopped near Goulburn for a short break, where I read an informational sign that told me about the city and how it became Australia's first inland city.</p>

<andeys-trip-pic class="left" data-trip-pic="cook-jet"></andeys-trip-pic>

<p>Upon reaching Canberra, our bus stopped at a restaurant for lunch. We passed a casino before going to the buffet place upstairs. I ate the unremarkable food, then wandered around a bit. We then boarded the bus and headed to the embassy area.</p>

<p>Because most of our group was Thai, the bus stopped to take a look at the Thai Embassy with its Thai style roofs. We passed by several other embassies after that. Some had interesting decorations outside such as the Indonesian Embassy with Balinese architecture. We continued on, passing by the Old Parliament House.</p>

<p>We did not stop to get out until we reached the New Parliament House, opened in 1988. At the front entrance, we enjoyed the dramatic architecture, then entered. I separated from the group and looked at the exhibits about the Australian federal government. I also checked out the House and Senate rooms as well as a small gallery of Aboriginal art. I rejoined the group in time to board the bus.</p>

<andeys-trip-pic class="right" data-trip-pic="oz-war-memorial"></andeys-trip-pic>

<p>We headed to the shore of Lake Burly Griffin to see the Captain Cook Memorial Fountain shoot up into the air from the lake. Then, we went inside the National Planning Exhibition to learn more about the story of Canberra. Most of the group watched the film shown there, but my brother and I continued reading the exhibits.</p>

<p>The tour made its next stop at the Australian War Memorial, made prominent by its big dome. The two open air halls on the sides had black walls with names of people and the arches partially enclosing those halls had names of battles fought. Each corner by the dome building had a statue, one of a sailor and one of a pilot. The dome building itself had a chapel which held the tomb of the unknown Australian soldier.</p>

<p>After exploring the memorials, I went inside for exhibits about the role of Australians in the wars they fought. The World Wars I and II had especially extensive displays, complete with detailed dioramas. We had a decent look at them, but my brother and I rushed through other exhibits at the end, due to lack of time before closing. The bus then headed up to the top of Mount Ainslie for a great view of Canberra at sunset.</p>

<andeys-trip-pic class="left" data-trip-pic="ainslie-light"></andeys-trip-pic>

<p>We had dinner at a Thai restaurant downtown that had pretty good food. While leaving, I noticed a sign mentioning postcards written about Canberra. One example, I think from the 1960s, my brother and I found particularly funny. It read something like, &ldquo;There are no people here, just one statue. It is cold and lonely. I feel sad.&rdquo; It hyper-exaggerated what the city had to offer. Indeed, though, I really didn't see crowds around and the shops all seemed to close early.</p>

<p>Our tour group checked into a small hotel. With Canberra being at least darker at night than Sydney or Melbourne, my brother and I decided to go outside to look at the stars. As expected, I saw no familiar constellations, having never seen the sky of the Southern Hemisphere until this trip. I looked for the Southern Cross and found what looked like a kite shape to me, confirmed as the cross by a passing hotel guest. We went back inside afterwards to watch a police drama called &ldquo;Blue Heelers,&rdquo; then went to sleep.</p>
