<p>We woke up to a cold but rapidly warming morning. Quickly, we got ready for the day and packed up our tent, eating breakfast on the go. We took a quick stop at the camp store for supplies, then I attempted to call my dad for his birthday, having to leave a message.</p>

<andeys-trip-pic class="right" data-trip-pic="bright-angel"></andeys-trip-pic>

<p>I wanted to show Joy the beauty of Bright Angel Point as well as see it myself in light much brighter than I saw at dusk the day before. So we took the brief hike there, where we got great views into Bright Angel Canyon. It was formed within the Grand Canyon by the actions of both a fault and a creek.</p>

<p>When we got back to the car, we went north then east, driving alongside the view of the Vermilion Cliffs on our left until we reached Marble Canyon. Over the canyon spanned the impressive Navajo Bridge, which we saw best from the foot bridge running parallel to it. Far below us flowed the blue-green waters of the Colorado River.</p>

<andeys-trip-pic class="left" data-trip-pic="navajo-bridge"></andeys-trip-pic>

<p>After that scenic stop, we continued the drive until we arrived in Page, where Joy bought a hat at gas station. Just outside of the town going east, I looked carefully for the sign for Lower Antelope Canyon. When I found it, we parked, then each paid the $17.50 entrance fee to the Navajo woman at the stand.</p>

<p>First, we acknowledged a memorial to people who died in the canyon during a flash flood in 1997. Then, we followed stone markers until we came upon what just looked like a crack in the ground. Approaching it, we found people inside that narrow fissure, emerging from it.</p>

<andeys-trip-pic class="right" data-trip-pic="joy-antelope"></andeys-trip-pic>

<p>We then entered, going down some short ladders, and found ourselves in a beautiful, narrow slot canyon. Unfortunately, the wind was blowing down sand, but that ceased as we went further down. The curves of the canyon and the dispersed lighting created a visual treat and a fun hike. We saw only a few people there, all of them photographers. I chatted with one who told me about other nearby photogenic places.</p>

<p>We exited the canyon by a series of ladders and took a look at it from above. Then we returned to the car, using the huge towers of the Navajo Generating Station as a directional landmark. Soon, we were back on the road, heading east.</p>

<p>On our way to Chinle, I became concerned when I saw a red cloud ahead. Entering it, I realized we were inside a dust storm and had to drive cautiously. Fortunately, it didn't extend to our destination. Relieved, we made a stop at the visitor center for Canyon de Chelly National Monument for park information. After quickly setting up our tent in the free Cottonwood Campground, we took the South Rim Drive to the White House Overlook for a hike down into the canyon.</p>

<andeys-trip-pic class="left" data-trip-pic="spider-rock"></andeys-trip-pic>

<p>From the rim, we could see a swath of green below contrasting well with the reddish canyon walls. Then we headed down the well marked trail, passing through two tunnels until we came upon a Navajo farm with sheep. One young one was calling out with an adorable &ldquo;Baa&rdquo; sound.</p>

<p>Now walking on the sandy canyon bottom, we soon made it to White House Ruin, estimated to have been constructed between 1060 and 1275. The lower ruin was on the ground while the upper one was set in a cliff alcove. In between, we could see some pictographs on the wall.</p>

<p>For the most part we were alone, but we occasionally saw some other hikers as well as Navajo, who hold legal title to the land. Back on the rim at the car, we then drove to Spider Rock Overlook, farthest point on the drive. Joy stayed in the car while I took the cold and windy walk to see Spider Rock, which rose dramatically 800 feet from the canyon floor. Then, with daylight fading, I managed to check out the rest of the South Rim viewpoints before ending up at the campsite.</p>

<p>Joy was quite tired and I also felt like I could use some rest, so we just ate some ready made food in the car. It was also a way to keep the stray dogs away. We got ready to sleep then went into the tent for the night.</p>
