<p>We got up in time for breakfast at the hotel. After that, my brother and I spent time repacking our bags for our trip to Australia. I put all of the stuff I would bring into one mid-sized bag. We left behind the rest to pick up on our return to Bangkok, giving it to the concierge for safe keeping.</p>

<p>When we got hungry for lunch, we went downstairs with our parents for dimsum at the hotel's Chinese restaurant. Our drinks came in small soccer ball colored containers in celebration of the World Cup. To be on the safe side with time, my brother and I left the hotel pretty soon after eating and took a taxi to the airport.</p>

<p>Upon arrival, we soon found the TPAA tour group with whom we would travel. We received all the documents we needed for travel and easily made it the terminal in time. Our flight took off with no problems. I slept most of the way, but woke in time to see I had just crossed the equator for the first time.</p>
