<andeys-trip-pic class="right" data-trip-pic="water-paved"></andeys-trip-pic>

<p>My brother and I woke up early and made it down to one of the hotel restaurants for a buffet breakfast. We then walked to the check-in lobby to wait for our tour from Phuket Union Travel to pick us up. When the car came, we found, just like two days before, that they had no other guests.</p>

<p>We first made a stop at a small eatery, where we got something to drink. Then, we continued until we reached Than Bokkoranee National Park. Here, our guide, Suthit, took us on footpaths rising just above the flowing waters. He told us the waters normally exhibit a beautiful aquamarine color, but had turned brown for the rainy season. We still enjoyed the quiet walk by the waters surrounded by great limestone cliffs.</p>

<andeys-trip-pic class="left" data-trip-pic="krabi-climb"></andeys-trip-pic>

<p>Back in the car, we continued until we reached the shore. The rain had been falling on and off and, fortunately, did not threaten enough to stop us from hiring a boat to take us to Railay Beach. We landed at South Railay Beach, where we found a group of tourists climbing up the limestone cliffs lining the beach. Near them, we found monkeys up a tree.</p>

<p>I had told the guide that I knew that the father of one of my friends worked at a resort in Krabi, so he took me to one by the beach and I asked for his name. Unfortunately, they did not know the person or find his name in their employee list. We then continued inland, passing by caves and a stalactite that seemed almost gravity defying. Then we emerged to a view of beautiful Phra Nang Bay, bordered on three sides by cliffs and the fourth with scattered island hills.</p>

<p>The sun shone brightly for our beach walk. We turned back, though, so we could also check out North Railay Beach. By the time we got to that dramatic beach, a storm approached, so we took cover in a restaurant and had something to drink as the heavy rain fell. While waiting, our guide Suthit told us how he ended up in Southern Thailand from Kanchanaburi because of a German friend of his took him there.</p>

<andeys-trip-pic class="right" data-trip-pic="cave-beach"></andeys-trip-pic>

<p>Not too long later, the sky cleared and we went back to South Railay Beach to board a boat. We had to walk a submerged walkway to get to the area of boats. I found it a bit slippery, but managed to stay upright. Once we got back to the car, we continued to Krabi Town, where we had lunch. There, I slipped on the restaurant floor, but did not get hurt.</p>

<p>After eating, we drove back out of town. When I woke up from a nap, I found that our car started climbing up a steep, curved road. At the top of the hill stood a lovely temple, reached by steps that had a pair of protective naga statues lining the rails. Up the steps, we turned right for a wonderful view of big statues on the temple ground. I also liked the view of the Krabi countryside.</p>

<p>To walk up to the highest point, we had to take our shoes off. I was a bit disgusted with the steps, though, because they had bits of insect wings and other parts all over the place, but I handled it by not thinking too much about it and stepping carefuly. After taking in the view and admiring the pagoda, we went back down the steps and inside the main building. The guide pointed out to us a container supposedly containing a sacred relic of Buddha, a piece of bone. He then showed us murals of the story of Buddha on the walls while talking about the religion.</p>

<andeys-trip-pic class="left" data-trip-pic="wat-tham-sua"></andeys-trip-pic>

<p>Back down the naga railing steps, we walked across the parking lot for one more view of the jungle. We then returned to the car and made the long drive all the way back to the hotel with only a quick stop at a gas station. I had hoped that my brother and I could make it to the TPAAYC Gala Dinner, but found out we missed the ride there a while back.</p>

<p>Looking around the hotel, I found my parents attending a dinner for the alumni of Chulalongkorn University. It turned out we could eat there even though we did not sign up for the event. However, the tables got a little crowded just as we finished eating, so we did not stick around, instead returning to our room to relax and then sleep.</p>
