<p>Our flight departed Melbourne just after midnight. I slept much of the way, but still felt a bit tired when I exited the airplane in Bangkok. From the airport, my brother and I took a taxi to the Northern Bus Terminal. We then telephoned a reservation to Khao Yai Garden Lodge in Pak Chong before paying for and getting on a bus to go there.</p>

<andeys-trip-pic class="right" data-trip-pic="cave-bell"></andeys-trip-pic>

<p>A bit over three hours later, we arrived in Pak Chong and managed to get a ride to the lodge. We checked in, then took some time to rest in our room, which had pretty much just two beds and a ceiling fan. It shared two bathrooms with at least three other rooms.</p>

<p>We went back out to the lobby to sign up for a tour of Khao Yai National Park and its surroundings. We also took time to check out the grounds of the lodge, but did not find much except a garden under renovation and a swimming pool. After eating lunch, we met our tour guide, got onto a minibus with a few other people and headed off.</p>

<andeys-trip-pic class="left" data-trip-pic="mini-cave-house"></andeys-trip-pic>

<p>We first stopped at Wat Sra Nam Sai, not to visit the temple, but to enter the cave below it. Our group descended the steps, rang a bell and stood by a Buddha image as the guide talked about the cave and its contents. We saw the cave had volcanic origins and held several shrines, one of them Brahmin. The place also had a miniature house with miniature drums and a circle of rocks with a candle in the center. The oldest statue had new flooring because a woman recently had good luck after praying there, so put the floor there as a gift of appreciation.</p>

<p>We exited the cave from a different opening and walked up to a view of the tropical evergreen forest beyond. The guide told us how the national park had much improved with a new paved road and that once the park had been a refuge for criminals hiding from the law. After that, we got back in the minibus and returned to the lodge with enough time to relax a little and eat dinner.</p>

<andeys-trip-pic class="right" data-trip-pic="old-statue"></andeys-trip-pic>

<p>For the evening part of the tour, a songthaew took us to the forest where we got off and started walking. A guide, different from the one we had earlier, told us about the plants we passed. He gave us time to photograph a big spider and a big snail we encountered along the way.</p>

<p>At a clearing by someone's modest dwelling, we stopped to look up at a cave riddled mountain known as Khao Lug Chang, high up in the distance. Each evening, more than a million bats fly out of there. While waiting, a couple people in our group tried the natural spices growing in the area. The time our guide predicted for the bat flight came and we craned our necks to spot any sign of movement. Finally, a thick stream of bats erupted from the mountain, silhouetted against the dusky sky. We watched the far away sight with interest for quite a while, but stopped after realizing the stream would not abate any time soon.</p>

<andeys-trip-pic class="left" data-trip-pic="bat-flight"></andeys-trip-pic>

<p>We got back into our trucks and then formally entered Khao Yai National Park. Sitting in a moving, open air truck with cool mountain air going by made me glad I brought my jacket along. We stopped at the visitor center, where we got on another truck for a ranger guided night safari. The safari meant being driven in the truck while the ranger searched and identified animals with a spotlight.</p>

<p>Our group first saw Sambar Deer then soon saw Barking Deer as well. I heard one of the Barking Deer bark, but not quite like a dog. We also saw a couple Large Indian Civets scurrying around. At one stop, the spotlight highlighted a telephone pole, where we discovered a Slow Loris quite slowly climbing from there to a tree. We did not see any elephants or tigers as we hoped, but at least the Slow Loris was an uncommon sight, according to the guide.</p>

<p>We rendezvoused with our original tour truck and boarded it for the ride back to the lodge. My brother and I took that time to practice some of our Japanese with an older Japanese woman also on the tour. Once back in our room, we took showers and slept.</p>
