<andeys-trip-pic class="right" data-trip-pic="slope-land"></andeys-trip-pic>

<p>Joy and I woke up early again to take advantage of a cool morning. Unfortunately, clouds hung around. After getting ready for the day and breaking camp, we hit US-89, driving east until we reached a BLM Visitor Center just off the road. Apparently, we got there before the office opened, but an employee had just shown up. Because we planned to go to The Wave that day, she let us in and gave us directions to the place, using photographs.</p>

<p>Soon, we got under way, finding the unmarked road to the trailhead. The BLM employee cautioned me about a spot where I should speed through if I did not have four wheel drive. When I encountered that muddy ditch, I immediately accelerated through and lost temporary control of the vehicle. Fortunately, I came through with no more than a lot of mud on my car.</p>

<andeys-trip-pic class="left" data-trip-pic="joy-sit-wave"></andeys-trip-pic>

<p>Without further excitement, we arrived at the trailhead. Following directions, we started our hike by walking in a wash, then, after a short time, I recognized the trail out of the wash from one of the photos and we took it. We walked up a sandy path, signed a trail register, then crossed another wash, where we started climbing solid, trackless rock. Soon after going over a ridge, the biggest navigational challenge came.</p>

<p>We had no trail for a while, so I tried to stay high along the slope. At one point, though, we saw an easier way going down a bit and found encouragement of our direction at the sight of footprints on patches of sand. I got the impression that we veered off a little too much to the east, though, and we climbed back up through sand dunes and rock until I found landmarks I recognized from the photos. Then, we went directly for the landmark lone tree.</p>

<andeys-trip-pic class="right" data-trip-pic="the-swirls"></andeys-trip-pic>

<p>Reaching it, we then headed uphill along a fairly clear trail and encountered two people coming down. It turned we had been following their footprints as they had gotten a bit off trail. At least we had finally made it to The Wave. We ate lunch then walked around the fantastic rock formation, going into a side area as well, called The Swirls.</p>

<p>We had our fun wandering the wonderland, then decided to leave as the temperature rose. We had an easier time finding our way back, but I did check out a couple high points to make sure of our location. By the time we got to the sandy parts of the trail, almost back, we had pretty hot temperatures to handle. We felt relieved to get back into the car and turn on the air-conditioning.</p>

<andeys-trip-pic class="left" data-trip-pic="bacon-rocks"></andeys-trip-pic>

<p>One more time, I had to brave the muddy ditch and accelerated through it again, this time maintaining more control of my car. We drove back to Kanab, where I gave my car a much needed wash. Then, we went back to Angel Canyon for a full tour of the Best Friends Animal Sanctuary.</p>

<p>For the tour, we got into vans. The driver told us about the animals and places as we passed them, starting with the horse fields, where we saw some unrideable horses with sagging backs. We then passed by a pet cemetary called Angels Rest. The van made its first stop at Catland, where we got out and looked at the cats in their comfortable indoor and outdoor enclosures.</p>

<p>In the TLC Cat Club building, we got to interact with the cats, some with impairments such as blindness or incontinence. At Benton's House, we saw adoptable cats, including adorable kittens, with one black pair of them so new and tiny they were fun to watch and hear. After that, we got back in the van and drove by the Bunny House, pausing as a volunteer there showed us a bunny.</p>

<andeys-trip-pic class="right" data-trip-pic="top-cat-nap"></andeys-trip-pic>

<p>In Old Dogtown, we stayed in the van as the driver told us about some of the unsociable dogs there. Then, in more pleasant looking Dogtown Heights, we got to visit friendly, adoptable dogs in their cages, though we didn't get to pet them. The tour took us by the Old Friends home last, where we spotted old dogs as we passed. Curious, after the tour, I checked out a natural alcove called Angels Landing, but didn't find anything noteworthy about it.</p>

<p>Ready to move on, we drove south into Arizona, then headed west until we reached Pipe Spring on the Arizona Strip. I went to the wrong building I thought had been labeled the visitor center for the Kaibab Paiute Indian Reservation and Pipe Springs National Monument, then quickly found the correct one. There, I got information about their campground as well as about the national monument.</p>

<andeys-trip-pic class="left" data-trip-pic="dog-heights"></andeys-trip-pic>

<p>It turned out we had to pay for our campsite at the gas station by the highway, so we did, after picking out a site and setting up the tent. We found the motel style bathrooms at the campground to have no toilet paper, but the gas station generously gave us big rolls to install there. The same woman who greeted us at the information desk also saw us at the station and wrote the lack of toilet paper as a complaint to the campground manager.</p>

<p>Back at the campsite, we relaxed for the rest of the day. I accidently spilled some of my dinner while making it, but found something else to fill me up. We cleaned up the mess and showered after that, then went to sleep not too long after darkness set in.</p>
