<andeys-trip-pic class="right" data-trip-pic="canoe-front"></andeys-trip-pic>

<p>My brother and I woke up and, for the first time on the trip, did not have to break down camp for the day. We took time to get ready, then headed for Woodenfrog Beach, waiting for the ranger program teaching canoeing basics. No one else arrived besides her, so it turned out she would just take us two onto the lake. First, we had to go to a nearby building to get paddles and personal flotation devices. Then, at the dock, she unlocked a park service canoe and set in in the water with the help of my brother.</p>

<p>The ranger showed us how to board and launch the canoe while keeping it stable. My brother sat in back while I took the front. The ranger sat in between and told us how to paddle, demonstrating the &ldquo;J&rdquo; and &ldquo;C&rdquo; strokes. I saw some spiders in the boat, but got them out with the paddle.</p>

<andeys-trip-pic class="left" data-trip-pic="soudan-mine"></andeys-trip-pic>

<p>Enjoying a gorgeous day, we decided to go near one of the shores to check for waterfowl, seeing one. Then, we paddled towards another shore while the ranger told us of the development and mostly lack of development in the area. We saw some residences in one section, but the rest had trees. We never did go far, but I was glad to see this water-based park from the water. It was named after the fur traders that once paddled through the area.</p>

<p>Back on land, we thanked the ranger and headed for the visitor center just to check it out. Then, we left the park and drove southeastward until we reached Soudan Underground Mine State Park. We got there in enough time to go on the next tour of the iron mine. I bought the tickets and parking permit, then we got ready with sturdy shoes and jackets.</p>

<p>Before going on the tour, our group sat in a room and watched a short video about the mine and its history. Then, we got introduced to our guide, who took us to another room for us to grab helmets. Next, we headed outside to the headframe and got onto the two level incline cage. My brother and I rode on the top half. After safety bells rang, we descended quickly on diagonal rails.</p>

<andeys-trip-pic class="right" data-trip-pic="mine-engine"></andeys-trip-pic>

<p>Bells rang again for safety, indicated people in the cage (as opposed to cargo) and we exited. A sign above us read our position as level 27, 2341 feet below the surface and 689 feet below sea level. From there, we boarded an underground train that took us down a dimly lighted drift. Occasionally, I spotted displays in alcoves showing models of mining in the old days.</p>

<p>We got out when the train stopped, then the guide took us into a big room called a stope. There, he talked about working conditions and dangers of mining in the past. He showed us the strength of light of a single candle and a carbide lamp as well as the darkness of the room without light. Various displays of mining activity adorned the area, showing still actions of drilling and clearing muck with a dredge bucket.</p>

<andeys-trip-pic class="left" data-trip-pic="hill-rust-mine"></andeys-trip-pic>

<p>After leaving the stope, we returned to the train for the ride back to the cage. Our guide demonstrated the sound to make for putting cargo in the cage, then sounded the people bell. This time, my brother and I rode in the bottom half of the cage. Back on the surface, we explored the rest of the mining equipment, particularly the place ore got delivered onto rail carts. Finally, we looked at the gears and controls in the engine room before leaving.</p>

<p>We drove southwest this time, until we reached the town of Hibbing. Carefully following signs, I made my way to the Hill Rust Mahoning Mine, which claimed to be the biggest open pit iron mine in the world at 3075 acres. A visitor center gave us plenty of information about the mine as well as free rock samples.</p>

<andeys-trip-pic class="right" data-trip-pic="dump-truck"></andeys-trip-pic>

<p>Soon, we exited to get a good look at the enourmous operation, watching huge trucks at work, looking tiny against the open pit. Walking down to the viewing areas, we passed by huge tires once used by mining equipment. Then, we found a giant, no longer used dump truck that we could climb into and look at the controls. A guy there showed us its features. Also on site, we saw other pieces of mining gear and an even larger tire.</p>

<p>Just before leaving, we took one more look at the area from a high point. We then made a quick stop at the Greyhound Bus Origin Museum to see the outside bus display and sign. It had closed already, but we didn't plan to visit anyway. As we returned north towards Voyageurs National Park, we passed by a huge steel statue of a man constructed as a memorial to iron miners.</p>

<andeys-trip-pic class="left" data-trip-pic="iron-memorial"></andeys-trip-pic>

<p>At Orr, we took a long out-of-the-way road towards Crane Lake, but before reaching the ranger station, we turned left to hike in the Superior National Forest on a short trail to Vermilion Falls. I didn't feel the waterfall was quite worth the drive there. We returned to Orr, then drove towards the Ash River Visitor Center, stopping before it at the Beaver Pond Overlook. We found someone already conducting a guided walk to the pond, talking about plants along the way.</p>

<p>When the group reached the pond, the guide told us beavers had abandoned it already. So, after looking carefully for signs of wildlife, we left the group, because the guide was not that interesting. We returned to our Woodenfrog campsite to eat and shower at the cozy Arrowhead Lodge and Resort. We then slept, despite some distant noises of fireworks, probably in celebration of Canada Day.</p>
