<andeys-trip-pic class="right" data-trip-pic="big-bay-shore"></andeys-trip-pic>

<p>My brother and I woke up, got ready and broke camp with plenty of time left to explore Big Bay State Park. We took a drive around the park and picked a place to eat breakfast. After that, we hit the trails, starting with the Point Trail Loop that led us through the forest until reaching the shore. We enjoyed the rocky coast as we continued, going north on the Bay View Trail. We turned back soon after we sighted Big Bay.</p>

<p>Our next trail started from the parking lot for Big Bay. We took a boardwalk trail with interpretive signs that told us about the struggle for plants to survive by the sandy shore. At the end, we saw a view of Big Bay Lagoon, cut off from the lake by a barrier beach. To make a loop, we headed back to the car by walking on the beach.</p>

<andeys-trip-pic class="left" data-trip-pic="fish-camp"></andeys-trip-pic>

<p>We left the park and headed directly to the town of La Pointe, on the other side of the island. One place caught my eye yesterday, so I stopped there to look at it in detail. It turned out to be a place called Tom's Burned Down Cafe. The front entry path had a metal sculpture garden. The fenced side had several signboards with one-liners such as &ldquo;War is god's way of teaching Americans geography.&rdquo;</p>

<p>After a brief drive around the small town, we boarded the Madeline Island Ferry to return to Bayfield. Once there, we went to the visitor center for Apostle Islands National Lakeshore to get information about the islands I wanted to visit. Then, we made it to the dock where I bought tickets for the Stockton/Manitou Island Shuttle. With the weather cold with a good chance of rain, only one other small group signed up to go too.</p>

<andeys-trip-pic class="right" data-trip-pic="stockton-trail"></andeys-trip-pic>

<p>Most of us stayed in the boat's cabin as it traveled on Lake Superior, though we still felt some of the cold and wind from the outside. When we got to Manitou Island, we disembarked and met with a ranger who gave us a tour of the fish camp. She showed us a shack with fishing equipment such as nets and also a cabin where we heard about life at the camp in summer and winter. Mosquitoes made sure we did not stand still for too long.</p>

<p>We signed a guest register, then boarded the boat for Stockton Island. Once there, we got an introduction to the island then had our choice of activities. My brother and I decided to do a loop hike around the island's peninsula, starting with the Julian Bay Trail to the beach along Julian Bay. It started to rain, but we persevered, trudging through the sand while holding our umbrellas.</p>

<andeys-trip-pic class="left" data-trip-pic="big-manitou-falls"></andeys-trip-pic>

<p>The rain continued as we turned inland on the Tombolo Trail, walking on boardwalk through a bog and then on solid land through pine trees. Pink lady slipper flowers beautified the path. Returning to the side of the peninsula with Presque Isle Bay, we passed empty campsites, then arrived at the visitor center to try to dry off while eating a snack and looking at interpretive displays.</p>

<p>Back on the boat again, we felt cold because we still wore somewhat soaked clothes. We stayed inside and sat still to try to keep warm. As I shivered, I wondered why I didn't bring my rain pants along for the hike. Right after we docked in Bayfield, my brother and I hurried to the car to warm up and change to dry clothes.</p>

<p>Comfortable again, we took off, driving the perimeter of Bayfield Peninsula until we reached the city of Superior. From there, we drove south to Pattison State Park, where we took a short walk to see Big Manitou Falls, the tallest waterfall in Wisconsin. A short drive within the park got us to Little Manitou Falls next.</p>

<andeys-trip-pic class="right" data-trip-pic="duluth-bridge"></andeys-trip-pic>

<p>Back in Superior, my brother found his cell phone's digital service working and made a call to his friend Arnond. He kept chatting on the phone as we entered Duluth, Minnesota, making a quick stop to look at the Aerial Lift Bridge. We headed north onto State Highway 61 until we reached Gooseberry Falls State Park.</p>

<p>New to Minnesota State Parks, I went to the visitor center to ask certain questions about registering. Someone working late there told us that, in addition to our camping fees, we had to pay for day use that day, although the sun had already set. We obliged and soon after, found our reserved campsite and set up camp. We then ate a quick dinner, showered and slept.</p>
