<andeys-trip-pic class="right" data-trip-pic="winsor-castle"></andeys-trip-pic>

<p>We woke up, got ready, and broke camp, timing it so that we would get to Pipe Spring National Monument soon after it opened. After entering the old Mormon settlement, we first went for the short hike on the Ridge Trail, taking advantage of a cool morning. From the top of the trail, we had a good view of the Arizona Strip and could see all the way to Mount Trumbull.</p>

<p>We headed back down to check out the animals of the historic farm, which included chickens, a horse and longhorn cattle. Another part of the farm looked like it had sunflower-like plants growing, protected by a scarecrow. An old stove sat next to the field.</p>

<andeys-trip-pic class="left" data-trip-pic="cradle-maker"></andeys-trip-pic>

<p>When the first tour time came, we waited by the double doors of Winsor Castle, constructed in 1870 to protect the ranch manager and his family from Indian attacks. There, we met the same woman we encountered twice the day before. She let us inside the small courtyard and we waited while checking out old items on a table, including antique wooden children's toys and a washboard.</p>

<p>The tour started with a talk about the place, then we went inside the parlor in the north building, which contained reproductions of pioneer furniture and objects. We next went into the kitchen. The guide told us this place kept busy in the ranch days, feeding children, adults and guests in shifts. The chairs faced away from the table to remind people to pray before eating.</p>

<andeys-trip-pic class="right" data-trip-pic="flooded-road"></andeys-trip-pic>

<p>Upstairs, we entered the meeting room and the master bedroom. Both had beds, but the meeting room had multiple uses, including access to a lookout tower. Gunports high on the walls of both rooms helped defend the place. Opening a door on the west side, the guide showed us that we were level with the ground on that side, because the building was built into the hillside.</p>

<p>We went back to the courtyard, but this time on the second level balcony. The guide pointed out the Deseret Telegraph line and told us this fort had the first telegraph station in Arizona. We walked over to the south building, but did not enter the upper rooms, because they were being renovated. Instead, we went down to the Spring Room, where we saw the spring of Pipe Spring running through. The pioneers built the house over it to protect their water source.</p>

<andeys-trip-pic class="left" data-trip-pic="dino-cast"></andeys-trip-pic>

<p>We ended our tour in the Cheese Room. Workers used milk kept cool in the Spring Room to make around 50 to 60 pounds of cheese a day. Most of it went to St. George, Utah and was kept insulated from heat during transport by burying it in flour. In the room, we saw a cheese vat and press used in the production.</p>

<p>After the tour, we looked around the grounds for any more items of interest. In one place, I pressed a button to hear audio of a former ranch girl, talk about her experience working there. Then, we met a woman demonstrating the making of a cradleboard. An example of one sat near her. I also saw a traditional Paiute dwelling there. We looked at the museum exhibits in the cool visitor center before we headed out.</p>

<andeys-trip-pic class="right" data-trip-pic="cat-attack"></andeys-trip-pic>

<p>I didn't get clear reports on road conditions for roads leading to the Toroweap Overlook on the north rim of the Grand Canyon, so I decided to check the road itself. We had no problem driving the dirt road for a while, but then it got muddy. We completely stopped when we reached a section submerged in water, with no way around it, so we turned back and took the highway leading us out of the area and to St. George, Utah.</p>

<p>Just before St. George, we exited in Washington City and followed a major road until we reached the Johnson Farm Dinosaur Ah! Torium. There, we saw naturally made dinosaur casts of dinosaur footprints discovered during development there, lined up on top of portable tables, mostly under shade. It did not take long to look around and soon we continued south until we reached the Rosenbruch World Wildlife Museum at the Dixie Center.</p>

<andeys-trip-pic class="left" data-trip-pic="kim-long"></andeys-trip-pic>

<p>In the indoor museum, we received electronic audio guides, used by pressing buttons to hear about whatever exhibit we viewed. I found out that the owners of the taxidermy collection traveled the world to find and legally hunt these animals. We started the visit with a look at African animals, then continued to animals of other continents as we slowly walked up a ramp. At the top, we reached an overlook with a view of most of the exhibit. Telescopes there let us take a closer look at the animals than we could on the trail.</p>

<p>After seeing an interesting side collection of butterflies and other insects, we left the museum. I let Joy briefly check out some shopping outlets, then we drove southwest into Arizona, then Nevada. I noticed my car vibrating over a certain speed, so stopped at our first Nevada exit to examine my engine and wheels. Not finding anything serious, we continued and made it to Las Vegas. There, we met with my friend Dan, as planned, at the Kim Long Seafood Restaurant. After enjoying a conversation and a delicious meal of Vietnamese noodles, Joy and I parted with Dan and we spent the rest of the evening and night driving back to Whittier, California.</p>
