<andeys-trip-pic class="right" data-trip-pic="berry-lincoln"></andeys-trip-pic>

<p>We got up to a cloudy day with rain threatening, so we decided not to do anything in the park and left after breaking camp. We headed south and a bit west until we reached Lincoln's New Salem State Historic Site near Petersburg. When we got there, we had to wait a little until the place opened, then we went first to the visitor center and looked at the exhibits about Abraham Lincoln's six years at New Salem, when he was a young adult.</p>

<p>The rain had completely subsided when we went back outdoors to check out the re-created 1830s village. Some buildings lay empty and locked, but others had open doors with costumed guides welcoming us. One of those guides sat inside the school building, telling us how students were taught there by repeating their lesson out load, over and over again. Other costumed guides in other buildings similarily told us about their particular place.</p>

<andeys-trip-pic class="left" data-trip-pic="new-salem-mill"></andeys-trip-pic>

<p>Notable village buildings included a carding mill, where inside we saw a doubler carder for wool, and the first and second stores operated by William Berry and Abraham Lincoln. Just across a bridge over a state highway, we found a saw and grist mill on the banks of the Sangamon River. We also walked through an area of interpretive signs, called the Archeology Walk, describing evidence of other buildings not rebuilt. As we left the park, we took a look a statue of young Lincoln, then drove off.</p>

<p>Going southeast, we soon reached the town of Springfield, the capital of Illinois. First, we visited the Lincoln Tomb State Historic Site in Oak Ridge Cemetary. The tomb consisted of a monolith rising from a raised platform, with statuary surrounding it. We saw a protected plaque in front, honoring Lincoln in Latin, presented by Rome in 1865 and coming from the ancient walls of Servius Tullius.</p>

<andeys-trip-pic class="right" data-trip-pic="lincoln-tomb"></andeys-trip-pic>

<p>We went inside and saw engravings of famous Lincoln speeches on the wall and replicas of statues of Lincoln, like the one at the Lincoln Memorial. At the far end of the corridor loop stood Lincoln's burial chamber, lined by flags. His wife and three of their sons also had remains there.</p>

<p>We went outside and back to the car, driving around a little of the rest of the cemetary to take a brief look at the memorials for Illinois veterans of the Vietnam and Korean Wars. Then, we headed south and made a quick stop to get a good look at the State Capitol building. Soon after, we parked to tour the Dana-Thomas House, designed by architect Frank Lloyd Wright and completed in 1905.</p>

<andeys-trip-pic class="left" data-trip-pic="dana-thomas"></andeys-trip-pic>

<p>In the visitor reception area, formerly the carriage house, we received tickets for the tour, which soon started. As we toured the house, we got to see as much as a hundred pieces of the original white oak furniture and over a hundred art glass doors, windows and light panels. Our guide showed the design sense of Wright, pointing out the use of open space and high and low ceilings. We went through most of the house, including the basement, where the tour concluded.</p>

<p>Seeing all we wanted to see in Springfield, we drove south, finally heading home to Pinckneyville. My brother drove the last part. We got home well before sunset with time to clean out the car and wash the tent, letting it hang dry in the backyard. Then, we had a good home dinner.</p>
