<p>Joy and I woke up early so we could hike during the cool, sunny summer morning. After getting ready, eating breakfast and breaking camp, we took the short drive to the beginning of the Panorama Trail. Soon on our hike, we reached our first rock formation, a spire known as Fred Flintstone. An image on an adjacent trail sign assisted in imagining the rock as the cartoon character.</p>

<andeys-trip-pic class="right" data-trip-pic="hand-prints"></andeys-trip-pic>

<p>We rounded a corner and soon reached another point of interest called Petrified Lightning. The cliff had marks that did indeed took the shape of lightning. Next, we saw Indian Cave, which was just a shallow alcove. However, the wall next to it had interesting multiple hand indentations on it.</p>

<p>We passed an impressive, tall sandstone monolith known as Ballerina Geyser, then continued on a small side loop trail known as the Hat Shop. We accidently veered off the trail a little while trying to return to the main loop. I found it after doing some backtracking. We then went on another subloop called the Secret Passage. It had formations with names such as the Tea Kettle, Camel Humps and White Buffalo, which did have resemblances to their namesakes.</p>

<andeys-trip-pic class="left" data-trip-pic="ballerina-geyser"></andeys-trip-pic>

<p>After going through the short, narrow section of the Secret Passage loop, we got back to the main loop. We could see the Papa Bear and Mama Bear spires in the distance, but did not approach them, deciding not to go on another spur trail. Finally, before we completed the circuit, we did a small climb up to Panorama Point for an overall view of the place.</p>

<p>For our next hike, we checked out Shakespeare Arch, a natural arch discovered in 1976 by the park ranger after which it got named. It was small and we had to go pretty close under it for a good view. We saw Chimney Rock next. It only took a short drive to reach it. Then, we headed to the north end of the park to look at a couple more spires.</p>

<p>For our final hike, we visited Angels Palace. We started in a small canyon, then the trail climbed quickly. After admiring good views of the park from our perch, we went towards the cliffs. There, we then noticed a pattern of erosion in the one part of the cliff that, with some imagination, looked like a palace of some kind.</p>

<andeys-trip-pic class="right" data-trip-pic="tea-kettle-camel"></andeys-trip-pic>

<p>With the heat starting to bear down on us, we gladly returned to the air-conditioned car, where we ate lunch before leaving the park. We headed west, passing by Bryce Canyon National Park, then headed south for a while until we reached Coral Pink Sand Dunes State Park. We arrived a little early, so had to wait until the previous occupants of our reserved campsite moved out of it. It didn't take too long.</p>

<p>With time to spare and heat to beat, we decided to go towards the town of Kanab to check out the Best Friends Animal Sanctuary in Angel Canyon. Finding out we had missed the last tour of the facilities for the day, we instead sat down in the cool office and watched a film about the sanctuary. Finished with that, we continued onto Kanab itself, stopping by its visitor center to find out the location of Frontier Movie Town. We then went there.</p>

<andeys-trip-pic class="left" data-trip-pic="mules-ears"></andeys-trip-pic>

<p>Frontier Movie Town turned out to have just a small collection of western movie fronts, buildings and props. It did not take us long to explore the place and the gift shop that served as the entrance to the grounds. Soon, we went on our way again, returning to Coral Pink Sand Dunes State Park.</p>

<p>After dinner, we went for an evening walk on the sand dunes, generally following an interpretive trail. In the distance, we could see some OHVs running around the dunes. After walking to the fence that separated the motorized vehicle zone from the non-motor zone, we noticed a lovely patch of big, yellow flowers growing in the sand, and headed to them. They turned out to be relatives of sunflowers known as mule's ears. I hadn't thought flowers that big would grow on sand dunes.</p>

<p>With darkness falling and lightning beginning to threaten from afar, we decided to head back to the campsite. We took showers, then got in the tent. For a while, we had a rainfly door open, so we could watch the distant lightning, but then soon decided to sleep.</p>
