<andeys-trip-pic class="right" data-trip-pic="lake-of-clouds"></andeys-trip-pic>

<p>After breaking down camp and getting ready for the day, we left Marquette and headed west. We made a quick stop at a small park along State Highway 28, walking a short path to an upper side view of Agate Falls. I didn't think I had a good view from the side, but didn't bother to go over the barrier for a better angle.</p>

<p>Going north away from the main peninsula thoroughfares, we next headed for Porcupine Mountains Wilderness State Park. We stopped at the Wilderness Visitor Center, then continued west to the grand view of the Lake of the Clouds, nestled in the heavily forested hills that surrounded the Carp River Valley. After the scenic stop, we went south further into the mountains until we reached the parking lot for Summit Peak.</p>

<andeys-trip-pic class="left" data-trip-pic="tree-squirrel"></andeys-trip-pic>

<p>A trail of about a half a mile on boardwalk led us to the 40 foot tower on Summit Peak, second highest peak in Michigan at 1958 feet. At one time, people thought it was the highest. We saw heavily forested hills in all directions with a glimpse of Lake Superior to the north. We then returned to the car.</p>

<p>At the northwestern end of the park, we took a hike to see the Presque Isle River and its waterfalls. I found wide and low waterfalls there, starting with Manido Falls. A bit of a climb and walk further south led us to Nawadaha Falls. Finally, returning north, we checked out Manabezho Falls, then crossed a bridge over to Presque Isle. There, we watched a squirrel in a tree as it enjoyed a meal. Satisfied with exploring the river, we left the park, going south to the highway.</p>

<andeys-trip-pic class="right" data-trip-pic="brownstone-falls"></andeys-trip-pic>

<p>Not long after traveling west on the highway, we turned north again, this time onto the Black River Harbor National Scenic Byway inside the Ottowa National Forest. First, we took a walk to Great Conglomerate Falls and watched as it got split in two by a rock. Next, we checked out Potawatomi Falls. Unlike the first two, the third waterfall we saw there, Gorge Falls, was taller than it was wider.</p>

<p>Sandstone Falls had a bit more interesting rocks around it, with the foam of soft water gathering in an alcove. For Rainbow Falls, we decided to take the longer of two possible routes, our choice going to the opposite bank of the river. So, we parked at Black River Harbor and followed the trail, crossing a bridge over the river. When we got to the viewpoint, we saw that our side had a more full view of the waterfall than the other bank.</p>

<p>We drove back south to the highway and soon found ourselves in Wisconsin. Turning southwest, I took us to Copper Falls State Park. We got a permit to stay in the park for one hour and set off immediately to see the main attractions.</p>

<andeys-trip-pic class="left" data-trip-pic="mad-ferry"></andeys-trip-pic>

<p>Along the trail, we first saw Copper Falls, dropping within a gorge with walls as high as 100 feet. Brownstone Falls soon followed. At a bridge, we saw the Bad River flow between two rock walls known as Devil's Gate. As we finished the loop, we passed the Tyler Forks Cascades and peered down the rim of Brownstone Falls.</p>

<p>We left the park and headed northwest to Bayfield, getting on the next ferry to Madeline Island. The ride gave us a break, which my brother used to clean some of the squashed mosquitoes off of the car. Once on the island, we drove directly to Big Bay State Park, where we set up the tent at our reserved campground, keeping protective mosquito gear on. We cooked dinner, took showers with buttons giving us limited water per push, then slept.</p>
