<andeys-trip-pic class="right" data-trip-pic="pinnacle-rock"></andeys-trip-pic>

<p>We woke up to a chilly morning and, after taking down the tent, had some hot chocolate for breakfast. As we sat there, plump blue birds started gathering around, eyeing our food. Soon, several surrounded us and one flew quite close to me. However, despite the perceived attempt at intimidation, we finished our meal without problem and the birds left.</p>

<p>We left camp, drove the car to the trailhead for the Echo Canyon Trail and began to hike. Soon, we immersed ourselves among tall towers of rock as we descended on the path. After the fun of walking some narrow paths between rocks, we took another trail that led us down to a dry creekbed then had us hike alongside it. This area had no particular rocks of interest. A climb back uphill on another trail eventually led us an area known as the Heart of Rocks.</p>

<p>As we headed towards the Heart of Rocks Loop Trail, we spotted &ldquo;Big Balanced Rock,&rdquo; which reminded me of a spinning top. On the loop trail itself, we encountered many labeled formations, including another rock with a seemingly precarious perch, known as &ldquo;Pinnacle Balanced Rock.&rdquo; Names of other rocks encountered along the steep up and down path included &ldquo;Camel's Head,&rdquo; &ldquo;Punch and Judy&rdquo; and &ldquo;Duck on a Rock.&rdquo;</p>

<andeys-trip-pic class="left" data-trip-pic="inspiration-rocks"></andeys-trip-pic>

<p>The trail became less rocky as we headed away from the Heart of Rocks. We hiked for a while, then took the side trail to Inspiration Point. From there, we got a grand view of the canyon with hundreds of rock towers densely lining its sides. We did not stay long, because of the cold wind. Also, light flakes of snow occasionally fell. We continued on, descending as we passed &ldquo;Mushroom Rock,&rdquo; then ascending to the car parking lot.</p>

<p>Glad to be back in the car and out of the cold, we left the park. As we noted a sign for Fort Bowie National Historic Site, we veered right onto the dirt road leading to it, deciding to check it out. To reach the fort as well as the visitor center, we found we had to walk 1.5 miles to the ruins. We did that and passed several points of interest, including ruins of a Butterfield Overland Stage Station, ruins of an Indian Agency building, Apache Spring and the first Fort Bowie.</p>

<andeys-trip-pic class="right" data-trip-pic="fort-bowie"></andeys-trip-pic>

<p>At the visitor center, Songyuan got his passport stamp while I looked at the small exhibit on the fort's history. Then, we walked around all that remained of the second Fort Bowie, mostly building foundations. The sun set and we returned on a trail that gave us a good overlook of the fort grounds and the surrounding area.</p>

<p>Back at the car, we took off to Bowie to get on I-10, then drove west past Tucson and into Tucson Mountain Park to camp. For the first time on the trip, night time felt relatively warm, which I welcomed. We set up camp at a tent-only site, cooked a simple dinner of soup and went to sleep.</p>
