<andeys-trip-pic class="right" data-trip-pic="gorge-creek"></andeys-trip-pic>

<p>We had a while until the scheduled interpretive hike we planned to go on, so after breaking down camp, we headed to the shores of Clear Lake just to look around, checking out the pier and marina. When the visitors centre opened, we went in and signed up for the Gorge Creek hike, paying a small fee for it. Still, with a little time left, we checked out the small amount of exhibits. When the time came, we met outside with the group going, making car shuttle arrangements for the one-way hike.</p>

<p>First, we had to get to the upper trailhead, so we all drove down the dirt road most of the way towards the east gate. Then, only the drivers left to park most of the cars at the lower trailhead. After waiting for a while, they came back in one car and we started the hike, immediately entering the thick, shady woods.</p>

<andeys-trip-pic class="left" data-trip-pic="agassiz-tower"></andeys-trip-pic>

<p>Mosquitoes flew all over the place, but my brother and I kept moving, even in place, and, with help from repellent, did not get bitten. We would stop hiking occasionally when the guide would point out plant species and evidence of the passing of animals such as bears. He noted that the species of plant growing at one point in the hike grew only where groups of horses once stayed, suggesting that a camp once existed there. The name of the park came from people who found that riding horses was the best way to get through the area.</p>

<p>The trail became steeper at times and eventually, the vegetation changed. It became sunnier with poison ivy showing increased abundance. We could also more clearly see the shale of the Manitoba Escarpment surrounding the gorge. We stopped to eat lunch on a somewhat flat spot on that rock, then continued on at a faster pace until we reached the lower trailhead.</p>

<p>My brother and I drove back to the park's main road and headed north, making our final stop in the park at the Agassiz Tower. Looking around at the top, we didn't see much more than a forest of trees and a mostly cloudy sky. We went back down and drove north out of the park.</p>

<andeys-trip-pic class="right" data-trip-pic="grain-elevator"></andeys-trip-pic>

<p>As we continued north, the towns we passed appeared to get smaller and farther apart. Forest dominated the scenery until before we reached the border with Saskatchewan. Then, we passed hectares and hectares of farmland and the occasional grain elevator. At this point, my brother drove, and eventually tired of the unimpressive scenery.</p>

<p>We reached Melfort for gasoline and to switch drivers. It began to rain as I drove and kept getting harder, which made driving more interesting as well as more hazardous. We worried about setting up the tent later in the rain, but by dusk, when we arrived at Prince Albert National Park, the rain had became mere sprinkles. In the fading light, I saw a fair number of big animals out by the road, which I later realized were elk.</p>

<p>We set up our camp by the lights of the car, but decided not to eat there because the table was wet. So we headed to a nearby sheltered picnic area to make dinner. Then, we took showers and went to sleep quite tired.</p>
