<andeys-trip-pic class="right" data-trip-pic="ouimet-canyon"></andeys-trip-pic>

<p>After breaking down camp, my brother and I went back to look at Kakabeka Falls in the morning light. We also crossed the bridge over the waterfall rim to look at it from the other side. Then, we left and took the highway to Thunder Bay, exiting to enter Centennial Park. I didn't see much of interest just driving around the park, so we went back out to the highway.</p>

<p>A bit of a drive later northeast, we left the highway to enter Ouimet Canyon Provincial Park. Flies swarmed around our car at the parking lot, but fortunately our bodies did not attract them as much. I didn't have the right coins to pay for the one dollar fee, but a couple we met kindly gave us change. So we put the dollar in the drop slot and took the hike to two viewpoints on the rim of the canyon.</p>

<p>Soon, we reached the dramatic canyon, with nearly vertical walls 100 meters high and 150 meters apart. I read that in the dark bottom, some arctic plants thrived. On one side of the first viewpoint, I could see the rock formation known as Indian Head, slightly separated from the wall. At the second viewpoint, I saw where the canyon opened up to a broad valley. All the while, we did not stay still to deter the flies.</p>

<andeys-trip-pic class="left" data-trip-pic="terry-fox"></andeys-trip-pic>

<p>On the way back to Thunder Bay, we exited the highway at a rest stop, where we changed to warmer weather clothes and checked out the Terry Fox Monument. In the 1980s, Terry Fox tried to run across Canada with one real leg and one artificial one to raise money for cancer, but died as he approached Thunder Bay. From the statue, we had a great view of Lake Superior, including the land mass known as the Sleeping Giant. We left and continued into the city, stopping again to take a lunch break at the waterfront. I could see people preparing for a staged event happening the next day, Canada Day.</p>

<p>Done eating, we got the car washed, then drove to Old Fort William and parked. A walk through a wide forest path took us from the modern visitor center to the fort, where we saw a re-creation of the fort and a sample of life there in the year 1815. Outside the palisade, we arrived at a native encampment, looking inside the wigwams and seeing drying hides.</p>

<andeys-trip-pic class="right" data-trip-pic="churn-butter"></andeys-trip-pic>

<p>We began exploration of the fort iself from the Main Gate, turning right. When we entered a shop, like the Indian Shop, some costumed guide would talk to us about their items for &ldquo;sale.&rdquo; We also climbed the observatory to take a look at the whole fort from above. Back down again, my brother had a chance in the fur store to try the 90 pound pack of furs voyageurs had to carry.</p>

<p>In the Great Hall, I found out more about the founders of the North West Company when I asked about their portraits hanging there. In the kitchen, I got to try some delicious scones. We kept going, talking to people in character in each building. After visiting the girl churning butter in the dairy, we checked out the horses, pigs and baby calf on the farm.</p>

<andeys-trip-pic class="left" data-trip-pic="canoe-docked"></andeys-trip-pic>

<p>At the time indicated on the event guide I got, I went to the shore of the Kaministiquia River to await the arrival of the canoe. The guy at the observatory failed to fire his gun to signal the arrival, but two guys on the wharf did. Some others danced and sang songs while the canoe made its approach. Soon, the &ldquo;voyageurs&rdquo; docked and got welcomed by the &ldquo;company leaders.&rdquo;</p>

<p>They headed for the Council House for the next scheduled event, where we saw some drama act. In fifteen minutes, a commotion led everybody outside for another drama, titled &ldquo;The Arrest of Alexander Fraser.&rdquo; Two people held Fraser while a company leader accused him of spying for the rival, the Hudson's Bay Company. After this act finished, my brother and I checked out a couple more buildings before heading out.</p>

<p>We drove westward with lakes, trees and the precambrian rock of the Canadian Shield keeping us company most of the way. We made one stop by Rainy Lake as we neared Fort Frances. While crossing the international border to International Falls, we got searched by U.S. Customs. In the office, agents asked us questions occasionally while the car contents got inspected. With no problems found, they let us go.</p>

<andeys-trip-pic class="right" data-trip-pic="arrest"></andeys-trip-pic>

<p>For dinner, we decided to eat in town at the Shorelunch Cafe, where I tried the local fish, walleye. My brother had a different seafood dish. Feeling quite full, we left town and headed southeast until we reached the Woodenfrog Campground in the Kabetogama State Forest, next to Voyageurs National Park.</p>

<p>We set up our tent in a primitive site, then decided to check out the showers at the nearby Arrowhead Lodge and Resort. For the cost of $3 each, we decided not to shower until the next night. While in that area, I enjoyed a lovely sunset on Kabetogama Lake. Back at camp, I enjoyed the lovely call of the loon as we fell asleep.</p>
