<andeys-trip-pic class="right" data-trip-pic="liberace"></andeys-trip-pic>

<p>We decided to check out a few daytime attractions in Las Vegas before leaving, so, after checking out of our hotel, we headed for the Liberace Museum. We got there a little bit before it opened and had to wait. When the doors finally opened, we paid our admission, got a hand stamp and entered.</p>

<p>We saw a video and read displays that told us about this flamboyant entertainer, a pianist and top Las Vegas performer who came to be known as Mr. Showmanship. In the first building, we saw the late Liberace's impressive collection of automobiles and pianos. In the second building across the parking lot, we saw his extravagent and sometimes really heavy costumes as well as his jewelry and the awards he got over the years. Lastly, we saw an exhibit about Las Vegas history.</p>

<p>For lunch, we ate at the In &amp; Out burger near The Strip, then drove to the Costco at the edge of town to drop off film for processing. We then stopped at The Mirage to visit the Secret Garden of Siegfried &amp; Roy with dolphin habitat. The dolphins were delightful to see above and below the surface of the pool and we briefly played with one, tossing a ball back and forth. Elsewhere, we saw the beautiful animals kept there, including an Asian Elephant, White Lions and White Tigers (adorable cubs too).</p>

<andeys-trip-pic class="left" data-trip-pic="dolphin-toss"></andeys-trip-pic>

<p>Our final destination was the Adventuredome Theme Park at Circus Circus. It had few people there. We looked around, then got two ride tickets each and first tried out the IMAX Ridefilm, featuring characters from a 3D animated show called Reboot. I didn't find it all that interesting. Then we went on the roller coaster known as the Canyon Blaster, which was better, but still not that great.</p>

<p>Now done, we headed back to Costco to pick up the processed prints. We ate a cheap dinner there then left town. In Primm, I refueled my car and let Joy browse the outlet mall there. She got a couple clothes at a good price. We drove directly to Whittier after that, with only a little fog to deal with in Cajon Pass.</p>
