<p>We woke up and took our time to get ready and break down camp, but we still ended up at the Lower Fort Garry National Historic Site a little early, so we drove through Selkirk just to look at the town, then got back to the fort as it opened. We looked at a small exhibit about the fort's history in the visitor reception centre before heading out onto the grounds.</p>

<andeys-trip-pic class="right" data-trip-pic="aboriginal-camp"></andeys-trip-pic>

<p>First, we headed down to the docking area to look at the Red River, then headed up to the buildings outside the fort walls, passing one under construction. At the Farm Manager's House, a costumed guide greeted us and told us about the house. Two other people there kept busy tending the small garden. Near there, we found an aboriginal encampment, but the woman there asked us to come back later because she had not finished setting up for the day. In the Blacksmith's Shop, we found a guy actively working over the fire.</p>

<p>Entering the east gate of the fort, we noticed historic carvings of names on the wall, carved by the Qu&eacute;bec Rifles when they were stationed there in 1870&ndash;71, according to our guide pamphlet. We continued straight ahead to the Big House, where a costumed guide greeted us, pretending we were guests of the Hudson's Bay fur trading company. One room had the &ldquo;mayor&rdquo; of the fort's town. I took a photo of him signing papers.</p>

<andeys-trip-pic class="left" data-trip-pic="riding-mtn-gate"></andeys-trip-pic>

<p>The wooden building called the Doctor's Office was empty inside except for a couple interpretive displays. It got built in 1885, when the fort, no longer needed by the fur trade, became a lunatic asylum for a while. When we walked into the Men's House, a women told us about the lives of the men who lived there as labourers and tradesmen. They had a rigid schedule and had to do all their own chores.</p>

<p>Just outside the west gate, we found a plaque commemorating the signing of Treaty No. 1 in 1871 between the Crown and the Anishinabe and Ininew peoples. Back inside the walls, we checked out the corner bastions. The southwest one had exhibits about the architecture of the fort's era. The southeast one contained a washroom, from where I took a drink from the drinking fountain in front.</p>

<andeys-trip-pic class="right" data-trip-pic="lily-butterfly"></andeys-trip-pic>

<p>Finally, before we left the walls, we stopped in a building that showed the supplies used in the fur trade days, including an upstairs room full of furs. We then visited the aboriginal encampment, now ready to receive us. The woman there showed us the inside of the wigwam and some of the tools the aboriginals used at the time of the voyageurs. After that, we left the area and drove west, bypassing Winnipeg.</p>

<p>A couple hours later, we turned onto a dirt road and passed through the historic east entrance to Riding Mountain National Park. It had a rustic design, consisting of two small wood and stone buildings with extended roofs, connected by a wooden park sign. We took the dirt road all the way to the park main road eventually to Wasagaming, where we registered for our campsite and set up our tent.</p>

<andeys-trip-pic class="left" data-trip-pic="ominnik"></andeys-trip-pic>

<p>At the visitors centre in town, we talked to the ranger there to get information about hiking in the park. We decided to do the Arrowhead Trail first and went partly back on the dirt road to hike it. After picking up a trail guide at the trailhead, we started walking down the path. We had a relaxing time on the easy trail through the aspen-spruce forest and saw examples along the way of the effects glaciers had on the land. I especially enjoyed the flowers, particularly the remarkably vivid Western Red Lily.</p>

<p>We hit the Ominnik Marsh Trail next, not far from Clear Lake. The welcome sign there had bright and cheery cartoon animals greeting us. We enjoyed this trail too, mainly because it had interesting floating boardwalks. There could not be a solid trail without them. A floating viewpoint provided us a lovely spot to relax while we watched a duck repeatedly diving its head in the water.</p>

<andeys-trip-pic class="right" data-trip-pic="audy-bison"></andeys-trip-pic>

<p>With plenty of daylight left, we decided to take the drive down the Lake Audy Trail to where the park keeps its herd of bison. In the open field, we only saw one lone bison, far from the road. We soon found a small display stand where we found out where bison could be depending on the conditions such as time of year, sun intensity and insect population.</p>

<p>Looking for more bison, we turned onto a small dirt road and soon got surprised when one of the big creatures walked out of the brush. Soon, more followed and there became so many that they blocked the way entirely. We decided we had seen enough bison and backed out to the larger road.</p>

<p>The daylight faded as we headed back to our campsite near Wasagaming. When we got there, we had our dinner, took showers, then slept.</p>
