<andeys-trip-pic class="right" data-trip-pic="weep-cliff"></andeys-trip-pic>

<p>With a full gas tank, Joy and I left mid-morning from her place. Much of the time, Joy slept as I drove. I could feel the intense heat of summer in the desert, but did not feel it full blast until I stopped for gas in North Las Vegas. After filling up, we continued on without another stop until reaching Zion National Park in Utah.</p>

<p>First, we registered for our reserved campsite at the Watchman Campground and set up my small tent. Then, we went to the visitor center, new since my last visit, where we looked briefly at some of the exhibits. I found out the building used a highly energy efficient design to naturally cool and heat the building interior.</p>

<p>After leaving the visitor center, we drove to the Zion Human History Museum and looked briefly at its exhibits, including one describing the park in its early days using audio and a slide show. The museum soon closed and we headed outside to the shuttle bus stop, taking the next shuttle. It drove us up further into Zion Canyon and we got off at the stop for Weeping Rock.</p>

<andeys-trip-pic class="left" data-trip-pic="emerald-pool-falls"></andeys-trip-pic>

<p>We looked around and noticed no people around our stop. Soon, we found out why when we encountered a trail closure sign. Seeing nothing dangerous about the path, we walked past the sign until we reached the curtain of dripping water known as Weeping Rock. After enjoying the scenery of the water and cliffs, we returned to the shuttle stop and hopped onto a downcanyon one.</p>

<p>On our first shuttle trip, we had passed the sight of some waterfalls made strong by recent rain. Wanting to get a close look on our way back, we stopped at the Zion Lodge to take easy hike on the Lower Emerald Pool Trail. We did not see the waterfalls from the trail until we reached the lower pool. There, we got a dramatic view as the water dropped over an overhanging ledge.</p>

<p>Daylight faded as we returned to Zion Lodge. When we got there, we decided to check out the gift shop. When done, we headed back downcanyon on the shuttle. The driver entertained us with park facts. Notably, he drew our attention to the Sentinal Slide, which, at one point in canyon history, blocked the Virgin River, creating a lake.</p>

<p>We got back to our car at the Zion Human History Museum, then drove to our campsite. We made dinner using my stove, then ate. After that, we talked a bit then went to sleep.</p>
