<andeys-trip-pic class="right" data-trip-pic="sandals"></andeys-trip-pic>

<p>We got up a little later than we planned, but it turned out to be good because we arrived at the Pierce Stocking Scenic Drive just as it opened. For a while, we found no other people around as we enjoyed the views of Lake Michigan, the dunes and Glen Lake. At the Lake Michigan Overlook trail, we did see people, but they were repairing the boardwalk. They continued hammering on the boards right as we walked on them.</p>

<p>After enjoying a gorgeous view from the top of steep, perched dunes, we drove to a part of the park called the Dune Climb. There, we saw plenty of people who, like us, saw the steep slope as a fun challenge and decided to make it to the top. We saw more dunes at the top, stretching towards Lake Michigan, but we just enjoyed the view from our perch before making a fun, quick descent.</p>

<p>At our next stop, we visited the Sleeping Bear Point Coast Guard Station, which housed old rescue boats and a Maritime Museum that showed the history of the life saving service there. We then checked out the original location of the station at Sleeping Bear Point, now covered in dunes. A short hike through the sand led us to the shore to enjoy the clear waters of the great lake. On our way out from the point, we stopped at the Glen Haven Historic District to look inside the Cannery Boathouse at the largest collection of boats that floated on Lake Michigan.</p>

<andeys-trip-pic class="left" data-trip-pic="pyramid-pt"></andeys-trip-pic>

<p>Enjoying the lovely, warm day, we next headed for Pyramid Point for a hike which first took us to a high bluff over pretty Lake Michigan. Continuing, we walked though a beech-maple forest until we crossed a meadow. The loop trail took us back into the forest again then onto a road leading back to the car.</p>

<p>For lunch, we went to the lakeside town of Leland and ate at a picnic table by the marina. Then we left the area, heading northeast until we hit the town of Ironton. There, I let my brother drive onto the ferry that took us across the south arm of Lake Charlevoix. This was his first time on a car ferry as a driver.</p>

<p>We headed though lightly populated countryside as we continued north, taking a road known as the Tunnel of Trees. I slept part of the time while my brother continued driving. Finally, we reached Wilderness State Park, where we set up camp, then checked out the beach briefly before eating dinner, showering and sleeping.</p>
