<andeys-trip-pic class="right" data-trip-pic="beehives"></andeys-trip-pic>

<p>Morning came and we woke up with not that much sleep. Regardless of that, we got ready and headed off on the gloomy looking day for the somewhat long drive to Valley of Fire State Park. Once we reached the western entrance to the park, the skies cleared up a bit.</p>

<p>Our first stop had some interesting eroded rocks known as The Beehives, decorated with grooves and holes. Then we took a loop road, where we saw Cobra Rock, a lovely arch, and Atlatl Rock, which had excellent petroglyphs visible high on it, reachable by stairs. We also stopped to look at a collection of petrified wood before going to the Visitor Center.</p>

<andeys-trip-pic class="left" data-trip-pic="atlatl-art"></andeys-trip-pic>

<p>From there, we went north further into the park and parked to hike to Mouse Tank. We noticed many good petroglyphs along the trail. Near the tank, we saw a whimpering dog, who did not want to follow the owner down a crevice. We didn't go there either, instead climbing up to a view of the natural, water collecting basin. It seemed dry.</p>

<p>After the hike, we drove to a viewpoint of colorful Fire Canyon and the white Silica Dome. Then, we stopped at White Domes for another hike, this one a loop trip. It took us by impressive rocks, the remains of a set for the 1966 movie <em>The Professionals</em> and a fun, but short, slot canyon.</p>

<andeys-trip-pic class="right" data-trip-pic="white-dome-slot"></andeys-trip-pic>

<p>Joy fell asleep on our drive back along the interior park road. While she rested, I checked out Piano Rock, a series of large rocks known as the Seven Sisters, stone cabins built by the Civillian Conservation Corps in the 1930s, a petrified log, a monument to one of Nevada's pioneers (Captain John Clark) and Elephant Rock. She woke up in time to see Elephant Rock and lovely rainbow that showed up as we left through the east entrance of the park.</p>

<p>I refueled my car in Overton and made the long drive back to Las Vegas. We felt quite hungry and Joy had a craving for Vietnamese noodles, so we drove around until we found the perfect place in Chinatown. We filled up on delicious pho noodle soup then retured to the hotel to take a long break.</p>

<p>Once we showered and felt better, we went to check out more of the Stratosphere. Joy decided to try one of the places that digitally places your face with a different body. She tried two different scenes and ended up buying a print of one of the touched-up results.</p>

<andeys-trip-pic class="left" data-trip-pic="elephant-rock"></andeys-trip-pic>

<p>Out of curiousity, I wanted to try a strategy on the slot machines that someone told me about, so we went to the casino. I was hesitant at first, but put in $20 and won about $40 on nickle slots. I then went to a different nickle machine and cashed out about $90 from there. Then I moved onto quarter slots, where I went back down to about $30 and stayed about the same on the fifty cent, dollar and two dollar slots.</p>

<p>At the high limit $5 slots, I daringly bet $10 a pull and ended up cashing out $50. I ended it there. Joy tried this system all out too, winning as much as $50 at one point, but ended up losing it all on the $2 slots. With our adrenaline rushing from the excitement, we didn't feel tired after that, but went back to the room to sleep anyway.</p>
