<andeys-trip-pic class="right" data-trip-pic="pine-shrine"></andeys-trip-pic>

<p>My brother Steven and I got up early and left after a quick breakfast at home. He drove us first, taking us east past Rend Lake, where we noticed some fishermen who also must have woken early. I started doing the driving in Urbana and went through Chicago Heights into Indiana, where we noticed a plethora of billboards advertising fireworks.</p>

<p>We made our first stop of interest in Michigan in the city of Holland just to take a look at the authentic Dutch windmill. When we reached a distant view of it, we stopped and turned around to leave the city, because we didn't feel like paying admission for just a quick closer look.</p>

<andeys-trip-pic class="left" data-trip-pic="otter-lake"></andeys-trip-pic>

<p>Soon after passing Grand Rapids, we left the interstate and took a rural highway to the town of Baldwin to pay a visit to Shrine of the Pines. The place turned out to be a log hunting lodge filled with white pine furniture masterfully handcrafted by a guy named Raymond W. Overholzer.</p>

<p>A tour guide showed us some of the practical features designed into some pieces, like a storage place for cards at the poker table. One of the windows had really clear, imported glass while another one the artist had taken from a local grocery store. We could see remains of letters on that one.</p>

<andeys-trip-pic class="right" data-trip-pic="mi-beach"></andeys-trip-pic>

<p>After the tour, my brother and I looked outside the building and at the scenic Pere Marquette River next to it. We then continued with our long drive, which took us along the shore of Crystal Lake and then to our reserved campsite at the Platte River Campground in Sleeping Bear Dunes National Lakeshore.</p>

<p>Once we got the tent set up, we decided to explore a little of the park, taking an unpaved road to quiet Otter Lake. We then continued on, looking for a viewpoint of Lake Michigan. The road we took became quite narrow and I worried a bit about the minivan making it past all the trees and brush unscathed. Fortunately, it did, and we turned onto a side road, parking at its end.</p>

<p>We walked a bit, past a cabin and down a path, but soon realized this was probably not the way to the lake viewpoint shown on the map, so we returned to the car and drove on. Not too long later, we found a much wider road that led to a beach along Lake Michigan, where we got out and enjoyed the scenery. Ready to end the day, we then returned to our camp to have dinner, shower and sleep.</p>
