<andeys-trip-pic class="right" data-trip-pic="seven-falls"></andeys-trip-pic>

<p>We woke up just before sunrise to find that the wind had died down, making going outside more tolerable. Quickly, we broke down camp and ate breakfast in the car as we took off east to Arizona. It took longer than I had hoped for us to arrive in Tucson, but we continued with our plan to hike at the Sabino Canyon Recreation Area and made our way there.</p>

<p>We planned to take the shuttle to the trailhead for Bear Canyon, but discovered that we arrived a few minutes too late for the hourly shuttle. I figured out that we could get to the trailhead faster than waiting for the next shuttle by hiking there and indeed we did. We saw an abundance of desert plants, especially saguaro cacti, as we went through the canyon. More water loving plants grew by the creek we kept crossing.</p>

<p>After following the creek, the trail climbed up and soon came to a great, though somewhat shaded, view of a waterfall known as Seven Falls, because its water fell by a series of drops. We enjoyed the scene, then went down for a closer look at one of the pools. Following a short break there, we headed back, enjoying the view down the canyon as we took the trail back to the car. We got to the parking lot around sunset.</p>

<andeys-trip-pic class="left" data-trip-pic="bear-cyn"></andeys-trip-pic>

<p>Leaving Tucson, we headed southeast until we reached Kartchner Caverns State Park, hoping to camp there. Unfortunately, we got there soon after its gates closed, so we continued on south to Sierra Vista, thinking to pitch our tent south of town in the Coronado National Forest. After some driving, we decided we did not want to get so far away from the park we planned to visit the next day, so we checked out a small inexpensive RV park we saw in Huachuca City.</p>

<p>Songyuan found the owner of the Corte de Rei RV Park in his motorhome, who agreed to register us for the night. We picked a gravel spot shaded from lamps and not too close to the rows of RVs. For the less than ideal tent site, we at least got access to a clean, heated bathroom. We ate a quick dinner, showered then slept.</p>
