<andeys-trip-pic class="right" data-trip-pic="p-dog-kiss"></andeys-trip-pic>

<p>We got up not too long after sunrise, broke camp and headed for the south unit of Theodore Roosevelt National Park. After entering, we drove up to Medora Overlook, where we could see the 1883 house known as Chateau de Mores, as well as the brick chimney once belonging to a meat packing plant. Continuing past that, we stopped the car as soon as we noticed a colony of prairie dogs. I watched them for a while as they chirped and went in and out of their holes.</p>

<p>We went to the lookout point for Skyline Vista next. As we began heading back to the car, a bison surprised us, appearing out of bushes from below. We stood quiet and watched it, not willing to cross it to get to the car. Forunately, it ignored us and kept walking, stopping to wallow briefly in the dust. We returned to the car as soon it had passed it. We saw more bison as we drove and found the a significant herd right by another prairie dog town.</p>

<andeys-trip-pic class="left" data-trip-pic="clinker"></andeys-trip-pic>

<p>We continued, driving counter-clockwise on the loop road. We only made a quick stop at Scoria Point, where we noticed a particulary jagged peak, then parked at the next point of interest to hike the Ridgeline Nature Trail. The trail started with a bit of a steep climb, which meant we soon got good views of the rugged landscape. My brother read out loud the guide pamphlet as we passed numbered posts. Soon, we finished and descended to the car.</p>

<p>View of the land continued at North Dakota Badlands Overlook. Then, we took a short dirt, spur road out to the trailhead for the Coal Vein Trail. With another guide pamphlet in hand, we hiked the short trail. There, we saw the rock known as clinker that resulted from a coal seam fire that burned from 1951 to 1977. The guide noted that scoria is the local name for clinker.</p>

<p>A brief walk up from the next place at which we parked led us to the top of Buck Hill for more views of the badlands. We made the Wind Canyon Trail our last trail. From that path, we had a great look into Wind Canyon and its entrance as well as a bend of the Little Missouri River. One more spur road led us to Peaceful Valley Ranch, where we saw people learning to ride horses.</p>

<andeys-trip-pic class="right" data-trip-pic="custer-house"></andeys-trip-pic>

<p>Just before exiting the park, we stopped at the visitor center just to take a quick look at the Maltese Cross Cabin, once occupied by Theodore Roosevelt. Then, we headed east on Interstate Highway 94 for a couple hours until we reached Mandan. Following signs, we made it to Fort Abraham Lincoln State Park. After paying the fee at the kiosk, we parked at the Cavalry Post.</p>

<p>A guide in a Civil War era uniform emerged from a canvas shelter to greet us, offering to give a tour of the Custer House. He let us know that he would pretend to be a soldier in the early 1870s, showing the house to guests of the Lieutenant Colonel. Any original item of the Custer's he would point out by saying it was &ldquo;of particular note.&rdquo;</p>

<andeys-trip-pic class="left" data-trip-pic="mandan-room"></andeys-trip-pic>

<p>Our guide offered a tour of the barracks, but we decided to check it out on our own. We saw rows of beds and an occasional item that would be there in the 1870s. We also looked at the Granary and Commissary buildings in the Cavalry Post as well as the bricks that marked the site of other buildings.</p>

<p>In another area of the park, we could take a tour of On-A-Slant Indian Village, but had to wait for the next scheduled one. In the meantime, we took a look at the displays at the museum about the Mandan and other area tribes. We gathered with others at tour time, then the guide took us up to see the large round huts, mentioning the significance of the structures there.</p>

<andeys-trip-pic class="right" data-trip-pic="bismarck"></andeys-trip-pic>

<p>During the talk, the guide led us into one of the huts, where we saw items that Mandan's would have used traditionally. Then, we went over to the ceremonial lodge, where important tribal meetings occured. After he finished talking, the guide let us go and we entered one more hut to see some exhibits on Mandan agriculture.</p>

<p>For our final stop at the fort, we went to the Infantry Post, mostly empty except for some observation towers. We went up two of them to see the view and could see Bismarck and its art deco skyscraper State Capitol building as well the Missouri River. After leaving the fort, we headed directly to that building for a close look at it and the statue of Sakakawea in front.</p>

<p>Returning to Interstate Highway 94, we drove east to Fargo. I called the campground ahead of time to keep our reservation secure and found out our campsite was flooded, but we could pitch our tent elsewhere. We arrived and quickly set up our tent and ate dinner. As we showered, a thunderstorm let out a torrent of rain and lightning. Despite the continuing downpour, we got in our tent and slept.</p>
