<andeys-trip-pic class="right" data-trip-pic="zion-cliff"></andeys-trip-pic>

<p>After getting up, Joy and I got ready, broke down camp and headed out. We had great morning canyon views behind us as we approached the Zion-Mount Carmel Highway Tunnel. After the tunnel, we made a quick stop to look at the Checkerboard Mesa and surrounding cliffs, then exited the park through the east entrance.</p>

<p>A couple hours later, we stopped briefly to take photos of Red Canyon in the Dixie National Forest, then continued on into Bryce Canyon National Park. At the visitor center, I asked about shuttle service to Fairyland Point and found out it had gotten discontinued, so I couldn't do a one-way hike from there. I decided we would do a loop hike instead. After we bought a couple postcards, we left and drove to the trailhead at Fairyland Point.</p>

<andeys-trip-pic class="left" data-trip-pic="fairy-rock"></andeys-trip-pic>

<p>Already, we had a great view of the hoodoos of Fairyland Canyon, relatively young compared to the ones in Bryce Amphitheater. However, as we descended on the trail, the views got better. Soon, we had a different perspective as the rock formations loomed above us instead of below. Though hoodoos continued showing up all over the place as we hiked, I did not tire of the view.</p>

<p>At some point, the downhill ended and we climbed up over Boat Mesa, then started down into Campbell Canyon. On a somewhat steep part of the descent, we noticed a formation known as Tower Bridge. It was a slice of wall with a jug shaped window on one side and a square one on the other. To get close to it, we ended up going all the way down to the bottom of the canyon, where we ate lunch.</p>

<andeys-trip-pic class="right" data-trip-pic="z-tower-bridge"></andeys-trip-pic>

<p>The clouds gathered during our hike and a rumble of thunder during lunch suggested a storm approaching, so we quickly started off again. The trail began climbing again, making its way to the rim. As it did, it passed a long line of close hoodoos in a formation called the Chinese Wall. When we reached the top, not far from Sunset Point, we took a look at the horizon and distant lightning strikes.</p>

<p>Not eager to stick around for rain, we soon resumed hiking, this time on the Rim Trail towards Fairlyland Point. I enjoyed the views from this trail just as much as the other one. I thought this trail would be level, but we climbed for quite a good part of it, then descended quickly as we approached the end.</p>

<andeys-trip-pic class="left" data-trip-pic="bryce-rim-view"></andeys-trip-pic>

<p>Back in the car and tired, we decided to hike only one more trail, a short, easy one at that. So, we went north, leaving the park on the way to Highway 12 and then re-entering it going east. We parked at a small dirt lot by the road and started the hike to Mossy Cave. It had some pretty hoodoos and ended up at a shady alcove. Going back a little bit of the trail another way led us to a small waterfall and a steep trail to a hoodoo window we did not take.</p>

<p>Done with the park, we drove east out of it and then went southeast until we entered Kodachrome Basin State Park. We got to our reserved campsite, set up the tent and cooked dinner. Just as we began to eat, we felt rain and got in the car just in time as a heavy downpour started. By the time we finished eating in the car, the rain let up and we took showers. We hung out and talked after that, then went to sleep.</p>
