<andeys-trip-pic class="right" data-trip-pic="pothole-trail"></andeys-trip-pic>

<p>After breaking down camp and leaving Wild River State Park, we headed directly to Minnesota's Interstate State Park. First, we went to the southwest part of the park, but found much of the area under construction, so headed to the northwest side of the park. There, we visited the small visitor center and store, then checked out the Pothole Trail.</p>

<p>We tried to follow the trail signs while going over the rugged rocks, but ended up back at the parking lot. Then, we found more of the trail further down towards the river, leading us to the area where the most impressive potholes existed. We found a variety of the glacial potholes, including wide ones, two combined together to make a formation named Bake Oven and one believed to be the deepest in the world at 60 feet, known as the Bottomless Pit. All the while, we got views across the St. Croix River into Wisconsin.</p>

<p>Soon, we took off to Wisconsin and entered its Interstate State Park. At the Ice Age Interpretive Center, we saw exhibits about the ice age and its effect on the local area. We also noticed free breakfast pastries on a table, apparently for a meeting in the neighboring room, but we didn't take any. After getting information about hiking in the park, we left to hit the trails.</p>

<andeys-trip-pic class="left" data-trip-pic="bottomless-pit"></andeys-trip-pic>

<p>We first checked out the Pothole Trail and found far less impressive potholes than in the park across the river. Next, we hit the Summit Rock Trail, where we could see formations along the river including Devil's Chair and the profile of the Man of the Dalles. Returning to the car on the Echo Canyon Trail, we passed Lake O' the Dalles, where we found people by the shore, enjoying the warm weather.</p>

<p>For our final hike, we took the Silverbrook Trail. It took us past an abandoned copper mine, through the gates onto the former grounds of Silverbrook Mansion, then to a view of Silverbrook Falls. We could not enjoy the waterfall for long, because so many mosquitoes flew around the viewpoint.</p>

<andeys-trip-pic class="right" data-trip-pic="dalles-st-croix"></andeys-trip-pic>

<p>We left the park and headed southeast for a few hours until we reached Wisconsin Dells. We stopped at the Arrowhead Campground there only to find that my campsite did not end up getting reserved. I thought I might be in some trouble finding a place to camp in the highly touristed area, but a search through a guide magazine and phone calls led us to the reasonably priced Red Oak Campground.</p>

<p>Just south of Wisconsin Dells in Baraboo, we found the campground and quickly picked a spot. We did our laundry and still had time to spare, so we drove to downtown Wisconsin Dells to buy tickets for boat tours of the upper and lower dells. We got trip supplies at Walmart afterwards, then returned to camp, where we had dinner, showered and slept.</p>
