<andeys-trip-pic class="right" data-trip-pic="black-bear"></andeys-trip-pic>

<p>We got up to a somewhat cold and cloudy day. After getting ready and breaking camp, we went to the visitor centre in Waskesiu to get recommendations on trails to hike in the park. In between camp and the town, we saw several elk grazing by the roadside. As we headed to our first trailhead at the end of Kingsmere Road, we also spotted a bear browsing roadside vegetation. I stopped the car only long enough to take a picture.</p>

<p>After a short amount of hiking, we crossed the Kingsmere River and encountered a rail portage, used to transport watercraft safely between Waskesiu Lake and Kingsmere Lake. A wooden ramp with rollers helped bring craft onto a rail cart. We walked on and next to the rails and found the cart at the north end of the portage. A short walk from there led us to the Southend Campground and the southern shore of Kingsmere Lake. We had now reached the northernmost point in our road trip.</p>

<andeys-trip-pic class="left" data-trip-pic="rail-portage"></andeys-trip-pic>

<p>Two people greeted us by the lake. They turned out to be visitors from Alberta and had brought their canoe, but wanted to wait for better weather. We joined them and their dog briefly in a fire-warmed hut, then soon parted with them to return down the trail to the parking lot. We then drove back down Kingsmere Road until we reached the trailhead for the Waskesiu River Trail.</p>

<p>A boardwalk led us on an easy walk along the Waskesiu River. At a few points, we saw interpetive signs about the area, with buttons to hear narrated information in either English or French. The signs ended as the boardwalk ended and we continued off of it on the loop trail through a lovely aspen and spruce forest. A quick pace led us back to the car in good time.</p>

<andeys-trip-pic class="right" data-trip-pic="kingsmere-lake"></andeys-trip-pic>

<p>Near the east end of the park, next to the entrance station, we parked for the Boundary Bog Trail. A boardwalk kept us dry as we passed by thick carpets of feather mosses. Signs along the path indicated what we should read from a guide pamphlet we had about the trail. I liked how it described the bog as being &ldquo;like a huge, sopping-wet mattress tossed into a swimming pool.&rdquo;</p>

<p>Dragonflies buzzed around as we passed two higher, dry areas of jack pine and spruce then reached the &ldquo;eye of the bog,&rdquo; actually a fen. Floating mats of plant material made the small lake seem shallower than it appeared. Near there, we also found insect eating pitcher plants, but they did not look that healthy. On the way out, we passed a guided group examing the bog plants carefully. A small lookout tower gave as a overall view of the area before we returned to the car.</p>

<andeys-trip-pic class="left" data-trip-pic="aspen-grove"></andeys-trip-pic>

<p>We went south, then turned onto the Narrows Road and stopped at the trailhead for the Mud Creek Trail, which started right along the south shore of Waskesiu Lake. On this trail, we could see an abrupt change between the dark, shady white spruce groves and the open, airy trembling aspen groves as they met in this transition zone. The loop trail led us back to the car and we continued on the road to the Ice Push Ridge Trail. This short trail just showed us a ridge along the lake shore created by the force of ice.</p>

<p>Near the dead end of Narrows Road, we arrived at the Treebeard Trail. This trail showcased some of the oldest and largest stands of trees. We saw beard-like lichen on dead branches on otherwise living trees. Going on the up and down loop trail, we also encountered plenty of small flowers.</p>

<andeys-trip-pic class="right" data-trip-pic="tree-beard"></andeys-trip-pic>

<p>Done with the longer hiking trails of the day, we returned to the main park road. I thought I had to do a hike to visit the Height-of-Land Tower, but it turned out we could park further south and go right to it, so we did. From the top, we got a view of Waskesiu Lake. Then, further south, we made a stop to hike to the Spruce River Highlands Tower. It took a bit longer, steeper hike to get to it. From there, we saw the Spruce River as it meandered across the land.</p>

<p>We left the park and continued south until we hit the city of Saskatoon. We found the Gordon Howe Campground in the southern part of town and set up our tent there after registering. I had gotten my brother curious to try Vietnamese noodles, so we went out to dinner at Saskatoon Asian. It turned out, though, to have only a blend of Asian foods suited for the largely non-Asian populace. We did have a decent meal, though.</p>

<p>Wanting to get more trip supplies, we drove around town looking for an open grocery store. We found a drug store, but it didn't have what we wanted. Finding nothing open, we wearily made it back to the campground where we showered then slept.</p>
