<andeys-trip-pic class="right" data-trip-pic="ms-headwater"></andeys-trip-pic>

<p>My brother and I woke up to a mostly cloudy day in Fargo. I walked to the bank of the Red River, noticing the good amount of mud in the campsites next to the water. Our tent, on a better drained slope, had mud as well. After getting ready and breaking camp, we left the state and drove across the river into Morehead, Minnesota.</p>

<p>Continuing northeast from the town, we drove until we reached the north entrance to Itasca State Park. We first stopped at the Jacob V. Browser Visitor Center to buy a park day pass and see the exhibits about the park history and ecology as well as the Mississippi River and the tracing of its source to the park. Then, we headed out to see our first good look at Lake Itasca and the pine trees at Preachers Grove. We also took in the view of the lake at Peacepipe Vista.</p>

<andeys-trip-pic class="left" data-trip-pic="bohall-trail"></andeys-trip-pic>

<p>For some history, we visited the Pioneer Cemetary, then took a look at the ruins of the Wegmann Cabin, which once held a post office and a store. Next to it sat a replica. The main attraction of the park came next and we found it quite crowded. I saw people lining up, eager to walk the stones that marked the headwaters of the Mississippi River. My brother and I both crossed too, at separate times. Both of us got a little wet as we tried to navigate a mostly submerged section of the stone path.</p>

<p>We checked out a small exhibit by the headwaters about the river, then got back into the car to go on the Wilderness Drive. For our first stop on the drive, we hiked the short Landmark Interpretation Trail to look around at the less developed section of the park. We noticed a significant windfall, but without the trail guide, which we couldn't find, we found nothing else of particular interest along the path.</p>

<p>As we parked for the Bohall Trail, it began to rain, so we ate lunch instead of hiking. The rain tapered off not long after eating, so we got outside, protected by our rain gear. Despite a slightly flooded path, we made the quick jaunt to the view of Bohall Lake.</p>

<andeys-trip-pic class="right" data-trip-pic="aiton-heights"></andeys-trip-pic>

<p>We had really short walks next when we visited one of the state's biggest white pines as well as its biggest red pine. According to the park newspaper, the red pine had a circumference of 115 inches, a total height of 120 feet and a crown spread of 36.4 feet. Near the red pine, a site marked the spot where scientists had excavated evidence of an ancient bison hunters camp.</p>

<p>For our final stop in the park, we took the short walk to the 100 foot tall Aiton Heights Fire Tower. We made it up most of the way and waited until others got down before we got to the top viewing spot of the metal tower, which stated a maximum safety occupancy of six. From the top, we could see a couple lakes and many trees. A school group arrived eager to climb the 135 steps, so we got back down and returned to the car.</p>

<p>We drove out of the park through the south entrance, passing Mary Lake, then headed south and east through the state. We passed just north of Minneapolis and continued until we reached Wild River State Park, close to the state's border with Wisconsin. We checked out the St. Croix River at the boat ramp, but other than that we just camped there. While trying to keep the mosquitoes away, we ate dinner, showered and slept.</p>
