<andeys-trip-pic class="right" data-trip-pic="boise-cascade"></andeys-trip-pic>

<p>We got up, got ready and broke down camp, then drove northwest to the border town of International Falls. We planned to take the first tour of the day of Boise Cascade's paper mill. However, we still had time before then, so we got some groceries.</p>

<p>At the scheduled tour time, we went to the entrance of the mill. A guide met us at the gate and gave us headphones with receiver, helmets and safety goggles while telling us safety procedures for the tour. She had a microphone so we could hear her voice in our headphones over the loud noises of the plant. One older guy was the only other person in our group.</p>

<andeys-trip-pic class="left" data-trip-pic="rainbow-falls"></andeys-trip-pic>

<p>We pretty much took the tour in the order that paper got processed, starting with the processing of the pulp. We saw it mixing in big cylinders. Next, we went to the press section to see big sheets continuously rolling through. Soon after the guide told us paper breaks rarely happened, an alarm sounded. She talked to another worker and found out a paper break occured. We soon saw it as it flapped on a roll.</p>

<p>Despite the break, other lines continued, and we saw that, after drying, big rolls of paper moved along a floor conveyer and then got picked up by a sizing press. We took a short break outdoors after seeing that, then went into the building housing #1 Paper Machine. Because it had broken for the time being, we could not see it running and consequently, the area was empty of workers. Regardless, she told us about the machine, one of the world's largest and fastest paper machines and what it took to have it custom made.</p>

<andeys-trip-pic class="right" data-trip-pic="petroform"></andeys-trip-pic>

<p>We saw more of the complex machine, walking around, going up elevators and down stairways. Then, we ended up at the sheeter warehouse. There, we could see a working machine, cutting paper into standard sizes. It then stacked the paper and bounded reams so quickly it looked instant. We finished the tour with a look at the area where products got shipped, empty of trucks at the time.</p>

<p>Back in our car, we headed for the border, paying our highest toll yet at US$6. At least after that, we got a greeting at Canadian Customs so friendly that he gave us free pins and magnets with the Canadian flag on them. We passed through Fort Frances and kept going, entering a wilderness of trees and lakes, including views of Lake of the Woods. We then entered Manitoba and took a break as well as obtained information at the visitor center.</p>

<andeys-trip-pic class="left" data-trip-pic="cloth-offer"></andeys-trip-pic>

<p>The exit to Whiteshell Provincial Park came so quickly after the visitor center that we had to turn back to reach it. After a quick stop at a scenic lily pond, we parked at the Alfred Hole Goose Sanctuary and ate a quick lunch in the car. Then, we got out and checked out the building there. It had a window to view geese by a lake. We also took a little of the trail along the water. Curious about a waterfall, we then drove off to see Rainbow Falls. There, we found a low, wide drop with many people enjoying the water on the warm day.</p>

<p>At our next stop, we got out and walked among the petroforms at Bannock Point. The rocks, placed on the ground long ago as outlines of different shapes and figures, are considered sacred to the local Anishinabe people. We could easily identify turtle figures, but could not be so sure about other ones. Hanging on trees near the petroforms, we found various pieces of cloth offerings. We discovered that the petroforms covered a fairly wide area, so we decided to not risk getting lost, turning back after finding what looked like a central place for ceremonies.</p>

<andeys-trip-pic class="right" data-trip-pic="grand-beach"></andeys-trip-pic>

<p>Just outside the town of Seven Sisters Falls, we stopped to look at Whitemouth Falls. Like Rainbow Falls, we found the waterfall to have an unimpressive drop, but enjoyed seeing the birds at the bottom, probably looking to grab fish from the stream. Continuing west, we found the landscape changing to flat prairie, with farms stretching to the horizon. It reminded my brother of Illinois.</p>

<p>By early evening, we reached Grand Beach Provincial Park, where we registered and set up our tent in the campsite we reserved. Then, we went to the west beach and took a relaxing walk, watching people playing in the calm waves of huge Lake Winnipeg. Remains of sand sculptures stood in the sand. We made it to the channel that separated east and west beach, then headed back. After dinner and a shower, we slept.</p>
