<andeys-trip-pic class="right" data-trip-pic="san-xavier"></andeys-trip-pic>

<p>After breaking down camp and having a quick breakfast, we headed south of Tucson to the San Xavier Indian Reservation. There, we went inside Mission San Xavier del Bac, built in the eighteenth century and under renovation at the time of our visit. We looked around the grounds and checked out the exhibits in the small museum. A private function kept the church itself temporarily closed to the public, but we didn't bother to wait until it finished, leaving before it reopened.</p>

<p>Both Songyuan and I had previously visited the Tucson Mountain District of Saguaro National Park, so, out of curiousity, we entered the Rincon Mountain District. After a stop at the visitor center, we took the Cactus Forest Drive to look at the Sonoran Desert landscape and view of Tuscon, making a couple stops for pictures. To see more impressive saguaro cacti and enjoy the place on foot, we walked the short Freeman Homestead Nature Trail, learning about the people who once made the place home.</p>

<andeys-trip-pic class="left" data-trip-pic="armed-saguaro"></andeys-trip-pic>

<p>We drove through the city and, after slightly losing our way downtown, got to Sentinel Peak Park, where we drove to a great view of Tucson and its surrounding mountains. After admiring the downtown views, we drove to the other side of the peak to look at more outlying areas. When we finishing looking around, we left Tucson, heading north.</p>

<p>We stopped at Picacho Peak State Park, with its jagged peak highly visible from the highway, and asked about the time it took to climb the peak. The ranger believed we did not have enough daylight to bag the peak and I agreed, so we continued north until we reached Casa Grande Ruins National Monument to fill our time. I went here on a previous trip, but Songyuan had not.</p>

<p>First, we spent time in the museum and took time to watch the orientation video. Then time came for a guided tour and we gathered with a group of other people for that. Under a shady ramada, the volunteer guide told us about the Hohokam people and their civilization. We then all got up and walked among the ruins, with the guide pointing out tiny shards of Hohokam pottery still lying on the ground.</p>

<andeys-trip-pic class="right" data-trip-pic="tucson"></andeys-trip-pic>

<p>For the rest of the tour, he talked about the Great House, a massive multistory ruin protected by a metal roof. He noted Hohokam construction methods and pointed out portals designed to keep track of astronomical events such as the solstices and equinoxes. The walls of the ruin also had graffiti, some of it quite old.</p>

<p>With the tour over, Songyuan and I explored the grounds, taking pictures. We then re-entered the visitor center. Songyuan took pictures in there, while I went outside and to the other side of the parking lot, where I took a look at the remains of a Hohokam ballcourt. Done with our visit there, we then got in the car and took off north.</p>

<andeys-trip-pic class="left" data-trip-pic="casa-grande-tour"></andeys-trip-pic>

<p>Being the evening before Thanksgiving, I dreaded the traffic I might get in Phoenix. I had an easy time driving into the city, but indeed encountered traffic on I-17 as I left. Fortunately, the volume of traffic reduced quickly as I pushed northward and I made good progress. We turned off I-17 in light traffic and went to Cottonwood, where we entered Dead Horse Ranch State Park.</p>

<p>Unlike other parks, we encountered no place for paying fees or registering our campsite. A sign said that the ranger would contact us later, so we picked out an empty spot and set up our tent. We then had dinner and showered. Songyuan had a chance to download pictures from his camera to his laptop and partially recharged his batteries using the bathroom's electrical outlets. When he finished, we slept.</p>
