<andeys-trip-pic class="right" data-trip-pic="siberts"></andeys-trip-pic>

<p>My brother and I woke up earlier than we had planned, but got ready and broke down camp. We arrived at Wyandotte Caves State Recreation Area too early and had to wait until it opened. Once it did, we signed up for both the Flowstone Falls Tour of Siberts Cave and the Monument Mountain Tour of Wyandotte Cave, with the shorter Flowstone Falls Tour starting first. I found out a reporter from Iowa would also join us for both tours.</p>

<p>Our first guide, a senior citizen with a Southern accent, brought us past the gate of Siberts Cave, while talking about it. The first room had no interesting formations, but showed the original vertical entrance and an abandoned bird's nest. We got to watch bats as they flew around. Up some stairs, we found more interesting formations and a small pond. The prettiest room had sparkling gypsum in the rock and a formation that looked like a jail cell window.</p>

<andeys-trip-pic class="left" data-trip-pic="helactites"></andeys-trip-pic>

<p>Upon leaving through a man-made corridor, we saw plenty of cave crickets on the walls. Almost immediately after returning to the visitor center, we started the Monument Mountain Tour with a younger female guide. Wyandotte Cave had a much larger entrance than the other cave. The first big room had a high, flat ceiling with a pattern roughly resembling a world map.</p>

<p>After looking at old advertisement graffiti, we descended some steps and entered smaller passageways, but I had no problem walking upright most of the time, though my taller brother had to duck more. We paused at an intersection room then got up to a room with a lovely reflective pond known as the Crater Room. A passageway widened long ago with the help of mules brought us past beautiful &ldquo;gardens&rdquo; of twisted helactites.</p>

<andeys-trip-pic class="right" data-trip-pic="ohio-river-view"></andeys-trip-pic>

<p>Throughout much of this tour, we noticed bats flying around. One came quite close to my face. After passing the helactite garden, we entered a grand room and sat down on metal seats. The guide turned off the electric lights to show the luminosity of one candle there. Then, in complete darkness, she told us a ghost story of a young kid who supposedly died in the cave and whose ghost helped two others get out later.</p>

<p>The guide turned on her flashlight and made it up a zigzagging path to the top of Monument Mountain. Up there, she did a little shadow play with her hands that we found amusing. Then, she turned on the lights and we also made it up the path. After looking at the peak, we headed down a steep set of steps. On our way out, we passed a former Odd Fellows meeting place. We looped back to the intersection room and retraced our steps to the big entrance.</p>

<andeys-trip-pic class="left" data-trip-pic="boyhood-panel"></andeys-trip-pic>

<p>My brother and I ate lunch in the car, then drove off. At Leavenworth, I spotted a great view and we stopped to take in the scenery by the Overlook Restaurant of the Ohio River. We hopped onto the freeway then back onto rural roads, passing the town of Santa Claus until we reached Lincoln Boyhood National Memorial, where we parked at the visitor center with its friezes showing Lincoln at the different locations of his life.</p>

<p>We decided to sit down in the theater and watch a film about Abraham Lincoln in Indiana. Both of us recognized the narrator and had confirmation in the credits that Leonard Nimoy did the talking. We checked out a small exhibit after that and also noticed what was probably a wedding party. Back outside, we walked to a flagpole and beyond it a cemetery that contained the grave of Lincoln's mom Nancy Hanks Lincoln as well as other area pioneers.</p>

<andeys-trip-pic class="right" data-trip-pic="boyhood-horse"></andeys-trip-pic>

<p>At the other end of the park stood a living history farm, with a few costumed people doing farm chores. A couple of them greeted us and told us about the place. We took a look at some salted pork in a shed and at the animals, then walked towards the spring. A woman advised us instead to look at a nearby horse and colt, because the spring was capped, so not interesting to see.</p>

<p>On the way back to the car, we took the Trail of Twelve Stones. It displayed stones from places significant in Lincoln's life, including one from his birthplace and one from the White House. I drove out after that until I got near the interstate in the town of Dale. My brother drove the rest of the way, going through some rain and a good show of lightning and thunder. We made it safely home.</p>
