<andeys-trip-pic class="right" data-trip-pic="baldwin-hotel"></andeys-trip-pic>

<p>We got up earlier than we expected to get up and got ready for the day. We took our time in eating a good breakfast, provided as a compliment to our stay at the inn. Soon after finishing, we checked out and Benny got some food at Safeway while I got the car fueled up.</p>

<p>Benny wanted to check out Klamath Falls, so we drove around a bit, first going to Moore Park to see Upper Klamath Lake. I wanted to try the scenic drive in the park, but found it closed to vehicles. We tried the Link River Nature Trail next, but didn't walk far because I didn't find too much of interest there. Before heading out of town, we stopped at Veteran's Park where I took a quick picture of the historic Baldwin Hotel.</p>

<andeys-trip-pic class="left" data-trip-pic="petro-point"></andeys-trip-pic>

<p>In short time, we crossed back into California and drove east through the Lower Klamath National Wildlife Refuge. We enjoyed seeing thousands of birds on the lakes and felt awed watching the large flocks fly overhead. I made a quick stop at a roadside vista point to take a picture. Then, we went to Lava Beds National Monument, getting there by going through the town of Tulelake. After carefully studying a map, I got us to Petroglyph Point.</p>

<p>I parked and, at first, just saw a cliff face under shadow, then I headed close to the north side of the fence and found a dense patch of graffiti. I picked up a booklet about the short trail and found a numbered sign corresponding to a description in the booklet. As I walked along the protected part of the cliff face, I read the information and soon spotted excellent examples of petroglyphs in many places, left by the Modocs from as far back as possibly 4500 years ago.</p>

<andeys-trip-pic class="right" data-trip-pic="balcony-cave"></andeys-trip-pic>

<p>We got back and drove into the main part of the national monument, making quick drives past the wildlife overlooks. At Hospital Rock, we stopped to walk up the paved path up a rock and read signs about the area being used as a field hospital for cavalry in the Modoc War. We then stopped at Canby Cross to look at the cross erected for General Canby, killed by the Modocs during attempts at peace talks.</p>

<p>We returned to the visitor center, where I asked questions about cave tours while Benny watched a video about the park. I also checked out one of the exhibits in the small museum to hear audio of early visitors to the area. Then, we left to walk to Mushpot Cave, a good place to introduce Benny to lava tube caves. On the way, along the paved path, we glanced at displays on the side showing various types of area rocks.</p>

<p>I found Mushpot Cave more developed than my visit there in 1998. It had red lighted strips marking the path and automated lights. Interpretive signs inside highlighted features of lava tube caves using lights activated by buttons. We had to duck to get through one part. Then, we left and headed back to the car, driving the main park road then a dirt road until we reached the trail to Heppe Caves.</p>

<andeys-trip-pic class="left" data-trip-pic="klamath-birds"></andeys-trip-pic>

<p>We walked a fairly uninteresting trail for a short while, then suddenly came upon the huge hole known as Mammoth Crater. Near there, I found a hornito known as the Heppe Chimney. We then found an entrance to Heppe Caves and walked down to near the pool of water at the bottom. After admiring its fairly large space, we returned to the car using the trail.</p>

<p>Benny felt ready to leave the area, but I wanted to stop by just one more place known as Balcony Cave. We parked and walked a little until we got to the easy entrance. Benny stopped just after the first skylight and turned back, but I went on, squeezing through a passage and climbing out of another skylight. We then got in the car and continued on, stopping only for an overlook of the Devil's Homestead Flow and Lower Klamath Lake before getting to Highway 97.</p>

<andeys-trip-pic class="right" data-trip-pic="mossbrae-left"></andeys-trip-pic>

<p>I wanted to show Benny a waterfall in the town of Dunsmuir that I particularly liked, so we stopped there and parked next to the railroad tracks along the Sacramento River. Soon into our hike along the tracks, a cargo train passed, so we stopped until it had gone. We then got to Mossbrae Falls and found a handful of people there enjoying its cooling mist. I took some pictures, enjoyed the sight and then headed back along the tracks to the car.</p>

<p>Just near the ramp for Interstate 5, I made a stop at Hedge Creek Falls Park to show Benny a really easy to see waterfall. After that quick visit, we got back to the road. I had a couple more pictures left, so we made one more stop at Lake Shasta to finish the roll. Besides a stop for fuel, we continued after that until I dropped Benny off near his place in Fremont. I then drove back home.</p>
