<andeys-trip-pic class="right" data-trip-pic="barr-creek"></andeys-trip-pic>

<p>I woke up around sunrise and got ready for the morning as well as starting breaking camp. When Joy and Alex got up to get ready, I finished packing and we headed off, leaving the park. Joy wanted to finish her roll of film, so we decided to stop at a scenic area near Highway 62 in the Rogue River National Forest near the town of Prospect.</p>

<p>A short hike led us through the Boise Cascade Rogue Elk Tree Farm and took us to a great view across a canyon of Mill Creek Falls. Near there, we found another view across the canyon of Barr Creek Falls. Alex and Joy returned to the car, but I took a quick hike on another path just to see the Avenue of Giant Boulders, which had boulders surrounding the Rogue River.</p>

<p>After fueling the car in Medford, we made no more stops until we reached the Lakehead Safety Roadside Rest Area near Lake Shasta in California. We took a break there to eat lunch. When it began sprinkling, we moved to a covered picnic table and continued eating our lunch of sandwiches with chicken spread.</p>

<andeys-trip-pic class="left" data-trip-pic="blue-nile"></andeys-trip-pic>

<p>I fueled the car in Winters then ran into heavy traffic on Highway 80, especially around Fairfield. We had an dinner appointment with our friend Laura and wondered if we would get there in time. Luckily, traffic eased up and we got to the Blue Nile Ethiopian Restaurant just in time. Laura had problems getting there and arrived a little later.</p>

<p>After a pretty good meal, Laura parted with us and I sent Alex and Joy to the Oakland airport for their flight back to Long Beach on Jet Blue. I then went to REI to drop off a sleeping bag rented for Alex, but found that the store closed early for inventory. Finally, I went home to unpack and relax.</p>
