<andeys-trip-pic class="right" data-trip-pic="cleatwood-dock"></andeys-trip-pic>

<p>We had a schedule to keep, so got up not long after sunrise, get ready and ate a quick breakfast of energy bars. On our drive on the western side of Crater Lake, I only stopped briefly for a good view of Wizard Island before continuing on to the parking area for Cleetwood Cove. I felt relieved to get the 10 AM tickets for the boat tour of the lake, unlike on a previous trip to this park.</p>

<p>With a little time to spare before the tour, we went to the Pumice Point picnic area to prepare lunch for later. Then, back at the Cleetwood Cove parking area, we took the mile long trail down to the lakeshore and dock. The tour started a little earlier then scheduled and began going clockwise around the big lake as a park service ranger talked about the lake and passing landmarks such as Llao Rock and Devil's Backbone.</p>

<andeys-trip-pic class="left" data-trip-pic="fume-bay"></andeys-trip-pic>

<p>The boat docked at Wizard Island and gave us an option to disembark, which we did, along with most of the other passengers. Immediately, we got on the trail that took us to the summit of the volcanic island. The trail started with rough big rocks, then turned into packed soil and finally ended as cinder. The summit had a good view of the lake all around and a large crater in the center, half covered in snow.</p>

<p>I made it up quite sooner than my friends, so I walked the rim counter-clockwise, enjoying the view of the lake and the whitebark pines. My friends went clockwise when they reached the top. Along the way, I watched as one person played in the snow in the crater, sliding down it. Not wanting to miss the noon tour boat, we headed back down the trail. I saw a little more time to check out the other island trail to Fumerole Bay, but my friends didn't follow me on that rocky trail.</p>

<andeys-trip-pic class="right" data-trip-pic="old-man-lake"></andeys-trip-pic>

<p>After checking out the lovely colors of the bay, I returned to the dock to find my friends relaxing there. We then took out our lunches of chips, pita bread and hummus and ate until the tour boat arrived. Fortunately for us and the others waiting there, the boat had room for us when other people disembarked. The boat tour resumed from there with a different ranger talking about Crater Lake as seen from various perspectives.</p>

<p>As we headed along the south end of the lake, we passed a couple lovely waterfalls. We also stopped to look at the remains of a tree known as the &ldquo;Old Man of the Lake,&rdquo; floating upright for possibly a hundred years with just a small part above water. A close passing twice let us look at it and the rest of it all the way down into the clear water.</p>

<p>The boat did a full circling of the small, rocky island known as Phantom Ship, then we looked down into the water as we passed suddenly from shallow water to water over a thousand feet deep. Heading north, we saw a rock formation on the rim known as the Pumice Castle. Not long after that, the tour ended back at Cleetwood Cove. We finished our lunch next to the water level gauge shack, then went back to the dock to soak our feet in the cold lake.</p>

<andeys-trip-pic class="left" data-trip-pic="scott-lookout"></andeys-trip-pic>

<p>A one mile climb got us back to the car. Alex and Joy took longer to get back due to Alex feeling a sore on one of his feet that we covered with moleskin. I drove the stretch of road east of the lake until we got to the trailhead for Mount Scott. We had a little snow on the trail in the beginning, but had none to deal with after that.</p>

<p>From the summit, I took a picture of the entire Crater Lake with my wide angle lens, although the angle of the sun reduced the quality. I also looked around at the whole area from this place, the highest point in the park. Joy and Alex arrived a few minutes later and we all relaxed to enjoy the view. After getting back down to the car, we made a short stop at Cloudcap Overlook before returning to camp.</p>

<p>First upon returning to Mazama Village, we took showers, then went to our campsite to cook a simple dinner of noodles with pork sung to add some substance. For dessert, we tried a mini mellon for the first time. Quite tired from an active day, we went to sleep not long after cleaning up.</p>
