<andeys-trip-pic class="right" data-trip-pic="mount-shasta"></andeys-trip-pic>

<p>Benny arrived at my place just as I finished getting my stuff together for the trip. A friend of his dropped him off nearby and we got into my car to go north, with a quick stop first at Andronico's so he could get fresh bread. The sunny sky allowed us to see the beautiful colors of Lake Shasta and its shoreline as we drove past it. I continued without stops almost to Dunsmuir, when I finally made a stop for fuel.</p>

<p>I saw snowy Mount Shasta prominently for quite a long time on my drive, but did not stop until I found a great viewpoint along Highway 97 in the Klamath National Forest, where I saw the best view of the mountain on my drive. We continued on towards Lava Beds, admiring the thousands of birds in Lower Klamath Lake along the way. When we reached the visitor center, we paid the entrance fee and got information about hiking trails.</p>

<andeys-trip-pic class="left" data-trip-pic="callahan"></andeys-trip-pic>

<p>For our first park activity, we went for a hike on the Whitney Butte Trail. At first the trail did not seem so interesting as it took us among the plentiful sagebrush. It got better when we began spotting small purple and white flowers near the ground. Then, I encountered a decent view of Mount Shasta and another more distant snowy peak as well as views of nearby buttes.</p>

<p>Minor pain in Benny's calf had us stopping to rest a couple times in the shade, but not for long. The trail soon took us around the perimeter of Whitney Butte, then ended at an impressive wall of black rock. I realized we stood at the edge of the massive Callahan Lava Flow. After that interesting site, we headed back to the car at a fairly quick pace.</p>

<andeys-trip-pic class="right" data-trip-pic="sym-bridge"></andeys-trip-pic>

<p>To hike the trail, we had parked at a lot right next to Merrill Ice Cave, so I decided to show Benny this cave that I had previously visited. At the entrance, though, he felt uneasy about entering the dark, lonely cave, so I continued without him. I went down a metal platform and down stairs until I reached the ice room only to discover that the ice it once held had almost entirely disappeared. A sign showed pictures of the former ice floor.</p>

<p>I decided next to check out the trail that led to Painted Cave and Symbol Bridge. Walking the path into shallow Painted Cave, I did not spot anything I could clearly note as pictographs. At Symbol Bridge, I didn't spot any either until I got onto the small loop trail just below the natural bridge. I saw some pretty interesting ones down there.</p>

<andeys-trip-pic class="left" data-trip-pic="schon-lookout"></andeys-trip-pic>

<p>For our last activity at the park for the day, we hiked up the short, steep trail to the top of Schonchin Butte. After walking the small loop around near the top, we got onto the outside deck of the fire lookout to enjoy a 360 degree view of the area. Around me I saw a land hugely shaped by volcanic activity, full of old lava flows and dotted with cinder cones. The sun, low on the horizon, somewhat washed out my view of Mount Shasta, though.</p>

<p>As the sun set, we drove north until we reached downtown Klamath Falls in Oregon. Benny checked us into the Best Western Olympic Inn and we helped ourselves to some cookies and milk in the lobby. After looking at the room, we drove to the nearby Applebee's Restaurant to eat dinner. Benny got a combo of chicken and ribs that he split with me. The plate had enough food to get us both full. We then got back to the inn to shower and sleep.</p>
