<andeys-trip-pic class="right" data-trip-pic="lincoln-birth"></andeys-trip-pic>

<p>My brother and I got up over an hour before sunrise so we could get in a full day of activity. We broke camp, ate breakfast, then went on our way to the place near Hodgenville where Abraham Lincoln was born. An Amish buggy passed near us along the way. First, we checked out the impressive neo-classical marble and granite structure housing the log cabin where Lincoln may have been born.</p>

<p>After climbing the steps and seeing the log cabin, we visited the Sinking Spring, the source of water for Tom Lincoln and his family. From the site of the landmark boundary oak, we walked on a trail through the woods then continued on the other side of the memorial building on a boardwalk trail. We ended our visit watching a somewhat cheesy film about Abraham Lincoln's first years of life.</p>

<andeys-trip-pic class="left" data-trip-pic="knob-creek"></andeys-trip-pic>

<p>A brief drive northeast led us next to the Knob Creek Farm, where Abraham Lincoln stayed until seven years of age. There, a ranger talked to us about the sixteenth president's time there as well as about the park itself. We took a look at a reconstructed log cabin, which showed signs of deteriorating, then walked over to Knob Creek. After a quick walk of the grounds, we went on our way again.</p>

<p>We drove country roads to the town of Loretto, where we stopped at the Star Hill Farm, home of Maker's Mark Distillery. Apparently, we arrived just in time for the first tour of the day and joined the group as they crossed a little covered bridge over Whisky Creek to an old retail whisky store. Our tour guide started with a brief talk about the history of the distillery, including how it got its name and mark.</p>

<andeys-trip-pic class="right" data-trip-pic="ferment-vat"></andeys-trip-pic>

<p>The guide soon led us into the Still House, where we saw an antique rollermill and the stills used in the making of bourbon whisky. In the fermentation room, we saw large vats filled with sour mash, which we got to try. It felt like thick oatmeal and tasted quite sour. We saw that the vats were quite deep when we looked into an empty one. I could also see their depth by looking down through the floorboards.</p>

<p>We saw the bottling machine and wax dipping area, then glimpsed into a printing room. We continued to the bonded warehouse where we saw stacks of barrels helping age the whisky. Our guide discussed what makes their whisky a bourbon and showed as a sample used barrel, cut away to show how far the liquid seeped into the wood. The tour ended soon after that and my brother and I stopped to look at the creek and antique fire station.</p>

<andeys-trip-pic class="left" data-trip-pic="derby-circle"></andeys-trip-pic>

<p>Back at the visitor center, we saw someone dip their souvenir bottle into wax to make their own seal. She did a good job. We also got free pink lemonade and a sample of bourbon chocolate topped with an almond. After that, we left and took country roads then eventually the highway until we reached the horse racing track Churchill Downs in Louisville, where we visited the Kentucky Derby Museum.</p>

<p>We went through old starting gates and viewed exhibits about the history of the derby tradition, but stopped to take a guided tour of Churchill Downs. First, we went over to a paddock to see the resident Thoroughbred, who relaxed in a stall along with a companion miniature horse. A caretaker brought them outside for us to see them better. The guide then mentioned the name plaques above us, noting the winner of the race for each year since the derby began.</p>

<andeys-trip-pic class="right" data-trip-pic="church-downs"></andeys-trip-pic>

<p>The corridor that leads horses to the track took us to a view of the groomed dirt course. We could see the winner's circle, the signature twin spires, the Grandstand and the renovation of premium viewing seats. After the talk ended and we took pictures, my brother and I took a break to eat a quick lunch. Back in the museum, we sat in the theater to watch the film <em>The Greatest Race</em> on a 360 degree screen that had us turning in our seats to follow it.</p>

<p>We continued with the exhibits, viewing archived films of past races, testing our derby knowledge by computer quiz, learning what makes good racehorses and reading about the different people involved in making a race happen. We both passed a test of endurance for sitting in race position on a horse model for the length of a race. Then, we looked at exhibits dedicated to Triple Crown Winners.</p>

<andeys-trip-pic class="left" data-trip-pic="big-base-bat"></andeys-trip-pic>

<p>While about to leave, my brother realized the museum had a publicly accessible upstairs, so we went up there to find an exhibit about the architecture of Churchill Downs over the years. Near that, judged student photos showed pictures of Louisville. An interactive exhibit taught how the process of pari-mutual betting works. We checked out the first electronic gate used in the races then saw a room exhibit about African Americans in the history of the derby.</p>

<p>Finally, we saw an exhibit honoring ferriers, with horseshoes nailed to the wall and a video showing the process of hoofing. We got in the car and headed downtown near the Ohio River. Parking for a short time, we got out just to take pictures of the giant 120 foot tall baseball bat next to the Louisville Slugger Museum. With that out of the way, we crossed the bridge into Indiana.</p>

<p>Following signs, we made our way to Harrison-Crawford State Forest, where we set up camp at Wyandotte Woods. With free time and daylight left, we checked out two places near the Ohio River. One had a limited view, but access to the shore that we did not take. The other one had a great view across into Kentucky, where we saw a farm. We cooked dinner at camp then relaxed a bit. It started to rain, so we made it to our tent to sleep.</p>
