<andeys-trip-pic class="right" data-trip-pic="lions-gate"></andeys-trip-pic>

<p>After waking up and getting ready, we ate the complementary breakfast offered by the hotel. Quite full, we took my car and drove west to Stanley Park. I had hoped for better weather, but decided to go anyway to see some of the park's attractions. At least we could see the skyline of the city through the mist.</p>

<p>For our first stop, we checked out the totem poles. HaoFeng went ahead and bought a small one at a gift shop. We made a quick stop at Brockton Point to look at the lighthouse there. At Prospect Point, we made a longer stop to enjoy the view of the Lion's Gate Bridge. Finally, we stopped to look at an old, burnt cedar known as the Hollow Tree before slowly driving out.</p>

<andeys-trip-pic class="left" data-trip-pic="cockatoo"></andeys-trip-pic>

<p>The weather began clearing up. HaoFeng next wanted to go to Vancouver General Hospital to ask for forms related to health insurance. After a short time there, we then continued south until we got to Queen Elizabeth Park. We took a look at the view there, from the highest point in the city, as well as some statues and a clock, then entered the warm and humid Bloedel Conservatory.</p>

<p>Immediately after paying admission and entering, we spotted some beautiful flowers. At least inside the dome, blooms could occur in February. Soon, we also spotted and heard tropical birds sitting on branches. Pheasants walked around on the ground. We watched a cockatoo pick up a cup and try to eat the food from it, spilling a bunch of it in the process.</p>

<andeys-trip-pic class="right" data-trip-pic="bloedel-bloom"></andeys-trip-pic>

<p>The sun shined brightly as we exited the dome and headed for the car. We then took off for nearby Sun Sui Wah Restaurant, parking in its underground lot. There, we enjoyed a great meal of dim sum, selecting tasty items off the carts the wait staff rolled by.</p>

<p>We decided to head for the city of Richmond next, just south of Vancouver. While driving down No. 3 Road, HaoFeng wanted to stop at a mall to get some idea of life in this area heavily populated by Chinese, so we did. We walked around some and he stopped at a sunglasses shop to buy a pair of clip-ons to put on his eyeglasses.</p>

<andeys-trip-pic class="left" data-trip-pic="salmon-boat"></andeys-trip-pic>

<p>Continuing our drive south and west, we then parked to visit Steveston Village. Mainly, we walked around the docks, noticing salmon for sale directly from the boats. We also stopped in a couple shops, but didn't buy anything. HaoFeng sat down to take a break, then I asked a store worker about the location of the Buddhist temple and we headed off for it.</p>

<p>We both felt surprise as soon as we saw the temple. It was far larger than we had imagined for a temple in North America. We passed by a row of statues, then entered a picturesque Chinese garden with pools, fountains and a bridge. Going further into the grounds, we found an impressive statue of a thousand-hands-thousand-eyes buddhisattva.</p>

<andeys-trip-pic class="right" data-trip-pic="rich-temple"></andeys-trip-pic>

<p>We next entered the Gracious Hall through its automatic sliding doors. Inside, we heard monks chanting and drumming in front of statues of Buddha. Back outside again, we checked out more statues and shrines. One building held ancestor tablets, which we quietly visited. In the back, we saw the large Meditation Hall, closed to us at the time.</p>

<p>After enjoying much of the detailed religious artwork on the temple grounds, we left as daylight faded and returned to the mall we visited earlier. There, we had a simple dinner at the food court. Done for the day, we then returned to our hotel, where we relaxed, watching television. We then showered and slept.</p>
