<p>We woke up earlier than planned, but got up and got ready anyway, eating what we had on hand for breakfast. After checking out, we drove northwest until we reached the parking lot for the Boeing Tour Center. Having arrived a bit early, we just waited in the warm car while eating some of our car snacks.</p>

<andeys-trip-pic class="right" data-trip-pic="guitar-art"></andeys-trip-pic>

<p>When the ticket office opened, we lined up along with a few others that had arrived and got tickets for the first tour of the day. With some time to spare, I looked at the small displays in the office that explained the history of Boeing. Around the tour time, we got led into a theater. Our guide introduced herself, then we watched a movie showing the assembly of a wide body aircraft, with about seven months compressed into seven minutes.</p>

<p>Right after the film, we got onto a bus, which drove us to the enormous building housing the production facilities for the 747, 767 and 777 planes, stated by the guide as the largest building in the world by volume. We entered a long utility corridor and then went into a large elevator, where we ascended to the observation level on the third floor.</p>

<p>Below us, we saw the huge factory floor with two airplanes in different stages of completion, one being an Air France cargo plane. Near the ceiling, we saw one of the large cranes on support tracks used to move parts around. Finally, we stopped back by the elevator again and took a good look at a narrow cross-section of a real plane before heading back down, through the corridor and out the building.</p>

<andeys-trip-pic class="left" data-trip-pic="rainier-view"></andeys-trip-pic>

<p>The guide told the bus driver where to go while telling us about other buildings, like one where planes get painted. She also pointed out the planes sitting outside, nearly ready for customers to take and talked about how purchases get financed as well as interesting customer requests. We then returned to the tour center and HaoFeng and I left for Seattle, returning to the same parking lot we used the day before, by the Seattle Center.</p>

<p>We headed directly for the Experience Music Project, first looking downstairs, then going up to buy tickets and enter the &ldquo;Sky Church&rdquo; with its music, coordinated colorful moving lights and wall of video screens. Next, we checked out the sculpture of guitars and other instruments called &ldquo;Roots and Branches.&rdquo; I put on headphones to hear the live music it played using electronically controlled picks.</p>

<andeys-trip-pic class="right" data-trip-pic="needle-deck"></andeys-trip-pic>

<p>We picked up the gadgets known as MEGs or Museum Exhibit Guides and headed for the Guitar Gallery. There, using my MEG, I heard about the history of the quintessential rock 'n' roll instrument while looking at displayed guitars. I could enter a number displayed next to a guitar into my MEG and hear an audio sample of that instrument. I started from the beginning of guitars to a couple of the most modern ones.</p>

<p>Next, we entered a gallery of photographic images of Bruce Springsteen and lonely highway images. While looking at the displays noting Springsteen's connection with roads and cars, I listened to music on the MEG from his album <em>The Ghost of Tom Joad.</em> We moved onto another gallery next, listening to and seeing exhibits chronicling the history of music in the Northwest.</p>

<andeys-trip-pic class="left" data-trip-pic="intl-fountain"></andeys-trip-pic>

<p>Upstairs, we found the Sound Lab, where I tried to play a guitar with the help of an electronic guide and also tried out a keyboard. HaoFeng had some fun with the drums. The place was filled with kids trying other interesting devices, so we decided to continue on to the extensive exhibit about Jimi Hendrix, which had collections of his early artwork, paper with his writing of lyrics and parts of guitars he destroyed.</p>

<p>The Milestones Gallery nearby talked about the evolution of rock 'n' roll with MEG samples of the early music. A somewhat separated section there featured the artists Eric Clapton, Janis Joplin and Johnny Cash. One place we did not go let people pretend to sing on stage in front of an audience. HaoFeng did not feel up to doing that. We then left the museum and went to the food court where we ate some pizza.</p>

<p>Outside again, we noticed the lovely weather and decided to take a ride up to the observation deck of the Space Needle. At the top, we found a great view that included the impressive snow covered Mount Rainier. I took pictures all around the outer, outside ring, walking around a couple times, then went indoor for a more relaxed enjoyment of the view.</p>

<andeys-trip-pic class="right" data-trip-pic="tac-narrows"></andeys-trip-pic>

<p>Done seeing the incredible view, we returned to the ground and walked around Seattle Center to see the arches of the Pacific Science Center, then watched the International Fountain as it coordinated its spray of water to music. We then got back to the car and left Seattle. When we arrived in Tacoma, we exited the highway to go to Point Defiance Park. We did not figure out the direct way there, so ended up turning on a bunch of streets, but eventually found the park.</p>

<p>The drive on the park road gave us good views of Puget Sound and a couple islands, the Narrows bridge and Fort Nisqually. Without problem, we found the road back to the highway and continued south as darkness fell. We turned west through Olympia and then south on dark roads until we finally reached Cape Disappointment State Park.</p>

<p>There, we found the yurt we reserved with a key in an envelope with my name. I turned on the lights and heater after entering the cylindrical hut with its conical roof. HaoFeng set up his water heater so we could have noodles for dinner. After eating, we went to sleep.</p>
