<p>After waking up and clearing out of our yurt, we returned the key to the camp host and left the campground. We then drove down to the beach parking lot and enjoyed the beach scene with its seabirds, yellow flowers and rock strewn shore. Soon, we left the park and headed south, crossing into the state of California.</p>

<andeys-trip-pic class="right" data-trip-pic="yurt"></andeys-trip-pic>

<p>Other than one scenic coastal highway viewpoint, I kept driving until we reached the turnoff for the Coastal Drive in Redwood National Park. The road followed the Klamath River, becoming narrow and increasingly rough. It then turned to follow the coast, staying high above it. We passed what appeared to be a farmhouse, but it was actually a disguised World War II radar station.</p>

<p>A short spur road took us to the High Bluff Overlook, where we walked down a little path to a good view over the ocean. After enjoying that view, we continued on the unpaved drive until we hit the Newton B. Drury Scenic Parkway in Prairie Creek Redwoods State Park. Continuing south on that road, we then stopped at the park visitor center, but found it had not opened yet.</p>

<andeys-trip-pic class="left" data-trip-pic="harris-beach"></andeys-trip-pic>

<p>Not much further south, off Highway 101, we turned onto Davidson Road, an unpaved road with plenty of potholes. Eventually, we got to the beach and continued north. This road had less potholes, but did have two creek crossings which I had no problem driving over. We parked at the end of the road and started our hike to Fern Canyon.</p>

<p>I enjoyed the short walk along Home Creek towards the canyon, then the trail entered the canyon and the scene became spectacular. Lush ferns blanketed the steep walls on both sides. Water constantly dripped along the walls, flowing lightly at some points. We had to keep crossing the creek to continue into the canyon. HaoFeng decided to take off his shoes and socks to wade barefoot and found the water not too cold.</p>

<andeys-trip-pic class="right" data-trip-pic="fern-canyon"></andeys-trip-pic>

<p>We took in the scenery for a while, then returned to the car and drove the rough roads that would get us back to Highway 101. We stopped at the information center for Redwood National Park next, near the town of Orick, where I obtained a permit to access the Tall Trees Trail. HaoFeng wanted to look around the center for a little bit, so we did, then we left.</p>

<p>A drive down Bald Hills Road took us to the gate to access the Tall Trees area. I got out to enter the access code on the lock, but found I didn't need to do that and merely opened the gate. We drove through and found ourselves going down a fairly rough road made a bit slippery from the light rain. Fortunately, it did not rain when we reached the trailhead.</p>

<andeys-trip-pic class="left" data-trip-pic="tall-trees"></andeys-trip-pic>

<p>The trail immediately took us downhill through the forest. We continued to descend until we began seeing the redwoods, starting with a couple burn scarred ones. At the bottom of the trail next to Redwood Creek, we stopped and took a picture of arguably the tallest tree in the world. We then took some time to enjoy the ambience of the creek and redwoods.</p>

<p>The relaxing ended and we hiked fast up the trail. It began to rain just after we reached the car. We took off and drove back to Highway 101. South we went, making no more stops in the area. I thought of taking a quick look at a waterfall I thought I saw while passing through Smithe Redwoods State Reserve, but decided not to turn back for that.</p>

<p>Darkness came and we continued on Highway 101 until we reached San Rafael, where we turned off to the Richmond Bridge. Soon after that, we got to Berkeley and my place. HaoFeng took his stuff out of my car and into his car, then we walked to Taiwan Restaurant to have dinner. He left afterwards and I returned home to rest.</p>
