<andeys-trip-pic class="right" data-trip-pic="north-head"></andeys-trip-pic>

<p>After waking up, we got our stuff out of the yurt and drove off, stopping to give the key to the campsite office. I then stopped at a plaque that I found commemorated the Corps of Discovery's passage through the area as they arrived at the Pacific Ocean in 1805. One more brief stop took us to a path that led us to the North Head Lighthouse, where we saw the ocean and the entrance to the Columbia River.</p>

<p>I had wanted to visit the lighthouse at Cape Disappointment and the Lewis and Clark Interpretive Center, but I did not want to wait for the road to those places to open. Instead, we left the park, following the shore of Willapa Bay, then went onto the Astoria-Megler Bridge that crossed the Columbia River into the state of Oregon.</p>

<andeys-trip-pic class="left" data-trip-pic="astor-column"></andeys-trip-pic>

<p>In Astoria, I followed the signs that led me up higher and higher until I reached the Astor Column on top of Coxcomb Hill. Already, we had great views from the parking lot. Then, I climbed the 164 steps inside the column to a tremendous outdoor view of the whole area with its rivers and hills. Back down the steps, I took a look at the impressive artwork on the outside of the column, illustrating scenes from Oregon history.</p>

<p>I checked out a northwest tribal canoe near the column, then we took the car back down the hill and, in the historic part of town, passed by the beautiful Victorian Flavel House and nearby old County Jail. We continued out of town and soon reached Fort Clatsop National Memorial, where Lewis and Clark had wintered after they reached the ocean.</p>

<p>We passed through the visitor center and went directly to the 1955 replica of Fort Clatsop, looking in the four rooms of the small structure. Then, we walked over to the place where the Corps of Discovery is believed to have landed their canoe. Back towards the fort and passing it, we saw the spring where the camp got its fresh water.</p>

<andeys-trip-pic class="right" data-trip-pic="ft-clatsop"></andeys-trip-pic>

<p>We returned to the visitor center to see displays about the expedition as well as of the local natives of the past. At HaoFeng's request, we also caught the later half of a film about the expedition. When done looking around there, we drove up to the town of Warrenton to eat lunch at Subway. Then we stopped at Fred Meyer to buy food for the rest of our trip. I tried self-checkout for the first time.</p>

<p>The long, slow drive along the Oregon coast continued as we drove Highway 101 south. In Tillamook, I only stopped long enough to take a picture of the Tillamook Cheese building with its bright white, blue and yellow colors. HaoFeng had no interest in cheese, so we didn't go inside to see cheesemakers and packagers at work. Just south of there, I left the highway and started on the Three Capes Scenic Drive.</p>

<andeys-trip-pic class="left" data-trip-pic="cape-meares"></andeys-trip-pic>

<p>At the first cape, Cape Meares, I stood atop a great cliff, then visited the lighthouse there and the Octopus Tree, an impressive Sitka spruce. Then at the next stop, Cape Lookout, we just got out to take a quick look at the cape and the windblown trees. Cape Kiwanda I missed, not seeing a sign, but then turned back to check out an interesting offshore rock, finding that to be the cape area.</p>

<p>Back on Highway 101, we continued south until we reached Devil's Churn in the Cape Perpetua Scenic Area. There, we parked and walked down to watch waves crash in a narrow fissure between black rocks. After navigating the slippery shoreline rocks, we returned up to the car and drove a road that led us to a grand high view of the coast.</p>

<andeys-trip-pic class="right" data-trip-pic="devil-churn"></andeys-trip-pic>

<p>I made my last stop at the Heceta Head Lighthouse as the daylight faded. Tired HaoFeng stayed in the car while I made a quick walk past the historic lightkeeper's house to the lighthouse itself. I enjoyed the view from there, then returned to the car. We continued with the drive, making no more stops due to lack of light. I would not get to look at the Oregon Dunes as I had hoped.</p>

<p>After plenty of winding road and a few coastal bridges, we reached our destination for the night, Harris Beach State Park. I got to the camp host just in time before he retired for the night and registered for the yurt I had reserved. Once I had the key, HaoFeng and I went to the yurt and put our stuff inside, including the water heater we then used to make simple noodles for dinner. After eating, we went to sleep.</p>
