<andeys-trip-pic class="right" data-trip-pic="shasta-viewpt"></andeys-trip-pic>

<p>Joy and Alex had arrived by airplane the day before and had spent the night at my place. Despite any of us getting much sleep, we managed to start our drive around 6:30 in the morning. The traffic flowed well as we headed north into the Sacramento Valley. Joy and Alex slept in and out of slumber. I stayed alert with the help of good music and snack food.</p>

<p>As we passed Redding, we spotted the spire of the new Sundial Bridge to our left. Then, the freeway took us up in elevation and by Lake Shasta. When we arrived in Dunsmuir, we took a break from the road, getting out for a short walk to Hedge Creek Falls, located quite close to the freeway ramps.</p>

<andeys-trip-pic class="left" data-trip-pic="sun-notch"></andeys-trip-pic>

<p>Mount Shasta loomed dramatically for part of the drive and we stopped to admire its grandeur at a rest stop along Highway 97. At a gas station north of Klamath Falls, where we fueled up, electrical problems slowed the pump rate considerably. After a few tries, the attendant figured out how to get the flow back up.</p>

<p>By the early afternoon, we arrived at Crater Lake National Park. First, we registered for a campsite after spotting an available shady one. The nightly rate for the Mazama Campground had gone up considerably since my last visit. We set up camp and ate a fairly quick lunch of tuna at our site's picnic table.</p>

<andeys-trip-pic class="right" data-trip-pic="pinn-vents"></andeys-trip-pic>

<p>We made our next stop at the Steel Information Center, where I asked about trail conditions. I wanted to hike Mount Scott the next day and found that the trail to the top opened just that afternoon. This day, though, we would take it easy after the long drive, so we went to Sun Notch to get our first view of the lake, stopping at Vidae Falls on the way.</p>

<p>After a short walk and some exploring I found a beautiful view of the lake for Joy and Alex to see it for the first time. We walked along the rim to see more perspectives of the lake and the two islands on it, then returned to the car. I took them to Kerr Notch for another lake view, then we drove to The Pinnacles, away from the lake, to see the pointy rock formations there.</p>

<p>We headed to Rim Village for more lake views and a look at the Crater Lake Lodge at Alex's request. We then browsed the gift shop before heading back to the campground. Back at our site, we made a simple dinner of noodles, then took a leisurely walk around the campsite, enjoying views of Annie Creek Canyon. When we arrived back at our camp, we got ready for bed and eventually slept.</p>
