<p>My brother Steven and I started on the road just after sunrise with a send-off from our parents. Steven drove until we reached the Indiana welcome center, where we took a short break. I then continued the drive all the way to Bowling Green in Kentucky, paying tolls along the way.</p>

<andeys-trip-pic class="right" data-trip-pic="mobilgas"></andeys-trip-pic>

<p>We stopped at the National Corvette Museum to get information on getting to the nearby assembly plant. We drove over there after eating lunch in the car. In the parking lot, I noticed the absence of any foreign auto brands and was not surprised to see mostly General Motors vehicles. After a short time in the waiting room, a guide put a bunch of us together for a tour.</p>

<p>First, we watched a safety video. It told us visitor rules, but also showed what employees must do for safety. The tour consisted of quick walks past stages of assembly with stops for explanation and questions answered. Many workers appeared to be on break, so we didn't see much action. At one notable stop, we saw the part where the engine merged with the frame.</p>

<andeys-trip-pic class="left" data-trip-pic="pace-cars"></andeys-trip-pic>

<p>Near the end of the tour, we saw somebody testing one Corvette's performance in an enclosed room with computer monitors. After seeing where problems with the cars got diagnosed and fixed, we headed back to the National Corvette Museum. We skipped the film and went to the exhibit about the sports car's history, passing by displays of past models in different settings, like in a Mobilgas Station with Pegasus logo.</p>

<p>Continuing on, we saw exhibits about the design process for the Corvette, which showed a couple examples of concept cars that never made it into production. Then, we entered a large circular room with a spire in the middle. The room contained an interesting collection of Corvettes, such as Roy Orbison's car and pace cars from auto races. The spire itself contained a collection of items in tribute to race car driver Dale Earnhardt.</p>

<andeys-trip-pic class="right" data-trip-pic="grn-riv-ferry"></andeys-trip-pic>

<p>We both grabbed free posters, quickly browsed the gift shop, then left the museum. I mailed off a postcard then we drove to Mammoth Cave National Park, first setting up at our reserved campsite in the Headquarters Campground. With some time to spare, I took us to the historic Good Spring Baptist Church in the park, just of out curiosity. The short drive there included a car ferry across the Green River.</p>

<p>For some relief from the heat, we browsed the gift shops at the Mammoth Cave Hotel, then headed back to camp. There, we cooked and ate a simple dinner of soup. We relaxed for a bit, then made it to the campfire circle to see a slide show presentation by a ranger about the scientific research done at the park. After that, we got ready for sleep and retired in the tent.</p>
