<andeys-trip-pic class="right" data-trip-pic="crescent-dune"></andeys-trip-pic>

<p>I started a little later than I had hoped in picking up Ben and Arlene from their place, because I made a stop at a bank and gas station. We soon got on our way when I arrived, with Arlene driving the first leg of our long drive. Next to I-5 at Lost Hills, we stopped for fuel and to eat the sandwiches we brought. Ben started on the next part of our drive after this, taking us through Tehachapi Pass.</p>

<p>On highway 58, we enjoyed the sight of Joshua Trees as we descended into the desert. As we headed north on highways 14 and US-395, we started seeing flowers and people stopped on the side to photograph them. At Olancha, we filled up on fuel and then I started the drive east to Death Valley National Park. For our first great look at the Panamint Mountains, I got off onto an unpaved road to the view at Father Crowley Vista Point.</p>

<p>Soon after passing Stovepipe Wells, we parked by the &ldquo;Sand Dunes&rdquo; sign and started our hike towards the dune that caught my attention the most. It had a beautiful crescent shape sharply defined by the long shadow of the late afternoon sun. Also, it turned out to be the highest point in the dune field. I went to the very top, but Arlene and Ben stopped just below along the ridge to just relax and enjoy the view.</p>

<andeys-trip-pic class="left" data-trip-pic="blister-beetle"></andeys-trip-pic>

<p>I joined the two after checking out the top and then noticed an Arizona blister beetle labor to get up the sandy slope and head towards me. We decided to let the insect go wherever it wanted and get out of its way. After watching the sun fall behind the mountains, we made our way back. I took the steep, fun way down the dunes. Ben and Arlene did the same thing for our last significant slope.</p>

<p>As the sky darkened, we headed east out of the park through Daylight Pass until we reached Beatty. After fueling up, we looked for our motel, the Amargosa River Inn, but could not find it. I called their number and then found out that the motel's name was the Phoenix Inn. The AAA guidebook had made a mistake. We got in our room, relaxed, showered and slept.</p>
