<p>After breaking camp, Chris and I headed over to the Rest Stop near the campground to look at the Rogue River and read a little about the Applegate Trail on big interpretive displays. We got fuel in Grants Pass, then continued our trip north over passes and through valleys until we reached Salem. We drive directly to the Oregon State Capitol building just to take pictures.</p>

<andeys-trip-pic class="right" data-trip-pic="or-state-capitol"></andeys-trip-pic>

<p>Soon we headed into the Cascade foothills, ending up at Silver Falls State Park. From Parking A, we set off to hike the Trail of Ten Falls. Quickly, we reached South Falls, a sight that impressed me immediately. We made our way to different viewpoints to take pictures, including from the alcove behind the falls. The crowds thinned out considerably as we continued along Silver Creek to Lower South Falls. I saw many salmon berries growing by the trail. Someone else tried one and exclaimed it had a sour taste.</p>

<p>The trail dropped to Lower South Falls and then gave us the opportunity to walk behind it just like the other waterfall. After a bit of a walk, we then reached unimpressive Lower North Falls and continued past it ont o a spur trail that led us to tall Double Falls. Back on the trail, we passed relatively little Drake Falls then took another spur that led us behind lovely Middle North Falls, where we took a break to eat.</p>

<andeys-trip-pic class="left" data-trip-pic="south-falls-side"></andeys-trip-pic>

<p>I did not care much about Twin Falls, but enjoyed the particularly dramatic alcove at North Falls further on. It had great, cool places to sit and enjoy the view of the falls from behind. The trail climbed with a series of steps to a parking lot. After taking a break, we continued under the highway to Upper North Falls, where we found plenty of people enjoyed the large pool at the base of the falls.</p>

<p>We saw nine of the ten falls at this point and headed on the return loop using the Rim Trail. A cutoff trail gave us access to Winter Falls. Chris did not feel like going down the moderately steep trail to see these falls, but I did. True to its name, it did not have an impressive flow in summer. I met up with Chris again returning uphill and we finished up the Rim Trail to Parking A.</p>

<andeys-trip-pic class="right" data-trip-pic="salmonberries"></andeys-trip-pic>

<p>We went into the campground and set up our tents, finding we had some leisure time. I checked out a nearby covered foot bridge over the South Fork of Silver Creek and checked out the amenities. After showering and eating dinner, we headed to the amphitheater for a slide show and talk about the natural creation of the park's waterfalls involving volcanoes and floods.</p>

<p>Kids volunteered to make sounds with noisemakers given by the docent whenever she mentioned eruptions or waterfalls. She also handed out igneous and sedimentary rocks as well as tools created by Native Americans in the area. Night finally fell soon after the show and we went back to our camp to sleep in our separate tents.</p>
