<andeys-trip-pic class="right" data-trip-pic="maligne-cyn"></andeys-trip-pic>

<p>Not long after sunrise, we checked out of our suite at Patricia Lake Lodge and took a quick look at the two nearby lakes, Patricia Lake and Pyramid Lake. Both shorelines had great views of Pyramid Mountain. Pyramid Lake also had a resort. We then headed south through the townsite of Jasper, heading towards Maligne Lake. Along Highway 16, we spotted an impressive male elk and stopped at an intersection to look.</p>

<p>On Maligne Lake Road itself, a moose showed up and crossed the road, taking its time. After a quick stop at a viewpoint, we parked the car to hike the Maligne Canyon Trail. From the first bridge, we already had a great view down the deep, narrow canyon. Continue on the upper trail, we found a lovely waterfall and a second bridge. A couple viewpoints later we found ourselves at the parking lot again.</p>

<p>We perused the gift shop, then headed back to the first bridge to take the lower trail. The third bridge had a great view of another of the Maligne River waterfalls. We continued downhill next to the canyon until the fourth bridge. I decided we should turn back at this point, because the canyon seemed to widen and the river seemed to calm down.</p>

<andeys-trip-pic class="left" data-trip-pic="maligne-tours"></andeys-trip-pic>

<p>Back in the car, we drove south until we saw Medicine Lake, where we quickly stopped to take pictures. This lake fluctuates dramatically in height throughout the year and we could see that its southern section had partially dried up. Continuing south, we found Maligne Lake and the end of the road. We parked and walked toward the Day-Lodge, first stopping at the bridge over the Maligne River to look the view and Harlequin Ducks.</p>

<p>We continued walking to more views of the lake and its surrounding mountains. At the Day-Lodge, we perused the shop, then went back outside to look at a model of Maligne Valley. A tour boat left the dock to take people to Spirit Island, far away out of sight for us. For us, though, we went back to the parking lot to eat lunch at a picnic table, then leave the area. As we left, we found people in stopped cars watching three bears in the brush.</p>

<andeys-trip-pic class="right" data-trip-pic="tramway-view"></andeys-trip-pic>

<p>Near the north of of Maligne Lake Road, we took a short side road to the fifth bridge of Maligne Canyon. We did not find the canyon that impressive at this point, but found the suspension bridge of minor interest. After fueling the car, we parked on Connaught Drive again in the townsite of Jasper and went into the Information Centre. I waited patiently to ask for information while the others checked out the shops.</p>

<p>Even though the weather was not as good as the day before, we went ahead and rode the the Jasper Tramway up. We still had tremendous views of the area and its many mountains, including the impressive Mount Robson. Below us, we clearly saw Jasper townsite and the Miette, Athabasca and Maligne Rivers as well as several lakes. I went on the short, steep trail to the summit of The Whistlers, but the others did not follow.</p>

<andeys-trip-pic class="left" data-trip-pic="crowfoot"></andeys-trip-pic>

<p>When we got down from the cold, windy mountain top and back to the car, we headed south onto the Icefields Parkway. This time, we only made a couple stops. I got a photo of Snowbird Glacier and then later one of Bow Glacier and its waterfall from the Num-Ti-Jah Lodge by Bow Lake. Finally, we stopped for a photo of Crowfoot Glacier, not obscured by fog on this visit.</p>

<p>On returning to Banff townsite, we headed downtown to East Express for inexpensive Japanese noodle and rice dishes. Peggy saw this place a couple days before and wanted to try it when we got back to the area. We then went back to the condo to relax after the long drive from Jasper. We did some planning for the next day, I got some postcards written, then we went to sleep.</p>
