<andeys-trip-pic class="right" data-trip-pic="tower-glass"></andeys-trip-pic>

<p>For the first time on the trip, we had some light rain. It made for an interesting view in Canmore of The Three Sisters mountains cloaked in clouds. Originally, I was going to go to Canada Olympic Park first when we reached Calgary, but we got done packing, loading the car and checking out so quickly that we had an hour to spare before the place opened.</p>

<p>We headed downtown to Calgary Tower, bought tickets and took the elevator up. The observation level still had good views despite the inclement weather, though we could not see the distant Rocky Mountains. One section had a glass floor, where we enjoyed views of the downtown skyscrapers through the side and bottom windows.</p>

<p>After enjoying the view, we headed to Canada Olympic Park and signed up for the full self-guided audio tour of the complex. We first checked out the flags outside in the plaza, representing each country that used the park. Then, we took a chair lift up. From there, we looked down at the mountain bikers racing down trails on the slope.</p>

<andeys-trip-pic class="left" data-trip-pic="bobsleigh"></andeys-trip-pic>

<p>On the top of the ridge, we visited the ski jump tower, where an elevator took us up to the jump point and a great view. Meanwhile, our audio guide detailed the story of British jumper Eddie the Eagle during the 1988 Olympic Games. We went back down and walked the ridge past a tea house then to the Bobsleigh Start.</p>

<p>We took pictures sitting in the bosleigh at the top, then followed the path downhill alongside the bobsleigh track. Eventually, we arrived at the Ice House, where we saw someone practicing on one of the tracks using a skeleton. After that, we checked out the Olympic Hall of Fame, where we received an introductory lecture about the museum and film.</p>

<andeys-trip-pic class="right" data-trip-pic="henry-fok-ceiling"></andeys-trip-pic>

<p>After the film, we took the opporunity to a picture with a 1988 Olympic torch on a stand. Then, we perused the exhibits of the small museum, trying to get in ski jump position in one and seeing displays of Calgary medals and torches from other Games. Upstairs, we saw exhibits about each Olympic sport and I tried a little hockey goal scoring game.</p>

<p>Having covered the highlights of the park, we drove back to downtown, this time for dimsum at the Silver Dragon Restaurant. We got in after a short wait and had a pretty good meal. Then, we wandered around Chinatown a bit, walking onto the Centre Street Bridge, then going into the Chinese Cultural Centre, where we saw a ping pong tournament and beautiful architecture, especially the ceiling.</p>

<andeys-trip-pic class="left" data-trip-pic="devonian-gardens"></andeys-trip-pic>

<p>Upon leaving the Cultural Centre, we saw a sign for a shuttle to the Chinese Autumn Festival at Devonian Gardens. Having some free time left, we hopped on the shuttle and a found our way with assistance to the gardens on the four floor of TD Square. We went to the various parts of the tropical gardens to look at the different styles of design and took a little time to see the Chinese performances and art.</p>

<p>We took light rail for free along 7 Avenue, then walked the rest of the way to our car. We then drove to the airport and returned the rental car to Hertz without any problems. After, prescreening with US Customs and Immigration, we relaxed at the terminal. I wrote two more postcards. Our flight had no problems and I got home using BART.</p>
