<p>I was packed and ready to go when I checked the web site for Air Canada and found the flight delayed an hour. About an hour later, I stepped onto the BART train, transferring thrice to reach San Francisco International Airport. I found my group already waiting for me at Terminal 2 and we checked in without problems.</p>

<andeys-trip-pic class="right" data-trip-pic="over-rockies"></andeys-trip-pic>

<p>We had plenty of time to relax while awaiting our flight, so we looked at four of the exhibits nearby. One exhibit, done by Taku Arimasa, showed photographs of cherry blossoms. I did not really enjoy the bluriness and softness of the pinhole camera photographs. We then headed over to an aquarium to see some fish from other places in the world.</p>

<p>An exhibit on the other side of the terminal showed airline meal service settings from various airlines throughout history. We saw elegant tableware embedded with company logos except for one paper setup used during World War II to conserve the use of metals. Post-security, we looked at photos of San Francisco's Fox Theater in its heyday, then sat down at our gate.</p>

<andeys-trip-pic class="left" data-trip-pic="over-calgary"></andeys-trip-pic>

<p>We had beautiful weather with few clouds, which allowed me to get a great view of San Francisco from the air. I occasionally peered outside to see peaks of the Cascade Mountains, with an especially good view Mt. Shasta. Otherwise, I spent my time reading the in-flight magazine. Near the end of the flight, I looked out to see a stunning view of the Canadian Rockies, then got a good look at Calgary the plane landed.</p>

<p>After we claimed our baggage, we bought some Canadian dollars, then headed across the street to Hertz to pick up the Chevrolet Malibu that I had reserved. We managed to fit everyone and their stuff in the car snugly, then drove off, heading directly for Banff. At the park gate, I bought a group annual pass. Not long after, we arrived at the Banff Rocky Mountain Resort to check in, then we put our bags in the condo.</p>

<p>We confirmed that our condo had a kitchen with a stove, microwave oven and refrigerator, so went out to Safeway as planned to buy groceries. At the condo, I took the pull-out couch in the living room while the women picked rooms upstairs. I did a little planning, checked out the television channels, then went to sleep.</p>
