<andeys-trip-pic class="right" data-trip-pic="vp-divide"></andeys-trip-pic>

<p>We started relatively leisurely, in contrast to the two previous days. After breakfast in the condo, we drove the Trans-Canada to Castle Mountain Junction, then took Highway 93 towards Kootenay National Park. We entered that park and left Banff when we crossed the continental divide at Vermilion Pass. A big sign marked that boundary, which was also the border of the provinces of Alberta and British Columbia.</p>

<p>From the parking lot of the big sign, we started up the longer of two loops of the Fireweed Trail. The trail did not really have much scenery, though it was meant to show the impact of the 1968 wildfire on the landscape. We saw some evidence of that fire, but of course the scars from the 2003 wildfire showed more dramatically on the hillsides as we passed the closed-off entrance to Marble Canyon.</p>

<andeys-trip-pic class="left" data-trip-pic="paint-pot"></andeys-trip-pic>

<p>We took it easy today in terms of hiking and made the trip to the Paint Pots the longest hike. It took under an hour, including the return trip. We crossed the Vermilion River on a bridge, then passed mounds and other evidence of past red ochre mining. Uphill across a reddish stream, we reached the three paint pots. Throughout the hike, signs with fairly big letters explained the significance of the area.</p>

<p>Back at the car, we continued driving the park road for quite a while until we reached a bend in the road with a parking lot on both sides. Parking on the right, then crossing the highway, we reached the Kootenay Valley Viewpoint, which gave us a view up and down the valley. We then continuing driving south, making a quick stop to look at Mount Harkin before reaching Olive Lake.</p>

<andeys-trip-pic class="right" data-trip-pic="sinclair-cascade"></andeys-trip-pic>

<p>A quick walk from the parking lot led us to the bubbling spring that feeds the lake. Going around to the other side of the lake to another platform, we came to the designated fish viewing spot, where we did indeed spot trout in the clear, greenish waters. Peggy liked the place enough that she wanted us to eat lunch there. She and Margaret went to get our lunches and we stayed by the lake to eat.</p>

<p>After lunch, we continued on the road until we hit Radium Hot Springs. There, we got out and just took a look around at the swimming and bathing pools. A little further and at the edge of the park, we parked and walked up to narrow Sinclair Canyon, walking on the highway safely between a stone wall and concrete barriers. The viewpoint revealed a cascade of water just below the road.</p>

<p>Passing the town just outside the park, we headed north on Highway 95. Near Spillamacheen, I saw a cloud of dust ahead, then traffic stopped. Ahead, we could see that a logging truck had crashed into a ditch. Peggy went out and found out the driver was okay. We then continued past the accident and reached the town of Golden, where I bought stamps at the post office.</p>

<andeys-trip-pic class="left" data-trip-pic="emerald-lodge"></andeys-trip-pic>

<p>We left Golden to go east back into the Rocky Mountains, entering Yoho National Park. First, we stopped at Natural Bridge, a sight along Emerald Lake Road that split north from the Trans-Canada. I did not find the rock span that impressive. Continuing on the road to its end, we hit beautiful Emerald Lake, a turquoise jewel between big mountains. A bridge connected Emerald Lake Lodge to the shore.</p>

<p>We returned to the Trans-Canada and immediately exited at the village of Field. We entered the Yoho National Park Visitor Centre just a few minutes before it closed. I went right to the exhibits showing the kind of fossils found in the park's Burgess Shale. It was too late in the year to do the guided hike to the actual site. We then went back to the car and drove around the historic streets of Field.</p>

<andeys-trip-pic class="right" data-trip-pic="takakkaw-color"></andeys-trip-pic>

<p>Further along the Trans-Canada, we turned onto Yoho Valley Road. We stopped at the upper viewpoint for the Spiral Tunnels, but could not find the railway tunnels. However, we did get a great view of Cathedral Mountain. The road made a really tight turn, then continued to the parking lot for Takakkaw Falls, an impressive waterfall 381 meters tall. We walked the path to the closest point, took photos, then returned to the car.</p>

<p>On the way back down the road, we stopped at the confluence of the Yoho and Kicking Horse Rivers, walking down to check out the meeting of the waters. Back on the Trans-Canada, we then stopped at the lower viewpoint of the Spiral Tunnels. Unfortunately, no train came through so that we could watch it loop over itself. After that, we headed east over Kicking Horse Pass back into Alberta and Banff National Park.</p>

<p>At Lake Louise, we continued on the Trans-Canada as it headed south to Banff. In the townsite of Banff, we decided we needed a little bit more food for the rest of the trip and went to Safeway one more time for groceries. After that, we ate dinner in our condo. I decided on our plans for the next day, because we had already covered sights in Yoho that we had orignally planned to do then. I got more postcards written later, then went to sleep.</p>
