<p>Chris and I broke camp fairly quickly, then started our drive through the Cascade foothills, passing farms and rustic barns on our way north. We stopped at a Safeway store for Chris to get a few supplies and to fuel the car, then continued on to the Columbia River Gorge. Although not on our list of sights, I stopped at the Portland Women's Forum State Scenic Viewpoint to show Chris a great view of the gorge.</p>

<andeys-trip-pic class="right" data-trip-pic="in-vista-house"></andeys-trip-pic>

<p>Next, we made an unplanned stop at the beautifully situated Vista House at Crown Point. When I found out the building was open, I went in to check out the architecture and balcony view. I had always found the place closed when I previously visited, either because of the late hour or its closure for a four year restoration. I also made sure to visit the gallery downstairs containing historic photos and more.</p>

<p>For our first hike of the day, we parked at Wahkeena Falls. We only saw a handful of other people there. After a little bit of searching, we found the trail that would take us up the steep trail, which took us close to the waterfall then continued up multiple switchbacks. A short spur at a break in the switchbacks led us to Lemmon's Viewpoint for a great view of the gorge.</p>

<p>The trail continued up alongside Wahkeena Creek; its waters making the area refreshingly cool. A few more switchbacks led us to a bench with a view of Fairy Falls. We felt a bit tempted to just continue further to Wahkeena Springs, but decided to head downhill back to the parking lot so we could make sure to do the other hikes on our list.</p>

<andeys-trip-pic class="left" data-trip-pic="lemmons-view"></andeys-trip-pic>

<p>We slowly drove past the huge crowds at Multnomah Falls then reached the head of the Oneonta Trail. We found parking scarce here, but luckily spotted a guy leaving and got that spot. Again, we hiked uphill on switchbacks until we reached a sign that indicated a viewpoint on a spur trail. I took the spur, but didn't find too great a view from there.</p>

<p>I looked for a trail that would let me go down to Oneonta Falls while taking the Oneonta Trail, but did not find it as I continued climbing. After asking other hikers, we just decided to finish the uphill climb to visit Triple Falls, which did not disappoint us. By the foot bridge above the falls that split into three drops, we relaxed and ate lunch, cooling our feet in the stream.</p>

<andeys-trip-pic class="right" data-trip-pic="behind-ponytail"></andeys-trip-pic>

<p>On the way back down from Triple Falls, I found the small path leading down to Oneonta Falls, but I did not feel like going down such a steep, crumbly path, so did not. We took the Horsetail Falls Trail, which dropped to a footbridge over Oneonta Gorge with a view of Middle Oneonta Falls. Then, we climbed the other side to a view point named after a guy that fell at that point.</p>

<p>Soon, we arrived at lovely Ponytail Falls dropping through a slot in sheer cliffs. The trail led behind it, making this the fifth waterfall on this trip we walked behind. We saw an increasing number of people at this point as we headed down the switchabacks to Horsetail Falls. I commented to Chris how many families in the area hike the steep trails compared to California. Someone had even brought a stroller.</p>

<p>I took a couple pictures at crowded Horsetail Falls before we headed back along the side of the highway to the car. We decided to go next to the Eagle Creek Recreation Area, parking at the lot by the campground, then walking to the trailhead. The trail stayed on the side of a cliff most of the time with the canyon to the right getting deeper as we headed south. Chris had a bit harder time, feeling hotter and more tired than me.</p>

<andeys-trip-pic class="left" data-trip-pic="punchbowl-view"></andeys-trip-pic>

<p>Our first significant stop took us down a short spur trail to a distant view of Metlako Falls pouring out of a cliff. Too bad we could not get closer. Not too long after crossing Sorenson Creek, we reached a high overlook of interesting Punchbowl Falls, then turned back to take a spur trail that led to Lower Punchbowl Falls.</p>

<p>Chris only went as far as the second bench down, but I continued to the bottom, entering a cool canyon with a rocky beach with views of the upper and lower falls. A couple with a dog swam just below the upper falls. A group of teens went diving off the cliffs into the pool below the lower falls. After enjoying that area, I went back into the heat to join Chris on a fast hike back down to the parking lot.</p>

<p>Chris was more than ready to relax at this point. We took a scenic drive over the Bridge of the Gods, entering Washington State, then headed west to Beacon Rock State Park. Chris went for an easy walk, while I headed up the short trail of 47 switchbacks to reach the top of the rock. It did not feel as hard as I expected for the fast climb.</p>

<andeys-trip-pic class="right" data-trip-pic="overlap-switch"></andeys-trip-pic>

<p>We drove back east to take the bridge that would bring us to Hood River in Oregon. During that time, Chris spotted a great view of Mount Hood and we tried to find a place to take a decent photograph. First, we found a Native American treaty fishing site we could not enter, then found just an industrial place with a blocked view, so he took photos from a bridge. We then stopped at a turnout on Highway 35 for a better picture.</p>

<p>I wanted to get see if I could get a forest recreation pass for the next day, so drove through the ski town of Government Camp to look for a store called C.J.'s that carried them, but did not find it. At least we looked at the town. We then headed to Trillium Lake to set up camp, but had to wait a little until the forest rangers ejected some bad campers from their site near ours. After that, we cooked and ate dinner then slept.</p>
