<andeys-trip-pic class="right" data-trip-pic="rock-isle-lake"></andeys-trip-pic>

<p>We timed our getting ready and going so that we would reach Sunshine Meadows a bit before the first shuttle left to get to the upper part of Sunshine Village. We bought the tickets then boarded what looked like an old school bus. It took us up a restricted road for about 6 kilometers. Along the way, we saw people who opted to walk up the steep, dusty road.</p>

<p>At the top, the shuttle driver gave us an orientation, then we headed up the trail after a stop at the washrooms. After a brief climb to the continental divide, we reached a sign noting that we entered Mount Assiniboine Provinical Park in British Columbia. Soon, we reached pretty little Rock Isle Lake, which indeed had a small rocky island in it.</p>

<andeys-trip-pic class="left" data-trip-pic="laryx-lake"></andeys-trip-pic>

<p>Past the lake, we proceeded onto a loop around Laryx Lake and Grizzly Lake. Laryx Lake had a particularly great view of a mountain known as The Monarch. Between those two lakes, we saw a great view of the Simpson Valley. Also, this area around the loop trail had plenty of bright yellow western larch trees dotting the landscape.</p>

<p>The trail returned us to Rock Isle Lake, then we headed uphill to an intersection. Arlene and I turned right to head up Mount Standish and enjoy the grand view of the area from a wooden platform known as Standish Viewpoint. Margaret and Peggy waited at the intersection, then later continued north without us.</p>

<andeys-trip-pic class="right" data-trip-pic="standish-view"></andeys-trip-pic>

<p>I walked the loop on top of Mount Standish to enter Alberta and look at the top of the Standish Express chair lift, then went back to eat lunch at the viewpoint. It felt pretty cold up there. After lunch, Arlene and I returned to the intersection, then hiked for a while through Two Cairns Meadow until we reached another intersection.</p>

<p>A short walk after turning left brought us to Monarch Viewpoint, which had a good view north of mountains. Keeping track of the time, we then hurried our pace so that we could take the 1:30 PM shuttle down. We made it with time to spare, especially because the driver took a quick lunch break. Peggy and Margaret were waiting for us in the cafeteria.</p>

<p>We drove back to Banff and entered the Whyte Museum. There, we saw a special exhibit downstairs about animal crossings with photos and video of bears, elks and other animals. The main level had selected art with the subject of the Rocky Mountains as well as an detailed exhibit about the interesting lives of Peter and Catherine Whyte.</p>

<andeys-trip-pic class="left" data-trip-pic="canada-tv"></andeys-trip-pic>

<p>We had extra time, so we checked out Canada Place and found out it was a free, small museum dedicated to teaching visitors about Canada. We did not end up staying long. Peggy went into a small booth to record her comments about her trip on video. I watched them on the small television there.</p>

<p>We did a final walking tour of downtown Banff, starting at the Great Canadian Dollar Store and then stopping at McDonalds to use the washrooms and check out its unusual working fireplace. Done with downtown, we then returned to the condo to eat dinner and pack up. I wrote yet more postcards before going to sleep.</p>
