<andeys-trip-pic class="right" data-trip-pic="round-butte"></andeys-trip-pic>

<p>We got an early start in breaking camp and driving off. For our first stop, we parked next to a formation known as Ship Rock, where we saw some petroglyphs on a rock. Then, we headed out of the park and back to the overlooks on the canyon rim, where we finally got some great views of the snowy peaks of Mount Hood, Mount Jefferson and the the Sisters mountains, especially from the top of Round Butte.</p>

<p>From there, we headed east to Madras and then south towards Bend. At one point on Highway 97, I spotted an interesting gorge, so I parked at the rest area and found myself at the Peter Skene Ogden State Scenic Viewpoint. There, we walked the short, paved loop trail to see the historic and modern highway bridge over the gorge of the Crooked River as well as the old rail bridge. Interpretive panels gave some history about the bridges.</p>

<andeys-trip-pic class="left" data-trip-pic="ogden-bridge"></andeys-trip-pic>

<p>When we reached Bend, I saw no sign for the Cascade Lakes Scenic Byway, but Chris pointed out an exit for Mount Bachelor and I headed that way, passing near downtown. I quickly checked to see if the Visitor Information Center was open, but it was not, so we continued into the mountains. I found a little parking area in the forest that had the information I wanted about the scenic byway.</p>

<p>For a close look at Mount Bachelor, we headed to the Mount Bachelor Ski Resort, finding out that it did not open yet. We were tempted to go there when it opened to ride the lift to the top for great views, but decided we did not have the time for that. Next, we stopped at Todd Lake, where we encountered plenty of snow on the ground. We walked through that on a short trail to the small lake with a view of Mount Broken Top.</p>

<p>When we reached Sparks Lake, we found a short, scenic trail along the volcanically created shoreline that led to a lovely view of the lake with two snowy mountains in the distance. The viewpoint was named after Oregon's photographer laureate Ray Atkeson. Continuing on the byway, I tried to find the trailhead for Devil's Garden but failed, then made a quick stop at Devil's Lake, which did not impress us.</p>

<andeys-trip-pic class="right" data-trip-pic="sparks-lake"></andeys-trip-pic>

<p>We stopped at the Elk Lake Guard Station for more byway information. A Forest Service volunteer suggested stops for the rest of our journey. From his information, we decided to skip Devil's Garden and later go to Newberry National Volcanic Monument to see the lakes there. For now, we went to the south shore of Elk Lake to eat lunch at the picnic area there, enjoying the view of the lake and mountains.</p>

<p>After eating, we visited Lava Lake quickly, where I found a view and reflection of Mount Bachelor. Nearby at Little Lava Lake, we looked but did not find the headwaters of the Deschutes River, but did admire a little bird by the shore. We left the bypass for Forest Road 40 direct to Sunriver and Highway 97. We then crossed the highway and parked to visit the Lava River Cave.</p>

<andeys-trip-pic class="left" data-trip-pic="cave-benches"></andeys-trip-pic>

<p>I suppose I was eager to check out the cave and spend time out of the heat and into its refreshing temperature of 42 degrees Farenheit, so I only brought one light that was not entirely reliable. Despite the light problem and with help from Chris' light, I rather enjoyed exploring the mile long cave. We saw ice, some formations caused by sand and dripping water and a few narrow and low places, especially at the end. The cave goes under Highway 97 at one point.</p>

<p>Back on the highway, we headed south then east up Forest Road 21 into another section of Newberry. First, we parked and took a short trail to Paulina Falls, then checked out Paulina Lake with a view of Paulina Peak. Finally, we stopped to look at the Big Obsidian Flow. I enjoying taking the one mile trail going up the pile, taking in some scenery and noticing the sharp contrast of the white snow on the black obsidian.</p>

<andeys-trip-pic class="right" data-trip-pic="obsidian-snow"></andeys-trip-pic>

<p>One last quick look at a viewpoint and we returned to Highway 97, continuing south. At a rest stop, I let Chris drive us through southern Oregon all the way to Weed in California, passing Klamath Lake and a great view of Mount Shasta along the way. In Weed, we got fuel and then sat down for a Mexican dinner at Dos Amigos because none of the other food options seemed desirable.</p>

<p>Fully fed, I took over the drive south. As we passed through Red Bluff, we saw a fireworks show going on. The finale happened just as we passed close by the source. Probably for precautions, emergency vehicles slowly drove along the freeway with their lights flashing. Chris took over driving once at a rest area and made it to Berkeley for fuel. Then he drove us to his place in San Francisco, where he unloaded his stuff. I then drove back to my place.</p>
