<andeys-trip-pic class="right" data-trip-pic="cook-demo"></andeys-trip-pic>

<p>A full day at sea meant plenty of time to kill. I started this with a leisurely breakfast at the Grand Restaurant. After that, I checked out the Russian Bazaar in the Crystal Room. The room had tables full of souvenirs such as dolls and jewelry. I looked around with minor interest in the items. I then moved on to the Celebrity Theater, where the executive chef did some sort of cooking demonstration on stage. I sat in the back and took a couple pictures.</p>

<p>I went to the gym to run on a treadmill for a while, watching the attached silent video screen because my earphones did not work with it. Then, I showered and went to deck 11 for a casual lunch. I wandered the ship afterwards but found nothing new except at the art auction. I browsed the many paintings being put up for the auction though I had no plans to purchase any of them. However, I sat for a while to observe the auction after it commenced.</p>

<andeys-trip-pic class="left" data-trip-pic="great-belt"></andeys-trip-pic>

<p>Next, my brother Steven, Alisa and I went over to the Celebrity Theater to watch a piano concert starring Elliot Finkel. Alisa saw his earlier evening concert and recommended attending. He played a good collection of his choosing, enjoying the more casual atmosphere present in that afternoon concert. We all met up again later when the ship passed under the Great Belt Bridge. A bit of rain fell only during the couple minutes during which we watched the ship clear.</p>

<p>Afterwards, we wandered the ship and I took some photos of people. For the evening, we put on our formal clothes one last time and headed for the Grand Restaurant. Everybody I saw ordered the lobster dinner as did I. Many people taking advantage of the expensive meal option ordered it a second time. The captain then spoke to everyone, especially thanking the staff. Finally, in a little parade, the waiters presented baked Alaska for dessert.</p>

<andeys-trip-pic class="right" data-trip-pic="baked-alaska"></andeys-trip-pic>

<p>I had won one of the guessing contests at the Art Gallery so made an appointment to arrange framing and shipping of the large artworks I would receive. I had to pick two out of five choices and decided to get D'or et de Reve by Bellet and Morning Social by Tarkay. Meanwhile, Brie had run into me and proceeded to wait patiently while I completed my transaction so that we could go to the Celebrity Theater together.</p>

<p>The art gallery transaction took a long time, so Brie and I got to the show late, but still got a seat on the upper left balcony. The Celebrity Dancers performed many international dance styles in a show called Dance Around the World. We arrived during a French cabaret dance. I liked the Chinese ropes dance. American dances were the best represented unsurprisingly. Overall I found the show mildly entertaining.</p>

<andeys-trip-pic class="left" data-trip-pic="grand-buffet"></andeys-trip-pic>

<p>I joined up with Steven and Alisa later at the always empty Teen Lounge, where we tried to get the big karoake machine to work but only managed to turn on and off some colorful lights. After that, I found Leena who brought me to a cabin where the other youth gathered. The group mainly chatted and watched television, then wandered the ship not finding much of interest.</p>

<p>Before midnight, the ship's crew invited everybody to the lower level of the Grand Restaurant for an event billed as Le Grand Buffet. At first, the staff let us look but not touch the grand layouts of hors de vors decorated by strategically lighted ice sculptures, so I and many others passed the tables in a semi-organized fashion, admiring the displays. Everyone could partake of the food after midnight, but I was not really hungry.</p>
