<andeys-trip-pic class="right" data-trip-pic="wheeler-pk"></andeys-trip-pic>

<p>We started the day early, having a tough hike ahead of us. After getting ready for the day's activities, I drove us a short way to the summit trailhead. The trail started as easy, going through a forest where we spotted three deer. Then, we climbed a sloped meadow with increasingly good views. A cold, brutal wind began hitting me as I rose above the tree line. At the saddle, I saw a steep climb ahead. Chris stopped here, having knee problems.</p>

<p>I borrowed Chris' gloves to help stay warm as I slowly trudged up the slope. Still, I stopped at some of the rock shelters for partial relief from the high winds. Finally at the top, I rested and then ate lunch before signing the registry and taking in the grand view of the Snake Range and desert valleys. Vern soon showed up but Arlene took much longer. The winds felt worse downhill, pushing me around. I met Chris at the saddle where we continued back to the car.</p>

<andeys-trip-pic class="left" data-trip-pic="basin-picto"></andeys-trip-pic>

<p>When we returned to the campground, we ate and rested. We had some energy and daylight left, though, so we then drove down the mountain, making a stop at Mather Overlook, which I realized did not have an impressive view compared to what we saw earlier. Then, we stopped at the Grey Cliffs area to look at Upper Pictograph Cave, viewing it from a distance due to signs warning not to enter. We spotted a few pictographs.</p>

<p>Down to the town of Baker, we went to the visitor center only to find that the scheduled star party got delayed. We though about stopping at a grocery store for more food but found none open. I then thought of a couple things to see to pass the time. We saw a park exhibit about ranching and then explored the Baker Archeological Site that had traces of a village of the Fremont tribe from long ago as described in a guide pamphlet.</p>

<andeys-trip-pic class="right" data-trip-pic="baker-fremont"></andeys-trip-pic>

<p>Around 8 PM, we returned to the visitor center to attend the Night Sky Program. It began with a guy giving a slide show about astrophotography. He gave a dry, uninspiring lecture, but I did learn some good tips. We got our red lights on afterwards and headed to the backyard to see the night sky from two big telescopes. I saw Jupiter with its moons, Saturn, Mars, globular clusters M4 and M13, nebulae and a binary star.</p>

<p>With my mini tripod, I aimed my own camera upwards using a high ISO and slow shutter at a wide angle to take photographs. Happily, I captured the light. My group got tired after a bit, so we then drove back to camp, passing a rabbit, bobcat, another rabbit and then, uncomfortably close, a deer on the way up the mountain. Good thing I drove defensively. At camp, I took a couple more photos of the sky before going to sleep.</p>

<andeys-trip-pic data-trip-pic="basin-sky"></andeys-trip-pic>
