<andeys-trip-pic class="right" data-trip-pic="white-house-roof"></andeys-trip-pic>

<p>With the weather promising to be good, I took the Metro bus and rail to Smithsonian Station and lined up for tickets to the Washington Monument, chatting with a local woman getting tickets for her family visiting from Wisconsin and enjoying sunrise over the Capitol and the Mall. The ticket office opened at 8:30 AM and I got a free ticket for the first entry time at 9 AM.</p>

<p>After a security screening, the 9 AM tour group got into the Washington Monument elevator. I briefly chatted with an Asian girl there from Southern California. At the top, I enjoyed incredible though somewhat hazy views of the capital area and took photos of many of the distinguished buildings I spotted. I could see security on the roof of the White House and noted the new Nationals Park behind the Capitol.</p>

<andeys-trip-pic class="left" data-trip-pic="composition-cube"></andeys-trip-pic>

<p>I soaked in the view for a quite a while and then headed down to some small displays about the obelisk before boarding the elevator. During descent, the elevator sometimes slowed down so we could get a good look at commemorative stones placed inside the monument walls. Outside again, I took more pictures of the tower and then leisurely walked to the Hirshhorn Museum, stopping at small sights along the way.</p>

<p>After looking at some of the outdoor sculptures, I entered the circular Hirshhorn building and, starting from the top floor, circled my way around and found quite a few interesting sculptures as well as a window with a great view of The Mall. I particularly liked a video installation showing a Rube Golderg machine in action. I finished my visit in the basement, where I took a picture for two Peruvian women.</p>

<andeys-trip-pic class="right" data-trip-pic="chinese-hibiscus"></andeys-trip-pic>

<p>I walked over to the United States Botanic Garden next, stopping at the outdoor National Garden featuring mid-Atlantic plants and then heading into the conservatory to wander generally clockwise around the different environments. I most enjoyed the orchids but also found the jungle canopy walk interesting. The conservatory featured a special exhibit about aromas.</p>

<p>I took the Metro blue line over to the Ronald Reagan Building where I ate lunch in the food court at Bassett's Original Turkey. I just went for a grilled cheese sandwich and ministrone soup. For desert, I had a strawberry-banana smoothie from Banana's Ultimate Juice Bar. I looked around the building interior a bit also while there and then hopped on the Metro orange line to the Smithsonian stop.</p>

<andeys-trip-pic class="left" data-trip-pic="cherry-blossoms"></andeys-trip-pic>

<p>The weather was somewhat pleasant, so I walked around the Tidal Basin looking at the Yoshino cherry blossoms in bloom. Soon, I came upon the Thomas Jefferson Memorial and spent a good amount of time there looking at its details. Then, I found the far less popular and smaller George Mason Memorial. I arrived at the Franklin Delano Roosevelt Memorial in time for a 5 PM talk about the history of the trees there. I found the talk a bit repetitive.</p>

<p>Finishing my loop walk around the Tidal Basin, I found WTTG Fox 5 meteorologist Sue Palka reporting on the cherry blossoms. I quiety went around the news team and then passed by the District of Columbia War Memorial before taking the Metro rail and bus back to Aspent Hill. I had a salad for dinner along with a fig bar and then chatted with my housemate about the red shirts on the Thai news. I then showered, wrote a postcard, made plans for the next day, and slept.</p>
