<andeys-trip-pic class="right" data-trip-pic="lucky-money"></andeys-trip-pic>

<p>I had a breakfast of oatmeal before taking the Metro bus and rail to Smithsonian Station. Due to the rain and low clouds, I decided to delay going to the Washington Monument and instead lined up to get a timed ticket for the Bureau of Engraving and Printing from its small ticket booth. I talked to a guy from Ohio in line while waiting and then got a ticket for the 9 AM tour soon after the booth opened.</p>

<p>Having time until the tour and not wanting to stay outside in the rain, I went inside the Holocaust Museum Cafe as soon as it opened and just bought an orange to leisurely consume. I got to the entrance to the Bureau of Engraving and Printing in time for the tour that started with a video of the money making process. We then went through each room of the process, seeing it from an enclosed walkway while a guide narrated. I saw large machines and pallets of paper destined to become money.</p>

<andeys-trip-pic class="left" data-trip-pic="renoir-lunch"></andeys-trip-pic>

<p>The tour ended at a gift shop with unique gifts like money with certain serial numbers and reproductions of historic government printings. I bought a postcard and then headed back to the Metrorail to take the train to Dupont Circle for a free admission day of the permanent collection of the Phillips Collection. Generally, I am not a fan of modern art, but I felt the collection had some good pieces. I started in the more modern building and then got led into the old house complete with appropriate furniture for each room.</p>

<p>The collection showed paintings by many famous artists such as Cezanne, Van Gogh, Renoir, Picasso and Matisse as well a small dim room dedicated to Rothko pieces. I made sure to go to every room except the special exhibit, which cost extra. Then, I hopped back onto the Metrorail to eat at Ben's Chili Bowl. Inside, I found the place crowded and lively and sat down at the counter. A note boasted that Bill Cosby and Barrack Obama could eat there free, even though Obama has paid for his meal.</p>

<andeys-trip-pic class="right" data-trip-pic="lichtenstein-house"></andeys-trip-pic>

<p>After I figured out how to correctly get my order in the hectic place, I enjoyed chili half-smokes and cheese fries. When done, I left and walked to the African-American Civil War Memorial to take a quick look at it before getting on the Metrorail again. From the Archives Station, I ambled through the Sculpture Garden of the National Gallery of Art and then made my way to the Smithsonian Museum of Natural History where I checked out the new Ocean Hall.</p>

<p>Underneath the enormous hanging North Atlantic Right Whale, I saw interesting specimens big and small such as a giant octopus and creatures of the deep ocean. I then continued walking around, briefly noting other museum displays, in particular the Hall of Mammals with its life size models. I also spent time in an exhibit showing human bones while explaining how to read them for clues to their history. However, I skipped the enclosed butterfly garden because it charged admission.</p>

<andeys-trip-pic class="left" data-trip-pic="giant-squid"></andeys-trip-pic>

<p>In light rain, I next made my way to the newly remolded Museum of American History where I encountered a line. I took a photo of an Asian girl with the Washington Monument at her request while there. Inside, I admired the new three level Flag Hall that focused on a metallic abstract rendition of the American flag. A small opening below the flag led through a dim corridor to a display of the Star Spangled Banner, laid out at a low angle.</p>

<p>Going upstairs, I took a look at at an interesting exhibit titled &ldquo;America at War&rdquo; that showed artifacts and props while giving information about many of America's conflicts. Also nearby, I found a display of heavily damaged steel from the World Trade Center of New York. Then, back in Flag Hall, I briefly watched students and others learn to fold a huge flag.
</p>

<andeys-trip-pic class="right" data-trip-pic="julia-child-kitchen"></andeys-trip-pic>

<p>I noticed an impressive huge dollhouse done by Faith Bradford and then spotted Stephen Colbert's portrait. I had been on the lookout for that. After passing other interest small displays such as Kermit the Frog, I briefly spent time at the &ldquo;Within These Walls&hellip;&rdquo; exhibit that told a story of American families using a partially reconstructed house and then spent considerable time going through the large &ldquo;America on the Move&rdquo; exhibit about transportation throughout American history.</p>

<p>Next, I found Julia Child's entire kitchen impressively displayed and then wandered around the remaining displays, including a C-3PO movie costume used in <em>Return of the Jedi.</em> I finished my visit with a look at the collection of First Ladies fashions before taking the Metrorail to the National Portrait Gallery to finish seeing that collection.</p>

<andeys-trip-pic class="left" data-trip-pic="paik-states"></andeys-trip-pic>

<p>After finishing up looking at the rest of the portraits, I went to the Smithsonian American Art Museum within the same building. It had already felt like a long day, so I briefly checked out each of the many rooms and then focused on whatever caught my eye. I made sure to include George Catlin's Indian Gallery as one of the notable pieces. I finished at the contemporary art section where Nam June Paik's video installations particularly stood out.</p>

<p>I took the Metrolink back to Silver Spring where I met up with my friend Darlene at the Mandalay Restaurant and Cafe. We hung out and talked and I ordere mixed noodles, chicken and sticky rice. After that lovely dinner, I took the Y9 bus back to Aspen Hill. I got back kind of late but made time to write on postcards before going to sleep.</p>

