<andeys-trip-pic class="right" data-trip-pic="brumidi"></andeys-trip-pic>

<p>I started my day with some oatmeal and then took the bus and rail to Union Station. From there, I walked to the Dirksen Senate Office Building and into Senator Wyden of Oregon's office to wait for my friend Isaiah who worked there as a legislative assistant, looking at an Oregon travel book in the meantime. When he showed, I gave him a gift from his brother of an early leaflet featuring his father.</p>

<p>He brought along intern Elena with us to start a personal tour. First, we took the underground rail to the Capitol and got my pass at the visitor center. Elena and I then watched a short film about Congress and she showed me Abraham Lincoln's catafalque. I then met again with Isaiah for a tour including the old legislative and Supreme Court rooms. We went off the route though to see the old Senate Baths converted into a utility room.</p>

<andeys-trip-pic class="left" data-trip-pic="elena-train"></andeys-trip-pic>

<p>Meanwhile, Isaiah made some calls and got me access to the Senate floor. I saw the Senate pages sitting around doing homework as well as the busy support staff. On the floor, the floor manager Jacques gave me a tour, showing me Robert E. Lee's desk with a Union soldier's hack marks and Senator Wyden's desk, looking inside at carved signatures of former occupiers of that seat. Also, he showed me the trap door.</p>

<p>To end the tour of the Capitol, I entered the gallery of the House of Representatives with Elena after a bag check to look around while she tried to tell me what she knew of the chamber. In turn, I told her about Mount Vernon and recommended she go. We then returned to Senator Wyden's office where I remet with Isaiah. We went outside for photographs of us with the Capitol dome.</p>

<andeys-trip-pic class="right" data-trip-pic="raven-sun"></andeys-trip-pic>

<p>I headed on my own to the National Museum of the American Indian to eat lunch at the unique Mitsitam Café that served native foods of all of the Americas. I chose to have papusa queso with cabbage and fry bread with wild berry capote. When done, I checked out the museum's collection of native artifacts. The top floor showcased the different belief systems of several tribes. Another exhibit presented the 500 year history of selected tribes.</p>

<p>With less interest, I quickly looked at exhibits on modern tribal life and special exhibits on Fritz Scholder and American Indians in comics and then left the museum, taking the Metrorail to Foggy Bottom and walking south to the State Department. I waited outside along with others for my scheduled 2:45 PM tour of the Diplomatic Reception Rooms. When the time came, we lined up to clear security, got to put jackets and more on the coat rack and then proceeded in an elevator to the top floor. Once there, we could freely take flash pictures while our guide spoke.</p>

<andeys-trip-pic class="left" data-trip-pic="drawing-room"></andeys-trip-pic>

<p>We went through rooms named after early diplomats that contained historic artifacts such as Thomas Jefferson's desk and the table used for signing the Treaty of Paris. Paintings, especially portraits, abound and many cabinets showed fine china. The final room had workers setting up for a press dinner with Hillary Clinton. We returned to the coat rack to grab our stuff then I left for the Kennedy Center.</p>

<p>The highway blocked a direct path, so I went around to the north and found myself passing by the embassy of Saudi Arabia and the Watergate Complex. After looking at outside sculptures, I entered the center's Hall of Nations with it's two rows of national flags lining the long sides. I then found the information desk and inquired about the guided tour, deciding to wait to go at the 4:30 PM time.</p>

<andeys-trip-pic class="right" data-trip-pic="lobmeyr-crystal"></andeys-trip-pic>

<p>The tour started with the Hall of Nations and continued into the Grand Foyer. I found out many parts of the center came as donations in the memory of John F. Kennedy, including the marble walls from Italy, long mirrors from Belgium and the crystal chandeliers from Sweden. We then got to go inside the Opera House with its impressive Lobmeyr Crystal Chandelier from Austria. We also saw the inside of the African Lounge with its gifts from African nations.</p>

<p>We also took a look inside the presidential boxes for the Opera House and Eisenhower Theater and saw photos of the Obamas hung in the latter one. We then checked out the Hall of States with its state flags before taking the elevator to the top floor, where we had a brief look at the Terrace Theater and its Japanese theme. The tour ended on the terrace outside with a pretty good view of the area, especially of the Potomac River.</p>

<andeys-trip-pic class="left" data-trip-pic="jagged-ceiling"></andeys-trip-pic>

<p>After walking around the terrace, I returned to the bottom floor and only had to wait a short time to get into the Millenium Stage free for The 24th Annual Mayor's Arts Awards, honoring various types of arts and arts teaching in the District of Columbia. It started with a lively performance but, as with many awards shows, it had many speeches. At least I got a taste of local arts. At the end they had a performance by jazz legend Billy Taylor.</p>

<p>To get back to Silver Spring, I had to get on a crowded shuttle that took me to Foggy Bottom. Then, I took the Metrorail and bus as usual. Because I ate a little before going to the Kennedy Center, I only needed a couple more fig bars to stay satiated before going to sleep. I ended the day late and had to get ready for the earliest start of the day on the trip.</p>
