<andeys-trip-pic class="right" data-trip-pic="eastern-market"></andeys-trip-pic>

<p>I had a fig bar to start the day and then took the bus to the Silver Spring station to get a one-day Metro pass because my 7 day pass had expired. I then continued on rail to Eastern Market. Apparently, the historic building there was under construction due to fire damage, so instead I walked around the outdoor vendors and ended up getting a ham, swiss cheese, spinach and tomato crepe at Crepes at the Market and then got some hot cider to counter the cool, drizzly day.</p>

<p>I then discovered the temporary market building and lined up to get blueberry pancakes at a local favorite called The Market Lunch even though I wasn't that hungry anymore. When I sat down at the counter to eat, I talked to locals who said they like bringing guests to try the legendary pancakes there. They indeed tasted good.</p>

<andeys-trip-pic class="left" data-trip-pic="nbm-great-hall"></andeys-trip-pic>

<p>Stuffed full of breakfast, I hopped on the Metro rail to the Archives station to check out Ford's Theater, but found a really long line there, so skipped that and took another train to Judiciary Square to enter the National Building Museum. For the National Cherry Blossom Festival, they had huge blossom-shaped balloons in the Great Hall and many tables with family activities. I got there in time for the welcome ceremony.</p>

<p>On stage, Cobu started the event performing a very energetic song and dance with taiko drums and shamisens. After that, I wandered around the museum, checking out the mildly interesting exhibits about architecture and community structure planning while koto music played on stage. I decided to return later when more interesting performances were scheduled and walked over to the National Gallery of Art, notably passing by The Keck Center of the National Academies.</p>

<andeys-trip-pic class="right" data-trip-pic="multiverse"></andeys-trip-pic>

<p>In the National Gallery, I picked up a map and a leaflet noting the museum highlights and then set out to find all the featured art starting with the east building. I found plenty of great modern and contemporary art in both buildings, focusing first on sculptures and then paintings. Interestingly, a sheath of LEDs surrounded the concourse walkway between the buildings, turning on and off in patterns as I moved down the corridor. It was &ldquo;Multiverse&rdquo; by Leo Villareal</p>

<p>After a great big dose of art, I returned the the National Building Museum to see the formal opening ceremony of the festival. I first saw The Washington Ballet perform &ldquo;The Waltz of the Cherry Blossoms&rdquo; followed by Noriko Sakai Hunter singing the national anthems of Japan and the United States. Many in the audience swooned over Jero's performance of traditional Japanese ballads. When he finished, the formal speeches began.</p>

<andeys-trip-pic class="left" data-trip-pic="jero"></andeys-trip-pic>

<p>Doug McKelway and Alison Starling of WJLA emceed. The ambassador of Japan Ichiro Fujisaki also had a statement. Kenichi Ebina then performed a robotic dance known as RoboMatrix followed by two more speeches. The Levine School of Music District Strings played violins, then Vice President of Target Fred Thomas spoke, and then Cobu came back to play another energetic number.</p>

<p>I left after the closing remarks and headed to Union Station to eat at a pepperoni slice at Mamma Ilardo's Pizzeria. I had pralines and cream at Haagen-Dazs for dessert and worked on postcards. I then took the Metro rail and bus back to Aspent Hill where I talked to my brother on the phone. After that I planned for the final day, I showered and slept.</p>
