<div class="row hero-container">
  <div class="parallax">
    <div class="hero-image" data-andeys-move-hero></div>
    <ul class="button-group stack-for-small">
      <li><a class="button small" href="#/photos">Photos</a></li>
      <li><a class="button small" href="#/travelogs">Travelogs</a></li>
      <li><a class="button small" href="#/waterfalls">Waterfalls</a></li>
    </ul>
  </div>
</div>
<div class="row intro">
  <div class="small-12 columns text-justify">
    <p>Welcome to my site! My favorite way to describe my experiences is with pictures. As a result, I try to make photographs the main focus of my site. I am an avid explorer, and love to travel to new places or help others discover places I have visited. Usually I choose to go to the great outdoors, but occasionally seek out other interesting sights.</p>
    <p>This is also a place where I try out different web technologies. The current iteration of this site uses AngularJS, Foundation, PHP, and MySQL. I also make use of GulpJS, Modernizr, JQuery, and Font Awesome. The site may change whenever I make the time to work on it.</p>
  </div>
</div>
<div class="row text-center">
  <div class="medium-4 columns icon-link">
    <a href="#/photos">
      <div><i class="fa fa-picture-o fa-5x"></i></div>
      <h2>Photos</h2>
      <div>I have taken</div>
    </a>
  </div>
  <div class="medium-4 columns icon-link">
    <a href="#/travelogs">
      <div><i class="fa fa-plane fa-5x"></i></div>
      <h2>Travelogs</h2>
      <div>of my trips</div>
    </a>
  </div>
  <div class="medium-4 columns icon-link">
    <a href="#/waterfalls">
      <div><i class="fa fa-bars fa-5x fa-rotate-90"></i></div>
      <h2>Waterfalls</h2>
      <div>I visited</div>
    </a>
  </div>
</div>